.page-header
  - if current_user.can_create?(TaxCategory, at: current_store)
    = link_to new_admin_tax_category_path, class: 'btn btn-primary' do
      = icon('plus', t('.new_tax_category'))
  %h1= icon('percent', title(TaxCategory, count: 2))

.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th.col-min.hidden-print
        %th.col-xs-4= col(TaxCategory, :name)
        %th= col(TaxCategory, :rate)
        %th
        %th.actions

    %tbody{class: current_user.can_update?(TaxCategory, at: current_store) && 'sortable'}
      = content_tag_for :tr, @tax_categories do |tax_category|
        %td.hidden-print= drag_handle
        %td= tax_category.name
        %td
          = tax_category.rate
          \%
        %td
          - if tax_category.included_in_retail?
            .label.label-primary= col(TaxCategory, :included_in_retail)
        %td.actions
          = link_to icon('info', t('actions.show')), admin_tax_category_path(tax_category),
              class: 'btn btn-default btn-sm'
          - if current_user.can_update?(tax_category, at: current_store)
            = link_to icon('edit', t('actions.edit')), edit_admin_tax_category_path(tax_category),
                class: 'btn btn-default btn-sm'
          - if current_user.can_delete?(tax_category, at: current_store)
            = link_to icon('remove', t('actions.delete')), admin_tax_category_path(tax_category),
                method: :delete, class: 'btn btn-sm btn-danger',
                data: {confirm: t('actions.confirm.body',
                  klass: TaxCategory.model_name.human, name: tax_category.name),
                  'confirm-title': t('actions.confirm.title'),
                  'confirm-proceed': t('actions.confirm.proceed'),
                  'confirm-cancel': t('actions.confirm.cancel')}

:coffee
  $('.sortable').sortable(
    items: '> tr'
    handle: '.handle'
    placeholder: 'sortable-placeholder'
    opacity: 0.5
    revert: 200
  ).bind 'sortupdate', (e, ui) ->
    $.post '#{reorder_admin_tax_categories_path}',
      {reorder: $(this).sortable('toArray')}
