= bootstrap_form_for [:admin, @order_type] do |f|
  .panel.panel-default
    .panel-body
      %fieldset{disabled: locked}
        %legend= col(OrderType, :workflow)
        .row
          .col-md-6
            = f.select :source_id, current_store.group_options, {}, {class: 'selectize-label', required: true}
          .col-md-6
            = f.select :destination_id, current_store.group_options, {}, {class: 'selectize-label', required: true}
      %hr
      %fieldset{disabled: locked}
        = f.text_field :name, required: true
        = f.text_field :label, required: true
        %hr
        = f.form_group help: t('.has_shipping_help') do
          = f.check_box :has_shipping
        - if current_store.b2b_sales?
          = f.form_group do
            = f.check_box :is_forwarded
          = f.form_group do
            = f.check_box :has_installation
          = f.form_group do
            = f.check_box :is_exported
        = f.form_group help: t('.has_payment_help') do
          = f.check_box :has_payment
        #payment-gateway.collapse{class: @order_type.has_payment? && 'in'}
          = f.select :payment_gateway, Store.payment_gateway_options, {}, {class: 'selectize'}
        #prepaid-stock.collapse{class: @order_type.has_payment? || 'in'}
          = f.form_group do
            = f.check_box :prepaid_stock
        ~ f.text_area :instructions, rows: 4
      - unless locked
        %fieldset.actions.fixed
          .container
            = f.primary

:coffee
  $('.selectize-label').selectize
    labelField: 'title'
    dataAttr: 'data'
    render: $.fn.selectize.label_renderer

  $('#order_type_has_payment').on 'change', (e) ->
    if $(e.target).is ':checked'
      $('#payment-gateway').collapse 'show'
      $('#prepaid-stock').collapse 'hide'
      $('#order_type_prepaid_stock').prop 'checked', false
    else
      $('#payment-gateway').collapse 'hide'
      $('#prepaid-stock').collapse 'show'
