.page-header
  - if current_user.can_read?(OrderType, at: current_store)
    = link_to admin_order_types_path, class: 'btn btn-default' do
      = icon('chevron-circle-left', t('actions.back'))
  = link_to admin_order_type_path(@order_type), class: 'btn btn-primary' do
    = icon('info-circle', t('actions.show'))
  %h1
    = icon('gears', @order_type.name)

.row
  .col-md-6
    = render partial: 'form', locals: {locked: false}

  .col-md-6
    #context-activities.hidden-print{data: {url: context_admin_activities_path(format: :js), gid: @order_type.to_global_id}}

:coffee
  $('#context-activities').fetch_context()
