.page-header
  = link_to admin_order_types_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  - if current_user.can_update?(@order_type, at: current_store)
    = link_to edit_admin_order_type_path(@order_type), class: 'btn btn-primary' do
      = icon('pencil-square', t('actions.edit'))
  %h1
    = icon('gears', @order_type)

.row
  .col-md-6
    = render partial: 'form', locals: {locked: true}

  .col-md-6
    = tab_set 'order-type-side', class: 'nav-justified nav-sm' do
      = nav_tab 'messages', title(Message, count: 2), default: true
      = nav_tab 'history', t('admin.activities.title')

    .tab-content
      = tab_pane 'messages', default: true do
        = render partial: 'admin/messages/show_in_context', object: @order_type, as: :context
      = tab_pane 'history' do
        #context-activities.hidden-print{data: {url: context_admin_activities_path(format: :js), gid: @order_type.to_global_id}}

:coffee
  persist_tabs 'order-type-side'
  $('#context-activities').fetch_context()
