= bootstrap_form_for [:admin, @page], layout: :horizontal,
    label_col: 'col-sm-4', control_col: 'col-sm-8' do |f|
  .panel.panel-default
    .panel-body
      = f.select :parent_page_id, current_store.page_options,
          {include_blank: blank_option}, {class: 'selectize'}
      = f.text_field :title
      = f.form_group do
        = f.primary

  - unless @page.new_record?
    #page_content><= @page.content.try(:html_safe)

    :coffee
      $('#page_content').editable
        inlineMode: false
        toolbarFixed: false
        buttons: [
          'bold', 'italic', 'underline', 'formatBlock', 'align',
          'insertOrderedList', 'insertUnorderedList', 'table', 'insertImage',
          'undo', 'redo', 'html', 'save'
        ]
        saveURL: '#{admin_page_path(@page)}'
        saveRequestType: 'PATCH'
        saveParam: 'page[content]'
        saveParams:
          authenticity_token: '#{form_authenticity_token}'
        imageUploadURL: '#{admin_page_images_path(@page)}'
        imageUploadParam: 'image[attachment]'
        imageUploadParams:
          authenticity_token: '#{form_authenticity_token}'
        imageDeleteURL: '#{admin_delete_image_path}'
      .on 'editable.afterRemoveImage', (e, editor, img) ->
        editor.options.imageDeleteParams =
          url: img.attr 'src'
          authenticity_token: '#{form_authenticity_token}'
        editor.deleteImage img
