= bootstrap_form_for [:admin, @page], layout: :horizontal,
    label_col: 'col-sm-4', control_col: 'col-sm-8' do |f|
  .panel.panel-default
    .panel-body
      = f.select :parent_page_id, current_store.page_options,
          {include_blank: true}, {class: 'selectize'}
      = f.form_group do
        = f.check_box :navbar
      = f.text_field :title, required: true

      - if @page.new_record? && current_user.has_cached_role?(:superuser)
        = f.form_group do
          = f.check_box :internal

      - if @page.internal?
        = f.text_field :slug, required: true
      - else
        = f.select :album_ids, current_store.album_options, {include_blank: true}, {multiple: true, class: 'selectize'}
        = f.form_group do
          = f.check_box :wysiwyg
        - unless @page.new_record?
          - if @page.wysiwyg?
            = f.hidden_field :content
          - else
            = f.text_area :content, rows: 20, class: 'monospace input-sm'

      = f.form_group do
        = f.primary

  - if !@page.new_record? && @page.wysiwyg?

    #wysiwyg-content><
      = @page.content.html_safe if @page.content.present?

    :coffee
      $blocks = $('#wysiwyg-content .editable')

      $('form').on 'submit', (e) ->
        $blocks.froalaEditor 'destroy'
        $('#page_content').val $('#wysiwyg-content').html()

      $blocks.froalaEditor
        key: '#{current_store.froala_key}'
        language: '#{current_store.locale}'
        toolbarButtons: [
          'paragraphFormat', 'bold', 'italic', 'underline', '-',
          'align', 'formatOL', 'formatUL', 'insertTable', 'insertImage', '-',
          'undo', 'redo', 'html'
        ]
        toolbarInline: true
        paragraphFormatSelection: true
        tabSpaces: 2
        imageDefaultAlign: 'left'
        imageDefaultWidth: '100%'
        imageUploadURL: '#{admin_page_images_path(@page.id)}'
        imageUploadParam: 'image[attachment]'
        imageUploadParams:
          authenticity_token: '#{form_authenticity_token}'
      .on 'froalaEditor.image.removed', (e, editor, $img) ->
        $.post '#{admin_delete_image_path}', {
          url: $img.attr('src')
          authenticity_token: '#{form_authenticity_token}'
        }
