= form_for [:admin, @page], html: {class: 'form-horizontal', role: 'form'} do |f|
  .panel.panel-default
    .panel-body
      = render 'shared/errors', object: @page

      .form-group
        = f.label :parent_page, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.select :parent_page_id, current_store.page_options,
              {include_blank: blank_option}, {class: 'select2 form-control'}
      .form-group
        = f.label :title, class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_field :title, class: 'form-control'
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.submit class: 'btn btn-primary'

  - unless @page.new_record?
    #page_content><= @page.content.try(:html_safe)

    :coffee
      $('#page_content').editable
        inlineMode: false
        toolbarFixed: false
        buttons: [
          'bold', 'italic', 'underline', 'formatBlock', 'align',
          'insertOrderedList', 'insertUnorderedList', 'table', 'insertImage',
          'undo', 'redo', 'html', 'save'
        ]
        saveURL: '#{admin_page_path(@page)}'
        saveRequestType: 'PATCH'
        saveParam: 'page[content]'
        saveParams:
          authenticity_token: '#{form_authenticity_token}'
        imageUploadURL: '#{admin_page_images_path(@page)}'
        imageUploadParam: 'image[attachment]'
        imageUploadParams:
          authenticity_token: '#{form_authenticity_token}'
        imageDeleteURL: '#{admin_delete_image_path}'
      .on 'editable.afterRemoveImage', (e, editor, img) ->
        editor.options.imageDeleteParams =
          url: img.attr 'src'
          authenticity_token: '#{form_authenticity_token}'
        editor.deleteImage img
