= bootstrap_form_for [:admin, @page], remote: true, layout: :vertical, html: {class: 'immediate'} do |f|
  .panel.panel-default
    .panel-body
      %fieldset
        = f.select :purpose, Page.purpose_options, {}, {disabled: !@page.new_record?, class: 'selectize'}
        = f.text_field :title, required: true
        = f.form_group do
          = f.check_box :live
        - unless @page.new_record?
          = render partial: "admin/#{@page.to_partial_path}", locals: {f: f}
          - if @page.can_have_albums?
            = f.select :album_ids, current_store.album_options, {}, {multiple: true, class: 'selectize'}
    - unless @page.new_record?
      .panel-footer
        - if @page.can_have_content?
          = link_to icon('scissors', col(Page, :layout)), layout_admin_page_path(@page), class: 'btn btn-primary btn-sm'
          = link_to icon('eye', t('actions.view')), show_page_path(@page),
              class: 'btn btn-default btn-sm'
        - if current_user.can_delete?(@page)
          .pull-right
            = link_to icon('remove', t('actions.delete')), admin_page_path(@page), method: :delete, class: 'btn btn-danger btn-sm', data: {confirm: t('actions.confirm.body', klass: Page.model_name.human, name: @page.title), 'confirm-title': t('actions.confirm.title'), 'confirm-proceed': t('actions.confirm.proceed'), 'confirm-cancel': t('actions.confirm.cancel')}
