= bootstrap_form_for [:admin, @page], remote: true, html: {class: 'immediate'} do |f|
  .panel.panel-primary
    .panel-body
      %fieldset
        = f.static_control :purpose do
          = @page.human_attribute_value(:purpose)
        = f.text_field :title, required: true
        - if @page.can_be_live?
          = f.form_group do
            = f.check_box :live
        = f.text_field :slug, required: true, help: t('.slug_help_html')
        = render partial: "admin/#{@page.to_partial_path}", locals: {f: f}
    .panel-footer
      - if @page.can_have_content?
        = link_to icon('scissors', col(Page, :layout)), layout_admin_page_path(@page), class: 'btn btn-primary btn-sm'
        = link_to icon('copy', t('.duplicate.button')), duplicate_admin_page_path(@page), method: :post, class: 'btn btn-warning btn-sm', data: {confirm: t('.duplicate.confirm', klass: Page.model_name.human, name: @page.to_s), 'confirm-title': t('actions.confirm.title'), 'confirm-proceed': t('.duplicate.proceed'), 'confirm-cancel': t('.duplicate.cancel')}
        = link_to icon('eye', t('actions.view')), show_page_path(@page), class: 'btn btn-default btn-sm'
      - if @page.resource.present?
        = link_to icon('external-link', t('.show_resource')), [:admin, @page.resource], class: 'btn btn-default btn-sm'
      - if current_user.can_delete?(@page, at: current_store)
        .pull-right
          = link_to icon('remove', t('actions.delete')), admin_page_path(@page), method: :delete, class: 'btn btn-danger btn-sm', data: {confirm: t('actions.confirm.body', klass: Page.model_name.human, name: @page.title), 'confirm-title': t('actions.confirm.title'), 'confirm-proceed': t('actions.confirm.proceed'), 'confirm-cancel': t('actions.confirm.cancel')}
