= bootstrap_form_for [:admin, @page], layout: :horizontal,
    label_col: 'col-sm-4', control_col: 'col-sm-8' do |f|
  .panel.panel-default
    .panel-body
      = f.select :parent_page_id, current_store.page_options,
          {include_blank: true}, {class: 'selectize'}
      = f.text_field :title
      = f.form_group do
        = f.check_box :wysiwyg
      - unless @page.new_record?
        .form-group
          .col-xs-12
            = f.text_area_without_bootstrap :content, rows: 20, class: 'form-control monospace input-sm'
      = f.form_group do
        = f.primary

  - if !@page.new_record? && @page.wysiwyg?
    :coffee
      $('#page_content').editable
        inlineMode: false
        toolbarFixed: false
        minHeight: 400
        buttons: [
          'bold', 'italic', 'underline', 'formatBlock', 'align',
          'insertOrderedList', 'insertUnorderedList', 'table', 'insertImage',
          'undo', 'redo', 'html'
        ]
        imageUploadURL: '#{admin_page_images_path(@page.id)}'
        imageUploadParam: 'image[attachment]'
        imageUploadParams:
          authenticity_token: '#{form_authenticity_token}'
        imageDeleteURL: '#{admin_delete_image_path}'
      .on 'editable.afterRemoveImage', (e, editor, img) ->
        editor.options.imageDeleteParams =
          url: img.attr 'src'
          authenticity_token: '#{form_authenticity_token}'
        editor.deleteImage img
