%ul.nav.navbar-nav.navbar-right.controls
  %li
    = link_to show_page_path(page) do
      = icon('eye', t('actions.show'))
  - if current_user.can_create?(Section, at: current_store)
    = render partial: 'admin/pages/layout_menu'
  %li
    = link_to edit_admin_page_path(page) do
      = icon('chevron-circle-left', t('actions.back'))
