= bootstrap_form_for [:admin, @page] do |f|
  .panel.panel-primary
    .panel-body
      %fieldset
        = f.select :parent_id, Page.options_for_select(current_store.pages) { |p, l| [indent(p.to_s, l), p.id] }, {include_blank: true}, {class: 'selectize'}
        = f.select :purpose, Page.purpose_options, {}, {class: 'selectize'}
        = f.text_field :title, required: true
        = f.hidden_field :live
    .panel-footer
      = f.primary
