- if !@page.new_record? && @page.wysiwyg?

  #wysiwyg-content.wysiwyg><
    = @page.content.html_safe if @page.content.present?

  :coffee
    $blocks = $('#wysiwyg-content .editable')

    $(document).on 'submit', 'form', (e) ->
      $blocks.froalaEditor 'destroy'
      $('#page_content').val $('#wysiwyg-content').html()

    $blocks.froalaEditor
      key: '#{current_store.froala_key}'
      language: '#{current_store.locale}'
      toolbarButtons: [
        'paragraphFormat', 'bold', 'italic', 'underline', '-', 'align', 'formatOL', 'formatUL', 'insertTable', 'insertImage', 'insertFile', '-', 'undo', 'redo', 'html'
      ]
      toolbarInline: true
      placeholderText: ''
      paragraphFormatSelection: true
      tabSpaces: 2
      imageDefaultAlign: 'left'
      imageDefaultWidth: '100%'
      imageStyles:
        'img-responsive': '<i class="fa fa-arrows-h"></i>'
        'img-rounded': '<i class="fa fa-square-o"></i>'
        'img-circle': '<i class="fa fa-circle-o"></i>'
        'img-thumbnail': '<i class="fa fa-image"></i>'
      imageUploadURL: '#{admin_page_images_path(@page.id)}'
      imageUploadParam: 'image[attachment]'
      imageUploadParams:
        authenticity_token: '#{form_authenticity_token}'
      fileMaxSize: 32 * 1024 * 1024
      fileUploadParam: 'image[attachment]'
      fileUploadParams:
        authenticity_token: '#{form_authenticity_token}'
      fileUploadURL: '#{admin_page_images_path(@page.id)}'
    .on 'froalaEditor.image.removed', (e, editor, $img) ->
      $.post '#{admin_delete_image_path}', {
        url: $img.attr('src')
        authenticity_token: '#{form_authenticity_token}'
      }
    .on 'froalaEditor.file.unlink', (e, editor, $link) ->
      $.post '#{admin_delete_image_path}', {
        url: $link.attr('href')
        authenticity_token: '#{form_authenticity_token}'
      }
