.page-header
  = link_to admin_pages_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  = link_to show_page_path(@page), class: 'btn btn-default' do
    = icon('eye', t('actions.view'))
  %h1= icon('file-text-o', @page)

= render partial: 'form', locals: {locked: false}
