.page-header
  - if current_user.can_create?(Page)
    = link_to new_admin_page_path, class: 'btn btn-primary' do
      = icon('plus', t('.new_page'))
  %h1= icon('files-o', title(Page, count: 2))

.dd
  %ol.dd-list
    = render partial: 'nested_list_item', collection: @pages, as: :page

:coffee
  $('.dd').nestable().bind 'change', ->
    $.ajax
      type: 'POST'
      url: '#{rearrange_admin_pages_path}'
      data: JSON.stringify {rearrange: {pages: $(this).nestable('serialize')}}
      contentType: 'application/json; charset=utf-8'
