.row
  .col-md-7
    .page-header
      %h1= icon('files-o', title(Page, count: 2))
    #page-list.dd
      %ol.dd-list
        = render partial: 'page', collection: @pages
  .col-md-5
    .quick-edit-panel
      .header
        - if current_user.can_create?(Page, at: current_store)
          = link_to new_admin_page_path, remote: true, class: 'btn btn-primary' do
            = icon('plus', t('.new_page'))
      #page-form
        - if @page.present?
          = render partial: 'edit'
          :coffee
            $('##{dom_id(@page)}').closest('.dd-item').addClass 'active'
            scroll = new SmoothScroll '#content-wrap', header: '#main-nav'
            scroll.animateScroll $('##{dom_id(@page)}')[0], null, speed: 300

:coffee
  $('.quick-edit-panel').stick_in_parent
    parent: $('#content-wrap')
    offset_top: $('#main-nav').height()
    bottoming: false
    spacer: false
    recalc_every: 500

  $('#page-list').nestable
    scroll: true
  .on 'change', ->
    data = {rearrange: {pages: $(this).nestable('serialize')}}
    $.ajax
      type: 'POST'
      url: '#{rearrange_admin_pages_path}'
      data: JSON.stringify data
      contentType: 'application/json; charset=utf-8'
