- if @page.wysiwyg?

  %nav#page-nav.navbar.navbar-default{role: 'navigation'}
    .container
      %ul.nav.navbar-nav.navbar-right
        - if current_user.can_create?(Section, at: current_store)
          %li.dropdown
            %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
              = icon('plus', t('.new_section'))
            %ul.dropdown-menu
              - Section.preset_menu_options.each do |outline, layouts|
                %li.dropdown-header= Section.human_attribute_value(:outline, outline)
                - layouts.each do |segments, layout|
                  %li
                    = link_to admin_page_sections_path(@page, params: {section: {outline: outline, layout: layout}, segments: segments}), remote: true, method: :post do
                      = layout
        %li
          = link_to edit_admin_page_path(@page) do
            = icon('chevron-circle-left', t('actions.back'))
      .navbar-toolbar

  #section-list.section-list.layout-container.sortable
    = render partial: 'admin/sections/list_item', collection: @page.sections, as: :section

  :coffee
    $('#section-list').sortable(
      items: '> .section-list-item'
      handle: '.handle'
      placeholder: 'sortable-placeholder'
      forcePlaceholderSize: true
      opacity: 0.5
      revert: 200
    ).bind 'sortupdate', (e, ui) ->
      $.post '#{reorder_admin_page_sections_path(@page)}',
        {reorder: $(this).sortable('toArray')}

- else
  .container
    .page-header
      = link_to edit_admin_page_path(@page), class: 'btn btn-default' do
        = icon('chevron-circle-left', t('actions.back'))
      %h1= icon('scissors', @page)

    = render partial: 'codemirror'
