%nav#page-nav.navbar.navbar-default{role: 'navigation'}
  .container
    %ul.nav.navbar-nav.navbar-right
      %li
        = link_to show_page_path(@page) do
          = icon('eye', t('actions.show'))
      - if current_user.can_create?(Section, at: current_store)
        = render partial: 'layout_menu'
      %li
        = link_to edit_admin_page_path(@page) do
          = icon('chevron-circle-left', t('actions.back'))
    .navbar-toolbar

#section-list.section-list.layout-container.sortable{data: {sections: @page.sections.map { |section| preload_admin_section_path(section) }.as_json}}
  = render partial: 'admin/sections/loader', collection: @page.sections, as: :section

:coffee
  for section in $('#section-list').data 'sections'
    $.get section

  $('#section-list').sortable(
    items: '> .section-list-item'
    handle: '.handle'
    placeholder: 'sortable-placeholder'
    forcePlaceholderSize: true
    opacity: 0.5
    revert: 200
  ).bind 'sortupdate', (e, ui) ->
    if $(e.target).hasClass 'section-list'
      $.post '#{reorder_admin_page_sections_path(@page)}',
        {reorder: $(this).sortable('toArray')}
