- if @page.wysiwyg?

  %nav#page-nav.navbar.navbar-default{role: 'navigation'}
    .container
      .navbar-header
        .navbar-brand= icon('scissors', @page)
      %ul.nav.navbar-nav.navbar-right
        - if current_user.can_create?(Section)
          %li.dropdown
            %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
              = icon('plus', t('.new_section'))
            %ul.dropdown-menu
              - Section.layout_options.each do |name, layout|
                %li
                  = link_to new_admin_page_section_path(@page, params: {section: {layout: layout}}), remote: true do
                    = name
        %li
          = link_to edit_admin_page_path(@page) do
            = icon('chevron-circle-left', t('actions.back'))

  #section-list.section-list.sortable
    = render @page.sections

  #layout-form{style: 'display: none;'}

  :coffee
    $('#section-list').sortable(
      items: '> .section-list-item'
      handle: '.handle'
      placeholder: 'sortable-placeholder'
      forcePlaceholderSize: true
      opacity: 0.5
      revert: 200
    ).bind 'sortupdate', (e, ui) ->
      $.post '#{reorder_admin_page_sections_path(@page)}',
        {reorder: $(this).sortable('toArray')}

- else
  .container
    .page-header
      = link_to edit_admin_page_path(@page), class: 'btn btn-default' do
        = icon('chevron-circle-left', t('actions.back'))
      %h1= icon('scissors', @page)

    = render partial: 'codemirror'
