- if @page.wysiwyg?

  .row
    .col-md-7
      .page-header
        %h1= icon('scissors', @page)
      #section-list.section-list.sortable
        = render @page.sections
    .col-md-5
      .quick-edit-panel
        .header
          = link_to edit_admin_page_path(@page), class: 'btn btn-default' do
            = icon('chevron-circle-left', t('actions.back'))
          - if current_user.can_create?(Section)
            = link_to new_admin_page_section_path(@page), remote: true, class: 'btn btn-primary' do
              = icon('plus', t('.new_section'))
        #layout-form

  :coffee
    $('.quick-edit-panel').stick_in_parent
      parent: $('.row')
      offset_top: 80

    $('#section-list').sortable(
      items: '> .section-list-item'
      handle: '.handle'
      placeholder: 'sortable-placeholder'
      forcePlaceholderSize: true
      opacity: 0.5
      revert: 200
    ).bind 'sortupdate', (e, ui) ->
      $.post '#{reorder_admin_page_sections_path(@page)}',
        {reorder: $(this).sortable('toArray')}

- else
  = render partial: 'codemirror'
