.page-header
  = link_to admin_pages_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  - if current_user.can_update?(Page)
    = link_to edit_admin_page_path(@page), class: 'btn btn-primary' do
      = icon('pencil-square', t('actions.edit'))
  %h1= icon('file-text-o', @page)

.panel.panel-default
  .panel-body.form-horizontal
    .form-group
      %label.col-sm-2.control-label Parent page
      .col-sm-10
        %p.form-control-static= @page.parent_page
    .form-group
      %label.col-sm-2.control-label Title
      .col-sm-10
        %p.form-control-static= @page.title
    .form-group
      %label.col-sm-2.control-label Content
      .col-sm-10.form-control-static
        = @page.content.html_safe if @page.content.present?
