$("##{dom_id(@page)}").replaceWith("#{j render partial: 'item', object: @page, as: :page}");
$("##{dom_id(@page)}").closest('.dd-item').addClass('active');
- if @page.page.present?
  $("##{dom_id(@page.page)}").html("#{j render partial: 'item', object: @page.page, as: :page}");
$('#page-form').destroySelectized();
$('#page-form').html("#{j render partial: 'admin/pages/edit'}");
$("##{dom_id(@page)}").initialize();
$('#page-form').initialize();
