%h5= t(type, scope: '.admin.addresses.labels')
- if address.nil?
  %p= icon('exclamation-circle', t(type, scope: '.admin.addresses.none'))
  - if inherited_address = addressed.inherited_address(type)
    = render partial: 'inherited_address', object: inherited_address, as: :address
  .text-right= link_to icon('plus', t('.new_address')), new_admin_address_path(type: type, gid: addressed.to_global_id), remote: true, class: 'btn btn-outline-primary'
- else
  - if address.persisted?
    = render partial: 'map', object: address, as: :address
  = bootstrap_form_for [:admin, address], namespace: type, remote: true do |f|
    %fieldset
      = hidden_field_tag :gid, addressed.to_global_id
      = hidden_field_tag :type, type
      .form-group.has-icon
        = f.text_field_without_bootstrap :company, placeholder: col(Address, :company), class: 'form-control', autocomplete: "#{type} organization"
        = icon('building-o')
      .row
        .col-md-6
          .form-group.has-icon
            = f.text_field_without_bootstrap :name, placeholder: col(Address, :name), class: 'form-control', autocomplete: "#{type} name"
            = icon('user')
        .col-md-6
          .form-group.has-icon
            = f.telephone_field_without_bootstrap :phone, placeholder: col(Address, :phone), class: 'form-control', autocomplete: "#{type} mobile tel"
            = icon('phone')
      .form-group.has-icon
        = f.text_field_without_bootstrap :department, placeholder: col(Address, :department), class: 'form-control'
        = icon('sitemap')
      .form-group.has-icon
        = f.text_field_without_bootstrap :address1, placeholder: col(Address, :address1), class: 'form-control', autocomplete: "#{type} address-line1"
        = icon('address-card-o')
      .form-group.has-icon
        = f.text_field_without_bootstrap :address2, placeholder: col(Address, :address2), class: 'form-control', autocomplete: "#{type} address-line2"
        = icon('address-card-o')
      .row
        .col-md-4
          .form-group.has-icon
            = f.text_field_without_bootstrap :postalcode, placeholder: col(Address, :postalcode), class: 'form-control', autocomplete: "#{type} postal-code"
            = icon('map-marker')
        .col-md-8
          = f.text_field :city, hide_label: true, placeholder: col(Address, :city), autocomplete: "#{type} address-level2"
      = f.select :country_code, Store.country_options, {hide_label: true}, autocomplete: "#{type} country"
    %fieldset
      .pull-right= f.primary class: 'btn btn-outline-primary'
      - unless address.new_record?
        = link_to icon('remove', t('.delete')), admin_address_path(address, type: type, gid: addressed.to_global_id), remote: true, method: :delete, class: 'btn btn-outline-danger'

:coffee
  $('##{type}_address_country_code').betterSelectize
    dropdownParent: null
