.promoted-products[promotion]
  %h2.footer-header
    = t('.title')
    %span.small
      = icon('exclamation-circle')
      = t('.help', amount: promotion.promotion_handler.required_items, price: humanized_money_with_symbol(promotion.promotion_handler.items_total))
  .swiper-container.product-grid
    %ul.swiper-wrapper
      = render partial: 'products/promoted_product', collection: promotion.products.live.random.not_including(context).first(promotion.promotion_handler.required_items * 4), as: :product, layout: 'shared/swiper_slide'
  .swiper-button-prev
  .swiper-button-next
  .more-items-link
    = link_to show_promotion_path(promotion), class: 'btn' do
      = promotion
      = icon('arrow-circle-right')

:coffee
  jQuery ->
    $promotion = $('##{dom_id(promotion)}')
    new Swiper $promotion.find('.swiper-container'),
      slidesPerView: 'auto'
      watchOverflow: true
      navigation:
        nextEl: '##{dom_id(promotion)} .swiper-button-next'
        prevEl: '##{dom_id(promotion)} .swiper-button-prev'
