= bootstrap_form_for current_user, url: profile_path do |f|
  .panel.panel-default
    .panel-body
      %fieldset{disabled: locked}
        = f.email_field :email, required: true, autocomplete: 'email'
        = f.text_field :name, required: true, autocomplete: 'name'
        = f.telephone_field :phone, autocomplete: 'mobile tel'
        = f.select :locale, Store.locale_options, {include_blank: true}, {class: 'selectize'}
      - unless locked
        %fieldset.actions
          = f.form_group do
            = f.primary
