= bootstrap_form_for current_user, url: profile_path do |f|
  = tab_set 'user-main', class: 'panel-tabs' do
    = nav_tab 'user-personal', col(User, :personal), default: true
    = nav_tab 'user-addresses', col(User, :addresses)

  .panel.panel-default.tabbed-panel
    .panel-body
      .tab-content
        = tab_pane 'user-personal', default: true do
          %fieldset{disabled: locked}
            = f.text_field :email, required: true
            = f.text_field :name, required: true
            = f.telephone_field :phone, required: true
            = f.select :locale, Store.locale_options, {include_blank: true}, {class: 'selectize'}
            - unless locked
              = f.password_field :password
              = render partial: 'shared/password_strength'
              = f.password_field :password_confirmation
        = tab_pane 'user-addresses' do
          %fieldset{disabled: locked}
            = f.text_field :shipping_address
            .row
              .col-md-4
                = f.text_field :shipping_postalcode
              .col-md-8
                = f.text_field :shipping_city
            = f.select :shipping_country_code, Store.country_options, {include_blank: true}, {class: 'selectize'}
            = f.text_field :billing_address
            .row
              .col-md-4
                = f.text_field :billing_postalcode
              .col-md-8
                = f.text_field :billing_city
            = f.select :billing_country_code, Store.country_options, {include_blank: true}, {class: 'selectize'}
      - unless locked
        %fieldset.actions
          = f.form_group do
            = f.primary

:coffee
  persist_tabs 'user-main'
