= bootstrap_form_for [:admin, @shipping_method] do |f|
  .panel.panel-default
    .panel-body
      %fieldset{disabled: locked}
        = f.text_field :name, required: true
        .row
          .col-md-8
            = f.select :shipping_gateway, Store.shipping_gateway_options, {help: t('.maps_api_reminder')}, {class: 'selectize'}
          .col-md-4
            = f.text_field :code
        .row
          .col-md-6
            = f.form_group do
              = f.check_box :has_pickup_points
          .col-md-6
            = f.form_group do
              = f.check_box :home_delivery
        %hr
        .row
          .col-md-6
            = f.text_field :enabled_at, data: {provide: 'datepicker', 'date-format': 'yyyy-mm-dd', 'date-language': I18n.locale}
          .col-md-6
            = f.text_field :disabled_at, data: {provide: 'datepicker', 'date-format': 'yyyy-mm-dd', 'date-language': I18n.locale}
        .row
          .col-md-6
            = f.select :shipping_cost_product_id, current_store.products.internal.map { |p| [p.to_s, p.id] }, {include_blank: true}, {class: 'selectize'}
          .col-md-6
            = f.text_field :free_shipping_from, append: '€', class: 'text-right'
        .row
          .col-md-6
            = f.text_field :delivery_time, append: col(ShippingMethod, :delivery_time_unit), class: 'text-right'
          .col-md-6
            = f.select :detail_page_id, current_store.pages.primary.map { |p| [p.to_s, p.id] }, {include_blank: true, help: t('.detail_page_help')}, {class: 'selectize'}

            - if locked
              = f.form_group do
                = f.label col(ShippingMethod, :description), class: 'control-label'
                .form-control-static= @shipping_method.description.html_safe
            - else
              ~ f.text_area :description
              :coffee
                CKEDITOR.ClassicEditor.create(
                  $('#shipping_method_description')[0]
                  language: '#{current_store.locale}'
                ).catch (error) -> console.log error

      - unless locked
        %fieldset.actions.fixed
          .container
            = f.primary
