= bootstrap_form_for [:admin, @shipping_method], layout: :horizontal,
    label_col: 'col-sm-4', control_col: 'col-sm-8' do |f|
  .panel.panel-default
    .panel-body
      %fieldset{disabled: locked}
        = f.text_field :name, required: true
        = f.select :shipping_gateway, Store.shipping_gateway_options, {}, {class: 'selectize'}
        = f.text_field :enabled_at, data: {provide: 'datepicker', 'date-format' => 'yyyy-mm-dd', 'date-language' => I18n.locale}
        = f.text_field :disabled_at, data: {provide: 'datepicker', 'date-format' => 'yyyy-mm-dd', 'date-language' => I18n.locale}
        = f.text_area :description
      - unless locked
        %fieldset.actions
          = f.form_group do
            = f.primary

:coffee
  $('#shipping_method_description').summernote
    lang: "#{t('culture')}"
    toolbar: [
      ['para', ['style', 'ul', 'ol', 'paragraph']]
      ['font', ['bold', 'italic', 'clear']]
    ]
    dialogsFade: true
