.page-header
  = link_to admin_shipping_methods_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  = link_to admin_shipping_method_path(@shipping_method), class: 'btn btn-primary' do
    = icon('info-circle', t('actions.show'))
  %h1
    = picture_variant_tag @shipping_method.cover_picture
    = @shipping_method

.row
  .col-md-6
    = render partial: 'form', locals: {locked: false}

  .col-md-6
    = tab_set 'shipping-method-side', class: 'nav-justified nav-sm' do
      = nav_tab 'images', col(ShippingMethod, :images), default: true
      = nav_tab 'history', t('admin.activities.title')

    .tab-content
      = tab_pane 'images', default: true do
        = render partial: 'admin/pictures/edit_collection', object: @shipping_method, as: :pictureable
      = tab_pane 'history' do
        #context-activities.hidden-print{data: {url: context_admin_activities_path(format: :js), gid: @shipping_method.to_global_id}}

:coffee
  persist_tabs 'shipping-method-side'
  $('#context-activities').fetch_context()
