.page-header
  = link_to admin_shipping_methods_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  = link_to admin_shipping_method_path(@shipping_method), class: 'btn btn-primary' do
    = icon('info-circle', t('actions.show'))
  %h1
    = image_variant_tag @shipping_method.cover_image
    = @shipping_method

.row
  .col-md-7
    = render partial: 'form', locals: {locked: false}

  .col-md-5
    = render partial: 'admin/images/edit_collection', object: @shipping_method, as: :imageable
    = render partial: 'admin/images/dropzone', object: @shipping_method, as: :imageable
