= bootstrap_form_for [@store, @style], url: admin_store_style_path(@store), remote: true do |f|
  .modal-body
    %fieldset
      = f.text_area :preamble, rows: 4
    %fieldset.row
      - Style::VARIABLES.each do |key, attr|
        .form-group
          = f.text_field_without_bootstrap key, class: [attr[:type], 'form-control']
          %label.control-label= key.to_s.humanize
  .modal-footer
    - if @style.persisted?
      .dropdown.pull-left
        %a.btn.btn-default{data: {toggle: 'dropdown'}, role: 'button'}
          = icon('trash')
        %ul.dropdown-menu{role: 'menu'}
          %li= link_to t('.delete'), admin_store_style_path(@store), remote: true, method: :delete
    = f.primary t('.save')
