%tr[order_item]
  %td.visible-print
    %span.badge= order_item_counter + 1
  %td
    %strong
      = link_to order_item.product_title, admin_product_path(order_item.product)
    = order_item.product_subtitle
    - if order_item.real?
      %span.badge= order_item.product_codes
    - if order_item.product.shipping_notes.present?
      .small
        = icon('info-circle')
        = order_item.product.shipping_notes
  %td{colspan: 2}
    = form_for [:admin, order_item], remote: true,
        html: {class: 'pull-right immediate'} do |f|
      = f.number_field :amount, min: 1, max: 999, class: 'form-control input-sm text-right', tabindex: 1
  %td.text-right.currency
    = form_for [:admin, order_item], remote: true, html: {class: 'immediate'} do |f|
      .input-group.input-group-sm
        = f.text_field :price, class: 'form-control text-right', placeholder: humanized_money(order_item.product.retail_price), tabindex: 2
        %span.input-group-addon €
  %td.text-right.currency
    = money order_item.includes_tax? ? order_item.subtotal_with_tax : order_item.subtotal_sans_tax
  %td.actions
    = link_to icon('remove'), admin_order_item_path(order_item), remote: true, method: :delete, class: 'btn btn-danger btn-sm'

- if order_item.adjustments.any?
  = render partial: 'adjustments/row', collection: order_item.adjustments, as: :adjustment, locals: {includes_tax: order_item.includes_tax?}
