#order-items-table
  .table-responsive
    %table.table.table-hover.table-loose
      %thead
        %tr
          %th= col(OrderItem, :product_title)
          %th= col(OrderItem, :product_code)
          %th.col-xs-1.text-right= col(OrderItem, :amount)
          %th.col-xs-2.text-right= col(OrderItem, :price)
          %th.col-xs-2.text-right= col(OrderItem, :subtotal)
          %th.col-min
      %tfoot
        %tr
          %th
          %th
          %th.text-right{colspan: 2}= col(Order, :grand_total)
          %th.text-right.currency
            = render partial: 'admin/orders/grand_total', object: order, as: :order
          %th
      %tbody
        = render partial: 'admin/order_items/edit_row', collection: order.order_items, as: :order_item
        - if order.adjustments.any?
          = render partial: 'adjustments/row', collection: order.adjustments, as: :adjustment, locals: {includes_tax: order.includes_tax?}
