= content_tag_for :tr, order_item do
  - if order_item.order.approval
    %td= order_item.product_code
    %td
      %strong= order_item.product_title
      = order_item.product_subtitle
  - else
    %td= order_item.product.code
    %td
      %strong= order_item.product.title
      = order_item.product.subtitle
  %td.text-right= order_item.amount
