#pending-items-table
  - if order.track_shipments? && order.items_pending_shipping.any?
    .table-responsive
      %table.table.table-hover
        %caption= icon('exclamation-circle', t('.title'))
        %thead
          %tr
            %th= col(OrderItem, :product_title)
            %th.col-xs-2= col(OrderItem, :lot_code)
            %th.col-xs-1.text-right= col(OrderItem, :ordered)
            %th.col-xs-1.text-right= col(OrderItem, :shipped)
        %tbody
          - order.items_pending_shipping.each do |order_item|
            %tr
              %td= product_header order_item
              %td= order_item.lot_code
              %td.text-right= order_item.amount
              %td.text-right.warning.text-warning= order_item.amount_shipped
