%tr[order_item]{class: order_item.is_subitem? && 'subrow'}
  %td.visible-print
    %span.badge= order_item_counter + 1
  %td
    - if order_item.lot_code.present?
      .pull-right
        .label.label-primary= order_item.lot_code
    = product_header order_item
    - if order_item.product.shipping_notes.present?
      .small
        = icon('info-circle')
        = order_item.product.shipping_notes
  %td.text-right= order_item.amount
  %td.text-right{class: order_item.pending_shipping? && 'warning text-warning'}
    - if order_item.track_shipments? && order_item.tangible?
      = order_item.amount_shipped
  %td.text-right.currency.zero-width-print
    .hidden-print
      = money order_item.includes_tax? ? order_item.subtotal_with_tax : order_item.subtotal_sans_tax
  %td.actions

- if order_item.adjustments.any?
  .hidden-print
    = render partial: 'adjustments/row', collection: order_item.adjustments, as: :adjustment, locals: {includes_tax: order_item.includes_tax?}
