= content_tag_for :tbody, order_item do
  %tr
    %td
      = image_variant_tag(order_item.product.technical_cover_image, :matchbox, style: 'max-width: 50px')
    %td{colspan: 2}
      = link_to order_item.product_code, admin_product_path(order_item.product)
      - if order_item.reveal_components?
        %span.caret
    %td
      %strong= order_item.product_title
      = order_item.product_subtitle
    %td.text-right= order_item.amount
    - if order_item.reveal_price?
      %td.text-right.currency
        = humanized_money_with_symbol order_item.price

  - if order_item.reveal_components?
    = content_tag_for :tr, order_item.product.relationships do |relationship|
      %td
      %td.col-xs-1
      %td= link_to relationship.component.code, admin_product_path(relationship.component)
      %td.text-muted
        %strong= relationship.component.title
        = relationship.component.subtitle
      %td.text-right.text-muted= relationship.quantity * order_item.amount
