= content_tag_for :tr, order_item, class: order_item.is_subitem? ? 'subrow' : nil do
  %td
    %strong
      = link_to order_item.product_title, admin_product_path(order_item.product)
    = order_item.product_subtitle
    - if order_item.product.shipping_notes.present?
      .small
        = icon('info-circle')
        = order_item.product.shipping_notes
  %td.no-wrap
    - if order_item.real?
      = order_item.product_code
  %td.text-right
    = order_item.amount
  %td.text-right.currency
    = humanized_money_with_symbol order_item.includes_tax? ? order_item.price_with_tax : order_item.price_sans_tax
  %td.text-right.currency
    = humanized_money_with_symbol order_item.includes_tax? ? order_item.subtotal_with_tax : order_item.subtotal_sans_tax

- if order_item.adjustments.any?
  = render partial: 'adjustments/row', collection: order_item.adjustments, as: :adjustment, locals: {includes_tax: order_item.includes_tax?}
