%tr[order_item]{class: order_item.is_subitem? && 'subrow'}
  %td.visible-print
    %span.badge= order_item_counter + 1
  %td{colspan: 2}
    %strong
      = link_to order_item.product_title, admin_product_path(order_item.product)
    = order_item.product_subtitle
    - if order_item.real?
      %span.badge= order_item.product_codes
    - if order_item.product.shipping_notes.present?
      .small
        = icon('info-circle')
        = order_item.product.shipping_notes
  %td.text-right= order_item.amount
  %td.text-right{class: order_item.pending_shipping? && 'warning text-warning'}
    - if order_item.track_shipments? && order_item.tangible?
      = order_item.amount_shipped
  %td.text-right.currency
    .hidden-print
      = money order_item.includes_tax? ? order_item.subtotal_with_tax : order_item.subtotal_sans_tax
  %td

- if order_item.adjustments.any?
  .hidden-print
    = render partial: 'adjustments/row', collection: order_item.adjustments, as: :adjustment, locals: {includes_tax: order_item.includes_tax?}
