#order-items-table.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th.col-min.visible-print
        %th{colspan: 2}= col(OrderItem, :product_title)
        %th.col-xs-1.text-right= col(OrderItem, :ordered)
        %th.col-xs-1.text-right
          - if order.track_shipments?
            = col(OrderItem, :shipped)
        %th.col-xs-2.text-right.zero-width-print
          .hidden-print= col(OrderItem, :subtotal)
        %th.zero-width-print
    %tfoot.hidden-print
      %tr
        %th.visible-print
        %th{colspan: 2}
        %th.text-right{colspan: 2}= col(Order, :grand_total)
        %th.text-right.currency
          = render partial: 'admin/orders/grand_total', object: order, as: :order
        %th
    %tbody
      = render partial: 'admin/order_items/row', collection: order.order_items, as: :order_item
