= bootstrap_form_for @order, remote: true, data: {type: 'json'}, html: {id: 'checkout-form', class: 'collapse in'} do |f|
  = f.hidden_field :order_type_id
  %fieldset
    = f.email_field :customer_email, hide_label: true, placeholder: col(Order, :customer_email), required: true

  - if @order.has_payment?
    #billing-address
      = render partial: 'address_fields', locals: {type: :billing, required: true, f: f}
    - if @order.has_shipping?
      = f.form_group do
        = f.check_box :separate_shipping_address
  - if @order.has_shipping?
    #shipping-address.collapse{class: (@order.shipping_address_required? || @order.separate_shipping_address) && 'in'}
      = render partial: 'address_fields', locals: {type: :shipping, required: @order.shipping_address_required?, f: f}

  %fieldset
    %legend
      .pull-right
        %button.btn.btn-sm.btn-default{type: 'button', data: {toggle: 'collapse', target: '#order-meta'}}
          %span.caret
      = t('checkout.order_meta')
    #order-meta.collapse{class: current_store.b2b_sales? && 'in'}
      = f.text_field :message, hide_label: true, placeholder: col(Order, :message)
      .row
        .col-sm-6
          = f.text_field :your_reference, hide_label: true, placeholder: col(Order, :your_reference)
        .col-sm-6
          = f.text_field :our_reference, hide_label: true, placeholder: col(Order, :our_reference)
      - if current_store.b2b_sales?
        .row
          .col-sm-6
            = f.text_field :shipping_at, hide_label: true, placeholder: col(Order, :shipping_at), data: {provide: 'datepicker', 'date-start-date': @order.earliest_shipping_at, 'date-format': 'yyyy-mm-dd', 'date-language': I18n.locale}
          - if @order.has_installation?
            .col-sm-6
              = f.text_field :installation_at, hide_label: true, placeholder: col(Order, :installation_at), data: {provide: 'datepicker', 'date-start-date': @order.earliest_shipping_at, 'date-format': 'yyyy-mm-dd', 'date-language': I18n.locale}
      %fieldset
        ~ f.text_area :notes, rows: 4, hide_label: true, placeholder: col(Order, :notes)

  #continue-order.hidden-print
    = f.form_group do
      = f.submit t('checkout.address'), class: 'btn btn-lg btn-block btn-primary'

:coffee
  $('#order_separate_shipping_address').on 'change', (e) ->
    if $(e.target).is ':checked'
      $('.may-be-required', '#shipping-address').attr 'required', true
      $('#shipping-address').collapse 'show'
    else
      $('.may-be-required', '#shipping-address').attr 'required', false
      $('#shipping-address').collapse 'hide'

  country_code = '#{current_store.country_code}'
  $('#order_billing_address_attributes_country_code').on 'change', (e) ->
    if country_code is $('#order_billing_address_attributes_country_code')
      $('#vat-number').collapse 'hide'
    else
      $('#vat-number').collapse 'show'
