= bootstrap_form_for @order, remote: true, layout: :vertical, data: {type: 'json'}, html: {id: 'checkout-form', class: 'collapse in'} do |f|
  = f.hidden_field :order_type_id
  %fieldset
    .row
      .col-sm-4
        = f.text_field :customer_name, required: true
      .col-sm-4
        = f.email_field :customer_email, required: true
      .col-sm-4
        = f.telephone_field :customer_phone, required: true
  - if current_store.b2b_sales?
    %fieldset.bg-info
      .row
        .col-sm-6
          = f.text_field :company_name
        .col-sm-6
          = f.text_field :contact_person
        .col-sm-6
          = f.email_field :contact_email
        .col-sm-6
          = f.telephone_field :contact_phone
  - if @order.has_shipping?
    %fieldset.bg-info
      .row
        .col-sm-12
          = f.text_field :shipping_address, required: true
        .col-sm-4
          = f.text_field :shipping_postalcode, required: true
        .col-sm-4
          = f.text_field :shipping_city, required: true
        - if current_store.global_sales?
          .col-sm-4
            = f.select :shipping_country_code, Store.country_options, {}, {required: true, class: 'selectize'}
      - if current_store.b2b_sales?
        .row
          .col-sm-4
            = f.text_field :shipping_at, data: {provide: 'datepicker', 'date-start-date' => @order.earliest_shipping_at, 'date-format' => 'yyyy-mm-dd', 'date-language' => I18n.locale}
          .col-sm-4
            = f.text_field :installation_at, data: {provide: 'datepicker', 'date-start-date' => @order.earliest_shipping_at, 'date-format' => 'yyyy-mm-dd', 'date-language' => I18n.locale}
      = f.form_group do
        = f.check_box :has_billing_address
      #billing-address.collapse{class: @order.has_billing_address? ? 'in' : ''}
        .row
          .col-sm-12
            = f.text_field :billing_address
          .col-sm-4
            = f.text_field :billing_postalcode
          .col-sm-4
            = f.text_field :billing_city
          - if current_store.global_sales?
            .col-sm-4
              = f.select :billing_country_code, Store.country_options, {}, {required: true, class: 'selectize'}
  %fieldset.gap
    .row
      .col-sm-4
        = f.text_field :your_reference
      .col-sm-4
        = f.text_field :our_reference
      .col-sm-4
        = f.text_field :message
    = f.text_area :notes, rows: 4

  #continue-order.hidden-print
    = f.form_group do
      = f.submit t('checkout.address'), class: 'btn btn-lg btn-block btn-primary'

:coffee
  $('#order_has_billing_address').on 'change', (e) ->
    if $(e.target).is ':checked'
      $('.form-control', '#billing-address').attr 'required', true
      $('#billing-address').collapse 'show'
    else
      $('.form-control', '#billing-address').attr 'required', false
      $('#billing-address').collapse 'hide'
