%p= t('checkout.select_shipping_method')
.list-group
  - @shipping_methods.each do |method|
    = link_to shipping_method_path(@order, method), remote: true, id: dom_id(method), class: 'list-group-item' do
      .media
        .media-left
          = image_variant_tag method.cover_image, :thumbnail, class: 'media-object'
        .media-body
          %h4.media-heading= method.name
          - if method.shipping_cost_product.present?
            .pull-right.label.label-primary= "+#{humanized_money_with_symbol method.shipping_cost_product.price(current_pricing)}"
          - if method.delivery_time.present?
            = t('checkout.delivery_time', days: method.delivery_time)
.description
.details
.gateway-content

= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDLj2FT4dBaUWWKXUIji0YR8AXL1xQg_mc"
