#static-wrap.layout-container.hidden-print
  .container
    .page-header
      = link_to cart_path, class: 'btn btn-default' do
        = icon('shopping-cart', t('checkout.back_to_cart'))
      %h1.hidden-print
        = icon('shopping-cart')
        = @order.order_type.label || @order.order_type

    #message-failure.collapse
      .alert.alert-danger

    .row
      .col-md-6.col-md-push-6
        = render partial: 'order_items/table', object: @order, as: :order

      .col-md-6.col-md-pull-6
        #checkout-panels.panel-group{role: 'tablist'}
          .panel.panel-default
            .panel-heading{role: 'tab'}
              %h4.panel-title= t('checkout.panels.address_panel')
            #address-panel.panel-collapse.collapse.in{role: 'tabpanel'}
              .panel-body
                = render partial: 'checkout_form'
          - if @order.has_shipping?
            .panel.panel-default
              .panel-heading{role: 'tab'}
                %h4.panel-title= t('checkout.panels.shipping_panel')
              #shipping-panel.panel-collapse.collapse{role: 'tabpanel'}
                .panel-body
                  = render partial: 'select_shipping_method'
                .panel-footer
                  = render partial: 'cancel'
          - if @payment_gateway.present?
            .panel.panel-default
              .panel-heading{role: 'tab'}
                %h4.panel-title= t('checkout.panels.payment_panel')
              #payment-panel.panel-collapse.collapse{role: 'tabpanel'}
                .panel-body
                  = render @payment_gateway
                .panel-footer
                  = render partial: 'cancel'
          .panel.panel-default
            .panel-heading{role: 'tab'}
              %h4.panel-title= t('checkout.panels.complete_panel')
            #complete-panel.panel-collapse.collapse{role: 'tabpanel'}
              .panel-body
                = render partial: 'complete'

#order-receipt-modal.modal{data: {backdrop: 'static'}}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header.hidden-print
        %button.close{data: {dismiss: 'modal'}}= icon('close')
        %h4.modal-title= t('checkout.receipt')
      .modal-body
      .modal-footer.hidden-print
        = link_to icon('print', t('actions.print')), '#print', class: 'btn btn-default'
