- cache_if current_user.guest?, [I18n.locale, :product_snippet, product] do
  = link_to show_product_path(product.category, product), class: 'product snippet' do
    .product-image= image_variant_tag product.cover_image(current_store.card_image_type), :technical
    .product-content
      %h3
        = product.title
        %span.small= product.subtitle
      .product-description
        = product.description.html_safe
      - product.active_promoted_items.each do |item|
        .promotion
          %p= item.description
    - if can_see_pricing? && can_shop? && may_shop_at?(product.category)
      .product-price
        %p= humanized_money_with_symbol product.price(current_pricing)
