.table-responsive
  %table.table.table-striped.table-hover.table-loose
    %thead
      %tr
        %th.col-xs-4= col(Customization, :custom_attribute_id)
        %th= col(Customization, :custom_value_id)
        %th.actions

    %tbody#customizations-tbody
      = render partial: 'admin/customizations/edit_tbody', object: customizable, as: :customizable

.table-responsive
  = form_for [:admin, customizable, customizable.customizations.new], remote: true do |f|
    %table.table.table-loose
      %tbody
        %tr
          %td.col-xs-4
            = f.select :custom_attribute_id, current_store.custom_attributes.map { |a| [a.name_with_units, a.id] }, {include_blank: true}, {placeholder: col(Customization, :custom_attribute_id), class: 'form-control'}
          %td
            .custom-value-select.collapse
              = f.select :custom_value_id, [], {include_blank: true}, {placeholder: col(Customization, :custom_value_id), class: 'form-control'}
            .value-input.collapse
              = f.text_field :value, class: 'form-control'
          %td.actions
            = f.submit class: 'btn btn-sm btn-default'

- attribute_set_ids = current_store.custom_attributes.set.pluck(:id)

:coffee
  show_paths = #{attribute_set_ids.map { |id| [id, admin_custom_attribute_path(id)] }.to_h.to_json}
  create_paths = #{attribute_set_ids.map { |id| [id, admin_custom_attribute_custom_values_path(id)] }.to_h.to_json}
  jQuery ->
    $attribute_select = $('#customization_custom_attribute_id').selectize
      dropdownParent: 'body'
      onChange: (index) ->
        value_select.disable()
        value_select.clearOptions()
        if show_paths[index]
          value_select.load (callback) ->
            $.ajax
              url: show_paths[index]
              success: (response) ->
                callback(response)
                value_select.enable()
          $('.value-input').collapse 'hide'
          $('.custom-value-select').collapse 'show'
        else
          $('.custom-value-select').collapse 'hide'
          $('.value-input').collapse 'show'

    $value_select = $('#customization_custom_value_id').selectize
      dropdownParent: 'body'
      valueField: 'id'
      labelField: 'value'
      create: (input, callback) ->
        $.ajax
          url: create_paths[attribute_select.getValue()]
          type: 'POST'
          async: false
          data: {custom_value: {value: input}}
          success: (response) ->
            callback
              id: response.id
              value: response.value

    attribute_select = $attribute_select[0].selectize
    value_select = $value_select[0].selectize
