.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th.col-xs-3= col(Customization, :custom_attribute_id)
        %th= col(Customization, :custom_value_id)

    %tbody
      = content_tag_for :tr, customizable.customizations do |customization|
        %td= customization.custom_attribute
        %td= customization.value_with_units
