.table-responsive
  %table#inventory-table.table.table-condensed.table-hover
    %thead
      %tr
        %th.col-xs-2{colspan: 2}= col(Product, :code)
        %th= col(Product, :title)
        %th.col-xs-1= col(Product, :stock)
        %th.col-xs-1.text-right à
        %th.col-xs-1.text-right= col(Product, :value)

    - @inventory[0].each do |product, inventory|
      - stock, component_inventory = inventory
      %tbody
        %tr
          %td{colspan: 2}
            = link_to product.code, admin_product_path(product)
            - if component_inventory[0].any?
              %span.caret
          %td
            %strong= product.title
            = product.subtitle
          %td= stock[:shipping].try(:amount)
          %td.text-right= number_to_currency(stock[:shipping].try(:value), unit: '€')
          %td.text-right{title: number_to_currency(component_inventory[1], unit: '𝚺 €'),
              data: {toggle: 'tooltip'}}
            = number_to_currency(stock[:shipping].try(:total_value), unit: '€')

        - component_inventory[0].each do |component, inventory|
          - stock = inventory[0]
          %tr
            %td
            %td.text-muted= link_to component.code, admin_product_path(component)
            %td.text-muted
              %strong= component.title
              = component.subtitle
            %td.text-muted= stock[:shipping].amount
            %td.text-right.text-muted= number_to_currency(stock[:shipping].value, unit: '€')
            %td.text-right.text-muted= number_to_currency(stock[:shipping].total_value, unit: '€')
