.table-responsive
  %table#inventory-table.table.table-striped.table-hover
    %thead
      %tr
        %th.col-xs-1 Code
        %th Title
        %th.col-xs-1.text-right Stock
        %th.col-xs-1.text-right à
        %th.col-xs-1.text-right Value

    %tbody
      - @inventory.each do |product, values|
        %tr
          %td= link_to product.code, admin_product_path(product)
          %td
            %strong
              = product.title
            = product.subtitle
          %td.text-right= values[:amount]
          %td.text-right= number_to_currency(values[:unit_value], unit: '€')
          %td.text-right= number_to_currency(values[:total_value], unit: '€')

:coffee
  $('#inventory-table').tablesorter
    theme: 'bootstrap'
    widgets: ['uitheme', 'saveSort', 'stickyHeaders']
    widgetOptions:
      stickyHeaders_offset: 50
    headerTemplate: '{content} {icon}'
    cancelSelection: true
    sortList: [[0,0]]
