.table-scroller
  %table#inventory.table.table-striped.table-hover
    %thead
      %tr
        %th.col-xs-1 Code
        %th Title
        %th.col-xs-1.text-right Stock
        %th.col-xs-1.text-right à
        %th.col-xs-1.text-right Value

    - grand_total = 0
    %tbody
      = content_tag_for :tr, @products do |product|

        - stock = current_store.stock_lookup(product.code)[:shipping]
        - grand_total += (stock.try(:total_value) || 0)

        %td= link_to product.code, admin_product_path(product)
        %td
          %strong
            = product.title
          = (product.subtitle || '').truncate(30, omission: '…')
        %td.text-right= stock.try(:amount)
        %td.text-right= number_to_currency(stock.try(:value), unit: '€')
        %td.text-right= number_to_currency(stock.try(:total_value), unit: '€')
    %tbody
      %tr.info
        %th.text-right{colspan: 5}= number_to_currency(grand_total, unit: '€')

:coffee
  $('#inventory').tablesorter
    theme: 'bootstrap'
    widgets: ['uitheme', 'saveSort']
    headerTemplate: '{content} {icon}'
    cancelSelection: true
    sortList: [[0,0]]
