.page-header
  = link_to icon('print', t('actions.print')), '#print', class: 'btn btn-default'
  %h1= icon('tachometer', t('admin.dashboard.title'))

%ul.nav.nav-tabs{role: 'tablist'}
  %li.active{role: 'presentation'}
    %a{href: '#inventory', role: 'tab', data: {toggle: 'tab'}}
      = t('admin.dashboard.valuation')

.tab-content
  #inventory.tab-pane.fade.in.active
    %h2.visible-print-block= t('admin.dashboard.valuation')
    .panel.panel-default
      .panel-body.form-horizontal
        .form-group
          %label.col-sm-4.control-label= t('admin.dashboard.total_value')
          .col-sm-8
            %p.form-control-static= number_to_currency(@inventory[1], unit: '€')
        .form-group
          %label.col-sm-4.control-label= t('admin.dashboard.items')
          .col-sm-8
            %p.form-control-static= @inventory[0].size

    = render partial: 'inventory'
