.page-header
  %h2= icon('tachometer', t('admin.dashboard.title'))
= render partial: 'admin/shared/dashboard_menu', locals: {menu: 'nav nav-pills'}

.page-header
  %h2= icon('cube', t('admin.content.title'))
= render partial: 'admin/shared/content_menu', locals: {menu: 'nav nav-pills'}

.page-header
  %h2= icon('cog', t('admin.configuration.title'))
= render partial: 'admin/shared/configuration_menu', locals: {menu: 'nav nav-pills'}

.page-header
  %h2= icon('globe', t('admin.global.title'))
= render partial: 'admin/shared/global_menu', locals: {menu: 'nav nav-pills'}
