.page-header
  = link_to icon('print', 'Print'), '#print', class: 'btn btn-default'
  %h1= icon('tachometer', 'Dashboard')

%ul.nav.nav-tabs{role: 'tablist'}
  %li.active{role: 'presentation'}
    %a{href: '#inventory', role: 'tab', data: {toggle: 'tab'}} Inventory valuation

.tab-content
  #inventory.tab-pane.fade.in.active
    %h2.visible-print-block Inventory valuation
    .panel.panel-default
      .panel-body.form-horizontal
        .form-group
          %label.col-sm-4.control-label Total value
          .col-sm-8
            %p.form-control-static= number_to_currency(@grand_total, unit: '€')
        .form-group
          %label.col-sm-4.control-label Inventory items
          .col-sm-8
            %p.form-control-static= @inventory.size

    = render partial: 'inventory'
