.page-header
  %h2= icon('tachometer', t('admin.dashboard.title'))
%ul.nav.nav-pills
  = render partial: 'admin/shared/dashboard_menu'

.page-header
  %h2= icon('cube', t('admin.content.title'))
%ul.nav.nav-pills
  = render partial: 'admin/shared/content_menu'

.page-header
  %h2= icon('cog', t('admin.configuration.title'))
%ul.nav.nav-pills
  = render partial: 'admin/shared/configuration_menu'

.page-header
  %h2= icon('globe', t('admin.global.title'))
%ul.nav.nav-pills
  = render partial: 'admin/shared/global_menu'
