#inventory-item.panel.panel-default
  .panel-body
    = bootstrap_form_for [:admin, inventory_item], layout: :horizontal, label_col: 'col-sm-6', control_col: 'col-sm-6' do |f|
      %fieldset{disabled: true}
        = f.static_control :code
        = f.static_control :expires_at
        = f.static_control :inventory_id do
          = inventory_item.inventory
        = f.static_control :on_hand
        = f.static_control :reserved
        = f.static_control :pending
        = f.static_control :value
        = f.static_control :total_value
