.list-group-item[inventory_item]{class: inventory_item.on_hand == 0 && 'disabled'}
  .row
    .col-xs-4.col-sm-3
      = inventory_item.inventory
    .col-xs-4.col-sm-2
      - if inventory_item.expires_at.present?
        = icon('hourglass-end', inventory_item.expires_at)
    .col-xs-4.col-sm-2
      .text-right
        %strong= inventory_item.code
    .col-xs-3.col-sm-1
      .text-right.text-muted.small
        = number_if_present(inventory_item.reserved, '–')
    .col-xs-3.col-sm-1
      .text-right.text-muted.small
        = number_if_present(inventory_item.pending, '+')
    .col-xs-3.col-sm-1
      .text-right= inventory_item.on_hand
    .col-xs-3.col-sm-2
      - if current_user.can_update?(inventory_item, at: current_store)
        .pull-right
          = link_to icon('folder-open-o', t('.open')), edit_admin_inventory_item_path(inventory_item), remote: true, class: 'btn btn-default btn-xs'
