.panel.panel-info
  .panel-heading
    %h4.panel-title= t('actions.search')
  .panel-body
    = form_for @search, url: admin_inventory_items_path, method: :get do |f|
      .row
        .col-sm-4.col-md-4
          .form-group
            = f.select :inventory_id, current_store.inventories.map { |i| [i.to_s, i.id] }, {include_blank: t('.all_inventories')}, {class: 'selectize'}
        .col-sm-4.col-md-4
          .form-group
            = f.text_field :code, placeholder: col(InventoryItem, :code), class: 'form-control'
        .col-sm-4.col-md-4
          .form-group
            = f.select :online, InventoryItem.online_options, {}, {class: 'form-control selectize'}
        .col-sm-6.col-md-6
          .form-group
            = f.select :product_id, [], {}, {multiple: true, placeholder: col(InventoryItem, :product_id), class: 'selectize-tall selectize-list-group', data: {products: @products, selected: @search.raw_options['product_id']}}
        .col-sm-3.col-md-3
          .form-group
            = f.select :live, Product.availability_options, {include_blank: t('admin.products.search.availability')}, {placeholder: t('admin.products.search.availability'), class: 'form-control selectize'}
        .col-sm-3.col-md-3
          .form-group
            = f.submit t('actions.search'), class: 'btn btn-block btn-primary'

:coffee
  $product = $('#inventory_item_search_product_id')
  products = $product.data 'products'
  selected = $product.data 'selected'

  $product.selectize
    plugins: ['remove_button']
    dropdownParent: 'body'
    options: products
    items: selected
    valueField: 'id'
    sortField: [{field: 'title'}, {field: 'subtitle'}]
    searchField: ['code', 'customer_code', 'title', 'subtitle']
    diacritics: false
    render: $.fn.selectize.product_renderer
    load: (query, callback) ->
      return callback() unless query.length > 2
      $.ajax
        url: '#{query_admin_products_path}'
        type: 'GET'
        dataType: 'json'
        data:
          q: query
          having_variants: false
        error: ->
          callback()
        success: (response) ->
          callback(response)
