= content_tag_for :tr, product.inventory_items.online do |inventory_item|
  %td= link_to_if current_user.can_read?(InventoryItem), inventory_item.code, admin_inventory_item_path(inventory_item)
  %td= inventory_item.inventory.name
  %td.text-right= inventory_item.on_hand
  %td.text-right= inventory_item.reserved
  %td.text-right= inventory_item.pending
  %td.text-right.currency= humanized_money_with_symbol inventory_item.value
