.page-header
  = link_to admin_inventory_items_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  %h1
    = icon('bar-chart', @inventory_item.code)
    %span.small
      %strong= @inventory_item.product.title
      = @inventory_item.product.subtitle
      - if @inventory_item.unlimited?
        %span.label.label-success= col(InventoryItem, :unlimited)

.row
  .col-md-4
    = render partial: 'item', object: @inventory_item, as: :inventory_item
  .col-md-8
    = render partial: 'admin/inventory_entries/table', object: @inventory_item, as: :inventory_item
