= form_for [:admin, @brand], html: {class: 'form-horizontal', role: 'form'} do |f|
  .panel.panel-default
    .panel-body
      = render 'shared/errors', object: @brand

      .form-group
        = f.label :name, class: 'col-sm-4 control-label'
        .col-sm-8
          = f.text_field :name, class: 'form-control'
      .form-group
        .col-sm-offset-4.col-sm-8
          = f.submit class: 'btn btn-primary'
