.page-header
  = link_to admin_brands_path, class: 'btn btn-default' do
    = icon('chevron-circle-left')
    Back
  = link_to admin_brand_path(@brand), class: 'btn btn-primary' do
    = icon('info-circle')
    Show
  %h1
    = icon_image_tag(@brand)
    = @brand

.row
  .col-sm-6
    = render 'form'

  .col-sm-6
    = render partial: 'admin/images/dropzone', object: @brand, as: :imageable

    #images.list-group.gallery
      = render partial: 'admin/images/edit_image', collection: @brand.images, as: :image
