.page-header
  = link_to new_admin_brand_path, class: 'btn btn-primary' do
    = icon(:plus, 'New Brand')
  %h1 Brands

.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Name
        %th.col-md-1.col.xs-2
        %th.col-md-1.col.xs-2

    %tbody
      - @brands.each do |brand|
        %tr
          %td= brand.name
          %td.text-right= link_to icon('info', 'Show'), admin_brand_path(brand)
          %td.text-right= link_to icon('edit', 'Edit'), edit_admin_brand_path(brand)
