.page-header
  = link_to new_admin_brand_path, class: 'btn btn-primary' do
    = icon(:plus, 'New Brand')
  %h1= icon('paw', 'Brands')

.table-responsive
  %table.table.table-striped.table-hover.table-loose
    %thead
      %tr
        %th.col-xs-1
        %th Name
        %th ERP number
        %th

    %tbody
      - @brands.each do |brand|
        %tr
          %td= icon_image_tag(brand)
          %td= brand.name
          %td= brand.erp_number
          %td.text-right
            = link_to icon('shopping-cart', 'View storefront'),
                root_path(brand_id: brand), class: 'btn btn-default btn-sm'
            = link_to icon('info', 'Show'), admin_brand_path(brand),
                class: 'btn btn-default btn-sm'
            = link_to icon('edit', 'Edit'), edit_admin_brand_path(brand),
                class: 'btn btn-default btn-sm'
