.page-header
  = link_to admin_brands_path, class: 'btn btn-default' do
    = icon('chevron-circle-left')
    Back
  = link_to edit_admin_brand_path(@brand), class: 'btn btn-primary' do
    = icon('pencil-square')
    Edit
  %h1
    Brand
    %span.small= @brand.to_s

.row
  .col-sm-6
    .panel.panel-default
      .panel-body.form-horizontal
        .form-group
          %label.col-sm-4.control-label Matfox customer
          .col-sm-8
            %p.form-control-static= @brand.matfox_customer
        .form-group
          %label.col-sm-4.control-label Name
          .col-sm-8
            %p.form-control-static= @brand.name
