= bootstrap_form_for [:admin, @inventory] do |f|
  .panel.panel-default
    .panel-body
      %fieldset{disabled: locked}
        = f.text_field :name, required: true
        = f.text_field :inventory_code
        = f.form_group do
          = f.check_box :fuzzy
      - unless locked
        %fieldset.actions.fixed
          .container
            = f.primary
