.page-header
  - if current_user.can_create?(Inventory, at: current_store)
    = link_to new_admin_inventory_path, class: 'btn btn-primary' do
      = icon('plus', t('.new_inventory'))
  %h1= icon('cubes', title(Inventory, count: 2))

.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th.col-min.hidden-print
        %th.col-xs-6= col(Inventory, :name)
        %th.col-xs-2= col(Inventory, :inventory_code)
        %th.col-min
        %th.actions

    %tbody{class: current_user.can_update?(Inventory, at: current_store) && 'sortable'}
      - @inventories.each do |inventory|
        %tr[inventory]
          %td.hidden-print= drag_handle
          %td= inventory.name
          %td= inventory.inventory_code
          %td
            - if inventory.fuzzy?
              = icon('low-vision', title: col(Inventory, :fuzzy), data: {toggle: 'tooltip'})
          %td.actions
            = link_to icon('info', t('actions.show')), admin_inventory_path(inventory), class: 'btn btn-default btn-sm'
            - if current_user.can_update?(inventory, at: current_store)
              = link_to icon('edit', t('actions.edit')), edit_admin_inventory_path(inventory), class: 'btn btn-default btn-sm'
            - if current_user.can_delete?(inventory, at: current_store)
              = link_to icon('remove', t('actions.delete')), admin_inventory_path(inventory),
                  method: :delete, class: 'btn btn-sm btn-outline-danger',
                  data: {confirm: t('actions.confirm.body',
                    klass: Inventory.model_name.human, name: inventory.name),
                    'confirm-title': t('actions.confirm.title'),
                    'confirm-proceed': t('actions.confirm.proceed'),
                    'confirm-cancel': t('actions.confirm.cancel')}

:coffee
  $('.sortable').sortable(
    items: '> tr'
    handle: '.handle'
    placeholder: 'sortable-placeholder'
    opacity: 0.5
    revert: 200
  ).bind 'sortupdate', (e, ui) ->
    $.post '#{reorder_admin_inventories_path}',
      {reorder: $(this).sortable('toArray')}
