#segment-borders-panel
  = bootstrap_form_for [:modify, :admin, segment], remote: true, html: {id: dom_id(segment, :borders), class: 'immediate'} do |f|
    = render partial: 'admin/segments/panels/border_fields', object: segment, as: :segment, locals: {f: f, attr: 'border'}
    %hr
    = render partial: 'admin/segments/panels/border_fields', object: segment, as: :segment, locals: {f: f, attr: 'border_top'}
    = render partial: 'admin/segments/panels/border_fields', object: segment, as: :segment, locals: {f: f, attr: 'border_right'}
    = render partial: 'admin/segments/panels/border_fields', object: segment, as: :segment, locals: {f: f, attr: 'border_bottom'}
    = render partial: 'admin/segments/panels/border_fields', object: segment, as: :segment, locals: {f: f, attr: 'border_left'}

  :coffee
    $('##{dom_id(segment, :borders)}').find('.color').pickr
      container: '#layout-modal'
