#segment-layout-panel
  = bootstrap_form_for [:admin, segment], remote: true, html: {id: 'segment-layout-form', class: 'immediate triggered'} do |f|
    = hidden_field_tag :panel, 'layout'
    %fieldset
      = f.text_field :aspect_ratio, data: {shapes: segment.shape_options.to_json}, placeholder: t('.fluid_ratio'), class: 'input-sm'
      - unless segment.fixed_ratio?
        = f.form_group do
          = f.check_box :stretch
      = f.range_field :margin_top, min: 0, max: 200, step: 10
      = f.range_field :margin_bottom, min: 0, max: 200, step: 10
      .form-group
        = f.label col(Segment, :alignment), class: 'control-label'
        .btn-group.btn-group-justified.btn-group-sm{data: {toggle: 'buttons'}}
          - Segment.alignment_options.each do |title, alignment|
            %label.btn.btn-default{class: segment.alignment == alignment && 'active'}
              = f.radio_button_without_bootstrap :alignment, alignment
              = title
      .form-group
        = f.label col(Segment, :justification), class: 'control-label'
        .btn-group.btn-group-justified.btn-group-sm{data: {toggle: 'buttons'}}
          - Segment.justification_options.each do |title, justification|
            %label.btn.btn-default{class: segment.justification == justification && 'active'}
              = f.radio_button_without_bootstrap :justification, justification
              = title
      = f.range_field :padding_vertical, min: 0, max: 150, step: 5
      = f.range_field :padding_horizontal, min: 0, max: 25, step: 1

  :coffee
    $('#segment_template').betterSelectize
      dropdownParent: null
    $('#segment_aspect_ratio').betterSelectize
      plugins: ['remove_button']
      dropdownParent: null
      options: $('#segment_aspect_ratio').data('shapes')
      labelField: 'value'
      searchField: ['value']
      maxItems: 1
      create: true
      render:
        option_create: (data, escape) ->
          '<div class="create no-wrap"><i class="fa fa-fw fa-plus-circle"></i> ' + escape(data.input) + '</div>'
    $('#segment_margin_top').nouislider()
    $('#segment_margin_bottom').nouislider()
    $('#segment_padding_vertical').nouislider()
    $('#segment_padding_horizontal').nouislider()
