.grid-item[picture]
  = link_to edit_admin_picture_path(picture), class: 'thumbnail', remote: true do
    = picture_variant_tag picture, :matchbox
  .grid-widgets
    .pull-right
      = link_to icon('remove'), admin_picture_path(picture), remote: true, method: :delete, class: 'btn btn-xs btn-danger'
    .label.label-primary= picture.human_attribute_value(:purpose)
  .badge
    .truncate{title: picture.image.attachment_file_name}
      = picture.image.attachment_file_name
