- id = dom_id(pictureable, :pictures)
- grid_columns ||= 3


.grid.thumbnail-grid.sortable{id: id, class: "grid-columns-#{grid_columns}"}
  .grid-item.fixed
    .thumbnail
      = link_to [:new, :admin, pictureable, :picture], class: 'btn btn-default', remote: true do
        = image_tag 'plus.svg'
  = render partial: 'admin/pictures/edit', collection: pictureable.pictures, as: :picture

:coffee
  $('##{id}').sortable(
    items: '> .grid-item:not(.fixed)'
    handle: '.thumbnail'
    placeholder: 'grid-item'
    helper: 'clone'
    opacity: 0.5
    revert: 200
  ).bind 'sortupdate', (e, ui) ->
    $.post '#{admin_reorder_pictures_path}',
      {reorder: $(this).sortable('toArray')},
      (data, status, xhr) ->
        $(document).trigger 'pictureable:reordered'
