#new-picture-modal.modal{data: {backdrop: 'static'}}
  .modal-dialog.modal-lg
    = bootstrap_form_for [:admin, pictureable, pictureable.pictures.new], remote: true do |f|
      .modal-content
        .modal-header
          %button.close{data: {dismiss: 'modal'}}= icon('close')
          %h4.modal-title= t('.title')
        .modal-body
          = f.hidden_field :image_id
          .row
            .col-sm-6
              = f.text_field :caption
            .col-sm-6
              = f.text_field :url
        .modal-footer
          %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}
            = t('actions.cancel')
          = f.primary
