.table-responsive
  %table.table.table-striped.table-hover.table-loose
    %thead
      %tr
        %th= col(Product, :title)
        %th.col-xs-2= col(Product, :code)
        %th.col-xs-1.text-right= col(Relationship, :quantity)
        %th.actions

    %tbody#relationships-tbody
      = render partial: 'admin/relationships/edit_tbody', object: product, as: :product

.table-responsive
  = form_for [:admin, product, product.relationships.build(quantity: 1)], remote: true do |f|
    %table.table.table-loose
      %tbody
        %tr
          %td.col-xs-10
            = f.select :component_id, [], {}, {placeholder: t('actions.query'), class: 'selectize-tall'}
          %td.col-xs-1= f.number_field :quantity, min: 1, class: 'form-control text-right'
          %td.actions
            = f.button id: 'create_relationship', class: 'btn btn-default' do
              = icon('check')

:coffee
  $('#relationship_component_id').selectize
    dropdownParent: 'body'
    valueField: 'id'
    sortField: [{field: 'title'}, {field: 'subtitle'}]
    searchField: ['title', 'subtitle']
    diacritics: false
    render: $.fn.selectize.renderers
    load: (query, callback) ->
      return callback() unless query
      $.ajax
        url: '#{query_admin_products_path}'
        type: 'GET'
        dataType: 'json'
        data:
          q: query
        error: ->
          callback()
        success: (response) ->
          callback(response)
