= content_tag_for :tr, product.relationships.includes(:component) do |relationship|
  %td
    %strong= relationship.component.title
    = relationship.component.subtitle
  %td= relationship.component.code
  %td.text-right= relationship.quantity
  %td.actions
    = link_to icon('remove'), admin_relationship_path(relationship), remote: true, method: :delete, class: 'btn btn-sm btn-danger'
