= content_tag_for :tr, relationship do
  %td= relationship.component.code
  %td
    %strong= relationship.component.title
    = relationship.component.subtitle
  %td.text-right= relationship.quantity
