.table-responsive
  %table.table.table-hover.table-condensed
    %thead
      %tr
        %th= col(OrderItem, :product_title)
        %th.no-wrap= col(OrderItem, :product_code)
        %th.col-xs-2.text-right= col(OrderItem, :amount)

    %tbody
      - order.aggregated_components.each do |component, quantity|
        %tr
          %td
            %strong
              = link_to component.title, admin_product_path(component)
            = component.subtitle
          %td.no-wrap= component.code
          %td.text-right= quantity
