= f.fields_for :customer do |ff|
  = ff.hidden_field :id
  = ff.text_field :email, required: true
  = ff.text_field :name, required: true
  = ff.telephone_field :phone, required: true
  = ff.text_field :shipping_address
  .form-group
    .col-sm-offset-4.col-sm-3
      = ff.text_field_without_bootstrap :shipping_postalcode, class: 'form-control'
    .col-sm-5
      = ff.text_field_without_bootstrap :shipping_city, class: 'form-control'
  = ff.select :shipping_country_code, Store.country_options, {include_blank: blank}, {class: 'selectize'}
  = ff.text_field :billing_address
  .form-group
    .col-sm-offset-4.col-sm-3
      = ff.text_field_without_bootstrap :billing_postalcode, class: 'form-control'
    .col-sm-5
      = ff.text_field_without_bootstrap :billing_city, class: 'form-control'
  = ff.select :billing_country_code, Store.country_options, {include_blank: blank}, {class: 'selectize'}
