= form_for [:admin, @order], html: {class: 'form-horizontal', role: 'form'} do |f|
  .panel.panel-default
    .panel-body
      = render 'shared/errors', object: @order

      .form-group
        %label.col-sm-4.control-label Order type
        .col-sm-8
          %p.form-control-static= @order.order_type
      .form-group
        %label.col-sm-4.control-label Customer
        .col-sm-8
          %p.form-control-static= @order.user
      .form-group
        %label.col-sm-4.control-label Ordered at
        .col-sm-8
          %p.form-control-static= @order.ordered_at
      %fieldset{disabled: @order.approval}
        .form-group
          = f.label :company_name, class: 'col-sm-4 control-label'
          .col-sm-8
            = f.text_field :company_name, class: 'form-control'
        .form-group
          = f.label :contact_person, class: 'col-sm-4 control-label'
          .col-sm-8
            = f.text_field :contact_person, class: 'form-control'
        #shipping-info.collapse{class: @order.has_shipping? ? 'in' : ''}
          .form-group
            = f.label :shipping_at, class: 'col-sm-4 control-label'
            .col-sm-8
              = f.date_field :shipping_at, class: 'form-control',
                  data: {provide: 'datepicker'}
          .form-group
            = f.label :billing_address, class: 'col-sm-4 control-label'
            .col-sm-8
              = f.text_field :billing_address, class: 'form-control',
                  placeholder: 'Street address or PO box'
          .form-group
            .col-sm-3.col-sm-offset-4
              = f.text_field :billing_postalcode, class: 'form-control', placeholder: 'Postcode'
            .col-sm-5
              = f.text_field :billing_city, class: 'form-control', placeholder: 'Postal area'
          .form-group
            = f.label :shipping_address, class: 'col-sm-4 control-label'
            .col-sm-8
              = f.text_field :shipping_address, class: 'form-control',
                  placeholder: 'Street address or PO box'
          .form-group
            .col-sm-3.col-sm-offset-4
              = f.text_field :shipping_postalcode, class: 'form-control', placeholder: 'Postcode'
            .col-sm-5
              = f.text_field :shipping_city, class: 'form-control', placeholder: 'Postal area'
        .form-group
          = f.label :notes, class: 'col-sm-4 control-label'
          .col-sm-8
            = f.text_area :notes, rows: 4, class: 'form-control'
      .form-group
        .col-sm-offset-4.col-sm-8
          .checkbox
            %label
              = f.check_box :approval
              Approved
      .form-group
        .col-sm-offset-4.col-sm-8
          = f.submit class: 'btn btn-primary'
