= bootstrap_form_for [:admin, @order], layout: :horizontal,
    label_col: 'col-sm-4', control_col: 'col-sm-8' do |f|
  .panel.panel-default
    .panel-body
      - if @order.destination == current_group
        %fieldset.bg-warning{disabled: locked}
          = f.text_field :approved_at, disabled: @order.concluded?, data: {provide: 'datepicker', 'date-format': 'yyyy-mm-dd', 'date-language': I18n.locale}, help: t('.approved_at_help')
          .conclusion.collapse{class: @order.approved? && 'in'}
            = f.text_field :concluded_at, disabled: !@order.approved? || @order.concluded?, data: {provide: 'datepicker', 'date-format': 'yyyy-mm-dd', 'date-language': I18n.locale}, help: t('.concluded_at_help')
      %fieldset.gap{disabled: true}
        = f.text_field :completed_at, value: l(@order.completed_at.to_date, format: :iso)
      %fieldset.bg-info{disabled: locked}
        = f.text_field :external_number
        = f.text_field :vat_number
        = f.text_field :your_reference
        = f.text_field :our_reference
        = f.text_field :message
      %fieldset.gap{disabled: locked || @order.approved?}
        = f.text_field :customer_name, required: true
        = f.text_field :customer_email, required: true
        = f.telephone_field :customer_phone, required: true
        - if @order.has_shipping?
          = f.text_field :shipping_at, data: {provide: 'datepicker', 'date-start-date': @order.earliest_shipping_at(current_inventory), 'date-format': 'yyyy-mm-dd', 'date-language': I18n.locale}
          = f.text_field :installation_at, data: {provide: 'datepicker', 'date-start-date': @order.earliest_shipping_at(current_inventory), 'date-format': 'yyyy-mm-dd', 'date-language': I18n.locale}
        = f.text_field :company_name
        = f.text_field :contact_person
        = f.text_field :contact_email
        = f.telephone_field :contact_phone
        - if @order.has_shipping?
          = f.text_field :shipping_address, required: true
          .form-group
            .col-sm-offset-4.col-sm-3
              = f.text_field_without_bootstrap :shipping_postalcode, class: 'form-control', required: true
            .col-sm-5
              = f.text_field_without_bootstrap :shipping_city, class: 'form-control', required: true
          = f.select :shipping_country_code, Store.country_options, {skip_label: true}, {required: true, class: 'selectize'}
          = f.text_field :billing_address, required: true
          .form-group
            .col-sm-offset-4.col-sm-3
              = f.text_field_without_bootstrap :billing_postalcode, class: 'form-control', required: true
            .col-sm-5
              = f.text_field_without_bootstrap :billing_city, class: 'form-control', required: true
          = f.select :billing_country_code, Store.country_options, {skip_label: true}, {required: true, class: 'selectize'}
        ~ f.text_area :notes, rows: 7
      - unless locked
        %fieldset.actions
          = f.form_group do
            = f.primary

:coffee
  $('#order_approved_at').on 'change', (e) ->
    if $(e.target).val()
      $('.conclusion').collapse 'show'
      $('#order_concluded_at').attr 'disabled', false
    else
      $('.conclusion').collapse 'hide'
      $('#order_concluded_at').attr 'disabled', true
