= bootstrap_form_for [:admin, @order], layout: :horizontal,
    label_col: 'col-sm-4', control_col: 'col-sm-8' do |f|
  .panel.panel-default
    .panel-body
      %fieldset.bg-warning{disabled: locked}
        = f.form_group :approval do
          = f.check_box :approval, label: col(Order, :approved)
        .conclusion.collapse{class: @order.approved? ? 'in' : ''}
          = f.form_group :conclusion do
            = f.check_box :conclusion, label: col(Order, :concluded), disabled: !@order.approved?
      %fieldset{disabled: true}
        = f.text_field :completed_at, value: l(@order.completed_at.to_date, format: :iso)
      %fieldset{disabled: locked || @order.approved?}
        = f.text_field :customer_name, required: true
        = f.text_field :customer_email, required: true
        = f.telephone_field :customer_phone, required: true
        - if @order.has_shipping?
          = f.date_field :shipping_at,
              data: {provide: 'datepicker', 'date-format' => 'yyyy-mm-dd', 'date-language' => I18n.locale}
          = f.date_field :installation_at,
              data: {provide: 'datepicker', 'date-format' => 'yyyy-mm-dd', 'date-language' => I18n.locale}
        = f.text_field :company_name
        = f.text_field :contact_person
        = f.text_field :contact_email
        = f.telephone_field :contact_phone
        - if @order.has_shipping?
          = f.text_field :shipping_address, required: true
          .form-group
            .col-sm-offset-4.col-sm-3
              = f.text_field_without_bootstrap :shipping_postalcode, class: 'form-control', required: true
            .col-sm-5
              = f.text_field_without_bootstrap :shipping_city, class: 'form-control', required: true
          = f.text_field :billing_address, required: true
          .form-group
            .col-sm-offset-4.col-sm-3
              = f.text_field_without_bootstrap :billing_postalcode, class: 'form-control', required: true
            .col-sm-5
              = f.text_field_without_bootstrap :billing_city, class: 'form-control', required: true
        = f.text_area :notes, rows: 7
      - unless locked
        %fieldset.actions
          = f.form_group do
            = f.primary

:coffee
  $('#order_approval').on 'change', (e) ->
    if $(e.target).is ':checked'
      $('.conclusion').collapse 'show'
      $('#order_conclusion').attr 'disabled', false
    else
      $('.conclusion').collapse 'hide'
      $('#order_conclusion').attr 'checked', false
      $('#order_conclusion').attr 'disabled', true
