= bootstrap_form_for [:admin, @order], layout: :horizontal,
    label_col: 'col-sm-4', control_col: 'col-sm-8' do |f|
  .panel.panel-default
    .panel-body
      %fieldset{disabled: true}
        = f.text_field :completed_at, value: l(@order.completed_at.to_date, format: :iso)
      %fieldset{disabled: locked || @order.approved?}
        = f.text_field :customer_name, required: true
        = f.text_field :customer_email, required: true
        = f.telephone_field :customer_phone, required: true
        = f.text_field :company_name
        = f.text_field :contact_person
        #shipping-info.collapse{class: @order.has_shipping? ? 'in' : ''}
          = f.date_field :shipping_at,
              data: {provide: 'datepicker', 'date-format' => 'yyyy-mm-dd', 'date-language' => I18n.locale}
          = f.text_field :shipping_address, required: true
          = f.text_field :shipping_postalcode, required: true, skip_label: true
          = f.text_field :shipping_city, required: true, skip_label: true
          = f.text_field :billing_address, required: true
          = f.text_field :billing_postalcode, required: true, skip_label: true
          = f.text_field :billing_city, required: true, skip_label: true
        = f.text_area :notes, rows: 4
      %fieldset{disabled: locked}
        = f.form_group :approval do
          = f.check_box :approval, label: col(Order, :approved)
      - unless locked
        = f.form_group do
          = f.primary
