= bootstrap_form_for [:admin, @order] do |f|
  .panel.panel-default
    .panel-body
      - if @order.complete? && !@order.cancelled? && @order.destination == current_group
        %fieldset.warning{disabled: locked}
          .row
            .col-md-6
              = f.text_field :approved_at, disabled: @order.concluded?, data: {provide: 'datepicker', 'date-format': 'yyyy-mm-dd', 'date-language': I18n.locale}, help: t('.approved_at_help')
            .col-md-6
              .conclusion.collapse{class: @order.approved? && 'in'}
                = f.text_field :concluded_at, disabled: !@order.concludable?, data: {provide: 'datepicker', 'date-format': 'yyyy-mm-dd', 'date-language': I18n.locale}, help: t('.concluded_at_help')
      - if @order.cancelled?
        %fieldset.danger{disabled: true}
          = f.text_field :cancelled_at, value: l(@order.cancelled_at, format: :iso)
      - if @order.complete?
        %fieldset{disabled: true}
          = f.text_field :completed_at, value: l(@order.completed_at.to_date, format: :iso)
      %fieldset.info{disabled: locked}
        - if @order.store.b2b_sales? && @order.has_shipping?
          .row
            .col-md-6
              = f.text_field :shipping_at, data: {provide: 'datepicker', 'date-start-date': @order.earliest_shipping_at, 'date-format': 'yyyy-mm-dd', 'date-language': I18n.locale}
            .col-md-6
              = f.text_field :installation_at, data: {provide: 'datepicker', 'date-start-date': @order.earliest_shipping_at, 'date-format': 'yyyy-mm-dd', 'date-language': I18n.locale}
        .row
          .col-md-6
            = f.text_field :vat_number
          .col-md-6
            = f.text_field :message
        .row
          .col-md-6
            = f.text_field :your_reference
          .col-md-6
            = f.text_field :our_reference
        - if @order.store.b2b_sales?
          = f.text_field :external_number
      %fieldset{disabled: locked}
        = f.text_field :customer_name, required: true
        = f.text_field :customer_email, required: true
        = f.telephone_field :customer_phone, required: true
        %hr
        = f.text_field :company_name
        = f.text_field :contact_person
        = f.text_field :contact_email
        = f.telephone_field :contact_phone
        - if @order.has_shipping?
          %hr
          = f.text_field :shipping_address, required: true
          .row
            .col-md-4
              = f.text_field :shipping_postalcode, required: true
            .col-md-8
              = f.text_field :shipping_city, required: true
          = f.select :shipping_country_code, Store.country_options, {}, required: true, class: 'selectize'
          - if @order.store.b2b_sales? || @order.has_payment?
            %hr
            = f.text_field :billing_address, required: @order.billing_address_required?
            .row
              .col-md-4
                = f.text_field :billing_postalcode, required: @order.billing_address_required?
              .col-md-8
                = f.text_field :billing_city, required: @order.billing_address_required?
            = f.select :billing_country_code, Store.country_options, {}, required: @order.billing_address_required?, class: 'selectize'
        %hr
        ~ f.text_area :notes, rows: 7
      - unless locked || @order.cancelled?
        %fieldset.danger
          .form-group
            %label.control-label= col(Order, :cancelled_at)
            .input-group
              = f.text_field_without_bootstrap :cancelled_at, class: 'form-control'
              %span.input-group-btn
                %button#cancel-now.btn.btn-danger{type: 'button'}
                  = t('.cancel_now')
            .help-block= t('.cancelled_at_help')
      - unless locked
        %fieldset.actions.fixed
          .container
            - if @order.incomplete?
              .btn-group{data: {toggle: 'buttons'}}
                %label.btn.btn-success{title: t('.approved_at_help'), data: {toggle: 'tooltip'}}
                  = f.check_box_without_bootstrap :is_final
                  = icon('check', col(Order, :is_final))
            = f.primary

:coffee
  $('#order_approved_at').on 'change', (e) ->
    if $(e.target).val()
      $('.conclusion').collapse 'show'
      $('#order_concluded_at').attr 'disabled', false
    else
      $('.conclusion').collapse 'hide'
      $('#order_concluded_at').attr 'disabled', true

  $('#cancel-now').on 'click', (e) ->
    $('#order_cancelled_at').val moment().format('YYYY-MM-DD HH:MM:ss')
