= form_for [:admin, @order], html: {class: 'form-horizontal', role: 'form'} do |f|
  -if @order.errors.any?
    .alert.alert-danger.alert-dismissable{role: 'alert'}
      %button.close{type: 'button', data: {dismiss: 'alert'}}
        %span{aria: {hidden: 'true'}}
          = icon('times')
        %span.sr-only Close
      %h4= 'Please correct these errors before resubmitting the form:'
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :user_id, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :user_id, class: 'form-control'
  .form-group
    = f.label :order_type_id, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :order_type_id, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
