= bootstrap_form_for [:admin, order] do |f|
  .col-lg-5
    .panel.panel-primary
      .panel-body
        %fieldset
          = f.select :group_id, @groups.map { |g| [g.name, g.id, data: {appearance: g.appearance}.to_json] }, label: t('.group_id')
          = f.select :customer_id, @customers.map { |c| [c.to_s, c.id] }, {include_blank: t('.new_customer')}, {placeholder: t('.new_customer')}
          %hr
          .row
            .col-md-6
              = f.select :order_type_id, @group.outgoing_order_types.map { |o| [o.to_s, o.id] }, {}, {required: true}
            .col-md-6
              = f.select :inventory_id, @group.available_inventories.map { |i| [i.to_s, i.id] }
  .col-lg-6.col-lg-offset-1
    .panel.panel-default
      .panel-body
        %fieldset
          = render partial: 'customer_fields', locals: {f: f}
          %fieldset.actions.fixed
            .container
              = f.primary

:coffee
  refresh = (customer_id) ->
    group_id = group_select.getValue()
    $.ajax
      url: '#{new_admin_order_path}'
      type: 'GET'
      dataType: 'script'
      data:
        order:
          group_id: group_id
          customer_id: customer_id

  $group_select = $('#order_group_id').betterSelectize
    labelField: 'title'
    dataAttr: 'data'
    render: $.fn.selectize.label_renderer
    onChange: (id) ->
      $.ajax
        url: '#{new_admin_order_path}'
        type: 'GET'
        dataType: 'script'
        data:
          order:
            group_id: id

  $customer_select = $('#order_customer_id').betterSelectize
    onFocus: ->
      this.clear true unless this.getValue()
    onBlur: ->
      id = this.getValue()
      refresh id unless id
    onChange: (id) ->
      if this.items.length
        refresh id

  $order_type_select = $('#order_order_type_id').betterSelectize
    valueField: 'id'
    labelField: 'name'

  $inventory_select = $('#order_inventory_id').betterSelectize
    valueField: 'id'
    labelField: 'name'

  group_select = $group_select[0].selectize
  customer_select = $customer_select[0].selectize
  order_type_select = $order_type_select[0].selectize
  inventory_select = $inventory_select[0].selectize
