%table.table.table-hover
  %thead
    %tr
      %th.col-min
      %th.col-xs-1= col(Order, :number)
      %th.col-xs-1= col(Order, :completed_at)
      %th= col(Order, :customer_id)
      %th.col-xs-1.text-right= col(Order, :items)
      %th.col-xs-1.text-right= col(Order, :grand_total)

  %tbody.rowlink{data: {link: 'row'}}
    - orders.order(completed_at: :desc).limit(20).each do |order|
      %tr[order]{class: order.appearance}
        %td= icon(order.icon)
        %td
          = link_to admin_order_path(order) do
            %strong= order.number
        %td= order.completed_at.present? ? l(order.completed_at.to_date) : nil
        %td.no-wrap= order.customer_name
        %td.text-right= order.order_items_count
        %td.text-right.currency
          = money order.includes_tax? ? order.grand_total_with_tax : order.grand_total_sans_tax
