.modal-dialog.modal-lg
  .modal-content
    .modal-header.bg-warning
      %button.close{data: {dismiss: 'modal'}}= icon('close')
      %h4.modal-title= t('.title')
    .modal-body
      .small
        = render partial: 'summary'
    .modal-body
      %h5= t('.shipments')
      = render partial: 'shipments'
    .modal-body
      %h5= t('.contents')
      = render partial: 'contents', locals: {display_stock: true}
    .modal-footer
      = link_to icon('check', t('.approve')), approve_admin_order_path(@order), remote: true, method: :patch, data: {disable_with: button_spinner}, class: 'btn btn-warning'
