= content_tag_for :tr, order do
  %td= l(order.ordered_at.to_date)
  %td= order.order_type
  %td= order.user
  %td= order.order_items.count
  %td= l(order.shipping_at)
  %td.hidden-print.text-right
    = link_to icon('info', t('actions.show')), admin_order_path(order),
        class: 'btn btn-default btn-sm'
    - if current_user.can_update?(Order)
      = link_to icon('edit', t('actions.edit')), edit_admin_order_path(order),
          class: 'btn btn-default btn-sm'
