= content_tag_for :tr, order, class: order.appearance do
  %td= icon(order.icon)
  %td= l(order.completed_at.to_date)
  - if current_store.b2b_sales?
    %td= order.summary
  %td= order.shipping_at.present? ? l(order.shipping_at) : nil
  - if current_store.b2b_sales?
    %td= order.installation_at.present? ? l(order.installation_at) : nil
  %td= order.customer_name
  %td.text-right= order.order_items_count
  %td.text-right.currency
    = price_tag order.includes_tax? ? order.grand_total_with_tax : order.grand_total_sans_tax
  %td.actions
    - if current_user.can_update?(Order) && !order.approved? && order.incoming_for?(current_user)
      = link_to icon('check', t('.approve')), approve_admin_order_path(order),
          remote: true, method: :patch, class: 'btn btn-sm btn-success'
    - if current_user.can_update?(Order) && order.approved? && !order.concluded? && order.incoming_for?(current_user)
      = link_to icon('search', t('.review')), review_admin_order_path(order),
          remote: true, class: 'btn btn-sm btn-primary'
    = link_to icon('info', t('actions.show')), admin_order_path(order),
        class: 'btn btn-default btn-sm'
    - if current_user.can_update?(Order)
      = link_to icon('edit', t('actions.edit')), edit_admin_order_path(order),
          class: 'btn btn-default btn-sm'
