= content_tag_for :tr, order, class: order.appearance do
  %td= icon(order.icon)
  %td= l(order.completed_at.to_date)
  - if current_store.b2b_sales?
    %td= order.summary
  %td= order.shipping_at.present? ? l(order.shipping_at) : ''
  %td= order.customer_name
  %td.text-right= order.order_items.count
  %td.text-right.currency= humanized_money_with_symbol order.grand_total
  %td.actions
    = link_to icon('info', t('actions.show')), admin_order_path(order),
        class: 'btn btn-default btn-sm'
    - if current_user.can_update?(Order)
      = link_to icon('edit', t('actions.edit')), edit_admin_order_path(order),
          class: 'btn btn-default btn-sm'
