.row
  .col-xs-4
    %dl
      - if @order.completed_at.present?
        %dt= col(Order, :completed_at)
        %dd= l(@order.completed_at.to_date, format: :iso)
      %dt= col(Order, :customer_email)
      %dd= @order.customer_email
      - if @order.your_reference.present?
        %dt= col(Order, :your_reference)
        %dd= @order.your_reference
      - if @order.message.present?
        %dt= col(Order, :message)
        %dd= @order.message
  .col-xs-4
    %dl
      - if @order.billing_address.present?
        %dt= col(Order, :billing_address_id)
        %dd= render @order.billing_address
  .col-xs-4
    %dl
      - if @order.has_shipping?
        - if @order.shipping_at.present?
          %dt= col(Order, :shipping_at)
          %dd= l(@order.shipping_at)
      - if @order.shipping_address.present?
        %dt= col(Order, :shipping_address_id)
        %dd= render @order.shipping_address
- if @order.notes.present?
  .row
    .col-xs-6
      %dl
        %dt= col(Order, :notes)
        %dd
          %p= @order.notes
