.table-responsive
  %table.table.table-striped.table-hover.table-loose
    %thead
      %tr
        %th.col-min
        %th.col-xs-1= col(Order, :completed_at)
        - if current_store.b2b_sales?
          %th= col(Order, :summary)
        %th.col-xs-1= col(Order, :shipping_at)
        %th.col-xs-2= col(Order, :user_id)
        %th.col-xs-1.text-right= col(Order, :items)
        %th.col-xs-1.text-right= col(Order, :grand_total)
        %th.actions

    %tbody
      = render partial: 'admin/orders/row', collection: orders, as: :order
