.table-responsive
  %table.table.table-striped.table-hover.table-loose
    %thead
      %tr
        %th.col-xs-2= col(Order, :completed_at)
        %th.col-xs-2= col(Order, :shipping_at)
        %th.col-xs-2= col(Order, :approved_at)
        %th= col(Order, :user_id)
        %th.col-xs-1= col(Order, :items)
        %th.col-xs-1.text-right= col(Order, :grand_total)
        %th.col-xs-2.hidden-print

    %tbody
      = render partial: 'admin/orders/row', collection: orders, as: :order
