.page-header
  = link_to back_path_for(@order), class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  = link_to admin_order_path(@order), class: 'btn btn-primary' do
    = icon('info-circle', t('actions.show'))
  %h1
    = @order.order_type
    %span.small= @order.to_s

.row
  .col-lg-4
    = render partial: 'form', locals: {locked: false}

  .col-lg-8
    = tab_set 'order-side', class: 'nav-justified nav-sm' do
      = nav_tab 'shipments', title(Shipment, count: 2), default: true
      = nav_tab 'order-items', title(OrderItem, count: 2)
      = nav_tab 'payments', title(Payment, count: 2)

    .tab-content
      = tab_pane 'order-items', class: 'page-break' do
        %h2.visible-print-block= title(OrderItem, count: 2)
        - if @order.editable_items?
          = render partial: 'admin/order_items/edit_table', object: @order, as: :order
          = render partial: 'admin/orders/edit', object: @order, as: :order
        - else
          = render partial: 'admin/order_items/table', object: @order, as: :order

      = tab_pane 'shipments', default: true do
        %h2.visible-print-block= title(Shipment, count: 2)
        = render partial: 'admin/order_items/pending', object: @order, as: :order
        - if current_user.can_create?(Shipment, for: @order, at: current_store)
          = render partial: 'admin/shipments/new', object: @order, as: :order
        #shipments-list
          = render partial: 'admin/shipments/item', collection: @order.shipments, as: :shipment, locals: {locked: @order.concluded?}

      = tab_pane 'payments', class: 'hidden-print' do
        %h2.visible-print-block= title(Payment, count: 2)
        = render partial: 'admin/payments/table', object: @order, as: :order

- if @order.complete?
  :coffee
    $('[href="#tab-shipments"]').tab 'show'
- else
  :coffee
    $('[href="#tab-order-items"]').tab 'show'

- if @order.editable_items?
  - content_for :secondary_nav do
    #barcode-panel.navbar-form.navbar-right{data: {url: admin_order_order_items_path(@order)}}
      .form-group.has-feedback
        = text_field_tag 'barcode', nil, autocomplete: 'off', class: 'form-control monospace', placeholder: t('.barcode')
        %span.form-control-feedback= icon('barcode')

  :coffee
    fields =
      '01': 'customer_code'
      '10': 'lot_code'
      '21': 'serial'
      '30': 'amount'

    new Switchboard 'barcode',
      mapping:
        '¨': String.fromCharCode(29) #dead key to FNC1
      callback: (code) ->
        data = parseBarcode code
        item = {amount: 1}
        for i in data.parsedCodeItems
          item[fields[i.ai]] = i.data if fields[i.ai]?
        $('#barcode').val ''
        $.ajax
          url: $('#barcode-panel').data 'url'
          type: 'POST'
          data:
            order_item: item
