.page-header
  = link_to admin_orders_path(anchor: orders_tab(@order)), class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  = link_to admin_order_path(@order), class: 'btn btn-primary' do
    = icon('info-circle', t('actions.show'))
  %h1
    = title(Order)
    %span.small= @order.to_s

.row
  .col-lg-6
    = render partial: 'form', locals: {locked: false}

  .col-lg-6
    .hidden-print
      = render partial: 'admin/images/edit_table', object: @order, as: :imageable
      = render partial: 'admin/images/dropzone', object: @order, as: :imageable
    = render partial: 'admin/orders/components', object: @order, as: :order
