.page-header
  = link_to admin_orders_path(anchor: orders_tab(@order)), class: 'btn btn-default' do
    = icon('chevron-circle-left', 'Back')
  = link_to admin_order_path(@order), class: 'btn btn-primary' do
    = icon('info-circle', 'Show')
  %h1
    Order
    %span.small= @order.to_s

.row
  .col-sm-5
    = render 'form'

  .col-sm-7
    .table-responsive
      %table.table.table-striped.table-hover.table-loose
        %thead
          %tr
            %th.col-xs-2 Product code
            %th Product title
            %th.col-xs-2.text-right Amount

        %tbody
          = render partial: 'admin/order_items/order_item', collection: @order.order_items
