.page-header
  = link_to admin_orders_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  = link_to admin_order_path(@order), class: 'btn btn-primary' do
    = icon('info-circle', t('actions.show'))
  %h1
    = @order.order_type
    %span.small
      = col(Order, :number)
      = @order.to_s

.row
  .col-lg-5
    = render partial: 'form', locals: {locked: false}

  .col-lg-7
    %ul.nav.nav-tabs.nav-justified.nav-sm{role: 'tablist'}
      %li.active{role: 'presentation'}
        %a{href: '#tab-order-items', role: 'tab', data: {toggle: 'tab'}}
          = title(OrderItem, count: 2)
      %li{role: 'presentation'}
        %a{href: '#tab-payments', role: 'tab', data: {toggle: 'tab'}}
          = title(Payment, count: 2)

    .tab-content
      #tab-order-items.tab-pane.fade.in.active.page-break
        %h2.visible-print-block= title(OrderItem, count: 2)
        - if @order.editable_items?
          = render partial: 'admin/order_items/edit_table', object: @order, as: :order
          = render partial: 'admin/orders/add_products', object: @order, as: :order
        - else
          = render partial: 'admin/order_items/table', object: @order, as: :order

      #tab-payments.tab-pane.fade
        %h2.visible-print-block= title(Payment, count: 2)
        = render partial: 'admin/payments/table', object: @order, as: :order
