.page-header
  - if current_user.can_create?(Order)
    = link_to new_admin_order_path, class: 'btn btn-primary' do
      = icon('plus', t('.new_order'))
  %h1= icon('truck', title(Order, count: 2))

.panel.panel-info
  .panel-heading
    %h4.panel-title= t('actions.search')
  .panel-body
    = form_for @search, url: admin_orders_path, method: :get do |f|
      .row
        .col-sm-6.col-md-3
          .form-group
            = f.select :order_type, current_user.available_order_types.map { |o| [order_type_label(o, current_user), o.id] }, {include_blank: true}, {placeholder: col(Order, :order_type_id), class: 'form-control selectize'}
        .col-sm-6.col-md-3
          .form-group
            = f.search_field :date, autocomplete: 'off', placeholder: col(Order, :completed_at), class: 'form-control', data: {provide: 'datepicker', 'date-format' => 'yyyy-mm-dd', 'date-language' => I18n.locale, 'date-orientation' => 'bottom'}
        .col-sm-6.col-md-4
          .form-group
            = f.search_field :customer, autocomplete: 'off', placeholder: col(Order, :customer_name), class: 'form-control'
        .col-sm-6.col-md-2
          .form-group
            = f.submit t('actions.search'), class: 'btn btn-block btn-primary'

- if @timeline_orders.any?
  .panel.panel-default
    .panel-heading
      %span.pull-right= icon('question-circle', class: 'fa-lg', title: t('orders.index.timeline_help_html'), data: {toggle: 'tooltip'})
      %h4.panel-title= t('orders.index.timeline_header')
    = render partial: 'timeline'

= render partial: 'admin/orders/table', object: @orders, as: :orders
= paginate @orders
