.page-header
  - if current_user.can_create?(Order)
    = link_to new_admin_order_path, class: 'btn btn-primary' do
      = icon('plus', t('.new_order'))
  %h1= icon('truck', title(Order, count: 2))

- first = @orders_by_type.keys.first

%ul.nav.nav-tabs{role: 'tablist'}
  - @orders_by_type.each_key do |order_type|
    %li{role: 'presentation', class: order_type == first ? 'active' : nil}
      %a{href: "##{tab_name(order_type)}", role: 'tab', data: {toggle: 'tab'}}
        = order_type

.tab-content
  - @orders_by_type.each do |order_type, orders|
    .tab-pane.fade{id: tab_name(order_type), class: order_type == first ? 'in active' : nil}
      %h2.visible-print-block= order_type
      = render partial: 'admin/orders/table', object: orders, as: :orders
