.page-header
  = link_to new_admin_order_path, class: 'btn btn-primary' do
    = icon('plus', 'New Order')
  %h1= icon('truck', 'Orders')

.table-responsive
  %table.table.table-striped.table-hover.table-loose
    %thead
      %tr
        %th User
        %th Order type
        %th

    %tbody
      = content_tag_for :tr, @orders do |order|
        %td= order.user
        %td= order.order_type
        %td.text-right
          = link_to icon('info', 'Show'), admin_order_path(order),
              class: 'btn btn-default btn-sm'
          = link_to icon('edit', 'Edit'), edit_admin_order_path(order),
              class: 'btn btn-default btn-sm'
