.page-header
  - if current_user.can_create?(Order)
    = link_to new_admin_order_path, class: 'btn btn-primary' do
      = icon('plus', t('.new_order'))
  %h1= icon('truck', title(Order, count: 2))

%ul.nav.nav-tabs{role: 'tablist'}
  %li.active{role: 'presentation'}
    %a{href: '#orders', role: 'tab', data: {toggle: 'tab'}}
      = t('.current')
  %li{role: 'presentation'}
    %a{href: '#approved', role: 'tab', data: {toggle: 'tab'}}
      = t('.approved')

.tab-content
  #orders.tab-pane.fade.in.active
    %h2.visible-print-block= t('.current')
    = render partial: 'admin/orders/table', object: @orders, as: :orders

  #approved.tab-pane.fade
    %h2.visible-print-block= t('.approved')
    = render partial: 'admin/orders/table', object: @approved, as: :orders
