.page-header
  = link_to new_admin_order_path, class: 'btn btn-primary' do
    = icon(:plus, 'New Order')
  %h1 Orders

.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th User
        %th Order type
        %th.col-sm-1
        %th.col-sm-1

    %tbody
      - @orders.each do |order|
        %tr
          %td= order.user_id
          %td= order.order_type_id
          %td= link_to icon('info', 'Show'), admin_order_path(order)
          %td= link_to icon('edit', 'Edit'), edit_admin_order_path(order)
