.hidden-print
  .page-header
    - if current_user.can_create?(Order)
      = link_to new_admin_order_path, class: 'btn btn-primary' do
        = icon('plus', t('.new_order'))
    %h1= icon('truck', title(Order, count: 2))

  = render partial: 'search'

  - if @timeline_orders.any?
    .panel.panel-default
      .panel-heading
        %span.pull-right= icon('question-circle', class: 'fa-lg', title: t('orders.index.timeline_help_html'), data: {toggle: 'tooltip'})
        %h4.panel-title= t('orders.index.timeline_header')
      = render partial: 'timeline'

  = render partial: 'admin/orders/table', object: @orders, as: :orders
  = paginate @orders

#orders-review-modal.modal{data: {backdrop: 'static'}}
