.page-header
  = link_to new_admin_order_path, class: 'btn btn-primary' do
    = icon(:plus, 'New Order')
  %h1 Orders

.table-responsive
  %table.table.table-striped.table-hover.table-loose
    %thead
      %tr
        %th User
        %th Order type
        %th.col-md-1.col.xs-2
        %th.col-md-1.col-xs-2

    %tbody
      - @orders.each do |order|
        %tr
          %td= order.user
          %td= order.order_type
          %td.text-right= link_to icon('info', 'Show'), admin_order_path(order),
            class: 'btn btn-default btn-sm'
          %td.text-right= link_to icon('edit', 'Edit'), edit_admin_order_path(order),
            class: 'btn btn-default btn-sm'
