.page-header
  - if current_user.can_create?(Order, at: current_store)
    = link_to new_admin_order_path, class: 'btn btn-primary' do
      = icon('plus', t('.new_order'))
  %h1= icon('truck', title(Order, count: 2))

.reports
  - if current_group.incoming_order_types.any?
    .report-panel
      = link_to incoming_admin_orders_path do
        = icon('inbox')
        = t('admin.orders.incoming.title')
  - if current_group.outgoing_order_types.any?
    .report-panel
      = link_to outgoing_admin_orders_path do
        = icon('paper-plane')
        = t('admin.orders.outgoing.title')
