.page-header
  = link_to admin_orders_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  %h1
    = t('.new_order')
    %span.small= @order.to_s

.row
  .col-sm-6
    = render partial: 'form', locals: {locked: false}
