.page-header
  = link_to admin_orders_path(anchor: orders_tab(@order)), class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  - if current_user.can_update?(Order)
    = link_to edit_admin_order_path(@order), class: 'btn btn-primary' do
      = icon('pencil-square', t('actions.edit'))
  = link_to icon('print', t('actions.print')), '#print', class: 'btn btn-default'
  %h1
    = title(Order)
    %span.small= @order.to_s

.row
  .col-lg-5
    .panel.panel-default
      .panel-body.form-horizontal
        .form-group
          %label.col-sm-4.control-label
            = col(Order, :order_type_id)
          .col-sm-8
            %p.form-control-static
              = @order.approval ? @order.order_type_name : @order.order_type
        .form-group
          %label.col-sm-4.control-label
            = col(Order, :user_id)
          .col-sm-8
            %p.form-control-static
              = @order.approval ? "#{@order.user_name} <#{@order.user_email}>" : @order.user
        .form-group
          %label.col-sm-4.control-label
            = col(Order, :ordered_at)
          .col-sm-8
            %p.form-control-static= l(@order.ordered_at, format: :long)
        .form-group
          %label.col-sm-4.control-label
            = col(Order, :company_name)
          .col-sm-8
            %p.form-control-static= @order.company_name
        .form-group
          %label.col-sm-4.control-label
            = col(Order, :contact_person)
          .col-sm-8
            %p.form-control-static= @order.contact_person
        #shipping-info.collapse{class: @order.has_shipping? ? 'in' : ''}
          .form-group
            %label.col-sm-4.control-label
              = col(Order, :shipping_at)
            .col-sm-8
              %p.form-control-static= l(@order.shipping_at)
          .form-group
            %label.col-sm-4.control-label
              = col(Order, :billing_address)
            .col-sm-8
              %p.form-control-static= @order.billing_address
          .form-group
            .col-sm-3.col-sm-offset-4
              %p.form-control-static= @order.billing_postalcode
            .col-sm-5
              %p.form-control-static= @order.billing_city
          .form-group
            %label.col-sm-4.control-label
              = col(Order, :shipping_address)
            .col-sm-8
              %p.form-control-static= @order.shipping_address
          .form-group
            .col-sm-3.col-sm-offset-4
              %p.form-control-static= @order.shipping_postalcode
            .col-sm-5
              %p.form-control-static= @order.shipping_city
        .form-group
          %label.col-sm-4.control-label
            = col(Order, :notes)
          .col-sm-8
            %p.form-control-static.pre><= @order.notes
        .form-group
          %label.col-sm-4.control-label
            = col(Order, :approved_at)
          .col-sm-8
            %p.form-control-static= @order.approved_at

  .col-lg-7
    = render partial: 'admin/orders/components', object: @order, as: :order
