.page-header
  = link_to admin_orders_path, class: 'btn btn-default' do
    = icon('chevron-circle-left')
    Back
  = link_to edit_admin_order_path(@order), class: 'btn btn-primary' do
    = icon('pencil-square')
    Edit
  %h1= @order.to_s

%dl.dl-horizontal
  %dt User:
  %dd= @order.user
  %dt Order type:
  %dd= @order.order_type_id
