.page-header.hidden-print
  = link_to back_path_for(@order), class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  - if current_user.can_update?(Order, at: current_store)
    = link_to edit_admin_order_path(@order), class: 'btn btn-primary' do
      = icon('pencil-square', t('actions.edit'))
  - if @order.destination == current_group
    - if @order.approved?
      = link_to forward_admin_order_path(@order), class: 'btn btn-danger' do
        = icon('share', t('.forward'))
    - if @order.complete?
      = link_to icon('print', t('.print_delivery_note')), '#print', class: 'btn btn-default'

  %h1
    = @order.order_type
    %span.small
      = @order.to_s
      = surround('[', ']') { @order.inventory.to_s }

= render partial: 'instructions'
= life_pro_tip @order

.visible-print.compact
  = render partial: 'headers'
  = render partial: 'summary'

.row
  .col-lg-4.hidden-print
    = render partial: 'form', locals: {locked: true}

  .col-lg-8
    = tab_set 'order-side', class: 'nav-justified nav-sm' do
      = nav_tab 'shipments', title(Shipment, count: 2), default: true
      = nav_tab 'order-items', title(OrderItem, count: 2)
      = nav_tab 'payments', title(Payment, count: 2)
      = nav_tab 'history', t('admin.activities.title')

    .tab-content
      = tab_pane 'shipments', default: true do
        - if !@order.cancelled?
          = render partial: 'admin/order_items/pending', object: @order, as: :order
        %h4.visible-print-block= t('.shipped_items')
        = render partial: 'admin/shipments/list', object: @order, as: :order, locals: {locked: true}

      = tab_pane 'order-items', class: 'page-break' do
        %h4.visible-print-block= title(OrderItem, count: 2)
        = render partial: 'admin/order_items/table', object: @order, as: :order

      = tab_pane 'payments', class: 'hidden-print' do
        = render partial: 'admin/payments/table', object: @order, as: :order

      = tab_pane 'history' do
        #context-activities.hidden-print{data: {url: context_admin_activities_path(format: :js), gid: @order.to_global_id}}

:coffee
  $('#context-activities').fetch_context()

- if @order.approved? && @order.track_shipments?
  :coffee
    $('[href="#tab-shipments"]').tab 'show'
- else
  :coffee
    $('[href="#tab-order-items"]').tab 'show'
