.page-header
  = link_to admin_orders_path(anchor: orders_tab(@order)), class: 'btn btn-default' do
    = icon('chevron-circle-left', 'Back')
  - if current_user.can_update?(Order)
    = link_to edit_admin_order_path(@order), class: 'btn btn-primary' do
      = icon('pencil-square', 'Edit')
  = link_to icon('print', 'Print'), '#print', class: 'btn btn-default'
  %h1
    Order
    %span.small= @order.to_s

.row
  .col-sm-5
    .panel.panel-default
      .panel-body.form-horizontal
        .form-group
          %label.col-sm-4.control-label User
          .col-sm-8
            %p.form-control-static
              = @order.approval ? "#{@order.user_name} <#{@order.user_email}>" : @order.user
        .form-group
          %label.col-sm-4.control-label Order type
          .col-sm-8
            %p.form-control-static
              = @order.approval ? @order.order_type_name : @order.order_type
        .form-group
          %label.col-sm-4.control-label Ordered at
          .col-sm-8
            %p.form-control-static= @order.ordered_at
        .form-group
          %label.col-sm-4.control-label Company name
          .col-sm-8
            %p.form-control-static= @order.company_name
        .form-group
          %label.col-sm-4.control-label Contact person
          .col-sm-8
            %p.form-control-static= @order.contact_person
        #shipping-info.collapse{class: @order.needs_shipping_info? ? 'in' : ''}
          .form-group
            %label.col-sm-4.control-label Shipping at
            .col-sm-8
              %p.form-control-static= @order.shipping_at
          .form-group
            %label.col-sm-4.control-label Billing address
            .col-sm-8
              %p.form-control-static.pre><= @order.billing_address
          .form-group
            %label.col-sm-4.control-label Shipping address
            .col-sm-8
              %p.form-control-static.pre><= @order.shipping_address
        .form-group
          %label.col-sm-4.control-label Notes
          .col-sm-8
            %p.form-control-static.pre><= @order.notes
        .form-group
          %label.col-sm-4.control-label Approved at
          .col-sm-8
            %p.form-control-static= @order.approved_at

  .col-sm-7
    = render partial: 'admin/orders/components', object: @order, as: :order
