.page-header
  = link_to admin_orders_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  - if current_user.can_update?(Order)
    = link_to edit_admin_order_path(@order), class: 'btn btn-primary' do
      = icon('pencil-square', t('actions.edit'))
  - if @order.approved?
    = link_to duplicate_admin_order_path(@order), class: 'btn btn-info' do
      = icon('copy', t('.duplicate'))
  = link_to icon('print', t('actions.print')), '#print', class: 'btn btn-default'
  %h1
    = @order.order_type
    %span.small
      = col(Order, :number)
      = @order.to_s

.row
  .col-lg-6
    = render partial: 'form', locals: {locked: true}

  .col-lg-6
    %ul.nav.nav-tabs{role: 'tablist'}
      %li.active{role: 'presentation'}
        %a{href: '#tab-order-items', role: 'tab', data: {toggle: 'tab'}}
          = title(OrderItem, count: 2)
      - if @order.reveal_components?
        %li{role: 'presentation'}
          %a{href: '#tab-components', role: 'tab', data: {toggle: 'tab'}}
            = t('.aggregated')

    .tab-content
      #tab-order-items.tab-pane.fade.in.active.page-break
        %h2.visible-print-block= title(OrderItem, count: 2)
        = render partial: 'admin/order_items/table', object: @order, as: :order

      - if @order.reveal_components?
        #tab-components.tab-pane.fade.page-break
          %h2.visible-print-block= t('.aggregated')
          = render partial: 'admin/orders/components', object: @order, as: :order
