.page-header
  = link_to admin_orders_path(anchor: orders_tab(@order)), class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  - if current_user.can_update?(Order)
    = link_to edit_admin_order_path(@order), class: 'btn btn-primary' do
      = icon('pencil-square', t('actions.edit'))
  = link_to icon('print', t('actions.print')), '#print', class: 'btn btn-default'
  %h1
    = title(Order)
    %span.small= @order.to_s

.row
  .col-lg-5
    .panel.panel-default
      .panel-body.form-horizontal
        = static_control col(Order, :order_type_id),
            @order.approval ? @order.order_type_name : @order.order_type
        = static_control col(Order, :user_id),
            @order.approval ? "#{@order.user_name} <#{@order.user_email}>" : @order.user
        = static_control col(Order, :ordered_at),
            l(@order.ordered_at, format: :long)
        = static_control col(Order, :company_name),
            @order.company_name
        = static_control col(Order, :contact_person),
            @order.contact_person
        #shipping-info.collapse{class: @order.has_shipping? ? 'in' : ''}
          = static_control col(Order, :shipping_at),
              l(@order.shipping_at)
          = static_control col(Order, :shipping_address),
              @order.shipping_address
          = static_control nil,
              @order.shipping_postalcode
          = static_control nil,
              @order.shipping_city
          = static_control col(Order, :billing_address),
              @order.billing_address
          = static_control nil,
              @order.billing_postalcode
          = static_control nil,
              @order.billing_city
        = static_control col(Order, :notes) do
          = simple_format(@order.notes)
        = static_control col(Order, :approved_at),
            @order.approval ? l(@order.approved_at, format: :long) : ''

  .col-lg-7
    = render partial: 'admin/orders/components', object: @order, as: :order
