.page-header
  = link_to admin_orders_path(anchor: orders_tab(@order)), class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  - if current_user.can_update?(Order)
    = link_to edit_admin_order_path(@order), class: 'btn btn-primary' do
      = icon('pencil-square', t('actions.edit'))
  = link_to icon('print', t('actions.print')), '#print', class: 'btn btn-default'
  %h1
    = title(Order)
    %span.small= @order.to_s

.row
  .col-lg-6
    = render partial: 'form', locals: {locked: true}

  .col-lg-6
    = render partial: 'admin/orders/components', object: @order, as: :order
