.page-header.hidden-print
  = link_to admin_orders_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  - if current_user.can_update?(Order, at: current_store)
    = link_to edit_admin_order_path(@order), class: 'btn btn-primary' do
      = icon('pencil-square', t('actions.edit'))
  - if @order.destination == current_group
    - if @order.approved?
      = link_to forward_admin_order_path(@order), class: 'btn btn-danger' do
        = icon('share', t('.forward'))
    - if @order.complete?
      = link_to icon('print', t('.print_delivery_note')), '#print', class: 'btn btn-default'
  - if @order.quotable?
    = link_to quote_admin_order_path(@order), class: 'btn btn-info' do
      = icon('envelope', t('.quote'))
    = link_to icon('print', t('.print_quotation')), '#print', class: 'btn btn-default'

  %h1
    = @order.order_type
    %span.small= @order.to_s

.visible-print
  = render partial: 'headers'
  = render partial: 'summary'

.row
  .col-lg-5.hidden-print
    = render partial: 'form', locals: {locked: true}

  .col-lg-7
    = tab_set 'order-side', class: 'nav-justified nav-sm' do
      = nav_tab 'shipments', title(Shipment, count: 2), default: true
      = nav_tab 'order-items', title(OrderItem, count: 2)
      = nav_tab 'payments', title(Payment, count: 2)

    .tab-content
      = tab_pane 'order-items', class: 'page-break' do
        %h2.visible-print-block= title(OrderItem, count: 2)
        = render partial: 'admin/order_items/table', object: @order, as: :order

      = tab_pane 'shipments', default: true do
        %h2.visible-print-block= title(Shipment, count: 2)
        = render partial: 'admin/order_items/pending', object: @order, as: :order
        = render partial: 'admin/shipments/item', collection: @order.shipments, as: :shipment, locals: {locked: true}

      = tab_pane 'payments', class: 'hidden-print' do
        %h2.visible-print-block= title(Payment, count: 2)
        = render partial: 'admin/payments/table', object: @order, as: :order

:coffee
  persist_tabs 'order-side'
