= bootstrap_form_for [:admin, @message] do |f|
  .panel.panel-default
    .panel-body
      %fieldset{disabled: locked}
        = f.select :context_gid, current_store.available_contexts.map { |c| ["#{c.model_name.human}: #{c}", c.to_global_id] }, {}, {class: 'selectize'}
        = f.select :stage, Message.stage_options.map { |s| [Message.human_attribute_value(:stage, s), s] }, {}, {class: 'selectize'}
        = f.form_group do
          = f.check_box :disabled
        .message-content.collapse{class: @message.disabled? || 'in'}
          ~ f.text_area :content
      - unless locked
        %fieldset.actions.fixed
          .container
            = f.primary

:coffee
  $('#message_disabled').on 'change', (e) ->
    if $(e.target).is ':checked'
      $('.message-content').collapse 'hide'
    else
      $('.message-content').collapse 'show'

  CKEDITOR.ClassicEditor.create(
    $('#message_content')[0]
    toolbar: ['heading', 'bold', 'italic', 'numberedList', 'bulletedList', 'link', 'undo', 'redo']
    language: '#{I18n.locale}'
  ).then (editor) -> editor.isReadOnly = #{locked}
  .catch (error) -> console.log error
