%nav.section-nav.navbar.navbar-inverse{id: dom_id(section, :nav)}
  %ul.nav.navbar-nav
    %li
      %a{href: '#'}= drag_handle
    %li.dropdown
      %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
        = icon('paint-brush')
      %ul.dropdown-menu
        %li
          = render partial: 'admin/sections/form', object: section, as: :section
    %li.dropdown
      %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
        = icon('image')
      %ul.dropdown-menu
        %li
        = render partial: 'admin/images/edit_collection', object: section, as: :imageable
        = render partial: 'admin/images/dropzone', object: section, as: :imageable
    - if current_user.can_delete?(section)
      %li
        = link_to icon('remove'), admin_section_path(section), method: :delete, remote: true, data: {confirm: t('.delete.confirm'), 'confirm-title': t('actions.confirm.title'), 'confirm-proceed': t('actions.confirm.proceed'), 'confirm-cancel': t('actions.confirm.cancel')}

:coffee
  $('##{dom_id(section, :nav)} .dropdown').on 'hidden.bs.dropdown', ->
    $('##{dom_id(section, :nav)}').find('form.triggered').trigger 'submit.rails'
