= bootstrap_form_for [:admin, section], namespace: [:section, section.id], remote: true, layout: :vertical, html: {class: 'immediate triggered'} do |f|
  %fieldset
    = f.select :layout, section.layout_options, {}, {required: true}
    = f.form_group do
      = f.check_box :gutters
    = f.select :shape, Section.shape_options, {include_blank: t('.fluid_ratio')}, {placeholder: t('.fluid_ratio')}
    = f.select :width, Section.width_options, {}, {required: true}
    = f.color_field :background_color
    = f.form_group do
      = f.check_box :fixed_background


:coffee
  $('#section_#{section.id}_section_layout').selectize()
  $('#section_#{section.id}_section_shape').selectize
      allowEmptyOption: true
  $('#section_#{section.id}_section_width').selectize()
