= render partial: 'admin/sections/form', object: section, as: :section

= bootstrap_form_for [:modify, :admin, section], remote: true, html: {id: dom_id(section, :colors)} do |f|
  %fieldset
    = f.text_field :background_color, class: 'color'
    = f.text_field :gradient_color, class: 'color'

:coffee
  $form = $('##{dom_id(section, :colors)}')
  $form.find('.color').minicolors
    theme: 'bootstrap'
    position: 'bottom left'
    format: 'rgb'
    opacity: true
    keywords: 'transparent'
    swatches: ['rgba(255,255,255,1)', 'rgba(0,0,0,1)', 'rgba(255,255,255,0)']
    change: (value) ->
      $form.trigger 'submit.rails'
    changeDelay: 500
