= tab_set 'section-settings' do
  = nav_tab 'section-layout', t('.layout'), default: true
  = nav_tab 'section-color', t('.color')

.tab-content
  = tab_pane 'section-layout', default: true do
    = render partial: 'admin/sections/panels/layout', object: section, as: :section
  = tab_pane 'section-color' do
    = render partial: 'admin/sections/panels/color', object: section, as: :section
