- if values.any?
  %li
    = property.name
    - if selected
      %span.badge= selected.size

    %ul.nav
      - values.each do |value|
        %li
          .checkbox
            %label
              = check_box_tag "product_search[#{param}][]", value, selected.present? && selected.include?(value), id: nil
              = value
              = property.measurement_unit
