- if (value_set = values.reject(&:blank?)).any?
  %li
    .title
      = property.name
      - if selected
        %span.badge= selected.size

    .btn-group-vertical{data: {toggle: 'buttons'}}
      - value_set.each do |value|
        - active = selected.present? && selected.include?(value)
        %label.btn.btn-default.btn-xs{class: active && 'active'}
          = check_box_tag "product_search[#{param}][]", value, active, id: nil
          = value
          = property.measurement_unit
