- if product.orderable?(default_inventory, nil)
  = form_tag order_product_path(product), method: :post, remote: true, class: 'form-inline buy-now-form' do
    = hidden_field_tag :amount, 1
    %button.btn.btn-success.btn-sm{type: 'submit'}= icon('cart-plus')
- else
  %p.text-danger
    = icon('exclamation-circle')
    = col(Product, :out_of_stock)
