%ul.nav.navbar-nav
  = active_link_to icon('cubes', title(Store)),
      store_path, wrap_tag: :li
  - if current_user.can?(:has_dashboard)
    = active_link_to icon('tachometer', t('admin.dashboard.title')),
        admin_dashboard_path, wrap_tag: :li
  - if current_user.can_read?(Order)
    = active_link_to icon('truck', title(Order, count: 2)),
        admin_orders_path, wrap_tag: :li
  %p.navbar-text
    %span.label.label-warning= Rails.env if Rails.env == 'development'
%ul.nav.navbar-nav.navbar-right
  %li.dropdown
    %a.dropdown-toggle{href: '#', role: 'button', 'aria-expanded' => 'false', data: {toggle: 'dropdown'}}
      = icon('cog', t('admin.manage'))
      %span.caret
    %ul.dropdown-menu{role: 'menu'}
      - if current_user.can_read?(Product)
        = active_link_to icon('cube', title(Product, count: 2), class: 'fa-fw'),
            admin_products_path, wrap_tag: :li
      - if current_user.can_read?(Category)
        = active_link_to icon('sitemap', title(Category, count: 2), class: 'fa-fw'),
            admin_categories_path, wrap_tag: :li
      - if current_user.can_read?(Promotion)
        = active_link_to icon('tag', title(Promotion, count: 2), class: 'fa-fw'),
            admin_promotions_path, wrap_tag: :li
      - if current_user.can_read?(CustomAttribute)
        = active_link_to icon('sliders', title(CustomAttribute, count: 2), class: 'fa-fw'),
            admin_custom_attributes_path, wrap_tag: :li
      - if current_user.can_read?(Page)
        = active_link_to icon('files-o', title(Page, count: 2), class: 'fa-fw'),
            admin_pages_path, wrap_tag: :li
      - if current_user.can_read?(User)
        = active_link_to icon('users', title(User, count: 2), class: 'fa-fw'),
            admin_users_path, wrap_tag: :li
      - if current_user.can_read?(Store)
        = active_link_to icon('cubes', title(Store, count: 2), class: 'fa-fw'),
            admin_stores_path, wrap_tag: :li
