.container
  .row
    .col-xs-8.col-sm-4
      .media
        .media-left.logo= image_tag('spry-logo.svg')
        .media-body
          %p.lead= t('footer.heading')
          = t('footer.body_html')
    .col-xs-4.col-sm-2.col-sm-push-6
      - if current_store.brand_image.present?
        .media
          .media-body
          .media-right.logo= image_tag(current_store.brand_image)
    .col-xs-12.col-sm-6.col-sm-pull-2
      %ul.nav
        = render partial: 'shared/page_link', collection: @pages, as: :page, locals: {subnav: 'nav'}
