.content
  .row
    .col-xs-8.col-sm-4
      .media
        .media-left.logo= image_tag('stellar-vertical.svg', style: 'height: 90px')
        .media-body
          %p.lead= t('footer.heading')
          = t('footer.body_html')
    .col-xs-4.col-sm-2.col-sm-push-6
      - if current_store.try(:brand_image).present?
        .media
          .media-body
          .media-right.logo= image_tag(current_store.brand_image, style: 'width: 90px')
    .col-xs-12.col-sm-6.col-sm-pull-2
      %ul.nav
        = render partial: @pages.footer.first.children, locals: {dropdown: false}
