%li.lg
  %a{data: {toggle: 'collapse', target: '#navbar-lookup'}, tabindex: 0, role: 'button'}
    = icon('search', id: 'lookup-open')
    = icon('search-minus', id: 'lookup-close', style: 'display: none;')
- if user_signed_in? && can_shop?
  %li.lg
    = link_to cart_path do
      = icon('shopping-cart')
      = render partial: 'store/cart_badge'
