%li.lg
  %a{data: {toggle: 'collapse', target: '#navbar-lookup'}, tabindex: 0, role: 'button'}
    = icon('search', id: 'lookup-open')
    = icon('search-minus', id: 'lookup-close', style: 'display: none;')
- if user_signed_in?
  %li.lg
    - if can_select_customer?
      = link_to cart_path do
        - if shopping_cart.targeted?
          = icon('inbox', selected_customer.name.split.first)
        - else
          = icon('shopping-cart')
        = render partial: 'store/cart_badge'
    - elsif can_order?
      = link_to cart_path do
        = icon('shopping-cart')
        = render partial: 'store/cart_badge'
