%ul#side-nav-menu.nav.navmenu-nav.metismenu
  = render partial: store_header.children.visible(current_group), locals: {navmenu: true}

  %li.divider

  - if user_signed_in? && !guest?
    %li
      %a.has-arrow{href: '#', role: 'button'}
        = bootstrap_label(current_group, icon: 'user', text: '')
        = current_user.name
      %ul.nav.navmenu-nav
        - if can_manage?
          = render partial: 'shared/admin_menu'
        = render partial: 'shared/user_menu'
  - else
    = menu_item 'sign-in', t('devise.sessions.new.sign_in'), new_user_session_path

  - if store_footer.present? && store_footer.children_count > 0
    %li.divider
    = render partial: store_footer.children.visible(current_group), locals: {navmenu: true}
