%ul.nav.navmenu-nav
  = render partial: @header.children.live, locals: {navmenu: true}

- if user_signed_in? && !guest?
  .navmenu-title
    = bootstrap_label(current_group, icon: 'user', text: '')
    = current_user.name
  %ul.nav.navmenu-nav
    - if can_manage?
      = render partial: 'shared/admin_menu'
    - if group_delegate?
      = render partial: 'shared/group_menu'
    = render partial: 'shared/user_menu'
- else
  .navmenu-title
  %ul.nav.navmenu-nav
    = menu_item 'sign-in', t('devise.sessions.new.sign_in'), new_user_session_path

- if @footer.present? && @footer.children_count > 0
  .navmenu-title
  %ul.nav.navmenu-nav
    = render partial: @footer.children.live, locals: {navmenu: true}
