%ul.nav.navmenu-nav
  = render partial: @header.children.live, locals: {navmenu: true}

- if user_signed_in? && !current_user.guest?
  .navmenu-title
    %span.label{class: "label-#{current_user.appearance}"}= icon('user')
    = current_user.name
  %ul.nav.navmenu-nav
    = render partial: 'shared/user_menu'
    - if can_manage?
      = menu_item 'wrench', t('admin.manage'), admin_dashboard_path
- else
  .navmenu-title
  %ul.nav.navmenu-nav
    = menu_item 'sign-in', t('devise.sessions.new.sign_in'), new_user_session_path

- if @footer.present? && @footer.children_count > 0
  .navmenu-title
  %ul.nav.navmenu-nav
    = render partial: @footer.children.live, locals: {navmenu: true}
