#inventory-entry-form
  = form_for [:admin, @inventory_item, @inventory_item.inventory_entries.build(recorded_at: Date.today)], remote: true do |f|
    .table-responsive
      %table.table.table-loose
        %tbody
          %tr
            %td.col-min
            %td.col-xs-2
              = f.text_field :recorded_at, class: 'form-control', data: {provide: 'datepicker', 'date-format': 'yyyy-mm-dd', 'date-language': I18n.locale}
            %td
              = f.text_field :note, class: 'form-control'
            %td.col-xs-1
              = f.number_field :on_hand, value: 0, class: 'form-control text-right'
              = f.hidden_field :reserved, value: 0
              = f.hidden_field :pending, value: 0
            %td.col-xs-2.actions
              .input-group
                = f.text_field :value, value: @inventory_item.product.trade_price, placeholder: col(InventoryEntry, :value), class: 'form-control text-right'
                %span.input-group-btn
                  = f.button t('.submit'), class: 'btn btn-primary' do
                    = icon('check')
