- cache [selected_group, I18n.locale, :department_product_card, product] do
  %li.grid-item.single[product]
    = link_to show_product_url(product, host: product.store.hostname_at(current_store).fqdn) do
      .product-image= picture_variant_tag product.cover_picture, :postcard
      .product-text
        %h3
          = product.title
          %span.small= product.subtitle
        .description= product.description
      .promotions
        - product.live_promoted_items(selected_group).each do |item|
          .promotion= item.description
    .buy-now
      %p.price.currency
        - if product.has_variants?
          = price_range *pricing.range_for_display(product)
        - else
          = price_tag *pricing.for_display(product)
      .store-link
        = link_to root_url(host: product.store.hostname_at(current_store).fqdn), class: 'btn btn-sm' do
          = product.store
