- cache_if guest?, [I18n.locale, :department_product_card, product] do
  = content_tag_for :li, product, class: "masonry-item single" do
    = link_to show_product_url(product, host: product.store.hostname_at(current_store).fqdn) do
      .product-image= image_variant_tag product.cover_image, :postcard
      .product-text
        %h3
          = product.title
          %span.small= product.subtitle
        .description= product.description.html_safe
      .promotions
        - product.active_promoted_items(current_group).each do |item|
          .promotion= item.description
      .product-pricing
        - if product.has_variants?
          = price_range *pricing.range_for_display(product)
        - else
          = price_tag *pricing.for_display(product)
        %p.store
          = product.store
