- cache [selected_group, I18n.locale, :department_product, product] do
  %li.grid-item.single[product]
    = link_to product_url(product) do
      = render partial: 'products/card/card_image', object: product, as: :product
      = render partial: 'products/card/full_text', object: product, as: :product
    .buy-now
      = render partial: 'products/card/pricing', object: product, as: :product
      .store-link
        = link_to root_url(host: product.store.hostname_at(current_store).to_s), class: 'btn btn-sm' do
          = product.store
