.product-card
  = link_to current_store.portal? ? show_product_url(product, host: product.store.hostname_at(current_store).fqdn) : show_product_path(product) do
    .product-image= picture_variant_tag product.cover_picture(product.store.card_image_type), :presentational
    .product-text
      %h3
        = product.title
        %span.small= product.subtitle
    .promotions
      - product.live_promoted_items(selected_group).each do |item|
        .promotion= item.description
  .buy-now
    %p.price.currency
      - if product.has_variants?
        = price_range *pricing.range_for_display(product)
      - else
        = price_tag *pricing.for_display(product)
    .store-link
      = link_to root_url(host: product.store.hostname_at(current_store).fqdn), class: 'btn btn-sm' do
        = product.store
