= bootstrap_form_for [:admin, @store] do |f|
  = tab_set 'store-main', class: 'panel-tabs' do
    = nav_tab 'store-admin', col(Store, :admin), default: true
    = nav_tab 'store-appearance', col(Store, :appearance)
    = nav_tab 'store-apis', col(Store, :apis)
    = nav_tab 'store-files', col(Store, :files)
    - if current_user_has_role?(:superuser)
      = nav_tab 'store-superuser', col(Store, :superuser)
    - if @store.new_record?
      = nav_tab 'store-new-tax-category', col(Store, :new_tax_category)

  .panel.panel-default.tabbed-panel
    .panel-body
      .tab-content
        = tab_pane 'store-admin', default: true do
          %fieldset{disabled: locked}
            = f.form_group do
              = f.check_box :portal
            = f.form_group do
              = f.check_box :admit_guests
            %hr
            = f.text_field :name, required: true
            .row
              .col-md-6
                = f.select :locale, Store.locale_options, {}, {class: 'selectize'}
              .col-md-6
                = f.select :country_code, Store.country_options, {}, {class: 'selectize'}
            - unless @store.new_record?
              %hr
              = f.select :quotation_template_id, @store.template_options, {include_blank: blank}, {class: 'selectize'}
        = tab_pane 'store-appearance' do
          %fieldset{disabled: locked}
            .row
              .col-md-6
                = f.form_group do
                  = f.check_box :detach_menu
              - unless locked || @store.new_record?
                .col-md-6
                  .pull-right
                    = link_to edit_admin_store_style_path(@store), class: 'btn btn-default', remote: true do
                      = icon('paint-brush', t('.edit_style'))
            = f.select :theme, Store.theme_options, {}, {class: 'selectize'}
            %hr
            = f.select :footer_page_id, @store.pages.primary.map { |p| [p.to_option, p.id] }, {include_blank: t('.default_footer')}, {class: 'selectize'}
        = tab_pane 'store-apis' do
          %fieldset{disabled: locked}
            = f.form_group do
              = f.check_box :disable_mail
            = f.form_group do
              = f.check_box :disable_shipment_transfers
            %hr
            .row
              .col-md-6
                = f.text_field :tracking_code
              .col-md-6
                = f.text_field :maps_api_key
            = f.text_field :shipping_origin
            %hr
            .row
              .col-md-6
                = f.text_field :facebook_access_token
              .col-md-6
                = f.text_field :facebook_pixel_id
            %hr
            = f.text_field :tawkto_site_id
          %fieldset{disabled: locked}
            %legend= PaymentGateway::Paybyway.model_name.human
            .row
              .col-md-6
                = f.text_field :pbw_api_key
              .col-md-6
                = f.text_field :pbw_private_key
        = tab_pane 'store-files' do
          %fieldset{disabled: locked}
            %legend= col(Store, :product_csv)
            = f.text_field :csv_encoding
            .row
              .col-md-6
                = f.text_field :csv_product_code
              .col-md-6
                = f.text_field :csv_trade_price
            .row
              .col-md-6
                = f.text_field :csv_retail_price
              .col-md-6
                = f.text_field :csv_inventory_amount
          %fieldset{disabled: locked}
            %legend= col(Store, :order_xml)
            = f.text_field :order_xml_path
        - if current_user_has_role?(:superuser)
          = tab_pane 'store-superuser' do
            %fieldset{disabled: locked}
              = f.text_field :vat_number
              .row
                .col-md-6
                  = f.number_field :erp_number
                - unless @store.new_record?
                  .col-md-6
                    = f.text_field :slug, readonly: true, help: t('.slug_help_html')
              = f.text_field :order_sequence, help: t('.order_sequence_help_html')
        - if @store.new_record?
          = tab_pane 'store-new-tax-category' do
            = f.fields_for :tax_categories do |ff|
              %fieldset{disabled: locked}
                = ff.text_field :name, required: true
                = ff.text_field :rate, append: '%', class: 'text-right', required: true
                = ff.form_group do
                  = ff.check_box :included_in_retail

      - unless locked
        %fieldset.actions.fixed
          .container
            = f.primary

:coffee
  persist_tabs 'store-main'
