= bootstrap_form_for [:admin, @store], layout: :horizontal,
    label_col: 'col-sm-4', control_col: 'col-sm-8' do |f|
  %ul.nav.nav-tabs.panel-tabs{role: 'tablist'}
    %li.active{role: 'presentation'}
      %a{href: '#tab-store-admin', role: 'tab', data: {toggle: 'tab'}}
        = col(Store, :admin)
    %li{role: 'presentation'}
      %a{href: '#tab-store-upload', role: 'tab', data: {toggle: 'tab'}}
        = col(Store, :upload)
    - if current_user.has_cached_role?(:superuser)
      %li{role: 'presentation'}
        %a{href: '#tab-store-superuser', role: 'tab', data: {toggle: 'tab'}}
          = col(Store, :superuser)
    - if @store.new_record?
      %li{role: 'presentation'}
        %a{href: '#tab-store-new-user', role: 'tab', data: {toggle: 'tab'}}
          = col(Store, :new_user)
      %li{role: 'presentation'}
        %a{href: '#tab-store-new-tax-category', role: 'tab', data: {toggle: 'tab'}}
          = col(Store, :new_tax_category)

  .panel.panel-default.tabbed-panel
    .panel-body
      .tab-content
        #tab-store-admin.tab-pane.fade.in.active
          %fieldset{disabled: locked}
            = f.text_field :name, required: true
            = f.select :locale, Store.locale_options, {}, {class: 'selectize'}
            = f.select :country_code, Store.country_options, {}, {class: 'selectize'}
            = f.form_group do
              = f.check_box :admit_guests
            = f.form_group do
              = f.check_box :allow_shopping
            = f.form_group do
              = f.check_box :accept_credit_cards
            = f.text_field :tracking_code
            = f.text_field :facebook_pixel_id
            = f.text_field :tawkto_site_id
            = f.select :manufacturer_template_id, @store.template_options, {include_blank: blank}, {class: 'selectize'}
            = f.select :reseller_template_id, @store.template_options, {include_blank: blank}, {class: 'selectize'}
            = f.select :quotation_template_id, @store.template_options, {include_blank: blank}, {class: 'selectize'}
        #tab-store-upload.tab-pane.fade
          %fieldset{disabled: locked}
            = f.text_field :csv_encoding
            = f.text_field :csv_product_code
            = f.text_field :csv_retail_price
            = f.text_field :csv_inventory_amount
        - if current_user.has_cached_role?(:superuser)
          #tab-store-superuser.tab-pane.fade
            %fieldset{disabled: locked}
              = f.number_field :erp_number
              - unless @store.new_record?
                = f.text_field :slug, readonly: true, help: t('.slug_help_html')
              = f.text_field :order_sequence, help: t('.order_sequence_help_html')
              = f.select :theme, Store.theme_options, {}, {class: 'selectize'}
        - if @store.new_record?
          #tab-store-new-user.tab-pane.fade
            = f.fields_for :users do |ff|
              %fieldset{disabled: locked}
                = ff.hidden_field :group
                = ff.text_field :name, required: true
                = ff.text_field :email, required: true
                = ff.telephone_field :phone, required: true
                = ff.password_field :password, required: true
                = ff.password_field :password_confirmation, required: true
                = ff.select :role_ids, Role.all.map { |r| [r.to_s, r.id] }, {}, {multiple: true, class: 'selectize'}
          #tab-store-new-tax-category.tab-pane.fade
            = f.fields_for :tax_categories do |ff|
              %fieldset{disabled: locked}
                = ff.text_field :name, required: true
                = ff.text_field :rate, append: '%', class: 'text-right', required: true
                = ff.form_group do
                  = ff.check_box :included_in_retail

      - unless locked
        %fieldset.actions
          = f.form_group do
            = f.primary
