= bootstrap_form_for [:admin, @store], layout: :horizontal,
    label_col: 'col-sm-4', control_col: 'col-sm-8' do |f|
  %ul.nav.nav-tabs{role: 'tablist'}
    %li.active{role: 'presentation'}
      %a{href: '#tab-store', role: 'tab', data: {toggle: 'tab'}}
        = title(Store)
    %li{role: 'presentation'}
      %a{href: '#tab-settings', role: 'tab', data: {toggle: 'tab'}}
        = col(Store, :settings)

  %fieldset.tab-content{disabled: locked}
    #tab-store.tab-pane.active{role: 'tabpanel'}
      = f.text_field :name
      = f.select :contact_person_id,
          User.by_role(:contact_person).map { |u| [u.to_s, u.id] },
          {}, {class: 'selectize'}
      = f.text_field :host, prepend: 'http://'
      = f.text_field :erp_number
      = f.text_field :slug, readonly: true, help: t('.slug_help_html')

    #tab-settings.tab-pane{role: 'tabpanel'}
      = f.select :theme,
          %w{cards default emek hiustalo lepola nineties saarimedia},
          {}, {class: 'selectize'}
      = f.select :locale, [['English', 'en'], ['suomi', 'fi']],
          {}, {class: 'selectize'}
      = f.form_group do
        = f.check_box :allow_shopping
      = f.form_group do
        = f.check_box :admit_guests
      = f.select :shipping_cost_product_id,
          @store.products.virtual.map { |p| [p.to_s, p.id] },
          {include_blank: true}, {class: 'selectize'}
      = f.text_field :free_shipping_at
      = f.select :inventory_ids,
          Inventory.all.map { |i| [i.to_s, i.id] },
          {include_blank: true}, {multiple: true, class: 'selectize'}

  - unless locked
    = f.form_group do
      = f.primary
