= bootstrap_form_for [:admin, @store], layout: :horizontal,
    label_col: 'col-sm-4', control_col: 'col-sm-8' do |f|
  .panel.panel-default
    .panel-body
      %fieldset{disabled: locked}
        = f.text_field :name, required: true
        - if current_user.has_cached_role?(:superuser)
          = f.text_field :host, required: true, prepend: 'http://'
          = f.number_field :erp_number
          = f.text_field :slug, readonly: true, help: t('.slug_help_html')
        - if current_user.has_cached_role?(:superuser)
          = f.select :theme, %w{cards compass default emek hiustalo lepola nineties penumbra saarimedia}, {}, {class: 'selectize'}
        = f.select :locale, Store.locale_options, {}, {class: 'selectize'}
        = f.form_group do
          = f.check_box :allow_shopping
        = f.form_group do
          = f.check_box :admit_guests
        = f.select :shipping_cost_product_id,
            @store.products.virtual.map { |p| [p.to_s, p.id] },
            {include_blank: true}, {class: 'selectize'}
        = f.text_field :free_shipping_at
        = f.text_field :tracking_code
        - if current_user.has_cached_role?(:superuser)
          = f.select :inventory_ids, Inventory.all.map { |i| [i.to_s, i.id] }, {include_blank: true}, {multiple: true, class: 'selectize'}
      - unless locked
        = f.form_group do
          = f.primary
