= bootstrap_form_for [:admin, @store], layout: :horizontal,
    label_col: 'col-sm-4', control_col: 'col-sm-8' do |f|
  .panel.panel-default
    .panel-body
      = f.select :contact_person_id,
          User.by_role(:store_manager).map { |u| [u.name, u.id] },
          {help: t('.contact_person_help_html')}, {class: 'selectize'}
      = f.text_field :erp_number
      = f.text_field :name
      = f.text_field :slug, readonly: true, help: t('.slug_help_html')
      = f.text_field :host, prepend: 'http://'
      = f.text_field :theme
      = f.select :locale, [['English', 'en'], ['suomi', 'fi']],
          {}, {class: 'selectize'}
      = f.form_group do
        = f.check_box :admit_guests
      = f.select :shipping_cost_product_id,
          @store.products.uncategorized.map { |p| [p.to_s, p.id] },
          {}, {class: 'selectize'}
      = f.text_field :free_shipping_at

      = f.form_group do
        = f.primary
