= bootstrap_form_for [:admin, @store], layout: :horizontal,
    label_col: 'col-sm-4', control_col: 'col-sm-8' do |f|
  %ul.nav.nav-tabs.panel-tabs{role: 'tablist'}
    = nav_tab 'store-admin', col(Store, :admin), class: 'active'
    = nav_tab 'store-files', col(Store, :files)
    - if current_user_has_role?(:superuser)
      = nav_tab 'store-superuser', col(Store, :superuser)
    - if @store.new_record?
      = nav_tab 'store-new-tax-category', col(Store, :new_tax_category)

  .panel.panel-default.tabbed-panel
    .panel-body
      .tab-content
        = tab_pane 'store-admin', class: 'in active' do
          %fieldset{disabled: locked}
            = f.form_group do
              = f.check_box :portal
            = f.text_field :name, required: true
            = f.select :locale, Store.locale_options, {}, {class: 'selectize'}
            = f.select :country_code, Store.country_options, {}, {class: 'selectize'}
            = f.form_group do
              = f.check_box :admit_guests
            = f.form_group do
              = f.check_box :allow_shopping
            = f.form_group do
              = f.check_box :accept_credit_cards
            = f.text_field :tracking_code
            = f.text_field :maps_api_key
            = f.text_field :facebook_pixel_id
            = f.text_field :tawkto_site_id
            = f.select :manufacturer_template_id, @store.template_options, {include_blank: blank}, {class: 'selectize'}
            = f.select :reseller_template_id, @store.template_options, {include_blank: blank}, {class: 'selectize'}
            = f.select :quotation_template_id, @store.template_options, {include_blank: blank}, {class: 'selectize'}
        = tab_pane 'store-files' do
          %fieldset{disabled: locked}
            %legend= col(Store, :product_csv)
            = f.text_field :csv_encoding
            = f.text_field :csv_product_code
            = f.text_field :csv_retail_price
            = f.text_field :csv_inventory_amount
          %fieldset{disabled: locked}
            %legend= col(Store, :order_xml)
            = f.text_field :order_xml_path
        - if current_user_has_role?(:superuser)
          = tab_pane 'store-superuser' do
            %fieldset{disabled: locked}
              = f.number_field :erp_number
              - unless @store.new_record?
                = f.text_field :slug, readonly: true, help: t('.slug_help_html')
              = f.text_field :order_sequence, help: t('.order_sequence_help_html')
              = f.select :theme, Store.theme_options, {}, {class: 'selectize'}
              = f.form_group do
                = f.check_box :detach_menu
        - if @store.new_record?
          = tab_pane 'store-new-tax-category' do
            = f.fields_for :tax_categories do |ff|
              %fieldset{disabled: locked}
                = ff.text_field :name, required: true
                = ff.text_field :rate, append: '%', class: 'text-right', required: true
                = ff.form_group do
                  = ff.check_box :included_in_retail

      - unless locked
        %fieldset.actions
          = f.form_group do
            = f.primary
