.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th.col-min
        %th.col-xs-3= col(Store, :name)
        %th= col(Store, :network)
        %th.actions

    %tbody
      - @stores.each do |store|
        = content_tag_for :tr, store, class: store.portal? && 'info text-info' do
          %td= picture_variant_tag store.cover_picture, :icon
          %td= store.name
          %td
            - store.store_portals.each do |portal|
              = bootstrap_label(portal)
            - store.member_stores.each do |member|
              = bootstrap_label(member, appearance: :primary)
          %td.actions
            - if current_store != store && store.hostnames.any?
              = link_to icon('bookmark', t('actions.select')), admin_stores_url(host: (store.hostname_at(current_store) || store.primary_host).to_s), class: 'btn btn-default btn-sm'
            = link_to icon('info', t('actions.show')), admin_store_path(store), class: 'btn btn-default btn-sm'
            - if current_user.can_update?(store, at: current_store)
              = link_to icon('edit', t('actions.edit')), edit_admin_store_path(store), class: 'btn btn-default btn-sm'
