.page-header
  - if current_user.can_read?(Store, at: current_store)
    = link_to admin_stores_path, class: 'btn btn-default' do
      = icon('chevron-circle-left', t('actions.back'))
  = link_to admin_store_path(@store), class: 'btn btn-primary' do
    = icon('info-circle', t('actions.show'))
  %h1
    = image_variant_tag @store.cover_image
    = @store

.row
  .col-md-7
    = render partial: 'form', locals: {locked: false}

  .col-md-5
    = tab_set 'store-side', class: 'nav-justified nav-sm' do
      = nav_tab 'hostnames', col(Store, :hostnames), default: true
      = nav_tab 'images', col(Store, :images)

    .tab-content
      = tab_pane 'hostnames', default: true do
        = render partial: 'admin/hostnames/edit_table', object: @store, as: :store
      = tab_pane 'images' do
        = render partial: 'admin/images/edit_collection', object: @store, as: :imageable
        = render partial: 'admin/images/dropzone', object: @store, as: :imageable

:coffee
  persist_tabs 'store-side'
