.page-header
  - if current_user.can_create?(Store)
    = link_to new_admin_store_path, class: 'btn btn-primary' do
      = icon('plus', t('.new_store'))
  %h1= icon('cubes', title(Store, count: 2))

.table-responsive
  %table.table.table-striped.table-hover.table-loose
    %thead
      %tr
        %th.col-xs-1
        %th= col(Store, :name)
        %th= col(Store, :erp_number)
        %th= col(Store, :slug)
        %th.actions

    %tbody
      - @stores.each do |store|
        %tr
          %td= image_variant_tag store.cover_image
          %td= store.name
          %td= store.erp_number
          %td= store.slug
          %td.actions
            - if current_store != store
              = link_to icon('bookmark', t('actions.select')),
                  {host: store.host},
                  class: 'btn btn-default btn-sm'
            = link_to icon('info', t('actions.show')), admin_store_path(store),
                class: 'btn btn-default btn-sm'
            - if current_user.can_update?(Store)
              = link_to icon('edit', t('actions.edit')), edit_admin_store_path(store),
                  class: 'btn btn-default btn-sm'
