.page-header
  - if current_user.can_create?(Store)
    = link_to new_admin_store_path, class: 'btn btn-primary' do
      = icon('plus', 'New Store')
  %h1= icon('cubes', 'Stores')

.table-responsive
  %table.table.table-striped.table-hover.table-loose
    %thead
      %tr
        %th.col-xs-1
        %th Name
        %th ERP number
        %th Semantic name
        %th.hidden-print

    %tbody
      - @stores.each do |store|
        %tr
          %td= image_variant_tag(store.cover_image)
          %td= store.name
          %td= store.erp_number
          %td= store.slug
          %td.hidden-print.text-right
            - if current_store != store
              = link_to icon('bookmark', 'Select'),
                  admin_stores_path(store_id: store),
                  class: 'btn btn-default btn-sm'
            = link_to icon('cubes', 'View'),
                store_path(store_id: store), class: 'btn btn-default btn-sm'
            = link_to icon('info', 'Show'), admin_store_path(store),
                class: 'btn btn-default btn-sm'
            - if current_user.can_update?(Store)
              = link_to icon('edit', 'Edit'), edit_admin_store_path(store),
                  class: 'btn btn-default btn-sm'
