.page-header
  - if current_user.can_read?(Store)
    = link_to admin_stores_path, class: 'btn btn-default' do
      = icon('chevron-circle-left', t('actions.back'))
  - if current_user.can_update?(@store)
    = link_to edit_admin_store_path(@store), class: 'btn btn-primary' do
      = icon('pencil-square', t('actions.edit'))
  %h1
    = image_variant_tag @store.cover_image
    = @store

.panel.panel-default
  .panel-body
    .fr-view
      = @store.letterhead.html_safe

.row
  .col-md-6
    = render partial: 'form', locals: {locked: true}

  .col-md-6
    = render partial: 'admin/images/table', object: @store, as: :imageable
