.page-header
  - if current_user.can_read?(Store, at: current_store)
    = link_to admin_stores_path, class: 'btn btn-default' do
      = icon('chevron-circle-left', t('actions.back'))
  - if current_user.can_update?(@store, at: current_store)
    = link_to edit_admin_store_path(@store), class: 'btn btn-primary' do
      = icon('pencil-square', t('actions.edit'))
  %h1
    = image_variant_tag @store.cover_image
    = @store

.row
  .col-md-6
    = render partial: 'form', locals: {locked: true}

  .col-md-6
    %ul.nav.nav-tabs.nav-justified.nav-sm{role: 'tablist'}
      = nav_tab 'hostnames', col(Store, :hostnames), class: 'active'
      = nav_tab 'images', col(Store, :images)

    .tab-content
      = tab_pane 'hostnames', class: 'in active' do
        = render partial: 'admin/hostnames/table', object: @store, as: :store
      = tab_pane 'images' do
        = render partial: 'admin/images/collection', object: @store, as: :imageable
