.page-header
  = link_to admin_stores_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  - if current_user.can_update?(Store)
    = link_to edit_admin_store_path(@store), class: 'btn btn-primary' do
      = icon('pencil-square', t('actions.edit'))
  %h1
    = image_variant_tag(@store.cover_image)
    = @store

.row
  .col-md-6
    %ul.nav.nav-tabs{role: 'tablist'}
      %li.active{role: 'presentation'}
        %a{href: '#tab-store', role: 'tab', data: {toggle: 'tab'}}
          = title(Store)
      %li{role: 'presentation'}
        %a{href: '#tab-settings', role: 'tab', data: {toggle: 'tab'}}
          = col(Store, :settings)

    .tab-content.form-horizontal
      #tab-store.tab-pane.active{role: 'tabpanel'}
        = static_control col(Store, :name),
            @store.name
        = static_control col(Store, :contact_person_id),
            @store.contact_person
        = static_control col(Store, :host),
            "http://#{@store.host}"
        = static_control col(Store, :erp_number),
            @store.erp_number
        = static_control col(Store, :slug),
            @store.slug

      #tab-settings.tab-pane{role: 'tabpanel'}
        = static_control col(Store, :theme),
            @store.theme
        = static_control col(Store, :locale),
            {'en' => 'English', 'fi' => 'suomi'}[@store.locale]
        = static_control col(Store, :admit_guests),
            @store.admit_guests? ? icon('check-square-o') : icon('square-o')
        = static_control col(Store, :shipping_cost_product_id),
            @store.shipping_cost_product
        = static_control col(Store, :free_shipping_at),
            @store.free_shipping_at.present? ? number_to_currency(@store.free_shipping_at, unit: '€') : ''

  .col-md-6
    = render partial: 'admin/images/table', object: @store, as: :imageable
