.page-header
  = link_to admin_stores_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  - if current_user.can_update?(Store)
    = link_to edit_admin_store_path(@store), class: 'btn btn-primary' do
      = icon('pencil-square', t('actions.edit'))
  %h1
    = image_variant_tag(@store.cover_image)
    = @store

.row
  .col-md-6
    .panel.panel-default
      .panel-body.form-horizontal
        = static_control col(Store, :contact_person_id),
            @store.contact_person
        = static_control col(Store, :erp_number),
            @store.erp_number
        = static_control col(Store, :name),
            @store.name
        = static_control col(Store, :slug),
            @store.slug
        = static_control col(Store, :host),
            "http://#{@store.host}"
        = static_control col(Store, :theme),
            @store.theme
        = static_control col(Store, :locale),
            {'en' => 'English', 'fi' => 'suomi'}[@store.locale]

  .col-md-6
    = render partial: 'admin/images/table', object: @store, as: :imageable
