.page-header
  = link_to admin_stores_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  - if current_user.can_update?(Store)
    = link_to edit_admin_store_path(@store), class: 'btn btn-primary' do
      = icon('pencil-square', t('actions.edit'))
  %h1
    = image_variant_tag(@store.cover_image)
    = @store

.row
  .col-md-6
    .panel.panel-default
      .panel-body.form-horizontal
        .form-group
          %label.col-sm-4.control-label
            = col(Store, :contact_person_id)
          .col-sm-8
            %p.form-control-static= @store.contact_person.name
        .form-group
          %label.col-sm-4.control-label
            = col(Store, :erp_number)
          .col-sm-8
            %p.form-control-static= @store.erp_number
        .form-group
          %label.col-sm-4.control-label
            = col(Store, :name)
          .col-sm-8
            %p.form-control-static= @store.name
        .form-group
          %label.col-sm-4.control-label
            = col(Store, :slug)
          .col-sm-8
            %p.form-control-static= @store.slug
        .form-group
          %label.col-sm-4.control-label
            = col(Store, :host)
          .col-sm-8
            %p.form-control-static= "http://#{@store.host}"
        .form-group
          %label.col-sm-4.control-label
            = col(Store, :theme)
          .col-sm-8
            %p.form-control-static= @store.theme

  .col-md-6
    = render partial: 'admin/images/table', object: @store, as: :imageable
