.page-header
  - if current_user.can_read?(Store, at: current_store)
    = link_to admin_stores_path, class: 'btn btn-default' do
      = icon('chevron-circle-left', t('actions.back'))
  - if current_user.can_update?(@store, at: current_store)
    = link_to edit_admin_store_path(@store), class: 'btn btn-primary' do
      = icon('pencil-square', t('actions.edit'))
  %h1
    = picture_variant_tag @store.cover_picture
    = @store

.row
  .col-md-6
    = render partial: 'form', locals: {locked: true}

  .col-md-6
    = tab_set 'store-side', class: 'nav-justified nav-sm' do
      = nav_tab 'hostnames', col(Store, :hostnames), default: true
      = nav_tab 'images', col(Store, :images)

    .tab-content
      = tab_pane 'hostnames', default: true do
        = render partial: 'admin/hostnames/table', object: @store, as: :store
      = tab_pane 'images' do
        = render partial: 'admin/pictures/collection', object: @store, as: :pictureable

:coffee
  persist_tabs 'store-side'
