= content_tag_for :tr, promoted_item do
  %td
    %strong
      = promoted_item.product.title
    = promoted_item.product.subtitle
  %td
    = form_for [:admin, promoted_item], remote: true, html: {class: 'immediate'} do |f|
      = f.text_field :amount_available, class: 'form-control input-sm text-right', tabindex: 1
  %td
    = form_for [:admin, promoted_item], remote: true, html: {class: 'immediate'} do |f|
      = f.text_field :price, placeholder: promoted_item.product.retail_price.to_s, tabindex: 2, class: 'form-control input-sm text-right'
  %td.actions
    = link_to icon('remove'), admin_promoted_item_path(promoted_item),
        remote: true, method: :delete, class: 'btn btn-sm btn-danger'
