#promoted-items-table.table-responsive
  %table.table.table-hover.table-loose
    %thead
      %tr
        %th= col(PromotedItem, :product_id)
        %th.hidden.text-right.col-xs-2= col(PromotedItem, :amount_available)
        - if promotion.editable_prices?
          %th.text-right.col-xs-2= col(PromotedItem, :discount_percent)
          %th.text-right.col-xs-2= col(PromotedItem, :price)
          %th= col(PromotedItem, :tax_category_id)
        %th.actions
    %tbody
      = render partial: 'admin/promoted_items/edit_row', collection: promotion.promoted_items, as: :promoted_item
