.page-header
  - if current_user.can_create?(Portal)
    = link_to new_admin_portal_path, class: 'btn btn-primary' do
      = icon('plus', t('.new_portal'))
  %h1= icon('globe', title(Portal, count: 2))

.table-responsive
  %table.table.table-striped.table-hover.table-loose
    %thead
      %tr
        %th.col-xs-1
        %th= col(Portal, :name)
        %th= col(Portal, :store_ids)
        %th= col(Portal, :department_ids)
        %th.actions
    %tbody
      = content_tag_for :tr, @portals do |portal|
        %td= image_variant_tag portal.cover_image
        %td= portal.name
        %td
          - portal.stores.each do |store|
            = image_variant_tag(store.cover_image, :icon, title: store, data: {toggle: 'tooltip'})
        %td
          - portal.departments.each do |department|
            %span.label.label-default= department
        %td.actions
          - if current_portal != portal && portal.hostnames.any?
            = link_to icon('bookmark', t('actions.select')), root_url(host: portal.hostnames.first.fqdn), class: 'btn btn-default btn-sm'
          = link_to icon('info', t('actions.show')), admin_portal_path(portal), class: 'btn btn-default btn-sm'
          - if current_user.can_update?(Portal)
            = link_to icon('edit', t('actions.edit')), edit_admin_portal_path(portal), class: 'btn btn-default btn-sm'
          - if current_user.can_delete?(Portal)
            = link_to icon('remove', t('actions.delete')), admin_portal_path(portal),
                method: :delete, class: 'btn btn-sm btn-danger',
                data: {confirm: t('actions.confirm.body',
                  klass: Portal.model_name.human, name: portal.name),
                  'confirm-title': t('actions.confirm.title'),
                  'confirm-proceed': t('actions.confirm.proceed'),
                  'confirm-cancel': t('actions.confirm.cancel')}
