.page-header
  = link_to admin_portals_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  - if current_user.can_update?(Portal)
    = link_to edit_admin_portal_path(@portal), class: 'btn btn-primary' do
      = icon('pencil-square', t('actions.edit'))
  %h1
    = image_variant_tag @portal.cover_image
    = @portal

.row
  .col-md-6
    = render partial: 'form', locals: {locked: true}

  .col-md-6
    %ul.nav.nav-tabs.nav-justified.nav-sm{role: 'tablist'}
      %li.active{role: 'presentation'}
        %a{href: '#tab-hostnames', role: 'tab', data: {toggle: 'tab'}}
          = col(Portal, :hostnames)
      %li{role: 'presentation'}
        %a{href: '#tab-images', role: 'tab', data: {toggle: 'tab'}}
          = col(Portal, :images)
    .tab-content
      #tab-hostnames.tab-pane.fade.in.active
        = render partial: 'admin/hostnames/table', object: @portal, as: :resource
      #tab-images.tab-pane.fade
        = render partial: 'admin/images/table', object: @portal, as: :imageable
