.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th= col(Payment, :created_at)
        %th= col(Payment, :number)
        %th.col-xs-2.text-right= col(Payment, :amount)
    %tbody
      - order.payments.each do |payment|
        %tr[payment]
          %td= l(payment.created_at, format: :iso)
          %td
            %code= payment.number
          %td.text-right.currency= money payment.amount
