.row
  .col-md-6
    .page-header
      %h1= icon('tags', title(Tag, count: 2))
    = render partial: 'admin/tags/list', object: @tags, as: :tags
  .col-md-6
    .quick-edit-panel
      .header
        - if current_user.can_create?(Tag, at: current_store)
          = link_to new_admin_tag_path, remote: true, class: 'btn btn-primary' do
            = icon('plus', t('.new_tag'))
      #tag-form
        = render partial: 'form'

:coffee
  $('.quick-edit-panel').stick_in_parent
    parent: $('#content-wrap')
    offset_top: 80
    bottoming: false
    spacer: false
    recalc_every: 50

  $('##{dom_id(@tag)}').addClass 'active'

  scroll = new SmoothScroll '#content-wrap', header: '#main-nav'
  scroll.animateScroll $('##{dom_id(@tag)}')[0], null, speed: 300
