.row.flex-row
  .col.col-md-6
    .page-header
      %h1= icon('tags', title(Tag, count: 2))
    = render partial: 'admin/tags/list', object: @tags, as: :tags
  .col.col-md-6
    .quick-edit-panel
      .header
        - if current_user.can_create?(Tag, at: current_store)
          = link_to new_admin_tag_path, remote: true, class: 'btn btn-primary' do
            = icon('plus', t('.new_tag'))
      #tag-form
        - if @tag.present?
          = render partial: 'edit'
          :coffee
            $('##{dom_id(@tag)}').addClass 'active'
            scroll = new SmoothScroll '#content-wrap', header: '#main-nav'
            scroll.animateScroll $('##{dom_id(@tag)}')[0], null, speed: 300

:coffee
  $('.quick-edit-panel').stick_in_parent
    offset_top: $('#main-nav').height()
    recalc_every: 500

  $(document).on 'pictureable:added pictureable:changed pictureable:removed pictureable:reordered', ->
    $('#tag-form').find('form.immediate').trigger 'submit.rails'
