- postcode, locations = @shipping_gateway.smartpost_lookup(@order.shipping_postalcode)

.thumbnail{style: 'position: relative; height: 0; padding-bottom: 61.8%; background-color: #eee;'}
  #map{style: 'position: absolute; left: 0; right: 0; top: 0; bottom: 0;'}

= form_tag ship_path(@order, @shipping_method), remote: true, id: 'smartpost-form' do
  .form-group
    .btn-group-vertical.center-block{data: {toggle: 'buttons'}}
      - locations.each do |loc|
        %label.btn.btn-default{style: 'text-align: left;'}
          = radio_button_tag 'metadata[pup_code]', loc['PupCode']
          %strong= loc['PublicName']
          = loc['Address']
          .small= loc['AdditionalInfo']
  .ship-button.collapse
    = button_tag t('checkout.ship'), class: 'btn btn-block btn-lg btn-primary'

:coffee
  postcode = #{postcode.to_json}
  locations = #{locations.to_json}

  $map = $('#map')[0]
  markers = {}
  map = new google.maps.Map $map,
    center: {lat: postcode.MapLatitude, lng: postcode.MapLongitude}
    zoom: 12
    mapTypeControl: false
    streetViewControl: false
  for loc in locations
    marker = new google.maps.Marker
      map: map
      position: {lat: loc.MapLatitude, lng: loc.MapLongitude}
      title: loc.PublicName + "\n" + loc.Address
      target: '#metadata_pup_code_' + loc.PupCode
    marker.activate = ->
      v.setAnimation null for k, v of markers
      map.panTo this.getPosition()
      this.setAnimation google.maps.Animation.BOUNCE
    marker.addListener 'click', ->
      this.activate()
      $(this.target).trigger 'click'
    markers['metadata_pup_code_' + loc.PupCode] = marker

  $('#smartpost-form').on 'change', (e) ->
    markers[e.target.id].activate()
    $('.ship-button').collapse 'show'
