.page-header
  = link_to admin_pricing_groups_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  = link_to admin_pricing_group_path(@pricing_group), class: 'btn btn-primary' do
    = icon('info-circle', t('actions.show'))
  %h1= icon('shopping-basket', @pricing_group)

.row
  .col-md-6
    = render partial: 'form', locals: {locked: false}
