= f.fields_for :customer do |ff|
  = ff.hidden_field :id
  = ff.text_field :email, required: true
  = ff.text_field :name, required: true
  = ff.telephone_field :phone, required: true
  %hr
  = ff.text_field :shipping_address
  .row
    .col-md-4
      = ff.text_field :shipping_postalcode
    .col-md-8
      = ff.text_field :shipping_city
  = ff.select :shipping_country_code, Store.country_options, {include_blank: true}
  %hr
  = ff.text_field :billing_address
  .row
    .col-md-4
      = ff.text_field :billing_postalcode
    .col-md-8
      = ff.text_field :billing_city
  = ff.select :billing_country_code, Store.country_options, {include_blank: true}

:coffee
  $('#order_customer_attributes_shipping_country_code').selectize()
  $('#order_customer_attributes_billing_country_code').selectize()
