= bootstrap_form_for order do |f|
  .col-lg-5
    .panel.panel-primary
      .panel-heading
        %h4.panel-title= t('.order_meta')
      .panel-body
        %fieldset#order-meta
          = f.select :billing_group_id, @groups.map { |g| [g.to_path, g.id, data: {appearance: g.appearance}.to_json] }
          = f.select :shipping_group_id, @groups.map { |g| [g.to_path, g.id, data: {appearance: g.appearance}.to_json] }
          %hr
          .row
            .col-md-6
              = f.select :order_type_id, @order.billing_group.outgoing_order_types.map { |o| [o.to_s, o.id] }
            .col-md-6
              = f.select :inventory_id, @order.billing_group.available_inventories.map { |i| [i.to_s, i.id] }
      .panel-footer.text-right
        = f.primary
  .col-lg-6.col-lg-offset-1
    .panel.panel-default
      .panel-heading
        %h4.panel-title= t('.customer')
      .panel-body
        %fieldset
          = f.text_field :customer_email, required: true
          = f.text_field :contact_email
        %fieldset
          = render partial: 'addresses/form_fields', locals: {type: :billing, f: f}
          = f.hidden_field :separate_shipping_address
        %fieldset
          = render partial: 'addresses/form_fields', locals: {type: :shipping, f: f}

:coffee
  refresh = (data) ->
    $.ajax
      url: '#{new_order_path}'
      type: 'GET'
      dataType: 'script'
      data: data

  $billing_group_select = $('#order_billing_group_id').betterSelectize
    labelField: 'title'
    dataAttr: 'data'
    render: $.fn.selectize.label_renderer
    onChange: (id) ->
      refresh $('#order_billing_group_id').serialize()

  $shipping_group_select = $('#order_shipping_group_id').betterSelectize
    labelField: 'title'
    dataAttr: 'data'
    render: $.fn.selectize.label_renderer
    onChange: (id) ->
      refresh $('#order-meta').serialize()

  $order_type_select = $('#order_order_type_id').betterSelectize()
  $inventory_select = $('#order_inventory_id').betterSelectize()
