.form-group
  = f.label :company_name, class: 'col-sm-4 control-label'
  .col-sm-8
    = f.text_field :company_name, class: 'form-control'
.form-group
  = f.label :contact_person, class: 'col-sm-4 control-label'
  .col-sm-8
    = f.text_field :contact_person, class: 'form-control'
.form-group
  = f.label :order_type_id, class: 'col-sm-4 control-label'
  .col-sm-8
    = f.select :order_type_id, current_store.order_type_options,
        {}, {class: 'select2 form-control', style: 'width: 100%'}
%fieldset#shipping-info.collapse{class: @order.needs_shipping_info? ? 'in' : ''}
  .form-group
    = f.label :shipping_at, class: 'col-sm-4 control-label'
    .col-sm-8
      = f.date_field :shipping_at, class: 'form-control',
          data: {provide: 'datepicker'}
  .form-group
    = f.label :billing_address, class: 'col-sm-4 control-label'
    .col-sm-8
      = f.text_area :billing_address, rows: 4, class: 'form-control'
  .form-group
    = f.label :shipping_address, class: 'col-sm-4 control-label'
    .col-sm-8
      = f.text_area :shipping_address, rows: 4, class: 'form-control'
.form-group
  = f.label :notes, class: 'col-sm-4 control-label'
  .col-sm-8
    = f.text_area :notes, rows: 4, class: 'form-control'

:coffee
  $('#order_order_type_id').on 'change', (e) ->
    console.log e
    if e.added.css == 'shipping'
      $('#shipping-info').addClass 'in'
    else
      $('#shipping-info').removeClass 'in'
