= bootstrap_form_for @order do |f|
  .panel.panel-default
    .panel-body
      %fieldset{disabled: locked}
        = f.email_field :customer_email
      - if @order.has_shipping?
        %fieldset.warning{disabled: locked}
          .row
            .col-md-6
              = f.text_field :shipping_at, data: {provide: 'datepicker', 'date-format': 'yyyy-mm-dd', 'date-language': I18n.locale}
            .col-md-6
              = f.text_field :installation_at, data: {provide: 'datepicker', 'date-format': 'yyyy-mm-dd', 'date-language': I18n.locale}
      %fieldset.info{disabled: locked}
        .row
          .col-md-6
            = f.text_field :vat_number
          .col-md-6
            = f.text_field :message
        .row
          .col-md-6
            = f.text_field :your_reference
          .col-md-6
            = f.text_field :our_reference
      %fieldset{disabled: locked}
        ~ f.text_area :notes, rows: 7
      %fieldset.actions
        - unless locked
          = f.form_group do
            = f.primary
