= bootstrap_form_for @order, layout: :horizontal,
    label_col: 'col-sm-4', control_col: 'col-sm-8' do |f|
  .panel.panel-default
    .panel-body
      %fieldset{disabled: locked}
        = f.text_field :customer_name
        = f.text_field :customer_email
        = f.telephone_field :customer_phone
        = f.text_field :company_name
        = f.text_field :contact_person
        = f.telephone_field :contact_phone
        - if @order.has_shipping?
          = f.date_field :shipping_at,
              data: {provide: 'datepicker', 'date-format' => 'yyyy-mm-dd', 'date-language' => I18n.locale}
          = f.text_field :shipping_address
          .form-group
            .col-sm-offset-4.col-sm-3
              = f.text_field_without_bootstrap :shipping_postalcode, class: 'form-control'
            .col-sm-5
              = f.text_field_without_bootstrap :shipping_city, class: 'form-control'
          = f.text_field :billing_address
          .form-group
            .col-sm-offset-4.col-sm-3
              = f.text_field_without_bootstrap :billing_postalcode, class: 'form-control'
            .col-sm-5
              = f.text_field_without_bootstrap :billing_city, class: 'form-control'
      %fieldset{disabled: locked}
        = f.text_area :notes, rows: 4
      - unless locked
        = f.form_group do
          = f.primary
