= bootstrap_form_for @order do |f|
  .panel.panel-default
    .panel-body
      %fieldset{disabled: locked}
        = f.text_field :customer_name
        = f.text_field :customer_email
        = f.telephone_field :customer_phone
      - if @order.has_shipping?
        %fieldset.warning{disabled: locked}
          .row
            .col-md-6
              = f.text_field :shipping_at, data: {provide: 'datepicker', 'date-start-date': @order.earliest_shipping_at, 'date-format': 'yyyy-mm-dd', 'date-language': I18n.locale}
            .col-md-6
              = f.text_field :installation_at, data: {provide: 'datepicker', 'date-start-date': @order.earliest_shipping_at, 'date-format': 'yyyy-mm-dd', 'date-language': I18n.locale}
      %fieldset.info{disabled: locked}
        .row
          .col-md-6
            = f.text_field :vat_number
          .col-md-6
            = f.text_field :message
        .row
          .col-md-6
            = f.text_field :your_reference
          .col-md-6
            = f.text_field :our_reference
      %fieldset{disabled: locked}
        = f.text_field :company_name
        = f.text_field :contact_person
        = f.text_field :contact_email
        = f.telephone_field :contact_phone
        - if @order.has_shipping?
          = f.text_field :shipping_address
          .row
            .col-md-4
              = f.text_field :shipping_postalcode
            .col-md-8
              = f.text_field :shipping_city
          = f.select :shipping_country_code, Store.country_options, {skip_label: true}, {required: true, class: 'selectize'}
          = f.text_field :billing_address
          .row
            .col-md-4
              = f.text_field :billing_postalcode
            .col-md-8
              = f.text_field :billing_city
          = f.select :billing_country_code, Store.country_options, {skip_label: true}, {required: true, class: 'selectize'}
      %fieldset{disabled: locked}
        ~ f.text_area :notes, rows: 7
      %fieldset.actions
        - unless locked
          = f.form_group do
            = f.primary
