- letterhead = order.destination.letterhead
- if letterhead.present?
  .visible-print
    = render partial: 'pages/content', object: letterhead, as: :page

.page-header
  %h1= t('checkout.receipt')

.row
  .col-xs-6
    %dl
      %dt= col(Order, :customer_email)
      %dd= order.customer_email
      - if order.store.b2b_sales?
        %dt= col(Order, :contact_email)
        %dd= order.contact_email
  .col-xs-6
    %dl
      %dt= col(Order, :completed_at)
      %dd= l(order.completed_at.to_date)
      - if order.store.b2b_sales?
        %dt= col(Order, :shipping_at)
        %dd= order.shipping_at.present? ? l(order.shipping_at) : nil
        - if order.has_installation?
          %dt= col(Order, :installation_at)
          %dd= order.installation_at.present? ? l(order.installation_at) : nil
.row
  .col-xs-6
    - if order.billing_address.present?
      %dl
        %dt= col(Order, :billing_address_id)
        %dd= render order.billing_address
  .col-xs-6
    - if order.shipping_address.present?
      %dl
        %dt= col(Order, :shipping_address_id)
        %dd= render order.shipping_address
        - order.shipments.each do |shipment|
          %dt= col(Shipment, :shipping_method_id)
          %dd= shipment.shipping_method

%hr
.row
  .col-xs-6
    %dl
      - if order.vat_number_expected?
        %dt= col(Order, :vat_number)
        %dd= order.vat_number
      %dt= col(Order, :your_reference)
      %dd= order.your_reference
      %dt= col(Order, :our_reference)
      %dd= order.our_reference
      %dt= col(Order, :message)
      %dd= order.message
  .col-xs-6
    %dl
      %dt= col(Order, :notes)
      %dd= order.notes

%hr
%p.text-right
  %em.small= order.includes_tax? ? t('.tax_included') : t('.tax_excluded')

= render partial: 'order_items/table', object: order, as: :order

%hr
= render partial: 'orders/tax_summary', object: order, as: :order
