- letterhead = order.destination.letterhead
- if letterhead.present?
  .visible-print
    = render partial: 'pages/content', object: letterhead, as: :page

.page-header
  %h1= t('checkout.receipt')

.row
  .col-xs-5
    %dl.dl-horizontal
      %dt= col(Order, :customer_name)
      %dd= order.customer_name
      %dt= col(Order, :customer_email)
      %dd= order.customer_email
      %dt= col(Order, :customer_phone)
      %dd= order.customer_phone
      - if order.store.b2b_sales?
        %dt= col(Order, :company_name)
        %dd= order.company_name
        %dt= col(Order, :contact_person)
        %dd= order.contact_person
        %dt= col(Order, :contact_email)
        %dd= order.contact_email
        %dt= col(Order, :contact_phone)
        %dd= order.contact_phone
  .col-xs-7
    %dl.dl-horizontal
      %dt= col(Order, :completed_at)
      %dd= l(order.completed_at.to_date)
      - if order.store.b2b_sales?
        %dt= col(Order, :shipping_at)
        %dd= order.shipping_at.present? ? l(order.shipping_at) : nil
        - if order.has_installation?
          %dt= col(Order, :installation_at)
          %dd= order.installation_at.present? ? l(order.installation_at) : nil
%hr
.row
  .col-xs-5
    %dl.dl-horizontal
      %dt= col(Order, :billing_address)
      %dd= order.billing_address
      %dd
        = order.billing_postalcode
        = order.billing_city
  .col-xs-7
    - if order.has_shipping?
      %dl.dl-horizontal
        %dt= col(Order, :shipping_address)
        %dd= order.shipping_address
        %dd
          = order.shipping_postalcode
          = order.shipping_city
        - order.shipments.each do |shipment|
          %dt= col(Shipment, :shipping_method_id)
          %dd= shipment.shipping_method

%hr
.row
  .col-xs-5
    %dl.dl-horizontal
      - if order.vat_number_expected?
        %dt= col(Order, :vat_number)
        %dd= order.vat_number
      %dt= col(Order, :your_reference)
      %dd= order.your_reference
      %dt= col(Order, :our_reference)
      %dd= order.our_reference
      %dt= col(Order, :message)
      %dd= order.message
  .col-xs-7
    %dl.dl-horizontal
      %dt= col(Order, :notes)
      %dd= order.notes

%hr
%p.text-right
  %em.small= order.includes_tax? ? t('.tax_included') : t('.tax_excluded')

= render partial: 'order_items/table', object: order, as: :order

%hr
= render partial: 'orders/tax_summary', object: order, as: :order
