.panel.panel-info
  .panel-heading
    %h4.panel-title= t('actions.search')
  .panel-body
    = form_for @search, url: orders_path, method: :get do |f|
      .row
        .col-sm-6.col-md-4
          .form-group
            .input-group.input-daterange{data: {provide: 'datepicker', 'date-format': 'yyyy-mm-dd', 'date-language': I18n.locale, 'date-orientation': 'bottom'}}
              = f.search_field :since_date, autocomplete: 'off', placeholder: t('.since_date'), class: 'form-control'
              %span.input-group-addon= icon('caret-right')
              = f.search_field :until_date, autocomplete: 'off', placeholder: t('.until_date'), class: 'form-control'
        .col-sm-6.col-md-4
          .form-group
            = f.search_field :keyword, autocomplete: 'off', placeholder: t('.keyword'), class: 'form-control'
        .col-sm-6.col-sm-offset-6.col-md-2.col-md-offset-2
          .form-group
            = f.submit t('actions.search'), class: 'btn btn-block btn-primary'
