.table-responsive
  %table.table.table-striped.table-hover.table-loose
    %thead
      %tr
        %th.col-xs-1= col(Order, :completed_at)
        - if current_store.b2b_sales?
          %th= col(Order, :summary)
        %th= col(Order, :shipping_at)
        %th= col(Order, :approved_at)
        %th.text-right= col(Order, :grand_total)
        %th.actions

    %tbody
      = content_tag_for :tr, orders do |order|
        %td= l(order.completed_at.to_date)
        - if current_store.b2b_sales?
          %td= order.summary
        %td= order.shipping_at.present? ? l(order.shipping_at) : ''
        %td= order.approved? ? l(order.approved_at.to_date) : col(Order, :not_approved)
        %td.text-right.currency= humanized_money_with_symbol order.grand_total
        %td.actions
          = link_to icon('info', t('actions.show')), order_path(order), class: 'btn btn-default btn-sm'
          - unless order.approved?
            = link_to icon('remove', t('actions.delete')), order_path(order), method: :delete, class: 'btn btn-sm btn-danger'
