.table-responsive
  %table.table.table-hover.table-loose
    %thead
      %tr
        %th.col-min
        %th.col-xs-1= col(Order, :number)
        %th= col(Order, :completed_at)
        - if current_store.b2b_sales?
          %th.col-xs-2= col(Order, :shipping_installation_at)
          %th= col(Order, :summary)
        %th= col(Order, :customer_id)
        %th.col-xs-1.text-right= col(Order, :items)
        %th.col-xs-1.text-right= col(Order, :grand_total)
        %th.actions

    %tbody
      - orders.each do |order|
        %tr[order]{class: order.appearance}
          %td= icon(order.icon)
          %td
            %strong= order.number
          %td= order.complete? ? l(order.completed_at.to_date) : nil
          - if current_store.b2b_sales?
            %td
              = order.shipping_at.present? ? l(order.shipping_at) : nil
              \/
              = order.installation_at.present? ? l(order.installation_at) : nil
            %td
              %strong.small= order.summary
          %td.no-wrap= order.customer_name
          %td.text-right= order.order_items_count
          %td.text-right.currency
            = money order.includes_tax? ? order.grand_total_with_tax : order.grand_total_sans_tax
          %td.actions
            = link_to icon('info', t('actions.show')), order_path(order), class: 'btn btn-default btn-sm'
            - if current_user.can_update?(order, at: current_store)
              = link_to icon('edit', t('actions.edit')), edit_order_path(order),
                  class: 'btn btn-default btn-sm'
            - if current_user.can_delete?(order, at: current_store)
              = link_to icon('remove', t('.cancel.button')), order_path(order), method: :delete, class: 'btn btn-sm btn-warning',
                  data: {confirm: t('.cancel.confirm',
                    klass: Order.model_name.human, name: order.to_s),
                    'confirm-title': t('actions.confirm.title'),
                    'confirm-proceed': t('.cancel.proceed'),
                    'confirm-cancel': t('.cancel.cancel')}
