.table-responsive
  %table.table.table-striped.table-hover.table-loose
    %thead
      %tr
        %th.col-min
        %th.col-xs-1= col(Order, :completed_at)
        - if current_store.b2b_sales?
          %th= col(Order, :summary)
        %th= col(Order, :shipping_at)
        - if current_store.b2b_sales?
          %th= col(Order, :installation_at)
        %th.col-xs-1.text-right= col(Order, :items)
        %th.text-right= col(Order, :grand_total)
        %th.actions

    %tbody
      - orders.each do |order|
        = content_tag_for :tr, order, class: order.appearance do
          %td= icon(order.icon)
          %td= l(order.completed_at.to_date)
          - if current_store.b2b_sales?
            %td= order.summary
          %td= order.shipping_at.present? ? l(order.shipping_at) : nil
          - if current_store.b2b_sales?
            %td= order.installation_at.present? ? l(order.installation_at) : nil
          %td.text-right= order.order_items_count
          %td.text-right.currency
            = humanized_money_with_symbol order.includes_tax? ? order.grand_total_with_tax : order.grand_total_sans_tax
          %td.actions
            = link_to icon('info', t('actions.show')), order_path(order), class: 'btn btn-default btn-sm'
            - if current_user.can_update?(order)
              = link_to icon('edit', t('actions.edit')), edit_order_path(order),
                  class: 'btn btn-default btn-sm'
            - if current_user.can_delete?(order)
              = link_to icon('remove', t('.cancel.button')), order_path(order), method: :delete, class: 'btn btn-sm btn-warning',
                  data: {confirm: t('.cancel.confirm',
                    klass: Order.model_name.human, name: order.to_s),
                    'confirm-title': t('actions.confirm.title'),
                    'confirm-proceed': t('.cancel.proceed'),
                    'confirm-cancel': t('.cancel.cancel')}
