.table-responsive
  %table.table.table-striped.table-hover.table-loose
    %thead
      %tr
        %th.col-xs-1= col(Order, :completed_at)
        %th= col(Order, :order_type_id)
        %th.col-xs-1= col(Order, :items)
        %th.col-xs-1= col(Order, :shipping_at)
        %th.col-xs-2

    %tbody
      = content_tag_for :tr, orders do |order|
        %td= l(order.completed_at.to_date)
        %td= order.order_type
        %td= order.order_items.count
        %td= order.shipping_at.present? ? l(order.shipping_at) : ''
        %td.text-right
          - if order.approved?
            = link_to icon('info', t('actions.show')), order_path(order),
                class: 'btn btn-default btn-sm'
          - else
            = link_to icon('edit', t('actions.edit')), edit_order_path(order),
                class: 'btn btn-default btn-sm'
            = link_to icon('remove', t('actions.delete')), order_path(order),
                method: :delete, class: 'btn btn-sm btn-danger'
