.page-header
  = link_to orders_path(anchor: orders_tab(@order)), class: 'btn btn-default' do
    = icon('chevron-circle-left', 'Back')
  %h1
    Order
    %span.small= @order.to_s

.row
  .col-sm-5
    .panel.panel-default
      .panel-body
        = render partial: 'form'

  .col-sm-7
    .table-responsive
      %table.table.table-striped.table-hover.table-loose
        %thead
          %tr
            %th.col-xs-2 Product code
            %th Product title
            %th.text-right #
            %th

        %tbody
          = render partial: 'order_items/row', collection: @order.order_items, as: :order_item
