.page-header
  = link_to orders_path(anchor: orders_tab(@order)), class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  %h1
    = @order.order_type
    %span.small
      = col(Order, :number)
      = @order.to_s

.row
  .col-sm-5
    = render partial: 'form', locals: {locked: false}

  .col-sm-7
    = render partial: 'order_items/table', object: @order, as: :order
