.page-header
  = link_to orders_path, class: 'btn btn-default' do
    = icon('chevron-circle-left')
    Back
  = link_to @order, class: 'btn btn-primary' do
    = icon('info-circle')
    Show
  %h1= @order.to_s

= render 'form'
