.page-header
  %h1= icon('truck', title(Order, count: 2))

%ul.nav.nav-tabs{role: 'tablist'}
  %li.active{role: 'presentation'}
    %a{href: '#tab-orders', role: 'tab', data: {toggle: 'tab'}}
      = t('.current')
  %li{role: 'presentation'}
    %a{href: '#tab-approved', role: 'tab', data: {toggle: 'tab'}}
      = t('.approved')

.tab-content
  #tab-orders.tab-pane.fade.in.active
    %h2.visible-print-block= t('.current')
    = render partial: 'orders/table', object: @orders, as: :orders

  #tab-approved.tab-pane.fade
    %h2.visible-print-block= t('.approved')
    = render partial: 'orders/table', object: @approved, as: :orders
