.page-header
  %h1= icon('truck', title(Order, count: 2))

.panel.panel-info
  .panel-heading
    .panel-title
      %h4= t('actions.search')
  .panel-body
    = form_for @search, url: orders_path, method: :get do |f|
      .col-xs-3
        = f.select :order_type, current_user.available_order_types.map { |o| [o.name, o.id] }, {include_blank: true}, {placeholder: col(Order, :order_type_id), class: 'form-control selectize'}
      .col-xs-2
        = f.search_field :date, autocomplete: 'off', placeholder: col(Order, :completed_at), class: 'form-control', data: {provide: 'datepicker', 'date-format' => 'yyyy-mm-dd', 'date-language' => I18n.locale, 'date-orientation' => 'top'}
      .col-xs-4
        = f.search_field :summary, autocomplete: 'off', placeholder: col(Order, :summary), class: 'form-control'
      .col-xs-1.pull-right
        = f.submit t('actions.search'), class: 'btn btn-primary'

= render partial: 'orders/table', object: @orders, as: :orders
= paginate @orders
