.page-header
  = link_to orders_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  - if current_user.can_update?(@order)
    = link_to edit_order_path(@order), class: 'btn btn-primary' do
      = icon('pencil-square', t('actions.edit'))
  = link_to duplicate_order_path(@order), class: 'btn btn-warning' do
    = icon('copy', t('.duplicate'))
  - if @order.quotable?
    = link_to quote_order_path(@order), class: 'btn btn-info' do
      = icon('envelope', t('.quote'))
  %h1
    = @order.order_type
    %span.small
      = col(Order, :number)
      = @order.to_s

.row
  .col-lg-5
    = render partial: 'form', locals: {locked: true}

  .col-lg-7
    = render partial: 'order_items/table', object: @order, as: :order
