.page-header
  = link_to orders_path(anchor: orders_tab(@order)), class: 'btn btn-default' do
    = icon('chevron-circle-left', 'Back')
  %h1
    Order
    %span.small= @order.to_s

.row
  .col-sm-5
    .panel.panel-default
      .panel-body.form-horizontal
        .form-group
          %label.col-sm-4.control-label Order type
          .col-sm-8
            %p.form-control-static
              = @order.approval ? @order.order_type_name : @order.order_type
        .form-group
          %label.col-sm-4.control-label Company name
          .col-sm-8
            %p.form-control-static= @order.company_name
        .form-group
          %label.col-sm-4.control-label Contact person
          .col-sm-8
            %p.form-control-static= @order.contact_person
        #shipping-info.collapse{class: @order.needs_shipping_info? ? 'in' : ''}
          .form-group
            %label.col-sm-4.control-label Shipping at
            .col-sm-8
              %p.form-control-static= @order.shipping_at
          .form-group
            %label.col-sm-4.control-label Billing address
            .col-sm-8
              %p.form-control-static.pre><= @order.billing_address
          .form-group
            %label.col-sm-4.control-label Shipping address
            .col-sm-8
              %p.form-control-static.pre><= @order.shipping_address
        .form-group
          %label.col-sm-4.control-label Notes
          .col-sm-8
            %p.form-control-static.pre><= @order.notes

  .col-sm-7
    .table-responsive
      %table.table.table-striped.table-hover.table-loose
        %thead
          %tr
            %th.col-xs-2 Product code
            %th Product title
            %th.text-right #
            %th

        %tbody
          = render partial: 'order_items/row', collection: @order.order_items, as: :order_item
