= content_tag_for :li, product, class: product.cover_image.present? && product.description.present? && rand < 0.333 ? 'wide' : '' do
  = link_to show_product_url(product.category, product, subdomain: product.store.subdomain) do
    .product-image= image_variant_tag product.cover_image, :postcard
    .product-text
      %h3
        = product.title
        %span.small= product.subtitle
      .description= product.description.html_safe
    - product.active_promoted_items.each do |item|
      .promotion
        %p= item.description
  - if !product.master?
    .buy-now
      %p= humanized_money_with_symbol product.price(nil)
