= bootstrap_form_for [:admin, @promotion], layout: :horizontal,
    label_col: 'col-sm-4', control_col: 'col-sm-8' do |f|
  .panel.panel-default
    .panel-body
      %fieldset{disabled: locked}
        = f.text_field :name, required: true
        = f.select :promotion_handler_type, Promotion.handler_types.map { |h| [h.constantize.model_name.human, h] }, {}, {class: 'selectize', disabled: !@promotion.new_record?}
        - unless @promotion.new_record?
          = f.text_field :first_date, data: {provide: 'datepicker', 'date-format' => 'yyyy-mm-dd', 'date-language' => I18n.locale}
          = f.text_field :last_date, data: {provide: 'datepicker', 'date-format' => 'yyyy-mm-dd', 'date-language' => I18n.locale}
          = f.fields_for :promotion_handler do |ff|
            = ff.text_area :description, rows: 3, required: true
            = render partial: @promotion.promotion_handler, locals: {f: ff}
      - unless locked
        %fieldset.actions
          = f.form_group do
            = f.primary
