.page-header
  = link_to admin_promotions_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  = link_to admin_promotion_path(@promotion), class: 'btn btn-primary' do
    = icon('info-circle', t('actions.show'))
  %h1
    = icon('tag', @promotion)

.row
  .col-md-4
    = render partial: 'form', locals: {locked: false}

  .col-md-8
    = tab_set 'promotion-side', class: 'nav-justified nav-sm' do
      = nav_tab 'promoted', title(PromotedItem, count: 2), default: true
      = nav_tab 'images', col(Promotion, :images)
      = nav_tab 'products', t('.add_products')
      = nav_tab 'categories', t('.add_categories')

    .tab-content
      = tab_pane 'promoted', default: true do
        %h2.visible-print-block= title(PromotedItem, count: 2)
        = render partial: 'admin/promoted_items/edit_table', object: @promotion, as: :promotion
      = tab_pane 'images' do
        = render partial: 'admin/pictures/edit_collection', object: @promotion, as: :pictureable
        = render partial: 'admin/pictures/dropzone', object: @promotion, as: :pictureable
      = tab_pane 'products' do
        = render partial: 'admin/promotions/add_products', object: @promotion, as: :promotion
      = tab_pane 'categories' do
        = render partial: 'admin/promotions/add_categories', object: @promotion, as: :promotion

:coffee
  persist_tabs 'promotion-side'
