.page-header
  = link_to admin_promotions_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  = link_to admin_promotion_path(@promotion), class: 'btn btn-primary' do
    = icon('info-circle', t('actions.show'))
  %h1
    = icon('tag', @promotion)

.row
  .col-md-5
    = render partial: 'form', locals: {locked: false}

  .col-md-7
    %ul.nav.nav-tabs.nav-justified.nav-sm{role: 'tablist'}
      = nav_tab 'promoted', title(PromotedItem, count: 2), class: 'active'
      = nav_tab 'products', t('.add_products')
      = nav_tab 'categories', t('.add_categories')

    .tab-content
      = tab_pane 'promoted', class: 'in active' do
        %h2.visible-print-block= title(PromotedItem, count: 2)
        = render partial: 'admin/promoted_items/edit_table', object: @promotion, as: :promotion
      = tab_pane 'products' do
        = render partial: 'admin/promotions/add_products', object: @promotion, as: :promotion
      = tab_pane 'categories' do
        = render partial: 'admin/promotions/add_categories', object: @promotion, as: :promotion
