.page-header
  - if current_user.can_create?(Promotion)
    = link_to new_admin_promotion_path, class: 'btn btn-primary' do
      = icon('plus', t('.new_promotion'))
  %h1= icon('tag', title(Promotion, count: 2))

.table-responsive
  %table.table.table-striped.table-hover.table-loose
    %thead
      %tr
        %th.col-min
        %th.col-xs-3= col(Promotion, :name)
        %th.col-xs-3= col(Promotion, :promotion_handler_type)
        %th.col-min
        %th= col(Promotion, :first_date)
        %th= col(Promotion, :last_date)
        %th.actions

    %tbody
      - @promotions.each do |promotion|
        = content_tag_for :tr, promotion, class: promotion.active? ? nil : 'warning text-warning' do
          %td= image_variant_tag promotion.cover_image
          %td= promotion.name
          %td= title(promotion.promotion_handler)
          %td
            - if promotion.page.present?
              = icon('file-o', title: col(Promotion, :has_page), data: {toggle: 'tooltip'})
          %td
            - if promotion.active?
              = promotion.first_date.present? ? l(promotion.first_date) : nil
            - else
              = icon('warning', promotion.first_date.present? ? l(promotion.first_date) : nil, data: {toggle: 'tooltip'}, title: col(Promotion, :not_active))
          %td= promotion.last_date.present? ? l(promotion.last_date) : nil
          %td.actions
            = link_to icon('info', t('actions.show')), admin_promotion_path(promotion),
                class: 'btn btn-default btn-sm'
            - if current_user.can_update?(Promotion)
              = link_to icon('edit', t('actions.edit')), edit_admin_promotion_path(promotion),
                  class: 'btn btn-default btn-sm'
            - if current_user.can_delete?(Promotion)
              = link_to icon('remove', t('actions.delete')), admin_promotion_path(promotion),
                  method: :delete, class: 'btn btn-sm btn-danger',
                  data: {confirm: t('actions.confirm.body',
                    klass: Promotion.model_name.human, name: promotion.name),
                    'confirm-title': t('actions.confirm.title'),
                    'confirm-proceed': t('actions.confirm.proceed'),
                    'confirm-cancel': t('actions.confirm.cancel')}
