#column-color-panel
  = bootstrap_form_for [:modify, :admin, column], remote: true, html: {id: dom_id(column, :colors), class: 'immediate'} do |f|
    %fieldset.pickr-controls
      .row
        .col-sm-4
          = f.text_field :background_color, class: 'color'
        .col-sm-4
          = f.text_field :gradient_color, class: 'color'

  = bootstrap_form_for [:modify, :admin, column], remote: true, html: {id: 'column-color-form', class: 'immediate'} do |f|
    = render partial: 'admin/gradients/form_fields', object: f, as: :f

  :coffee
    $('##{dom_id(column, :colors)}').find('.color').pickr()
