#column-layout-panel
  = bootstrap_form_for [:admin, column], remote: true, html: {id: 'column-layout-form', class: 'immediate triggered'} do |f|
    %fieldset
      .row
        .col-sm-3
          .form-group.form-group-lg.has-icon
            = f.number_field_without_bootstrap :span_sm, min: 1, max: 12, class: 'form-control text-right'
            = icon('desktop', class: 'fa-lg')
        .col-sm-3
          .form-group.form-group-lg.has-icon
            = f.number_field_without_bootstrap :span_xs, min: 0, max: 12, class: 'form-control text-right'
            = icon('mobile', class: 'fa-2x')
    %fieldset
      .form-group
        = f.label col(Column, :alignment), class: 'control-label'
        .btn-group.btn-group-justified.btn-group-sm{data: {toggle: 'buttons'}}
          - Column.alignment_options.each do |title, alignment|
            %label.btn.btn-default{class: @column.alignment == alignment && 'active'}
              = f.radio_button_without_bootstrap :alignment, alignment
              = title
      = f.form_group do
        = f.check_box :viewport
      = f.form_group do
        = f.check_box :pivot
