- resource = category.resource
- max_items = category.max_items.presence
- products = resource.is_a?(Category) && resource.products.visible.sorted(category.product_scope.presence)

.segment-content.category{id: segment_content_id(category, context)}
  - if products
    .grid{class: "grid-columns-#{category.grid_columns || 3}"}
      = render partial: 'products/product_card', layout: 'shared/grid_item', collection: max_items ? products.first(max_items) : products, as: :product
    - if products.count > max_items.to_i
      .more-items-link
        = link_to show_category_path(resource) do
          = resource
          = icon('arrow-circle-right')
