- resource = category.resource
- max_items = category.max_items.presence && category.max_items.to_i
- products = resource.is_a?(Category) && resource.products.visible.sorted(category.product_scope.presence)

.segment-content.category{id: dom_id(category, :content)}
  - if category.header.present?
    .page-header
      %h1= category.header
      - if category.subhead.present?
        %p.lead= category.subhead
  - if products
    - if category.swiper?
      .swiper-container
        .swiper-wrapper{class: ["columns-#{category.grid_columns || 3}", category.grid_lines? && 'grid-lines']}
          = render partial: 'products/product_card', layout: 'shared/swiper_slide', collection: max_items ? products.first(max_items) : products, as: :product
        .swiper-pagination
    - else
      .columns{class: ["columns-#{category.grid_columns || 3}", category.grid_lines? && 'grid-lines']}
        = render partial: 'products/product_card', collection: max_items ? products.first(max_items) : products, as: :product
    - if category.show_more? && products.count > max_items.to_i
      .more-items-link
        = link_to show_category_path(resource), class: 'btn' do
          = resource
          = icon('arrow-circle-right')
  - else
    = segment_placeholder(category)

- if category.swiper?
  :coffee
    jQuery ->
      $segment = $('##{dom_id(category, :content)}')
      new Swiper $segment.find('.swiper-container'),
        slidesPerView: 'auto'
        watchOverflow: true
        pagination:
          el: '.swiper-pagination'
          clickable: true
