- cache [:segment_gallery, gallery] do
  .segment-content.gallery{id: dom_id(gallery, :content)}
    - if gallery.pictures.any?
      .gallery-wrap{class: gallery.masonry? && 'masonry', data: {min_width: gallery.min_width, gutter: 10}}
        - gallery.pictures.each do |picture|
          - gallery_item = capture_haml do
            .image-container{class: [gallery.image_sizing, gallery.thumbnails? && 'thumbnail']}
              = picture_variant_tag picture do
                - if picture.caption.present?
                  %figcaption{style: gallery.style(:backgroundColor)}
                    = picture.caption
          - if gallery.lightbox?
            = link_to picture.image.url(:lightbox, timestamp: false), class: 'gallery-item image-link' do
              = gallery_item
          - else
            .gallery-item
              = gallery_item

    - else
      = segment_placeholder(gallery)
