.segment-content.gallery{id: segment_content_id(gallery, context)}
  - if gallery.images.any?
    .grid.thumbnail-grid{class: "grid-columns-#{gallery.grid_columns || 3}"}
      - gallery.images.each do |image|
        .grid-item
          = link_to image.url(:lightbox), class: 'image-link' do
            .thumbnail
              = image_variant_tag image, :technical
  - else
    = render partial: 'segments/placeholders/gallery'

:coffee
  $grid = $('##{segment_content_id(gallery, context)}').find '.grid'
  reversed = $grid.closest('.segment').hasClass 'align-bottom'
  $grid.imagesLoaded ->
    $grid.masonry
      itemSelector: '.grid-item'
      columnWidth: '.grid-item'
      percentPosition: true
      horizontalOrder: true
      originTop: !reversed
