- cache [:segment_gallery, gallery] do
  .segment-content.gallery{id: dom_id(gallery, :content)}
    - if gallery.pictures.any?
      .grid.thumbnail-grid{class: "grid-columns-#{gallery.grid_columns || 3}"}
        - gallery.pictures.each do |picture|
          .grid-item
            - if gallery.thumbnails?
              = link_to picture.image.url(:lightbox, timestamp: false), class: 'image-link' do
                .thumbnail
                  = picture_variant_tag picture, :technical
            - else
              .image-container{class: gallery.image_sizing}
                = picture_variant_tag picture, :technical
    - else
      = render partial: 'segments/placeholders/gallery'

  - if gallery.masonry?
    :coffee
      $grid = $('##{dom_id(gallery, :content)}').find '.grid'
      reversed = $grid.closest('.segment').hasClass 'align-bottom'
      $grid.imagesLoaded ->
        $grid.masonry
          itemSelector: '.grid-item'
          columnWidth: '.grid-item'
          percentPosition: true
          horizontalOrder: true
          originTop: !reversed
