.segment-content.media{id: dom_id(media, :content)}
  .media-left
    - if media.pictures.any?
      .media-object.image-container{class: media.image_sizing}
        - if media.url.present?
          = link_to media.url do
            = picture_variant_tag media.cover_picture, :postcard
        - else
          = picture_variant_tag media.cover_picture, :postcard
  .media-body
    .editable-content
      - if media.body.present?
        = media.body.html_safe
      - else
        = render partial: 'segments/placeholders/media'
