.segment-content.picture{id: segment_content_id(picture, context)}
  - if picture.images.any?
    - if picture.images.count > 1
      .swiper-container
        .swiper-wrapper
          - picture.images.each do |image|
            .swiper-slide
              = image_variant_tag image, :lightbox

      :coffee
        $segment = $('##{segment_content_id(picture, context)}')
        $swiper = new Swiper $segment.find('.swiper-container'),
          autoplay:
            delay: 5000
          loop: true
          effect: 'fade'
          observeParents: true
    - else
      .image-container
        - if picture.url.present?
          = link_to picture.url do
            = image_variant_tag picture.cover_image, :lightbox
        - else
          = image_variant_tag picture.cover_image, :lightbox

  - else
    = render partial: 'segments/placeholders/picture'
