- has_pictures = picture.pictures.any?
- swiper = picture.pictures.count > 1
- sizing = picture.image_sizing

- cache [:segment_picture, picture] do
  .segment-content.picture{id: dom_id(picture, :content)}
    - if has_pictures
      - if swiper
        .swiper-container{class: sizing}
          .swiper-wrapper
            - picture.pictures.each do |slide|
              .swiper-slide
                = picture_variant_tag slide do
                  %figcaption{style: picture.style(:backgroundColor)}
                    = slide.caption
      - else
        .image-container{class: sizing}
          - if picture.url.present?
            = link_to picture.url do
              = picture_variant_tag picture.cover_picture do
                %figcaption{style: picture.style(:backgroundColor)}
                  = picture.cover_picture.caption
          - else
            = picture_variant_tag picture.cover_picture do
              %figcaption{style: picture.style(:backgroundColor)}
                = picture.cover_picture.caption

    - else
      = segment_placeholder(picture)

  - if swiper
    :coffee
      jQuery ->
        $segment = $('##{dom_id(picture, :content)}')
        new Swiper $segment.find('.swiper-container'),
          autoplay:
            delay: 5000
          loop: true
          effect: 'fade'
