- cover_picture = picture.cover_picture
- sizing = picture.image_sizing

- cache [:segment_picture, picture] do
  .segment-content.picture{id: dom_id(picture, :content)}
    - if cover_picture
      - picture_with_caption = capture_haml do
        = picture_variant_tag cover_picture do
          - if cover_picture.caption.present?
            %figcaption{style: picture.style(:backgroundColor)}
              = cover_picture.caption
      - if picture.url.present?
        = link_to picture.url, class: "image-container #{sizing}" do
          = picture_with_caption
      - else
        .image-container{class: sizing}
          = picture_with_caption
    - else
      = segment_placeholder(picture)
