- has_images = picture.images.any?
- swiper = picture.images.count > 1
- cover = picture.picture_cover && 'picture-cover'

.segment-content.picture{id: segment_content_id(picture, context)}
  - if has_images
    - if swiper
      .swiper-container{class: cover}
        .swiper-wrapper
          - picture.images.each do |image|
            .swiper-slide
              = image_variant_tag image, :lightbox
    - else
      .image-container{class: cover}
        - if picture.url.present?
          = link_to picture.url do
            = image_variant_tag picture.cover_image, :lightbox
        - else
          = image_variant_tag picture.cover_image, :lightbox

  - else
    = render partial: 'segments/placeholders/picture'

- if swiper
  :coffee
    jQuery ->
      $segment = $('##{segment_content_id(picture, context)}')
      new Swiper $segment.find('.swiper-container'),
        autoplay:
          delay: 5000
        loop: true
        effect: 'fade'
