- resource = promotion.resource
- max_items = promotion.max_items.presence
- products = resource.is_a?(Promotion) && resource.products.sorted(promotion.product_scope.presence)

.segment-content.promotion{id: segment_content_id(promotion, context)}
  - if products
    .grid{class: "grid-columns-#{promotion.grid_columns || 3}"}
      = render partial: 'products/product_card', layout: 'shared/grid_item', collection: max_items ? products.first(max_items) : products, as: :product
    - if products.count > max_items.to_i
      .more-items-link
        = link_to show_promotion_path(resource) do
          = resource
          = icon('arrow-circle-right')
