- resource = promotion.resource
- max_items = promotion.max_items.presence
- products = resource.is_a?(Promotion) && resource.products.live.sorted(promotion.product_scope.presence)

.segment-content.promotion{id: segment_content_id(promotion, context)}
  - if products
    .row{class: "columns-#{promotion.grid_columns || 3}"}
      = render partial: 'products/product_card', collection: max_items ? products.first(max_items) : products, as: :product
    - if promotion.show_more? && products.count > max_items.to_i
      .more-items-link
        = link_to show_promotion_path(resource) do
          = resource
          = icon('arrow-circle-right')
  - else
    = render partial: 'segments/placeholders/promotion'

- if promotion.masonry?
  :coffee
    $grid = $('##{segment_content_id(promotion, context)}').find '.grid'
    $grid.imagesLoaded ->
      $grid.masonry
        itemSelector: '.grid-item'
        columnWidth: '.grid-item'
        percentPosition: true
        horizontalOrder: true
