- resource = promotion.resource
- max_items = promotion.max_items.presence
- products = resource.is_a?(Promotion) && resource.products.live.sorted(promotion.product_scope.presence)
- swiper = promotion.grid_columns == '1'

.segment-content.promotion{id: dom_id(promotion, :content)}
  - if promotion.header.present?
    .page-header
      %h1= promotion.header
      - if promotion.subhead.present?
        %p.lead= promotion.subhead
  - if products
    - if swiper
      .swiper-container
        .swiper-wrapper
          = render partial: 'products/product_card', layout: 'shared/swiper_slide', collection: max_items ? products.first(max_items) : products, as: :product
    - else
      .columns{class: ["columns-#{promotion.grid_columns || 3}", promotion.grid_lines? && 'grid-lines']}
        = render partial: 'products/product_card', collection: max_items ? products.first(max_items) : products, as: :product
    - if promotion.show_more? && products.count > max_items.to_i
      .more-items-link
        = link_to show_promotion_path(resource) do
          = resource
          = icon('arrow-circle-right')
  - else
    = render partial: 'segments/placeholders/promotion'

- if swiper
  :coffee
    jQuery ->
      $segment = $('##{dom_id(promotion, :content)}')
      new Swiper $segment.find('.swiper-container'),
        autoplay:
          delay: 3000
          disableOnInteraction: false
- elsif promotion.masonry?
  :coffee
    $grid = $('##{dom_id(promotion, :content)}').find '.row'
    $grid.imagesLoaded ->
      $grid.masonry
        itemSelector: '.product-card'
        columnWidth: '.product-card'
        percentPosition: true
        horizontalOrder: true
