%tr[transfer_item]{class: transfer_item.appearance}
  %td= product_header transfer_item
  - if transfer_item.source.present? && transfer_item.product.tracked_stock?
    %td.control
      = form_for [:admin, transfer_item], remote: true, html: {id: nil, class: 'immediate'} do |f|
        = f.select :lot_code, [], {}, id: dom_id(transfer_item, :lot_code), data: {source_items: transfer_item.source_item_choices.online.map { |i| {code: i.code, available: i.available, expires_at: i.expires_at} }, selected: transfer_item.lot_code}
  - else
    %td
      %strong= transfer_item.lot_code
      - if transfer_item.expires_at.present?
        %span.small= icon('hourglass-end', transfer_item.expires_at)
  %td.control
    = form_for [:admin, transfer_item], remote: true, html: {id: nil, class: 'pull-right immediate'} do |f|
      = f.number_field :amount, min: 1, id: nil, class: 'form-control text-right', tabindex: 1
  %td.actions
    = link_to icon('remove'), admin_transfer_item_path(transfer_item), remote: true, method: :delete, class: 'btn btn-outline-danger btn-sm'

  :coffee
    $lot_code = $('##{dom_id(transfer_item, :lot_code)}')
    source_items = $lot_code.data 'sourceItems'
    selected = $lot_code.data 'selected'
    $lot_code.betterSelectize
      options: source_items
      items: [selected]
      valueField: 'code'
      maxItems: 1
      render: $.fn.selectize.inventory_renderer
