%tr[transfer_item]{class: transfer_item.appearance}
  %td= product_header transfer_item
  %td= transfer_item.lot_code
  %td= transfer_item.expires_at
  %td.control
    = form_for [:admin, transfer_item], remote: true,
        html: {class: 'pull-right immediate'} do |f|
      = f.number_field :amount, min: 1, max: 999, class: 'form-control text-right', tabindex: 1
  %td.actions
    = link_to icon('remove'), admin_transfer_item_path(transfer_item), remote: true, method: :delete, class: 'btn btn-outline-danger btn-sm'
