.table-responsive
  %table.table.table-hover.table-loose
    %thead
      %tr
        %th= col(TransferItem, :product_title)
        %th.col-xs-2= col(TransferItem, :lot_code)
        %th.col-xs-1.text-right= col(TransferItem, :amount)

    %tbody
      - transfer.transfer_items.each do |transfer_item|
        %tr[transfer_item]{class: transfer_item.appearance}
          %td
            %strong
              = link_to transfer_item.product.title, admin_product_path(transfer_item.product)
            = transfer_item.product.subtitle
            %span.label.label-default= transfer_item.product.code
          %td= transfer_item.lot_code
          %td.text-right= transfer_item.amount
