- content_for :main_title do
  = t('.sign_in')
- content_for :main_panel do
  .panel.panel-default
    .panel-body
      = bootstrap_form_for resource, as: resource_name, url: session_path(resource_name) do |f|
        = f.email_field :email, autofocus: true, autocomplete: 'email'
        = f.password_field :password, autocomplete: 'current-password'
        - if devise_mapping.rememberable?
          = f.check_box :remember_me
        .actions
          = f.primary t('.sign_in')
  .links
    = render 'devise/shared/links'
