%table.main{width: '100%', cellpadding: 0, cellspacing: 0}
  %tr
    %td.content-wrap.aligncenter
      %table{width: '100%', cellpadding: 0, cellspacing: 0}
        %tr
          %td.content-block
            %div= image_tag @store.cover_image.url(:thumbnail), height: 75
            %h1= t('.title')
        %tr
          %td.content-block
            = t('.body_html', store: @store)

.footer
  %table{width: '100%'}
    %tr
      %td.content-block{width: 70}
        %p= image_tag 'stellar-vertical.svg', width: 50
      %td.content-block
        %p= t('footer.heading')
        = t('footer.body_html')
