%table.main{width: '100%', cellpadding: 0, cellspacing: 0}
  %tr
    %td.content-wrap.aligncenter
      %table{width: '100%', cellpadding: 0, cellspacing: 0}
        %tr
          %td.content-block
            %h1
              = t('.title')
              %span.small
                \#
                = @order.to_s
        %tr
          %td.content-block
            %h2= t('order_mailer.thank_you', store: @store)
        %tr
          %td.content-block
            %table.invoice
              %tr
                %td
                  %table{width: '100%', cellpadding: 0, cellspacing: 5}
                    %tr
                      %td= Order.human_attribute_name(:customer_name)
                      %td
                        %b= @order.customer_name
                      %td= Order.human_attribute_name(:customer_phone)
                      %td
                        %b= @order.customer_phone
                    - if @store.b2b_sales?
                      %tr
                        %td= Order.human_attribute_name(:company_name)
                        %td
                          %b= @order.company_name
                        %td= Order.human_attribute_name(:contact_person)
                        %td
                          %b= @order.contact_person
                    - if @store.b2b_sales? && @order.has_shipping?
                      %tr
                        %td
                          = Order.human_attribute_name(:shipping_at)
                        %td
                          %b= @order.shipping_at.present? ? l(@order.shipping_at) : ''
                    - if @order.has_shipping?
                      %tr
                        %td
                          = Order.human_attribute_name(:billing_address)
                        %td
                          %b= @order.billing_address
                          %br
                          %b= @order.billing_postalcode
                          %b= @order.billing_city
                        %td
                          = Order.human_attribute_name(:shipping_address)
                        %td
                          %b= @order.shipping_address
                          %br
                          %b= @order.shipping_postalcode
                          %b= @order.shipping_city
                    %tr
                      %td
                        = Order.human_attribute_name(:order_type_id)
                      %td{colspan: 3}
                        %b= @order.order_type
                    %tr
                      %td
                        = Order.human_attribute_name(:notes)
                      %td{colspan: 3}
                        = @order.notes
              %tr
                %td
                  %table.invoice-items{cellpadding: 0, cellspacing: 0}
                    %tr
                      %td= OrderItem.human_attribute_name(:product_code)
                      %td= OrderItem.human_attribute_name(:product_title)
                      %td.alignright= OrderItem.human_attribute_name(:amount)
                      %td.alignright à
                      %td.alignright= OrderItem.human_attribute_name(:subtotal)
                    - @order.order_items.each do |order_item|
                      = content_tag_for :tr, order_item do
                        %td= order_item.product_code
                        %td
                          %b= order_item.product_title
                          = order_item.product_subtitle
                        %td.alignright= order_item.amount
                        %td.alignright
                          = humanized_money_with_symbol order_item.price
                        %td.alignright
                          = humanized_money_with_symbol order_item.subtotal
                    %tr.total
                      %td.alignright{colspan: 4}
                        = Order.human_attribute_name(:grand_total)
                      %td.alignright
                        = humanized_money_with_symbol @order.grand_total

.footer
  %table{width: '100%'}
    %tr
      %td.content-block
        = image_tag('spry-logo.svg')
      %td.content-block
        %p= t('footer.heading')
        %p= t('footer.body_html')
