%table.main{width: '100%', cellpadding: 0, cellspacing: 0}
  %tr
    %td.content-wrap.aligncenter
      %table{width: '100%', cellpadding: 0, cellspacing: 0}
        %tr
          %td.content-block
            %div= image_tag @store.cover_image.url(:matchbox)
            %h1
              = t('.title')
              %span.small
                \#
                = @order.to_s
        %tr
          %td.content-block
            %table.invoice
              %tr
                %td
                  %table{width: '100%', cellpadding: 0, cellspacing: 5}
                    %tr
                      %td= Order.human_attribute_name(:customer_name)
                      %td
                        %b= @order.customer_name
                      %td= Order.human_attribute_name(:customer_phone)
                      %td
                        %b= @order.customer_phone
                    - if @store.b2b_sales?
                      %tr
                        %td= Order.human_attribute_name(:company_name)
                        %td
                          %b= @order.company_name
                      %tr
                        %td= Order.human_attribute_name(:contact_person)
                        %td
                          %b= @order.contact_person
                        %td= Order.human_attribute_name(:contact_phone)
                        %td
                          %b= @order.contact_phone
                    - if @store.b2b_sales? && @order.has_shipping?
                      %tr
                        %td
                          = Order.human_attribute_name(:shipping_at)
                        %td
                          %b= @order.shipping_at.present? ? l(@order.shipping_at) : nil
                    - if @order.has_shipping?
                      %tr
                        %td
                          = Order.human_attribute_name(:billing_address)
                        %td
                          %b= @order.billing_address
                          %br
                          %b= @order.billing_postalcode
                          %b= @order.billing_city
                        %td
                          = Order.human_attribute_name(:shipping_address)
                        %td
                          %b= @order.shipping_address
                          %br
                          %b= @order.shipping_postalcode
                          %b= @order.shipping_city
                    %tr
                      %td
                        = Order.human_attribute_name(:order_type_id)
                      %td{colspan: 3}
                        %b= @order.order_type
                    %tr
                      %td
                        = Order.human_attribute_name(:notes)
                      %td{colspan: 3}
                        = @order.notes
              %tr
                %td
                  %table.invoice-items{cellpadding: 5, cellspacing: 0}
                    %caption.alignright
                      %em= @order.includes_tax? ? t('orders.receipt.tax_included') : t('orders.receipt.tax_excluded')
                    %tr
                      %td= OrderItem.human_attribute_name(:product_code)
                      %td= OrderItem.human_attribute_name(:product_title)
                      %td.alignright= OrderItem.human_attribute_name(:amount)
                      %td.alignright= OrderItem.human_attribute_name(:price)
                      %td.alignright= OrderItem.human_attribute_name(:subtotal)
                    - @order.order_items.each do |order_item|
                      = content_tag_for :tr, order_item do
                        %td= order_item.product_codes
                        %td
                          %b= order_item.product_title
                          = order_item.product_subtitle
                        %td.alignright.nowrap= order_item.amount
                        %td.alignright.nowrap
                          = humanized_money_with_symbol order_item.includes_tax? ? order_item.price_with_tax : order_item.price_sans_tax
                        %td.alignright.nowrap
                          = humanized_money_with_symbol order_item.includes_tax? ? order_item.subtotal_with_tax : order_item.subtotal_sans_tax
                    %tr.total
                      %td.alignright{colspan: 4}
                        = Order.human_attribute_name(:grand_total)
                      %td.alignright.nowrap
                        = humanized_money_with_symbol @order.includes_tax? ? @order.grand_total_with_tax : @order.grand_total_sans_tax
        %tr
          %td.alignleft
            = @store.quotation_boilerplate.html_safe

.footer
  %table{width: '100%'}
    %tr
      %td.content-block{width: 70}
        %p= image_tag 'stellar-vertical.svg', width: 50
      %td.content-block
        %p= t('footer.heading')
        = t('footer.body_html')
