%table.main{width: '100%', cellpadding: 0, cellspacing: 0}
  %tr
    %td.content-wrap.aligncenter
      %table{width: '100%', cellpadding: 0, cellspacing: 0}
        %tr
          %td.content-block
            = render partial: 'masthead', locals: {title: t('.title')}
        %tr
          %td.content-block
            %h2= t('.thank_you', store: @store)
        %tr
          %td.content-block
            %table.invoice
              %tr
                %td
                  %table{width: '100%', cellpadding: 0, cellspacing: 5}
                    = render partial: 'customer'
                    = render partial: 'order_meta'
                    = render partial: 'shipment', collection: @order.shipments
              %tr
                %td
                  %table.invoice-items{cellpadding: 5, cellspacing: 0}
                    = render partial: 'invoice'
              - if @pricing
                %tr
                  %td
                    %table.invoice-items{cellpadding: 5, cellspacing: 0}
                      = render partial: 'taxation'

= render partial: 'footer'
