.plan-card{class: plan.id}
  .plan-image
  .plan-title
    = plan.human_attribute_value(:id)
  .plan-details
    = t(".#{plan.id}_html")
  .plan-pricing
    %span.currency= money plan.amount
    %span.taxation= t('.taxation')
    %span.interval
      \/
      = t(plan.interval, scope: 'date.units')
