.table-responsive
  %table.table.table-hover.table-loose
    %thead
      %tr
        %th= col(Hostname, :fqdn)
        %th.col-xs-4= col(Hostname, :parent_hostname_id)

    %tbody#hostnames-tbody
      = content_tag_for :tr, store.hostnames do |hostname|
        %td= hostname
        %td= hostname.domain_hostname
