.panel.print-borderless[shipment]{class: "panel-#{shipment.appearance}"}
  .panel-heading.hidden-print
    %span.pull-right
      - if shipment.metadata.present?
        %a{role: 'button', data: {toggle: 'collapse'}, href: "##{dom_id(shipment, :metadata)}"}
          = icon('info-circle', class: 'fa-lg')
    %h4.panel-title
      = shipment.shipping_method
      = t('.inventory')
      = shipment.order.inventory
      %small= shipment
  .collapse{id: dom_id(shipment, :metadata)}
    .panel-body
      %small
        = metadata_table(shipment.parsed_metadata)

  - if shipment.transfer.present?
    = render partial: locked || shipment.shipped? ? 'admin/transfer_items/table' : 'admin/transfer_items/edit_table', object: shipment.transfer, as: :transfer

    .panel-footer
      - if shipment.cancelled?
        = render partial: 'admin/shipments/cancelled', object: shipment, as: :shipment, locals: {locked: locked}
      - elsif shipment.shipped?
        = render partial: 'admin/shipments/shipped', object: shipment, as: :shipment, locals: {locked: locked}
      - else
        - if !locked && current_user.can_update?(Shipment, at: current_store)
          = render partial: 'admin/shipments/active', object: shipment, as: :shipment, locals: {locked: locked}
        = icon('exclamation-circle', col(Shipment, :pending))
