.panel[shipment]{class: shipment.shipped? ? 'panel-default' : 'panel-warning'}
  .panel-heading
    %span.pull-right
      - if shipment.metadata.present?
        %a{role: 'button', data: {toggle: 'collapse'}, href: "##{dom_id(shipment, :metadata)}"}
          = icon('info-circle', class: 'fa-lg')
    %h4.panel-title
      = shipment.shipping_method
      %small= shipment

  .collapse{id: dom_id(shipment, :metadata)}
    .panel-body
      %small
        = metadata_table(shipment.parsed_metadata)

  - if shipment.transfer.present?
    = render partial: locked || shipment.shipped? ? 'admin/transfer_items/table' : 'admin/transfer_items/edit_table', object: shipment.transfer, as: :transfer

    .panel-footer
      - if shipment.shipped?
        = icon('retweet', col(Shipment, :shipped_at))
        = l(shipment.shipped_at.to_date)
      - else
        - if !locked && current_user.can_update?(Shipment, at: current_store)
          .pull-right
            = link_to icon('refresh', t('.refresh')), refresh_admin_shipment_path(shipment), remote: true, method: :patch, class: 'btn btn-default btn-sm'
            = link_to icon('cog', t('.complete.button'), class: 'fa-spin'), complete_admin_shipment_path(shipment), remote: true, method: :patch, class: 'btn btn-primary btn-sm', data: {confirm: t('.complete.confirm', klass: Shipment.model_name.human, name: shipment.to_s), 'confirm-title': t('actions.confirm.title'), 'confirm-proceed': t('.complete.proceed'), 'confirm-cancel': t('.complete.cancel')}
        = icon('exclamation-circle', col(Shipment, :pending))
