.table-responsive
  %table.table.table-hover.table-loose
    %thead
      %tr
        %th.col-xs-2= col(Shipment, :shipping_method_id)
        %th= col(Shipment, :metadata)

    %tbody
      = content_tag_for :tr, order.shipments do |shipment|
        %td= shipment.shipping_method
        %td= metadata_table(shipment.parsed_metadata)
