.table-responsive
  %table#inventory-table.table.table-condensed.table-hover
    %thead
      %tr
        %th.col-xs-2{colspan: 2}= col(Product, :code)
        %th= col(Product, :title)
        %th.col-xs-1= col(Product, :stock)
        %th.col-xs-1.text-right à
        %th.col-xs-1.text-right= col(Product, :value)

    %tbody
    - @inventory[0].each do |item|
      %tr
        %td{colspan: 2}
          = link_to item.product.code, admin_product_path(item.product)
        %td
          %strong= item.product.title
          = item.product.subtitle
        %td= item.amount
        %td.text-right= humanized_money_with_symbol item.value
        %td.text-right= humanized_money_with_symbol item.total_value
