.table-responsive
  %table#inventory-table.table.table-condensed.table-hover
    %thead
      %tr
        %th= col(Product, :title)
        %th.col-xs-2= col(Product, :code)
        %th.col-xs-2= col(Product, :category_ids)
        %th.col-xs-1.text-right= col(Product, :stock)
        %th.col-xs-1.text-right à
        %th.col-xs-1.text-right= col(Product, :value)

    %tbody
    - @inventory.items.each do |item|
      %tr
        %td
          = link_to admin_product_path(item.product) do
            %strong= item.product.title
            = item.product.subtitle
        %td= item.product.codes
        %td= item.product.categories.to_sentence
        %td.text-right= item.on_hand
        %td.text-right.currency= price_tag item.value
        %td.text-right.currency= price_tag item.total_value

:coffee
  $('#inventory-table').tablesorter
    theme: 'bootstrap'
    widthFixed: true
    widgets: ['uiTheme', 'saveSort']
    headerTemplate: '{content} {icon}'
    sortList: [[0,0]]
