.panel.panel-info
  .panel-heading
    %h4.panel-title= t('actions.search')
  .panel-body
    = form_for @search, url: admin_purchases_report_path, method: :get, remote: true do |f|
      .row
        .col-sm-12
          .form-group
            = f.select :order_type, current_group.outgoing_order_types.map { |o| [o.to_s, o.id] }, {}, {multiple: true, placeholder: t('admin.reports.search.all_order_types'), class: 'form-control selectize'}
        .col-sm-12
          .form-group
            = f.select :user_id, current_group.users.map { |u| [u.to_s, u.id] }, {}, {multiple: true, placeholder: t('admin.reports.search.users'), class: 'form-control selectize'}
        .col-sm-6.col-md-4
          .form-group
            .input-group.input-daterange{data: {provide: 'datepicker', 'date-format': 'yyyy-mm-dd', 'date-language': I18n.locale, 'date-orientation': 'bottom'}}
              = f.search_field :since_date, autocomplete: 'off', placeholder: t('admin.reports.search.since_date'), class: 'form-control'
              %span.input-group-addon= icon('caret-right')
              = f.search_field :until_date, autocomplete: 'off', placeholder: t('admin.reports.search.until_date'), class: 'form-control'
        .col-sm-6.col-md-4
          .form-group
            .btn-group.temporal-unit-select{data: {toggle: 'buttons'}}
              - Reports::Sales::TEMPORAL_UNITS.each do |unit|
                %label.btn.btn-default{class: @search.temporal_unit == unit && 'active'}
                  = f.radio_button :temporal_unit, unit
                  = t(unit, scope: 'date.units')
        .col-sm-3.col-sm-offset-9.col-md-offset-1
          .form-group
            = f.submit t('actions.search'), class: 'btn btn-block btn-primary'

  :coffee
    $('.temporal-unit-select :input').on 'change', ->
      $('#new_order_report_row_search').trigger 'submit.rails'
