#sales-tax-table

:coffee
  tabular.start '#sales-tax-table',
    columns: [
      {title: '#{col(OrderReportRow, :tax_rate)}', name: 'tax_rate'}
      {title: '#{col(OrderReportRow, :amount)}', name: 'amount'}
      {title: '#{col(OrderReportRow, :value_sans_tax)}', name: 'value_sans_tax', css: 'currency'}
      {title: '#{col(OrderReportRow, :value_tax)}', name: 'value_tax', css: 'currency'}
      {title: '#{col(OrderReportRow, :value_with_tax)}', name: 'value_with_tax', css: 'currency'}
    ]
    source: '#{admin_sales_tax_report_path(format: :json)}'
    sort:
      name: 'tax_rate'
      dir: 'asc'
    plugins: [
      'Model'
      'Loader'
      'Sort'
    ]
    tableClass: 'table table-condensed table-hover'
