#sales-table

:coffee
  $('#sales-table').one 'view:tableHead', ->
    $('#sales-table').tabular_search_widget()

  $('#sales-table').on 'view:afterRender', (event, data) ->
    $('#grand-total').html data.grand_total_sans_tax
    $('#unit-count').html data.unit_count
    $('#product-count').html data.product_count

  tabular.start '#sales-table',
    columns: [
      {title: '#{col(Product, :title)}', name: 'product_title'}
      {title: '#{col(Product, :code)}', name: 'product_code'}
      {title: '#{col(OrderReportRow, :amount)}', name: 'amount', css: 'text-right'}
      {title: '#{col(OrderReportRow, :value_sans_tax)}', name: 'value_sans_tax', css: 'text-right currency'}
    ]
    source: '#{admin_sales_report_path(format: :json)}'
    sort:
      name: 'product_title'
      dir: 'asc'
    plugins: [
      'Model'
      'Loader'
      'Sort'
      'Search'
    ]
    tableClass: 'table table-condensed table-hover'
