.page-header
  %h1= icon('line-chart', t('admin.reports.title'))

.reports
  .report-panel
    = link_to admin_inventory_report_path do
      = icon('eur')
      = t('admin.reports.inventory.title')
  - if current_user.incoming_order_types(current_store).any?
    .report-panel
      = link_to admin_sales_report_path do
        = icon('shopping-cart')
        = t('admin.reports.sales.title')
  - if current_user.outgoing_order_types(current_store).any?
    .report-panel
      = link_to admin_purchases_report_path do
        = icon('money')
        = t('admin.reports.purchases.title')
