= render partial: 'header'

.reports
  .report-panel
    = link_to admin_inventory_report_path do
      = icon('eur')
      = t('admin.reports.inventory.title')
  .report-panel
    = link_to admin_sales_report_path do
      = icon('shopping-cart')
      = t('admin.reports.sales.title')
