.page-header
  = link_to admin_reports_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  = link_to icon('print', t('actions.print')), '#print', class: 'btn btn-default'
  %h1= icon('eur', t('admin.reports.inventory.title'))

= render partial: 'inventory_query'

.reports
  .report-body
    %dl.dl-horizontal
      %dt= t('admin.reports.inventory.total_value')
      %dd#grand-total
      %dt= t('admin.reports.inventory.items')
      %dd#product-count

%hr
= render partial: 'inventory_table'
