.page-header
  = link_to admin_reports_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  = link_to icon('print', t('actions.print')), '#print', class: 'btn btn-default'
  %h1= icon('money', t('admin.reports.purchases.title'))

= render partial: 'purchases_query'

.reports
  .report-body
    %dl.dl-horizontal
      %dt= t('admin.reports.purchases.total_value')
      %dd#grand-total
      %dt= t('admin.reports.purchases.total_units')
      %dd#unit-count
      %dt= t('admin.reports.purchases.products')
      %dd#product-count

= render partial: 'purchases_chart'
= render partial: 'purchases_table'
