.page-header
  = link_to admin_reports_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  = link_to icon('print', t('actions.print')), '#print', class: 'btn btn-default'
  %h1= icon('shopping-cart', t('admin.reports.sales.title'))

= render partial: 'sales_query'

.reports
  .report-body
    %dl.dl-horizontal
      %dt= t('admin.reports.sales.total_value')
      %dd#grand-total
      %dt= t('admin.reports.sales.total_units')
      %dd#unit-count
      %dt= t('admin.reports.sales.products')
      %dd#product-count

= render partial: 'sales_chart'
%hr
= render partial: 'sales_tax_table'
%hr
= render partial: 'sales_table'
