.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th.col-xs-3= col(Activity, :created_at)
        %th= col(Activity, :action)
        %th.col-xs-3= col(Activity, :user_id)
    %tbody.rowlink{data: {link: 'row'}}
      - @context.each do |activity|
        %tr[activity]{class: activity == @activity && 'active'}
          %td= link_to l(activity.created_at, format: :iso), admin_activity_path(activity)
          %td
            = bootstrap_label activity, text: activity.action
            - if activity.resource != activity.context
              = resource_name(activity)
          %td= activity.user.name

= paginate @context, param_name: :context_page, remote: true
