- if dropdown.children_count > 0
  - if navmenu
    %li
      .navmenu-header
        = dropdown
        %span.caret
      %ul.nav.navmenu-nav
        - dropdown.children.live.each do |child|
          = render partial: child.to_partial_path, object: child, locals: {navmenu: true}
  - else
    %li.dropdown
      = dropdown_toggle do
        = dropdown
        %span.caret
      %ul.dropdown-menu{role: 'menu'}
        - dropdown.children.live.each do |child|
          = render partial: child.to_partial_path, object: child, locals: {navmenu: false}
