- if dropdown.children_count > 0
  - if navmenu
    %li
      .navmenu-header
        = dropdown
        %span.caret
      %ul.nav.navmenu-nav
        = render partial: dropdown.children.live, locals: {navmenu: true}
  - else
    %li.dropdown
      = dropdown_toggle do
        = dropdown
        %span.caret
      %ul.dropdown-menu{role: 'menu'}
        = render partial: dropdown.children.live, locals: {navmenu: false}
