- if megamenu.children_count > 0
  - if navmenu
    %li
      .navmenu-header
        = megamenu
        %span.caret
      %ul.nav.navmenu-nav
        - megamenu.children.live.each do |child|
          = render partial: child.to_partial_path, object: child, locals: {navmenu: true}
  - else
    %li.dropdown.mega-dropdown
      = dropdown_toggle do
        = megamenu
        %span.caret
      %ul.dropdown-menu.mega-dropdown-menu{role: 'menu'}
        .container
          .row
            - megamenu.children.live.each do |child|
              = render partial: child.to_partial_path, object: child, locals: {navmenu: false}
