= form_for @<%= singular_table_name %>, html: {class: 'form-horizontal', role: 'form'} do |f|
  .panel.panel-default
    .panel-body
      = render 'shared/errors', object: @<%= singular_table_name %>

    <% for attribute in attributes -%>
      .form-group
        = f.label :<%= attribute.name %>, class: 'col-sm-4 control-label'
        .col-sm-8
          = f.<%= attribute.field_type %> :<%= attribute.name %>, class: 'form-control'
    <% end -%>
      .form-group
        .col-sm-offset-4.col-sm-8
          = f.submit class: 'btn btn-primary'
