.page-header
  = link_to <%= index_helper %>_path, class: 'btn btn-default' do
    = icon('chevron-circle-left')
    Back
  = link_to @<%= singular_table_name %>, class: 'btn btn-primary' do
    = icon('info-circle')
    Show
  %h1= @<%= singular_table_name %>.to_s

= render partial: 'form', locals: {locked: false}
