= bootstrap_form_for [:admin, @category], layout: :horizontal,
    label_col: 'col-sm-4', control_col: 'col-sm-8' do |f|
  .panel.panel-default
    .panel-body
      %fieldset{disabled: locked}
        = f.select :parent_category_id, current_store.top_level_category_options(@category), {include_blank: true}, {class: 'selectize'}
        = f.text_field :name
        = f.text_area :description, class: 'wysiwyg'
        = f.select :product_scope, Product.sorting_scopes.map { |s| [Product.human_attribute_value(:sorting, s), s] }, {}, {class: 'selectize'}
      - unless locked
        = f.form_group do
          = f.primary

:coffee
  $('#category_description').froalaEditor
    key: '#{current_store.froala_key}'
    language: '#{current_store.locale}'
    heightMin: 200
    heightMax: 400
    toolbarButtons: [
      'paragraphFormat', 'bold', 'italic', 'underline', '-',
      'align', 'formatOL', 'formatUL', '-',
      'undo', 'redo'
    ]
    toolbarInline: true
