= bootstrap_form_for [:admin, @category], remote: true, layout: :vertical, html: {class: 'immediate'} do |f|
  .panel.panel-primary
    .panel-body
      %fieldset
        = f.text_field :name, required: true
        = f.text_area :subtitle, rows: 3
        = f.select :product_scope, Product.sorting_scopes.map { |s| [Product.human_attribute_value(:sorting, s), s] }, {}, {class: 'selectize'}
        = f.form_group do
          = f.check_box :live
    - unless @category.new_record?
      .panel-footer
        - if @category.product_scope == 'manual'
          = link_to icon('reorder', t('actions.reorder')), reorder_products_admin_category_path(@category), class: 'btn btn-default btn-sm'
        - if @category.page.present?
          = link_to icon('file-o', t('.edit_page')), edit_admin_page_path(@category.page), class: 'btn btn-default btn-sm'
        - if current_user.can_delete?(@category)
          .pull-right
            = link_to icon('remove', t('actions.delete')), admin_category_path(@category), method: :delete, class: 'btn btn-danger btn-sm', data: {confirm: t('actions.confirm.body', klass: Category.model_name.human, name: @category.name), 'confirm-title': t('actions.confirm.title'), 'confirm-proceed': t('actions.confirm.proceed'), 'confirm-cancel': t('actions.confirm.cancel')}
