= bootstrap_form_for [:admin, @category], layout: :horizontal,
    label_col: 'col-sm-4', control_col: 'col-sm-8' do |f|
  .panel.panel-default
    .panel-body
      = f.select :parent_category_id, current_store.category_options,
          {include_blank: blank_option}, {class: 'select2'}
      = f.text_field :name
      = f.form_group do
        = f.primary
