.page-header
  = link_to admin_categories_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  = link_to admin_category_path(@category), class: 'btn btn-primary' do
    = icon('info-circle', t('actions.show'))
  %h1
    = image_variant_tag(@category.cover_image)
    = @category

.row
  .col-md-6
    = render 'form'

  .col-md-6
    = render partial: 'admin/images/edit_table', object: @category, as: :imageable
    = render partial: 'admin/images/dropzone', object: @category, as: :imageable
