.row
  .col-md-7
    .page-header
      %h1= icon('sitemap', title(Category, count: 2))
    #category-list.dd
      %ol.dd-list
        = render @categories
  .col-md-5
    .quick-edit-panel
      .header
        - if current_user.can_create?(Category, at: current_store)
          = link_to new_admin_category_path, remote: true, class: 'btn btn-primary' do
            = icon('plus', t('.new_category'))
      #category-form
        = render partial: 'edit'

:coffee
  $('.quick-edit-panel').stick_in_parent
    parent: $('.row')
    offset_top: 80

  $('#category-list').nestable().on 'change', ->
    data = {rearrange: {categories: $(this).nestable('serialize')}}
    $.ajax
      type: 'POST'
      url: '#{rearrange_admin_categories_path}'
      data: JSON.stringify data
      contentType: 'application/json; charset=utf-8'

  $('##{dom_id(@category)}').closest('.dd-item').addClass 'active'

  $(window).scrollTo $('##{dom_id(@category)}'), 300,
    offset: -$('.navbar').outerHeight true
