.page-header
  = link_to new_admin_category_path, class: 'btn btn-primary' do
    = icon('plus', 'New Category')
  %h1= icon('sitemap', 'Categories')

.table-responsive
  %table.table.table-striped.table-hover.table-loose
    %thead
      %tr
        %th.col-xs-1
        %th Name
        %th Parent category
        %th

    %tbody.sortable
      = content_tag_for :tr, @categories do |category|
        %td= image_variant_tag(category.cover_image)
        %td= category.name
        %td= category.parent_category
        %td.text-right
          = link_to icon('info', 'Show'), admin_category_path(category),
              class: 'btn btn-default btn-sm'
          = link_to icon('edit', 'Edit'), edit_admin_category_path(category),
              class: 'btn btn-default btn-sm'

:coffee
  $('.sortable').sortable(
    items: 'tr'
    placeholder: '#{tr_placeholder(5)}'
  ).bind 'sortupdate', (e, ui) ->
    $.post '#{reorder_admin_categories_path}',
      {reorder: $('tr', this).map(-> this.id).get()}
