.page-header
  - if current_user.can_create?(Category)
    = link_to new_admin_category_path, class: 'btn btn-primary' do
      = icon('plus', t('.new_category'))
  %h1= icon('sitemap', title(Category, count: 2))

.table-responsive
  %table.table.table-striped.table-hover.table-loose
    %thead
      %tr
        %th.col-min.hidden-print
        %th.col-min
        %th.col-xs-4= col(Category, :name)
        %th= col(Category, :parent_id)
        %th.col-min
        %th.col-min
        %th= col(Category, :product_scope)
        %th.actions

    %tbody{class: current_user.can_update?(Category) && 'sortable'}
      - @categories.each do |category|
        = content_tag_for :tr, category, class: !category.live? && 'warning text-warning' || category.hidden? && 'text-muted' do
          %td.hidden-print= drag_handle
          %td= image_variant_tag category.cover_image
          %td= category.name
          %td= category.parent
          %td
            - if category.hidden?
              = icon('eye-slash', title: col(Category, :hidden), data: {toggle: 'tooltip'})
          %td
            - unless category.live?
              = icon('warning', title: col(Category, :not_live), data: {toggle: 'tooltip'})
          %td
            .label.label-default
              = Product.human_attribute_value(:sorting, category.product_scope)
          %td.actions
            - if category.product_scope == 'manual'
              = link_to icon('reorder', t('actions.reorder')), reorder_products_admin_category_path(category), class: 'btn btn-default btn-sm'
            = link_to icon('info', t('actions.show')), admin_category_path(category),
                class: 'btn btn-default btn-sm'
            - if current_user.can_update?(Category)
              = link_to icon('edit', t('actions.edit')), edit_admin_category_path(category),
                  class: 'btn btn-default btn-sm'
            - if current_user.can_delete?(Category)
              = link_to icon('remove', t('actions.delete')), admin_category_path(category),
                  method: :delete, class: 'btn btn-sm btn-danger',
                  data: {confirm: t('actions.confirm.body',
                    klass: Category.model_name.human, name: category.name),
                    'confirm-title': t('actions.confirm.title'),
                    'confirm-proceed': t('actions.confirm.proceed'),
                    'confirm-cancel': t('actions.confirm.cancel')}

:coffee
  $('.sortable').sortable(
    items: '> tr'
    handle: '.handle'
    placeholder: 'sortable-placeholder'
    opacity: 0.5
    revert: 200
  ).bind 'sortupdate', (e, ui) ->
    $.post '#{reorder_admin_categories_path}',
      {reorder: $(this).sortable('toArray')}
