.page-header
  - if current_user.can_create?(Category)
    = link_to new_admin_category_path, class: 'btn btn-primary' do
      = icon('plus', t('.new_category'))
  %h1= icon('sitemap', title(Category, count: 2))

.dd
  %ol.dd-list
    = render partial: 'nested_list_item', collection: @categories.roots, as: :category

:coffee
  $('.dd').nestable().bind 'change', ->
    $.ajax
      type: 'POST'
      url: '#{rearrange_admin_categories_path}'
      data: JSON.stringify {rearrange: {categories: $(this).nestable('serialize')}}
      contentType: 'application/json; charset=utf-8'
