.page-header
  = link_to new_admin_category_path, class: 'btn btn-primary' do
    = icon(:plus, 'New Category')
  %h1= icon('sitemap', 'Categories')

.table-responsive
  %table.table.table-striped.table-hover.table-loose
    %thead
      %tr
        %th.col-xs-1
        %th Name
        %th Parent category
        %th.col-xs-2 Brand
        %th.col-md-1.col.xs-2
        %th.col-md-1.col.xs-2

    %tbody
      - @categories.each do |category|
        %tr
          %td= icon_image_tag(category)
          %td= category.name
          %td= category.parent_category
          %td= category.brand
          %td.text-right= link_to icon('info', 'Show'), admin_category_path(category),
            class: 'btn btn-default btn-sm'
          %td.text-right= link_to icon('edit', 'Edit'), edit_admin_category_path(category),
            class: 'btn btn-default btn-sm'
