.page-header
  - if current_user.can_create?(Category)
    = link_to new_admin_category_path, class: 'btn btn-primary' do
      = icon('plus', t('.new_category'))
  %h1= icon('sitemap', title(Category, count: 2))

.table-responsive
  %table.table.table-striped.table-hover.table-loose
    %thead
      %tr
        %th.col-min.hidden-print
        %th.col-xs-1
        %th= col(Category, :name)
        %th= col(Category, :parent_category_id)
        %th.hidden-print

    %tbody{class: current_user.can_update?(Category) ? 'sortable' : nil}
      = content_tag_for :tr, @categories do |category|
        %td.hidden-print= drag_handle
        %td= image_variant_tag category.cover_image
        %td= category.name
        %td= category.parent_category
        %td.hidden-print.text-right
          = link_to icon('info', t('actions.show')), admin_category_path(category),
              class: 'btn btn-default btn-sm'
          - if current_user.can_update?(Category)
            = link_to icon('edit', t('actions.edit')), edit_admin_category_path(category),
                class: 'btn btn-default btn-sm'
          - if current_user.can_delete?(Category)
            = link_to icon('remove', t('actions.delete')), admin_category_path(category),
                method: :delete, class: 'btn btn-sm btn-danger',
                data: {confirm: t('actions.confirm.body',
                  klass: Category.model_name.human, name: category.name),
                  'confirm-title' => t('actions.confirm.title'),
                  'confirm-proceed' => t('actions.confirm.proceed'),
                  'confirm-cancel' => t('actions.confirm.cancel')}

:coffee
  $('.sortable').sortable(
    items: 'tr'
    handle: '.handle'
    placeholder: '#{tr_placeholder(5)}'
  ).bind 'sortupdate', (e, ui) ->
    $.post '#{reorder_admin_categories_path}',
      {reorder: $('tr', this).map(-> this.id).get()}
