.page-header
  = link_to admin_categories_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  %h1= icon('reorder', @category)

.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th.col-min.hidden-print
        %th= col(Product, :title)
        %th.col-min

    %tbody{class: current_user.can_update?(@category, at: current_store) && 'sortable'}
      - @products.each do |product|
        %tr[product]
          %td.hidden-print= drag_handle
          %td
            .product
              %strong= product.title
              %span.small= product.subtitle
              .badge= product.code
          %td
            - if product.icon.present?
              = icon(product.icon, title: product.human_attribute_value(:purpose), data: {toggle: 'tooltip'})

:coffee
  $('.sortable').sortable(
    items: '> tr'
    handle: '.handle'
    placeholder: 'sortable-placeholder'
    opacity: 0.5
    revert: 200
  ).bind 'sortupdate', (e, ui) ->
    $.post '#{reorder_admin_products_path}',
      {reorder: $(this).sortable('toArray')}
