.page-header
  = link_to admin_categories_path, class: 'btn btn-default' do
    = icon('chevron-circle-left')
    Back
  = link_to edit_admin_category_path(@category), class: 'btn btn-primary' do
    = icon('pencil-square')
    Edit
  %h1
    = icon_image_tag(@category)
    = @category

.row
  .col-sm-6
    .panel.panel-default
      .panel-body.form-horizontal
        .form-group
          %label.col-sm-4.control-label Brand
          .col-sm-8
            %p.form-control-static= @category.brand
        .form-group
          %label.col-sm-4.control-label Parent category
          .col-sm-8
            %p.form-control-static= @category.parent_category
        .form-group
          %label.col-sm-4.control-label Name
          .col-sm-8
            %p.form-control-static= @category.name

  .col-sm-6
    = render partial: 'admin/images/table', object: @category, as: :imageable
