.page-header
  = link_to admin_categories_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  - if current_user.can_update?(Category)
    = link_to edit_admin_category_path(@category), class: 'btn btn-primary' do
      = icon('pencil-square', t('actions.edit'))
  %h1
    = image_variant_tag(@category.cover_image)
    = @category

.row
  .col-md-6
    .panel.panel-default
      .panel-body.form-horizontal
        .form-group
          %label.col-sm-4.control-label
            = col(Category, :parent_category_id)
          .col-sm-8
            %p.form-control-static= @category.parent_category
        .form-group
          %label.col-sm-4.control-label
            = col(Category, :name)
          .col-sm-8
            %p.form-control-static= @category.name

  .col-md-6
    = render partial: 'admin/images/table', object: @category, as: :imageable
