.table-responsive
  %table.table.table-striped.table-hover.table-loose
    %thead
      %tr
        %th.col-xs-4= col(AlternatePrice, :pricing_group_id)
        %th.col-xs-3.text-right= col(AlternatePrice, :retail_price)
        %th.col-xs-2.text-right= col(AlternatePrice, :markup_percent)
        %th.col-xs-2.text-right= col(AlternatePrice, :margin_percent)
        %th.actions

    %tbody#alternate-prices-tbody
      = render partial: 'admin/alternate_prices/edit_tbody', object: product, as: :product

.table-responsive
  = form_for [:admin, product, product.alternate_prices.new], remote: true do |f|
    %table.table.table-loose
      %tbody
        %tr
          %td.col-xs-4
            = f.select :pricing_group_id, current_store.pricing_groups.map { |p| [p.to_s, p.id] }, {include_blank: true}, {placeholder: col(AlternatePrice, :pricing_group_id), class: 'form-control'}
          %td.col-xs-3= f.text_field :retail_price, placeholder: col(AlternatePrice, :retail_price), class: 'form-control text-right'
          %td.col-xs-2= f.text_field :markup_percent, class: 'form-control text-right', disabled: true
          %td.col-xs-2
          %td.actions
            = f.button id: 'create_alternate_price', class: 'btn btn-default', disabled: true do
              = icon('check')

:coffee
  jQuery ->
    markup_percents = #{current_store.pricing_groups.map { |p| [p.id, p.markup_percent.to_f] }.to_h.to_json}

    numbro.culture "#{t('culture')}"
    $pricing_group_select = $('#alternate_price_pricing_group_id').selectize
      dropdownParent: 'body'
      onChange: (index) ->
        markup_percent = markup_percents[index]
        trade_price = numbro().unformat $('#product_trade_price').val()
        if markup_percent
          $('#alternate_price_markup_percent').val numbro(markup_percent).format('0.00')
          $('#alternate_price_retail_price').val numbro((1 + markup_percent/100) * trade_price).format('0.00')
          $('#create_alternate_price').attr disabled: false
        else
          $('#alternate_price_markup_percent').val ''
          $('#alternate_price_retail_price').val ''
          $('#create_alternate_price').attr disabled: true
