.table-responsive
  %table.table.table-striped.table-hover.table-loose
    %thead
      %tr
        %th.col-xs-4= col(AlternatePrice, :group_id)
        %th.col-xs-3.text-right= col(AlternatePrice, :price)
        %th.col-xs-2.text-right= col(AlternatePrice, :markup_percent)
        %th.col-xs-2.text-right= col(AlternatePrice, :margin_percent)
        %th.actions

    %tbody#alternate-prices-tbody
      = render partial: 'admin/alternate_prices/edit_tbody', object: product, as: :product

.table-responsive
  = form_for [:admin, product, product.alternate_prices.new], remote: true do |f|
    %table.table.table-loose
      %tbody
        %tr
          %td.col-xs-4
            = f.select :group_id, current_store.group_options, {include_blank: true}, {placeholder: col(AlternatePrice, :group_id), class: 'form-control', data: {group_pricing: current_store.groups.map { |g| [g.id, {modifier: g.price_modifier.to_f, price: product.send(g.price_method).to_f}] }.to_h}}
          %td.col-xs-3= f.text_field :price, placeholder: col(AlternatePrice, :price), class: 'form-control text-right'
          %td.col-xs-2= f.text_field :modifier, class: 'form-control text-right', disabled: true
          %td.col-xs-2
          %td.actions
            = f.button id: 'create_alternate_price', class: 'btn btn-default', disabled: true do
              = icon('check')

:coffee
  jQuery ->
    group_pricing = $('#alternate_price_group_id').data 'groupPricing'

    numbro.culture "#{t('culture')}"
    $pricing_group_select = $('#alternate_price_group_id').selectize
      dropdownParent: 'body'
      labelField: 'title'
      dataAttr: 'data'
      render: $.fn.selectize.label_renderer
      onChange: (index) ->
        if group = group_pricing[index]
          $('#alternate_price_modifier').val numbro(group.modifier).format('0.00')
          $('#alternate_price_price').val numbro((1 + group.modifier/100) * group.price).format('0.00')
          $('#create_alternate_price').attr disabled: false
        else
          $('#alternate_price_modifier').val ''
          $('#alternate_price_retail_price').val ''
          $('#create_alternate_price').attr disabled: true
