.table-responsive
  %table.table.table-striped.table-hover.table-loose
    %thead
      %tr
        %th= col(AlternatePrice, :group_id)
        %th.col-xs-3.text-right= col(AlternatePrice, :price)
        %th.col-xs-2.text-right= col(AlternatePrice, :markup_percent)
        %th.col-xs-2.text-right= col(AlternatePrice, :margin_percent)

    %tbody
      = content_tag_for :tr, product.alternate_prices do |alternate_price|
        %td
          %span.label{class: "label-#{alternate_price.group.appearance}"}
            = alternate_price.group
        %td.text-right.currency= price_tag alternate_price.price
        %td.text-right= number_with_precision(alternate_price.markup_percent(current_group), precision: 2)
        %td.text-right= number_with_precision(alternate_price.margin_percent(current_group), precision: 2)
