= bootstrap_form_for [:admin, @product], remote: true, html: {class: 'immediate'} do |f|
  .panel.panel-primary
    .panel-heading
      %h4.panel-title
        = icon('adjust') if @product.variant?
        = @product
    .panel-body
      %fieldset
        = f.text_field :title, required: true
        = f.text_field :subtitle
        = f.select :category_ids, current_group.category_options, {}, {multiple: true, class: 'selectize'}
        - unless @product.not_priced?
          .row
            .col-sm-6
              = f.text_field :trade_price, class: 'text-right', append: '€'
            .col-sm-6
              = f.text_field :retail_price, class: 'text-right', append: '€'
    .panel-footer
      - if @product.page.present?
        = link_to icon('file-o', t('.edit_page')), edit_admin_page_path(@product.page), class: 'btn btn-default btn-sm'
      .pull-right
        - if @product.master? && current_user.can_create?(Product, at: current_store)
          = link_to icon('plus', t('.new_variant')), new_admin_product_path(master: @product), class: 'btn btn-primary btn-sm'
        - if current_user.can_update?(@product, at: current_store)
          - if @product.variant? && !@product.primary?
            = link_to icon('star', t('.make_primary')), make_primary_admin_product_path(@product), remote: true, method: :patch, class: 'btn btn-primary btn-sm'
          = link_to icon('copy', t('.duplicate.button')), duplicate_admin_product_path(@product), method: :post, class: 'btn btn-warning btn-sm', data: {confirm: t('.duplicate.confirm', klass: Product.model_name.human, name: @product.to_s), 'confirm-title': t('actions.confirm.title'), 'confirm-proceed': t('.duplicate.proceed'), 'confirm-cancel': t('.duplicate.cancel')}

- unless @product.has_variants? || @product.bundle?
  = render partial: 'admin/inventory_items/table', object: @product, as: :product
  - if current_user.can_create?(InventoryItem, at: current_store)
    = render partial: 'admin/inventory_items/form', object: @product, as: :product
