= bootstrap_form_for [:admin, @product], layout: :horizontal,
    label_col: 'col-sm-4', control_col: 'col-sm-8' do |f|
  .panel.panel-default
    .panel-body
      = f.select :category_id, current_store.category_options,
          {include_blank: blank_option}, {class: 'selectize'}
      = f.text_field :code, label_class: 'import'
      = f.text_field :customer_code, label_class: 'import'
      = f.text_field :title, label_class: 'import'
      = f.text_field :subtitle, label_class: 'import'
      = f.text_area :description, class: 'wysiwyg'
      = f.text_field :sales_price, label_class: 'import', append: '€'
      = f.date_field :available_at,
          data: {provide: 'datepicker', 'date-format' => 'yyyy-mm-dd', 'date-language' => I18n.locale}
      = f.date_field :deleted_at,
          data: {provide: 'datepicker', 'date-format' => 'yyyy-mm-dd', 'date-language' => I18n.locale}
      = f.text_area :memo, rows: 4, label_class: 'import',
          help: t('.memo_help_html')
      = f.form_group do
        = f.primary

:coffee
  $('#product_description').editable
    inlineMode: false
    maxHeight: 400
    buttons: [
      'bold', 'italic', 'underline', 'formatBlock', 'align',
      'insertOrderedList', 'insertUnorderedList',
      'undo', 'redo'
    ]
