= bootstrap_form_for [:admin, @product], layout: :horizontal,
    label_col: 'col-sm-4', control_col: 'col-sm-8' do |f|
  .panel.panel-default
    .panel-body
      %fieldset{disabled: locked}
        = f.select :category_ids, current_store.category_options,
            {include_blank: true}, {multiple: true, class: 'selectize'}
        = f.form_group do
          = f.check_box :compound
        = f.form_group do
          = f.check_box :virtual
        = f.text_field :code, required: true
        = f.text_field :customer_code
        = f.text_field :title, required: true
        = f.text_field :subtitle
        = f.text_area :description
        - if current_user.manufacturer?
          = f.text_field :cost_price, append: '€', control_col: 'col-sm-4', class: 'text-right'
        .form-group
          %label.control-label.col-sm-4= col(Product, :trade_price)
          .col-sm-4
            .input-group
              = f.text_field_without_bootstrap :trade_price, class: 'form-control text-right'
              %span.input-group-addon €
          .col-sm-4
            .input-group
              %span.input-group-addon= col(Product, :markup_percent)
              = text_field_tag :markup_percent, number_with_precision(@product.markup_percent, precision: 2), disabled: true, class: 'form-control text-right'
        .form-group
          %label.control-label.col-sm-4= col(Product, :retail_price)
          .col-sm-4
            .input-group
              = f.text_field_without_bootstrap :retail_price, class: 'form-control text-right'
              %span.input-group-addon €
          .col-sm-4
            .input-group
              %span.input-group-addon= col(Product, :margin_percent)
              = text_field_tag :margin_percent, number_with_precision(@product.margin_percent, precision: 2), disabled: true, class: 'form-control text-right'
        = f.date_field :available_at,
            data: {provide: 'datepicker', 'date-format' => 'yyyy-mm-dd', 'date-language' => I18n.locale}
        = f.date_field :deleted_at,
            data: {provide: 'datepicker', 'date-format' => 'yyyy-mm-dd', 'date-language' => I18n.locale}
        = f.select :linked_product_ids, @product.linked_product_options,
            {}, {multiple: true, class: 'selectize'}
        = f.text_area :memo, rows: 4
      - unless locked
        = f.form_group do
          = f.primary

:coffee
  $('#product_description').froalaEditor
    key: '#{current_store.froala_key}'
    language: '#{current_store.locale}'
    heightMin: 200
    heightMax: 400
    toolbarButtons: [
      'paragraphFormat', 'bold', 'italic', 'underline', '-',
      'align', 'formatOL', 'formatUL', '-',
      'undo', 'redo'
    ]
    toolbarInline: true
    editorClass: 'form-control-wysiwyg'
    placeholderText: ''
