= bootstrap_form_for [:admin, @product], layout: :horizontal,
    label_col: 'col-sm-4', control_col: 'col-sm-8' do |f|
  %ul.nav.nav-tabs.panel-tabs{role: 'tablist'}
    = nav_tab 'product-meta', col(Product, :metadata), class: 'active'
    = nav_tab 'product-text', col(Product, :text)
    = nav_tab 'product-pricing', col(Product, :pricing), class: (@product.has_variants? || @product.bundle?) && 'disabled'
    = nav_tab 'product-shipping', col(Product, :shipping), class: @product.has_variants? && 'disabled'
    = nav_tab 'product-variants', col(Product, :variants)

  .panel.panel-default.tabbed-panel
    .panel-body
      .tab-content
        = tab_pane 'product-meta', class: 'in active' do
          %fieldset{disabled: locked}
            = f.select :purpose, Product.purpose_options, {}, {class: 'selectize'}
            = f.select :category_ids, current_group.category_options, {}, {multiple: true, class: 'selectize'}
            = f.select :vendor_id, current_store.group_options, {include_blank: blank}, {class: 'selectize-label', disabled: third_party?}
            = f.text_field :code, required: true
            = f.text_field :customer_code
            = f.text_field :available_at,
                data: {provide: 'datepicker', 'date-format': 'yyyy-mm-dd', 'date-language': I18n.locale}
            = f.text_field :deleted_at,
                data: {provide: 'datepicker', 'date-format': 'yyyy-mm-dd', 'date-language': I18n.locale}
            ~ f.text_area :memo, rows: 2

        = tab_pane 'product-text' do
          %fieldset{disabled: locked}
            = f.text_field :title, required: true
            = f.text_field :subtitle
            ~ f.text_area :description

        = tab_pane 'product-pricing' do
          %fieldset{disabled: locked}
            = f.select :tax_category_id, current_store.tax_categories.map { |t| [t.to_s, t.id] }, {}, data: {tax_categories: current_store.tax_categories.map { |t| [t.id, t.included_in_retail?] }.to_h}
            - if current_group.cost?
              = f.text_field :cost_price, append: '€', control_col: 'col-sm-4', class: 'text-right'
            .form-group
              %label.control-label.col-sm-4= col(Product, :trade_price)
              .col-sm-4
                .input-group
                  = f.text_field_without_bootstrap :trade_price, class: 'form-control text-right'
                  %span.input-group-addon €
              .col-sm-4
                .input-group
                  %span.input-group-addon= col(Product, :markup_percent)
                  = text_field_tag :markup_percent, number_with_precision(@product.markup_percent, precision: 2), class: 'form-control text-right'
            .form-group
              %label.control-label.col-sm-4= col(Product, :retail_price)
              .col-sm-4
                .input-group
                  = f.text_field_without_bootstrap :retail_price, class: 'form-control text-right'
                  %span.input-group-addon €
                .help-block
                  #tax-included.collapse{class: @product.tax_category.included_in_retail? && 'in'}
                    = t('.tax_included_in_retail_html')
                  #tax-excluded.collapse{class: @product.tax_category.included_in_retail? || 'in'}
                    = t('.tax_excluded_in_retail_html')
              .col-sm-4
                .input-group
                  %span.input-group-addon= col(Product, :margin_percent)
                  = text_field_tag :margin_percent, number_with_precision(@product.margin_percent, precision: 2), class: 'form-control text-right'

        = tab_pane 'product-shipping' do
          %fieldset{disabled: locked}
            = f.select :shipping_method_ids, current_store.shipping_method_options, {}, {multiple: true, class: 'selectize', placeholder: t('.all_shipping_methods')}
            = f.text_field :mass, append: 'g', class: 'text-right'
            .form-group
              %label.control-label.col-sm-4= col(Product, :dimensions)
              .col-sm-8
                .input-group
                  = f.text_field_without_bootstrap :dimension_u, class: 'form-control text-right'
                  %span.input-group-addon ⨯
                  = f.text_field_without_bootstrap :dimension_v, class: 'form-control text-right'
                  %span.input-group-addon ⨯
                  = f.text_field_without_bootstrap :dimension_w, class: 'form-control text-right'
                  %span.input-group-addon mm
            = f.text_field :lead_time, help: t('.lead_time_help_html')
            ~ f.text_area :shipping_notes, rows: 2, help: t('.shipping_notes_help')

        = tab_pane 'product-variants' do
          %fieldset{disabled: locked}
            = f.select :master_product_id, [], {}, {placeholder: t('.assign_master_product'), class: 'selectize-tall selectize-list-group', data: {products: [@product.master_product].compact, selected: [@product.master_product_id].compact}}

      - unless locked
        %fieldset.actions
          = f.form_group do
            = f.primary

:coffee
  numbro.culture "#{t('culture')}"
  $('#product_trade_price').on 'change', (e) ->
    update_markup_margin()
    $('#markup_percent, #margin_percent').effect 'highlight'
  $('#product_retail_price').on 'change', (e) ->
    update_markup_margin()
    $('#markup_percent, #margin_percent').effect 'highlight'

  $('#markup_percent').on 'change', (e) ->
    markup_percent = numbro().unformat $('#markup_percent').val()
    trade_price = numbro().unformat $('#product_trade_price').val()
    retail_price = trade_price * (1 + markup_percent/100.0)
    $('#product_retail_price').val numbro(retail_price).format('0.00')
    update_markup_margin()
    $('#product_retail_price, #margin_percent').effect 'highlight'

  $('#margin_percent').on 'change', (e) ->
    margin_percent = numbro().unformat $('#margin_percent').val()
    trade_price = numbro().unformat $('#product_trade_price').val()
    retail_price = - trade_price / (margin_percent/100.0 - 1)
    $('#product_retail_price').val numbro(retail_price).format('0.00')
    update_markup_margin()
    $('#product_retail_price, #markup_percent').effect 'highlight'

  tax_categories = $('#product_tax_category_id').data 'taxCategories'

  $('#product_tax_category_id').selectize
      dropdownParent: 'body'
      onChange: (index) ->
        if tax_categories[index]
          $('#tax-included').collapse 'show'
          $('#tax-excluded').collapse 'hide'
        else
          $('#tax-included').collapse 'hide'
          $('#tax-excluded').collapse 'show'

  $master_product = $('#product_master_product_id')
  products = $master_product.data 'products'
  selected = $master_product.data 'selected'

  $master_product.selectize
    dropdownParent: 'body'
    preload: true
    options: products
    items: selected
    valueField: 'id'
    sortField: [{field: 'title'}, {field: 'subtitle'}]
    searchField: ['code', 'customer_code', 'title', 'subtitle']
    diacritics: false
    render: $.fn.selectize.product_renderer
    load: (query, callback) ->
      $.ajax
        url: '#{query_admin_products_path}'
        type: 'GET'
        dataType: 'json'
        data:
          exclusions: #{@product.new_record? ? [] : @product.id}
        error: ->
          callback()
        success: (response) ->
          callback(response)

  $('.selectize-label').selectize
    labelField: 'title'
    dataAttr: 'data'
    allowEmptyOption: true
    render: $.fn.selectize.label_renderer

  $('#product_description').summernote
    lang: "#{t('culture')}"
    toolbar: [
      ['para', ['style', 'ul', 'ol', 'paragraph']]
      ['font', ['bold', 'italic', 'clear']]
    ]
    dialogsFade: true
