%tr[product]{class: product.live? || 'warning text-warning'}
  %td
    .product
      %strong= product.title
      %span.small= product.subtitle
      .badge= product.code
  - if product.not_priced?
    %td
    %td
  - else
    %td.control
      = form_for [:set_price, :admin, product], namespace: [:trade_price, product.id], remote: true, html: {class: 'pull-right immediate'} do |f|
        = hidden_field_tag :group_id, @group && @group.id, id: nil
        = f.text_field :trade_price, class: 'form-control text-right', placeholder: humanized_money(product.trade_price), tabindex: 1
    %td.control
      = form_for [:set_price, :admin, product], namespace: [:retail_price, product.id], remote: true, html: {class: 'pull-right immediate'} do |f|
        = hidden_field_tag :group_id, @group && @group.id, id: nil
        = f.text_field :retail_price, class: 'form-control text-right', placeholder: humanized_money(product.retail_price), tabindex: 2
  - if @group.present?
    - if product.not_priced?
      %td
    - else
      %td.control
        = form_for [:admin, product, product.alternate_prices.where(group: @group).first_or_initialize], namespace: [:alternate_price, product.id], remote: true, html: {class: 'pull-right immediate'} do |f|
          = f.hidden_field :group_id, value: @group.id, id: nil
          = f.text_field :price, class: 'form-control text-right', placeholder: humanized_money(@appraiser.for_pricing(product).amount)
