.table-responsive
  %table#products-table.table.table-striped.table-hover.table-loose
    %thead
      %tr
        %th.col-min{data: {sorter: 'false'}}
        %th.col-xs-2= col(Product, :code)
        %th= col(Product, :title)
        %th= col(Product, :category_ids)
        %th.col-xs-2.hidden-print{data: {sorter: 'false'}}

    %tbody
      - products.each do |product|
        = content_tag_for :tr, product, class: product.live? ? '' : 'warning text-warning' do
          %td= image_variant_tag product.cover_image, :icon
          %td
            = product.live? ? product.code : icon('warning', product.code, data: {toggle: 'tooltip'}, title: col(Product, :not_available))
          %td
            %strong= product.title
            = product.subtitle
          %td= product.categories.to_sentence
          %td.hidden-print.text-right
            = link_to icon('info', t('actions.show')), admin_product_path(product), class: 'btn btn-default btn-sm'
            - if current_user.can_update?(Product)
              = link_to icon('edit', t('actions.edit')), edit_admin_product_path(product), class: 'btn btn-default btn-sm'

:coffee
  $('#products-table').tablesorter
    theme: 'bootstrap'
    widthFixed: true
    widgets: ['uiTheme', 'saveSort']
    headerTemplate: '{content} {icon}'
    sortList: [[2,0]]
