.table-responsive
  %table.table.table-striped.table-hover.table-loose
    %thead
      %tr
        %th.col-xs-2= col(Product, :code)
        %th= col(Product, :title)
        %th.col-xs-2= col(Product, :images)
        %th.hidden-print

    %tbody
      - products.each do |product|
        = content_tag_for :tr, product, class: product.available? ? '' : 'warning text-warning' do
          %td
            = product.available? ? product.code : icon('warning', product.code, data: {toggle: 'tooltip'}, title: col(Product, :not_available))
          %td
            %strong= product.title
            = product.subtitle
          %td
            - product.images.sorted.each do |image|
              = image_variant_tag(image, :icon,
                  data: {toggle: 'popover', placement: 'left', container: 'body', content: "#{image_variant_tag(image, :matchbox)}"})
          %td.hidden-print.text-right
            = link_to icon('info', t('actions.show')), admin_product_path(product), class: 'btn btn-default btn-sm'
            - if current_user.can_update?(Product)
              = link_to icon('edit', t('actions.edit')), edit_admin_product_path(product), class: 'btn btn-default btn-sm'
