#products-upload-modal.modal{data: {backdrop: 'static'}}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}}= icon('close')
        %h4.modal-title= t('.title')
      .modal-body
        = form_tag upload_file_admin_products_path, multipart: true, id: 'products-upload', class: 'dropzone well' do |f|
          .fallback
            .form-group
              = file_field_tag :file
            .form-group
              %button.btn.btn-primary{type: 'submit'}= t('actions.upload')
        #upload-complete.collapse.fade
          %ul.list-group

:coffee
  Dropzone.options.productsUpload =
    dictDefaultMessage: "#{I18n.t('admin.products.upload_modal.dropzone_message')}"
    paramName: 'file'
    acceptedFiles: '.csv,.xls'
    timeout: 600000
    init: ->
      @on 'success', (file, response) ->
        $ul = $('#upload-complete > ul')
        for product in response
          $ul.append $('<li class="list-group-item"><strong>' + product.title + '</strong> ' + product.subtitle + ' <span class="label label-default">' + product.code + '</span> <span class="currency pull-right">' + product.formatted_price_string + '</span></li>')
        $('#upload-complete').collapse 'show'
