.page-header
  = link_to admin_products_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  = link_to admin_product_path(@product), class: 'btn btn-primary' do
    = icon('info-circle', t('actions.show'))
  - if @product.live?
    = link_to show_product_path(@product.category, @product), class: 'btn btn-default' do
      = icon('eye', t('actions.view'))
  %h1
    = icon('cube', @product.title)
    %span.small= @product.subtitle

.row
  .col-lg-6
    = render partial: 'form', locals: {locked: false}

  .col-lg-6
    %ul.nav.nav-tabs.nav-justified.nav-sm{role: 'tablist'}
      = nav_tab 'images', col(Product, :images), class: 'active'
      = nav_tab 'inventory', col(Product, :inventory)
      = nav_tab 'alternate-prices', col(Product, :alternate_prices)
      = nav_tab 'properties', col(Product, :product_properties)
      = nav_tab 'iframes', col(Product, :iframes)
      = nav_tab 'requisite-entries', col(Product, :requisite_entries)
      = nav_tab 'component-entries', col(Product, :component_entries)

    .tab-content
      = tab_pane 'images', class: 'in active' do
        = render partial: 'admin/images/edit_table', object: @product, as: :imageable
        = render partial: 'admin/images/dropzone', object: @product, as: :imageable
      = tab_pane 'inventory' do
        = render partial: 'admin/inventory_items/table_for_product', object: @product, as: :product
        - if current_user.can_create?(InventoryItem)
          = render partial: 'admin/inventory_items/form_for_product', object: @product, as: :product
      = tab_pane 'alternate-prices' do
        = render partial: 'admin/alternate_prices/edit_table', object: @product, as: :product
      = tab_pane 'properties' do
        = render partial: 'admin/product_properties/edit_table', object: @product, as: :product
      = tab_pane 'iframes' do
        = render partial: 'admin/iframes/edit_table', object: @product, as: :product
      = tab_pane 'requisite-entries' do
        = render partial: 'admin/requisite_entries/edit_table', object: @product, as: :product
        = render partial: 'add_requisite_entries', object: @product, as: :product
      = tab_pane 'component-entries' do
        = render partial: 'admin/component_entries/edit_table', object: @product, as: :product
