.page-header
  = link_to admin_products_path, class: 'btn btn-default' do
    = icon('chevron-circle-left')
    Back
  = link_to admin_product_path(@product), class: 'btn btn-primary' do
    = icon('info-circle')
    Show
  %h1= @product.to_s

= render 'form'
