.page-header
  = link_to admin_products_path, class: 'btn btn-default' do
    = icon('chevron-circle-left')
    Back
  = link_to admin_product_path(@product), class: 'btn btn-primary' do
    = icon('info-circle')
    Show
  %h1
    Product
    %span.small= @product.to_s

.row
  .col-sm-6
    = render 'form'

  .col-sm-6
    .list-group.gallery
      = render @product.product_images
      = form_for [:admin, @product, ProductImage.new],
          html: {multipart: true, class: 'dropzone'} do |f|
        .fallback
          = f.file_field :image
          = f.submit class: 'btn btn-primary'
        :javascript
          Dropzone.options.newProductImage = {
            paramName: 'product_image[image]'
          }
