.page-header
  = link_to admin_products_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  = link_to admin_product_path(@product), class: 'btn btn-primary' do
    = icon('info-circle', t('actions.show'))
  %h1
    = icon(@product.variant? ? 'adjust' : 'cube', @product.title)
    %span.small= @product.subtitle

.row
  .col-lg-5
    = render partial: 'form', locals: {locked: false}

  .col-lg-7
    = tab_set 'product-side', class: 'nav-justified nav-sm' do
      = nav_tab 'images', col(Product, :images), default: true
      = nav_tab 'inventory', col(Product, :inventory), class: @product.tracked_stock? || 'disabled'
      = nav_tab 'alternate-prices', col(Product, :alternate_prices), class: @product.not_priced? && 'disabled'
      = nav_tab 'properties', col(Product, :product_properties), class: @product.bundle? && 'disabled'
      = nav_tab 'documents', col(Product, :documents)
      = nav_tab 'requisite-entries', col(Product, :requisite_entries), class: @product.has_variants? && 'disabled'
      = nav_tab 'component-entries', col(Product, :component_entries), class: @product.has_variants? && 'disabled'
      = nav_tab 'history', t('admin.activities.title')

    .tab-content
      = tab_pane 'images', default: true do
        = progressive_render do
          = render partial: 'admin/pictures/edit_collection', object: @product, as: :pictureable
      = tab_pane 'inventory' do
        = progressive_render do
          = render partial: 'admin/inventory_items/table', object: @product, as: :product
          - if current_user.can_create?(InventoryItem, at: current_store)
            = render partial: 'admin/inventory_items/form', object: @product, as: :product
      = tab_pane 'alternate-prices' do
        = progressive_render do
          = render partial: 'admin/alternate_prices/edit_table', object: @product, as: :product
      = tab_pane 'properties' do
        = progressive_render do
          = render partial: 'admin/product_properties/edit_table', object: @product, as: :product
      = tab_pane 'documents' do
        = progressive_render do
          = render partial: 'admin/documents/edit_list', object: @product, as: :documentable
          = render partial: 'admin/documents/dropzone', object: @product, as: :documentable
      = tab_pane 'requisite-entries' do
        = progressive_render do
          = render partial: 'admin/requisite_entries/edit_table', object: @product, as: :product
          = render partial: 'add_requisite_entries', object: @product, as: :product
      = tab_pane 'component-entries' do
        = progressive_render do
          = render partial: 'admin/component_entries/edit_table', object: @product, as: :product
      = tab_pane 'history' do
        #context-activities.hidden-print{data: {url: context_admin_activities_path(format: :js), gid: @product.to_global_id}}

:coffee
  persist_tabs 'product-side'
  $('#context-activities').fetch_context()
