.page-header
  = link_to admin_products_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  = link_to admin_product_path(@product), class: 'btn btn-primary' do
    = icon('info-circle', t('actions.show'))
  - if @product.live?
    = link_to show_product_path(@product.category, @product), class: 'btn btn-default' do
      = icon('eye', t('actions.view'))
  %h1
    = icon('cube', @product.title)
    %span.small= @product.subtitle

.row
  .col-lg-6
    = render partial: 'form', locals: {locked: false}

  .col-lg-6
    %ul.nav.nav-tabs{role: 'tablist'}
      %li.active{role: 'presentation'}
        %a{href: '#tab-alternate-prices', role: 'tab', data: {toggle: 'tab'}}
          = col(Product, :alternate_prices)
      %li{role: 'presentation'}
        %a{href: '#tab-images', role: 'tab', data: {toggle: 'tab'}}
          = col(Product, :images)
      %li{role: 'presentation'}
        %a{href: '#tab-properties', role: 'tab', data: {toggle: 'tab'}}
          = col(Product, :product_properties)
      %li{role: 'presentation'}
        %a{href: '#tab-iframes', role: 'tab', data: {toggle: 'tab'}}
          = col(Product, :iframes)
      %li{role: 'presentation'}
        %a{href: '#tab-component-entries', role: 'tab', data: {toggle: 'tab'}}
          = col(Product, :component_entries)

    .tab-content
      #tab-alternate-prices.tab-pane.fade.in.active
        = render partial: 'admin/alternate_prices/edit_table', object: @product, as: :product
      #tab-images.tab-pane.fade
        = render partial: 'admin/images/edit_table', object: @product, as: :imageable
        = render partial: 'admin/images/dropzone', object: @product, as: :imageable
      #tab-properties.tab-pane.fade
        = render partial: 'admin/product_properties/edit_table', object: @product, as: :product
      #tab-iframes.tab-pane.fade
        = render partial: 'admin/iframes/edit_table', object: @product, as: :product
      #tab-component-entries.tab-pane.fade
        = render partial: 'admin/component_entries/edit_table', object: @product, as: :product
