.page-header
  = link_to admin_products_path, class: 'btn btn-default' do
    = icon('chevron-circle-left')
    Back
  = link_to admin_product_path(@product), class: 'btn btn-primary' do
    = icon('info-circle')
    Show
  %h1= icon('cube', @product)

.row
  .col-sm-6
    = render 'form'

  .col-sm-6
    = render partial: 'admin/images/edit_table', object: @product, as: :imageable
    = render partial: 'admin/images/dropzone', object: @product, as: :imageable
