.page-header
  = link_to admin_products_path(anchor: products_tab(@product)), class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  - if @point.next.present?
    = link_to icon('arrow-down'), edit_admin_product_path(@point.next), class: 'btn btn-default'
  - if @point.previous.present?
    = link_to icon('arrow-up'), edit_admin_product_path(@point.previous), class: 'btn btn-default'
  = link_to admin_product_path(@product), class: 'btn btn-primary' do
    = icon('info-circle', t('actions.show'))
  - if @product.category.present? && @product.available?
    = link_to show_product_path(@product), class: 'btn btn-default' do
      = icon('eye', t('actions.view'))
  %h1
    = icon('cube', @product.title)
    %span.small= @product.subtitle

.row
  .col-lg-7
    = render 'form'

  .col-lg-5
    = render partial: 'admin/images/edit_table', object: @product, as: :imageable
    = render partial: 'admin/images/dropzone', object: @product, as: :imageable
    = render partial: 'admin/customizations/edit_table', object: @product, as: :customizable
    = render partial: 'admin/relationships/table', object: @product, as: :product
