.page-header
  = link_to new_admin_product_path, class: 'btn btn-primary' do
    = icon(:plus, 'New Product')
  %h1= icon('cube', 'Products')

.table-responsive
  %table.table.table-striped.table-hover.table-loose
    %thead
      %tr
        %th.col-xs-2 Product code
        %th Name
        %th Images
        %th.col-xs-2 Category
        %th

    %tbody.sortable
      = content_tag_for :tr, @products do |product|
        %td= product.code
        %td= product.name
        %td
          - product.images.each do |image|
            = image_tag(image.attachment.url(:icon))
        %td= product.category
        %td.text-right
          = link_to icon('info', 'Show'), admin_product_path(product),
              class: 'btn btn-default btn-sm'
          = link_to icon('edit', 'Edit'), edit_admin_product_path(product),
              class: 'btn btn-default btn-sm'

:coffee
  $('.sortable').sortable(
    items: 'tr'
    placeholder: '#{tr_placeholder(5)}'
  ).bind 'sortupdate', (e, ui) ->
    $.post '#{reorder_admin_products_path}',
      {reorder: $('tr', this).map(-> this.id).get()}
