.page-header
  - if current_user.can_create?(Product)
    = link_to new_admin_product_path, class: 'btn btn-primary' do
      = icon('plus', 'New Product')
  %h1= icon('cube', 'Products')

%ul.nav.nav-tabs{role: 'tablist'}
  %li.active{role: 'presentation'}
    %a{href: '#products', role: 'tab', data: {toggle: 'tab'}} Products
  %li{role: 'presentation'}
    %a{href: '#uncategorized', role: 'tab', data: {toggle: 'tab'}} Uncategorized products

.tab-content
  #products.tab-pane.fade.in.active
    %h2.visible-print-block Products
    = render partial: 'admin/products/table', object: @categorized, as: :products

  #uncategorized.tab-pane.fade
    %h2.visible-print-block Uncategorized products
    = render partial: 'admin/products/table', object: @uncategorized, as: :products
