.page-header
  - if current_user.can_create?(Product)
    = link_to new_admin_product_path, class: 'btn btn-primary' do
      = icon('plus', t('.new_product'))
  %h1= icon('cube', title(Product, count: 2))

- first = @products_by_category.keys.first

%ul.nav.nav-tabs{role: 'tablist'}
  - @products_by_category.each_key do |category|
    %li{role: 'presentation', class: category == first ? 'active' : nil}
      %a{href: "##{tab_name(category, 'uncategorized')}", role: 'tab', data: {toggle: 'tab'}}
        = category.present? ? category.name.truncate(15, omission: '…') : t('.uncategorized')

.tab-content
  - @products_by_category.each do |category, products|
    .tab-pane.fade{id: tab_name(category, 'uncategorized'), class: category == first ? 'in active' : nil}
      %h2.visible-print-block= category.try(:name) || t('.uncategorized')
      = render partial: 'admin/products/table', object: products, as: :products

:coffee
  $('.sortable').sortable(
    items: 'tr'
    handle: '.handle'
    placeholder: '#{tr_placeholder(5)}'
  ).bind 'sortupdate', (e, ui) ->
    $.post '#{reorder_admin_products_path}',
      {reorder: $('tr', this).map(-> this.id).get()}
