.page-header
  - if current_user.can_create?(Product)
    = link_to new_admin_product_path, class: 'btn btn-primary' do
      = icon('plus', t('.new_product'))
  %h1= icon('cube', title(Product, count: 2))

.panel.panel-info
  .panel-heading
    .panel-title
      %h4= t('actions.search')
  .panel-body
    = search_form_for [:admin, @q] do |f|
      .col-xs-2
        = f.search_field :title_or_subtitle_cont, autocomplete: 'off', placeholder: col(Product, :title), class: 'form-control'
      .col-xs-4
        = f.select :categories_id_in, current_store.category_options, {include_blank: true}, {multiple: true, placeholder: col(Product, :category_ids), class: 'form-control selectize'}
      .col-xs-2
        = f.select :live_eq, Product.availability_options, {include_blank: true}, {placeholder: col(Product, :live), class: 'form-control selectize'}
      .col-xs-1.pull-right
        .hidden
          = f.sort_fields do |s|
            = s.sort_select
        = f.submit t('actions.search'), class: 'btn btn-primary'

= render partial: 'admin/products/table', object: @products, as: :products
= paginate @products
