.page-header
  = link_to new_admin_product_path, class: 'btn btn-primary' do
    = icon(:plus, 'New Product')
  %h1 Products

.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th Brand
        %th Category
        %th Name
        %th.col-md-1.col.xs-2
        %th.col-md-1.col.xs-2

    %tbody
      - @products.each do |product|
        %tr
          %td= product.brand
          %td= product.category
          %td= product.name
          %td.text-right= link_to icon('info', 'Show'), admin_product_path(product)
          %td.text-right= link_to icon('edit', 'Edit'), edit_admin_product_path(product)
