.page-header
  - if current_user.can_create?(Product)
    = link_to new_admin_product_path, class: 'btn btn-primary' do
      = icon('plus', t('.new_product'))
    %button.btn.btn-default{data: {toggle: 'modal', target: '#products-upload-modal'}}
      = icon('cloud-upload', t('actions.upload'))
  %h1= icon('cube', title(Product, count: 2))

= render partial: 'search'
= render partial: 'admin/products/upload_modal'

.row
  .col-md-7
    = render partial: 'admin/products/table', object: @products, as: :products
    = paginate @products
  .col-md-5
    .quick-edit-panel
      #product-form

:coffee
  $('.quick-edit-panel').stick_in_parent
    parent: $('.row')
    offset_top: 80
