.page-header
  = link_to admin_products_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  %h1= icon('tag', col(Product, :pricing))

= render partial: 'search'
= render partial: 'admin/products/upload_modal'

= render partial: 'admin/products/pricing_table', object: @products, as: :products
= paginate @products
