.page-header
  = link_to admin_products_path, class: 'btn btn-default' do
    = icon('chevron-circle-left')
    Back
  = link_to edit_admin_product_path(@product), class: 'btn btn-primary' do
    = icon('pencil-square')
    Edit
  %h1= icon('cube', @product)

.row
  .col-sm-6
    .panel.panel-default
      .panel-body.form-horizontal
        .form-group
          %label.col-sm-4.control-label Brand
          .col-sm-8
            %p.form-control-static= @product.brand
        .form-group
          %label.col-sm-4.control-label Category
          .col-sm-8
            %p.form-control-static= @product.category
        .form-group
          %label.col-sm-4.control-label Product code
          .col-sm-8
            %p.form-control-static= @product.code
        .form-group
          %label.col-sm-4.control-label Name
          .col-sm-8
            %p.form-control-static= @product.name
        .form-group
          %label.col-sm-4.control-label Description
          .col-sm-8
            %p.form-control-static= @product.description

  .col-sm-6
    .list-group.gallery
      = render partial: 'admin/images/image', collection: @product.images
