.page-header
  = link_to admin_products_path(anchor: tab_name(@product)), class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  - if @point.next.present?
    = link_to icon('arrow-down'), admin_product_path(@point.next), class: 'btn btn-default'
  - if @point.previous.present?
    = link_to icon('arrow-up'), admin_product_path(@point.previous), class: 'btn btn-default'
  - if current_user.can_update?(Product)
    = link_to edit_admin_product_path(@product), class: 'btn btn-primary' do
      = icon('pencil-square', t('actions.edit'))
  - if @product.category.present? && @product.available?
    = link_to show_product_path(@product), class: 'btn btn-default' do
      = icon('eye', t('actions.view'))
  %h1
    = icon('cube', @product.title)
    %span.small= @product.subtitle

.row
  .col-lg-7
    = render partial: 'form', locals: {locked: true}

  .col-lg-5
    %ul.nav.nav-tabs{role: 'tablist'}
      %li.active{role: 'presentation'}
        %a{href: '#tab-images', role: 'tab', data: {toggle: 'tab'}}
          = col(Product, :images)
      %li{role: 'presentation'}
        %a{href: '#tab-customizations', role: 'tab', data: {toggle: 'tab'}}
          = col(Product, :customizations)
      %li{role: 'presentation'}
        %a{href: '#tab-iframes', role: 'tab', data: {toggle: 'tab'}}
          = col(Product, :iframes)
      %li{role: 'presentation'}
        %a{href: '#tab-components', role: 'tab', data: {toggle: 'tab'}}
          = col(Product, :components)

    .tab-content
      #tab-images.tab-pane.fade.in.active
        = render partial: 'admin/images/table', object: @product, as: :imageable
      #tab-customizations.tab-pane.fade
        = render partial: 'admin/customizations/table', object: @product, as: :customizable
      #tab-iframes.tab-pane.fade
        = render partial: 'admin/iframes/table', object: @product, as: :product
      #tab-components.tab-pane.fade
        = render partial: 'admin/relationships/table', object: @product, as: :product
