.page-header
  = link_to admin_products_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', 'Back')
  = link_to edit_admin_product_path(@product), class: 'btn btn-primary' do
    = icon('pencil-square', 'Edit')
  = link_to show_product_path(@product), class: 'btn btn-default' do
    = icon('cubes', 'Show in store')
  %h1
    = icon('cube', @product.title)
    %span.small= @product.subtitle

.row
  .col-sm-7
    .panel.panel-default
      .panel-body.form-horizontal
        .form-group
          %label.col-sm-4.control-label Category
          .col-sm-8
            %p.form-control-static= @product.category
        .form-group
          %label.col-sm-4.control-label Product code
          .col-sm-8
            %p.form-control-static= @product.code
        .form-group
          %label.col-sm-4.control-label Title
          .col-sm-8
            %p.form-control-static= @product.title
        .form-group
          %label.col-sm-4.control-label Subtitle
          .col-sm-8
            %p.form-control-static= @product.subtitle
        .form-group
          %label.col-sm-4.control-label Description
          .col-sm-8.form-control-static
            = @product.description.html_safe
        .form-group
          %label.col-sm-4.control-label Memo
          .col-sm-8
            %p.form-control-static.pre><= @product.memo

  .col-sm-5
    = render partial: 'admin/images/table', object: @product, as: :imageable
