.page-header
  = link_to admin_products_path(anchor: products_tab(@product)), class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  - if @point.next.present?
    = link_to icon('arrow-down'), admin_product_path(@point.next), class: 'btn btn-default'
  - if @point.previous.present?
    = link_to icon('arrow-up'), admin_product_path(@point.previous), class: 'btn btn-default'
  - if current_user.can_update?(Product)
    = link_to edit_admin_product_path(@product), class: 'btn btn-primary' do
      = icon('pencil-square', t('actions.edit'))
  - if @product.category.present?
    = link_to show_product_path(@product), class: 'btn btn-default' do
      = icon('eye', t('actions.view'))
  %h1
    = icon('cube', @product.title)
    %span.small= @product.subtitle

.row
  .col-lg-7
    .panel.panel-default
      .panel-body.form-horizontal
        = static_control col(Product, :category_id),
            @product.category
        = static_control col(Product, :code),
            @product.code
        = static_control col(Product, :customer_code),
            @product.customer_code
        = static_control col(Product, :title),
            @product.title
        = static_control col(Product, :subtitle),
            @product.subtitle
        = static_control col(Product, :description) do
          = @product.description.html_safe if @product.description.present?
        = static_control col(Product, :sales_price),
            number_to_currency(@product.sales_price, unit: '€')
        = static_control col(Product, :memo) do
          = simple_format(@product.memo)

  .col-lg-5
    = render partial: 'admin/images/table', object: @product, as: :imageable
    = render partial: 'admin/relationships/table', object: @product, as: :product
