.page-header
  = link_to admin_products_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  - if current_user.can_update?(@product, at: current_store)
    = link_to edit_admin_product_path(@product), class: 'btn btn-primary' do
      = icon('pencil-square', t('actions.edit'))
  - if @product.page.present?
    = link_to icon('file-o', t('.edit_page')), edit_admin_page_path(@product.page), class: 'btn btn-default'
  - if @product.live?
    = link_to show_product_path(@product), class: 'btn btn-default' do
      = icon('eye', t('actions.view'))
  %h1
    = icon('cube', @product.title)
    %span.small= @product.subtitle

.row
  .col-lg-5
    = render partial: 'form', locals: {locked: true}

  .col-lg-7
    = tab_set 'product-side', class: 'nav-justified nav-sm' do
      = nav_tab 'images', col(Product, :images), default: true
      = nav_tab 'inventory', col(Product, :inventory), class: (@product.has_variants? || @product.bundle?) && 'disabled'
      = nav_tab 'alternate-prices', col(Product, :alternate_prices), class: (@product.has_variants? || @product.bundle?) && 'disabled'
      = nav_tab 'properties', col(Product, :product_properties), class: (@product.has_variants? || @product.bundle?) && 'disabled'
      = nav_tab 'documents', col(Product, :documents)
      = nav_tab 'requisite-entries', col(Product, :requisite_entries), class: @product.has_variants? && 'disabled'
      = nav_tab 'component-entries', col(Product, :component_entries), class: @product.has_variants? && 'disabled'
      = nav_tab 'history', t('admin.activities.title')

    .tab-content
      = tab_pane 'images', default: true do
        = render partial: 'admin/images/collection', object: @product, as: :imageable
      = tab_pane 'inventory' do
        = render partial: 'admin/inventory_items/table', object: @product, as: :product
      = tab_pane 'alternate-prices' do
        = render partial: 'admin/alternate_prices/table', object: @product, as: :product
      = tab_pane 'properties' do
        = render partial: 'admin/product_properties/table', object: @product, as: :product
      = tab_pane 'documents' do
        = render partial: 'admin/documents/list', object: @product, as: :documentable
      = tab_pane 'requisite-entries' do
        = render partial: 'admin/requisite_entries/table', object: @product, as: :product
      = tab_pane 'component-entries' do
        = render partial: 'admin/component_entries/table', object: @product, as: :product
      = tab_pane 'history' do
        #context-activities{data: {url: context_admin_activities_path(format: :js), gid: @product.to_global_id}}

:coffee
  persist_tabs 'product-side'
  $('#context-activities').fetch_context()
