%tr[inventory_check_item]
  %td= product_header inventory_check_item
  %td= inventory_check_item.lot_code
  %td.text-right
    - if inventory_check_item.stocked?
      = inventory_check_item.on_hand
  %td.text-right= inventory_check_item.current
  %td.text-right
    %strong= number_with_precision_and_sign inventory_check_item.difference, precision: 0
  %td.actions
    - if inventory_check_item.pending?
      = link_to icon('check', t('.approve')), approve_admin_inventory_check_item_path(inventory_check_item), remote: true, method: :patch, class: 'btn btn-outline-success btn-sm'
      = link_to icon('close', t('.discard')), discard_admin_inventory_check_item_path(inventory_check_item), remote: true, method: :patch, class: 'btn btn-outline-danger btn-sm'
