.table-responsive
  %table.table.table-hover.table-loose
    %thead
      %tr
        %th= col(InventoryCheckItem, :product_title)
        %th.col-xs-2= col(InventoryCheckItem, :lot_code)
        %th.col-xs-1.text-right= col(InventoryCheckItem, :on_hand)
        %th.col-xs-1.text-right= col(InventoryCheckItem, :amount)
        %th.col-min
    %tbody
      - inventory_check.inventory_check_items.each do |inventory_check_item|
        %tr[inventory_check_item]{class: inventory_check_item.appearance}
          %td= product_header inventory_check_item
          %td= inventory_check_item.lot_code
          %td.text-right
            - if inventory_check_item.stocked?
              = inventory_check_item.on_hand
          %td.text-right= inventory_check_item.amount
          %td.col-min= icon(inventory_check_item.icon)
