= f.hidden_field :resource_type, value: 'Product'
= f.select :resource_id, [], {}, {placeholder: t('actions.query'), class: 'selectize-tall selectize-list-group'}

:coffee
  $('#page_resource_id').selectize
    dropdownParent: 'body'
    preload: true
    options: [#{@page.resource.present? && @page.resource.to_json}]
    items: [#{@page.resource_id}]
    valueField: 'id'
    sortField: [{field: 'title'}, {field: 'subtitle'}]
    searchField: ['code', 'customer_code', 'title', 'subtitle']
    diacritics: false
    render: $.fn.selectize.renderers
    load: (query, callback) ->
      $.ajax
        url: '#{query_admin_products_path}'
        type: 'GET'
        dataType: 'json'
        data:
          q: query
          purposes: ['vanilla', 'master', 'variant', 'bundle', 'composite', 'virtual']
        error: ->
          callback()
        success: (response) ->
          callback(response)
