#cart-table
  %table.table.table-form.table-hover
    %caption.text-right
      %em.small= order.includes_tax? ? t('orders.receipt.tax_included') : t('orders.receipt.tax_excluded')
    %thead
      %tr
        %th.col-min.visible-print
        %th= col(OrderItem, :product_title)
        %th.col-xs-1.text-right= col(OrderItem, :amount)
        %th.col-xs-1.text-right= col(OrderItem, :price)
        %th.col-xs-1.text-right= col(OrderItem, :subtotal)
        %th.col-xs-1.actions
    %tfoot
      %tr.info
        %th.visible-print
        %th{colspan: 2}
        %th.text-right= col(Order, :grand_total)
        %th#grand-total.text-right.currency
          = money order.includes_tax? ? order.grand_total_with_tax : order.grand_total_sans_tax
        %th.actions
    %tbody
      = render partial: 'order_items/cart_row', collection: order.order_items, as: :order_item, locals: {locked: locked}
      - if order.adjustments.any?
        = render partial: 'adjustments/row', collection: order.adjustments, as: :adjustment, locals: {includes_tax: order.includes_tax?}
