%tr[order_item]{class: [order_item.is_subitem? && 'subrow', order_item.satisfied? || 'warning text-warning']}
  %td.visible-print
    %span.badge= order_item_counter + 1
  %td
    .product
      - unless order_item.satisfied?
        = icon('warning', data: {toggle: 'tooltip'}, title: col(Product, :not_live))
      - if order_item.real? && order_item.live?
        = link_to order_item.product_title, show_product_path(order_item.product)
        .badge= order_item.product_code
      - else
        = order_item.product_title
      = bootstrap_label(order_item, appearance: :primary)
      .small
        = order_item.product_subtitle
        - if order_item.product.vendor.present?
          = icon('truck')
          %strong= order_item.product.vendor.name
    - if order_item.additional_info.present?
      .additional-info
        = order_item.product.additional_info_prompt
        %strong= order_item.additional_info
    - if order_item.product.shipping_notes.present?
      .small
        = icon('info-circle')
        = order_item.product.shipping_notes
    - if order_item.out_of_stock? && order_item.back_orderable?
      .small
        = icon('warning')
        = t('store.cart.lead_time_warning', lead_time: order_item.product.lead_time)
  %td.control
    = form_for order_item, remote: true, html: {class: 'pull-right immediate'} do |f|
      = f.number_field :amount, min: 1, max: 999, class: 'form-control text-right', disabled: locked || order_item.is_subitem? || order_item.internal?
  %td.text-right.currency
    = money order_item.includes_tax? ? order_item.price_with_tax : order_item.price_sans_tax
  %td.text-right.currency
    = money order_item.includes_tax? ? order_item.subtotal_with_tax : order_item.subtotal_sans_tax
  %td.actions
    - unless locked || order_item.is_subitem? || order_item.internal?
      = link_to icon('remove'), order_item_path(order_item), remote: true, method: :delete, class: 'btn btn-outline-danger btn-sm'

- if order_item.adjustments.any?
  = render partial: 'adjustments/row', collection: order_item.adjustments, as: :adjustment, locals: {includes_tax: order_item.includes_tax?}
