#order-items-table
  .panel.panel-default
    - if @order.empty?
      .panel-body
        %p.lead= t('store.empty_cart')
        %p= link_to t('store.go_shopping'), front_path
    - else
      .table-responsive
        %table.table.table-striped.table-hover.table-loose
          %thead
            %tr
              %th= col(OrderItem, :product_title)
              %th.col-xs-2= col(OrderItem, :product_code)
              %th.col-xs-1.text-right= col(OrderItem, :amount)
              %th.col-xs-1.text-right à
              %th.col-xs-1.text-right= col(OrderItem, :subtotal)
              %th.actions
          %tfoot
            %tr.info
              %th.text-right{colspan: 4}= col(Order, :grand_total)
              %th#grand-total.text-right.currency{data: {amount: @order.grand_total.cents}}
                = humanized_money_with_symbol @order.grand_total
              %th
          %tbody
            = render partial: 'order_items/edit_row', collection: order.order_items, as: :order_item
            - if order.adjustments.any?
              = render partial: 'adjustments/row', collection: order.adjustments, as: :adjustment
      .panel-footer
        .text-right
          - if @order.checkoutable?
            - current_user.available_order_types.each do |order_type|
              = link_to order_type.name, checkout_path(@order, order_type), class: 'btn btn-primary'
          - else
            = t('checkout.messages.cannot_checkout_html')
