#order-items-table
  .table-responsive
    %table.table.table-hover.table-loose
      %thead
        %tr
          %th= col(OrderItem, :product_title)
          %th= col(OrderItem, :product_code)
          %th.col-xs-1.text-right= col(OrderItem, :amount)
          %th.col-xs-2.text-right= col(OrderItem, :price)
          %th.text-right= col(OrderItem, :subtotal)
          %th.col-xs-1.actions
      %tfoot
        %tr
          %th{colspan: 2}
          %th.text-right{colspan: 2}= col(Order, :grand_total)
          %th.text-right.currency
            = render partial: 'orders/grand_total', object: order, as: :order
          %th
      %tbody
        = render partial: 'order_items/edit_row', collection: order.order_items, as: :order_item
