= content_tag_for :tr, order_item do
  %td
    %strong= order_item.product_title
    = order_item.product_subtitle
    - if order_item.product.shipping_notes.present?
      .small
        = icon('info-circle')
        = order_item.product.shipping_notes
  %td.no-wrap= order_item.product_code
  %td
    = form_for order_item, remote: true,
        html: {class: 'pull-right immediate'} do |f|
      = f.number_field :amount, min: 1, max: 999, class: 'form-control input-sm text-right', tabindex: 1
  %td.text-right.currency
    = form_for order_item, remote: true, html: {class: 'immediate'} do |f|
      .input-group.input-group-sm
        = f.text_field :price, class: 'form-control text-right', placeholder: humanized_money(order_item.product.retail_price), tabindex: 2
        %span.input-group-addon €
  %td.text-right.currency
    = humanized_money_with_symbol order_item.includes_tax? ? order_item.subtotal_with_tax : order_item.subtotal_sans_tax
  %td.actions
    = link_to icon('remove'), order_item_path(order_item), remote: true, method: :delete, class: 'btn btn-danger btn-sm'
