= content_tag_for :tr, order_item do
  %td= link_to_unless order_item.virtual?, icon('cube', order_item.product.code), show_product_path(order_item.product)
  %td
    %strong= order_item.product.title
    = order_item.product.subtitle
  %td.text-right
    - unless order_item.virtual?
      = order_item.amount
  %td.text-right.currency
    - unless order_item.virtual?
      = humanized_money_with_symbol order_item.price
  %td.text-right.currency
    = humanized_money_with_symbol order_item.subtotal
  %td

- if order_item.adjustments.any?
  = render partial: 'adjustments/row', collection: order_item.adjustments, as: :adjustment
