= content_tag_for :tr, order_item do
  %td
    %strong
      - if order_item.real? && order_item.live?
        = link_to order_item.product_title, show_product_path(order_item.product.category, order_item.product)
      - else
        = order_item.product_title
    = order_item.product_subtitle
  %td.no-wrap
    - if order_item.real?
      = order_item.product_code
  %td.text-right
    - unless order_item.virtual?
      = order_item.amount
  %td.text-right.currency
    - unless order_item.virtual?
      = humanized_money_with_symbol order_item.price
  %td.text-right.currency
    = humanized_money_with_symbol order_item.subtotal
  %td.actions

- if order_item.adjustments.any?
  = render partial: 'adjustments/row', collection: order_item.adjustments, as: :adjustment
