= content_tag_for :tr, order_item do
  %td= link_to icon('cube', order_item.product.code), show_product_path(order_item.product)
  %td
    %strong= order_item.product.title
    = order_item.product.subtitle
  %td.text-right= order_item.amount
  %td.text-right= number_to_currency(order_item.price, unit: '€')
  %td.text-right= number_to_currency(order_item.subtotal, unit: '€')
  %td
