#order-items-table.table-responsive
  %table.table.table-striped.table-hover.table-loose
    %thead
      %tr
        %th= col(OrderItem, :product_title)
        %th.col-xs-2= col(OrderItem, :product_code)
        %th.text-right= col(OrderItem, :amount)
        %th.text-right à
        %th.text-right= col(OrderItem, :subtotal)
        %th.actions
    %tfoot
      %tr
        %th
        %th
        %th
        %th.text-right= col(Order, :grand_total)
        %th#grand-total.text-right.currency{data: {amount: @order.grand_total.cents}}
          = humanized_money_with_symbol @order.grand_total
        %th
    %tbody
      = render partial: 'order_items/row', collection: order.order_items, as: :order_item
      - if order.adjustments.any?
        = render partial: 'adjustments/row', collection: order.adjustments, as: :adjustment
