#order-items-table.table-responsive
  %table.table.table-striped.table-hover.table-loose
    %thead
      %tr
        %th.col-xs-2= col(OrderItem, :product_code)
        %th= col(OrderItem, :product_title)
        %th.text-right= col(OrderItem, :amount)
        %th.col-xs-1.text-right à
        %th.col-xs-1.text-right= col(OrderItem, :subtotal)
        %th
    %tfoot
      = render partial: 'orders/grand_total_row', object: order, as: :order
    %tbody
      = render partial: 'order_items/row', collection: order.order_items, as: :order_item
