- if @is_cart
  $('#cart-contents').replaceWith("#{j render partial: 'store/cart_contents', object: @order, as: :order}");
  $('#cart-badge').replaceWith("#{j render partial: 'store/cart_badge'}");
- else
  $("##{dom_id(@order_item)}").replaceWith("#{j render partial: 'order_items/edit_row', object: @order_item, as: :order_item}");
  $('#grand-total').replaceWith("#{j render partial: 'orders/grand_total', object: @order, as: :order}")

$("##{dom_id(@order_item)}").effect('highlight');
