.segment-form{class: segment.template}
  = bootstrap_form_for [:admin, segment], remote: true do |f|
    = render partial: "admin/#{segment.to_partial_path}", object: segment, as: :segment, locals: {f: f}
    %fieldset.actions
      = f.button class: 'btn btn-primary btn-block' do
        = icon('check', t('actions.save'))
