.segment-form{class: segment.template}
  = bootstrap_form_for [:admin, segment], remote: true do |f|
    = render partial: "admin/#{segment.to_partial_path}", object: segment, as: :segment, locals: {f: f}
    %fieldset.actions
      = link_to icon('close', t('actions.cancel')), admin_segment_path(segment), remote: true, class: 'btn btn-default'
      = f.button class: 'btn btn-primary' do
        = icon('check', t('actions.save'))
