= bootstrap_form_for [:admin, @segment], remote: true, layout: :vertical do |f|
  = render partial: "admin/#{@segment.to_partial_path}", locals: {f: f}
  %fieldset
    = f.select :template, Segment.template_options, {}, {required: true, class: 'selectize'}
  %fieldset.actions
    .pull-right
      = link_to icon('close', t('actions.cancel')), admin_segment_path(@segment), remote: true, class: 'btn btn-default'
    = f.form_group do
      = f.primary
