.segment-form{class: segment.template}
  = bootstrap_form_for [:admin, segment], remote: true, html: {class: 'immediate triggered'} do |f|
    %fieldset
      = f.select :template, Segment.template_options
    - unless segment.without_settings?
      = render partial: "admin/#{segment.to_partial_path}", object: segment, as: :segment, locals: {f: f}
    %hr
    %fieldset
      = f.select :shape, Segment.shape_options, {include_blank: t('.fluid_ratio')}, {placeholder: t('.fluid_ratio')}
      = f.range_field :margin_top, min: 0, max: 80, step: 10
      = f.range_field :margin_bottom, min: 0, max: 80, step: 10
      .form-group
        = f.label col(Segment, :alignment), class: 'control-label'
        .btn-group{data: {toggle: 'buttons'}}
          - Segment.alignment_options.each do |title, alignment|
            %label.btn.btn-default{class: segment.alignment == alignment && 'active'}
              = f.radio_button_without_bootstrap :alignment, alignment
              = title
      .form-group
        = f.label col(Segment, :justification), class: 'control-label'
        .btn-group{data: {toggle: 'buttons'}}
          - Segment.justification_options.each do |title, justification|
            %label.btn.btn-default{class: segment.justification == justification && 'active'}
              = f.radio_button_without_bootstrap :justification, justification
              = title
      .form-group
        = f.label col(Segment, :inset), class: 'control-label'
        .btn-group{data: {toggle: 'buttons'}}
          - Segment.inset_options.each do |title, inset|
            %label.btn.btn-default{class: segment.inset == inset && 'active'}
              = f.radio_button_without_bootstrap :inset, inset
              = title
      = f.form_group do
        = f.check_box :jumbotron
      .form-group
        = f.label col(Segment, :shadow), class: 'control-label'
        .btn-group{data: {toggle: 'buttons'}}
          - Segment.shadow_options.each do |title, shadow|
            %label.btn.btn-default{class: segment.shadow == shadow && 'active'}
              = f.radio_button_without_bootstrap :shadow, shadow
              = title
      = f.select :animation, Segment.animation_options, {include_blank: t('.not_animated')}, {placeholder: t('.not_animated')}
      .form-group
        = f.label col(Segment, :velocity), class: 'control-label'
        .btn-group{data: {toggle: 'buttons'}}
          - Segment.velocity_options.each do |title, velocity|
            %label.btn.btn-default{class: segment.velocity == velocity && 'active'}
              = f.radio_button_without_bootstrap :velocity, velocity
              = title

:coffee
  $('#segment_template').betterSelectize()
  $('#segment_shape').betterSelectize()
  $('#segment_animation').betterSelectize()
