.segment-form{class: @segment.template}
  = bootstrap_form_for [:admin, @segment], remote: true, layout: :vertical do |f|
    = render partial: "admin/#{@segment.to_partial_path}", locals: {f: f}
    %fieldset.actions
      = f.form_group do
        = f.primary t('helpers.submit.segment.update', template: @segment.human_attribute_value(:template)), class: 'btn btn-primary btn-block'
