%nav.segment-nav.navbar.navbar-inverse
  %ul.nav.navbar-nav
    %li.drag-handle
      %a{role: 'button'}= icon('arrows')
    - if segment.section.column?
      %li.dropdown
        = dropdown_toggle do
          = icon('crop')
        %ul.dropdown-menu.dropdown-menu-right
          - Segment.alignment_options.each do |title, alignment|
            %li{class: segment.alignment == alignment && 'active'}
              = link_to admin_segment_path(segment, params: {segment: {alignment: alignment}}), remote: true, method: :patch do
                = title
    %li.dropdown
      = dropdown_toggle do
        = segment
        %i.caret
      %ul.dropdown-menu.dropdown-menu-right
        - Segment.template_options.each do |title, template|
          %li{class: segment.template == template && 'active'}
            = link_to admin_segment_path(segment, params: {segment: {template: template}}), remote: true, method: :patch do
              = title
