= render partial: 'admin/segments/form', object: segment, as: :segment
%fieldset
  .form-group
    %label.control-label= col(Segment, :background_color)
    = text_field_tag 'segment_background_color', segment.background_color, class: 'form-control', data: {url: modify_admin_segment_path(segment)}

- if content_for?(:supplemental)
  = yield :supplemental

:coffee
  $('#segment_background_color').minicolors
    theme: 'bootstrap'
    position: 'bottom left'
    format: 'rgb'
    opacity: true
    keywords: 'transparent'
    swatches: ['rgba(255,255,255,1)', 'rgba(0,0,0,1)', 'rgba(255,255,255,0)']
    change: (value) ->
      $.ajax
        url: $(this).data 'url'
        type: 'PATCH'
        data:
          segment:
            background_color: value
    changeDelay: 500

- if current_user.can_delete?(segment, at: current_store)
  %hr
  %fieldset.actions
    = link_to icon('trash-o'), admin_segment_path(segment), method: :delete, remote: true, class: 'btn btn-danger btn-block', data: {confirm: t('.delete.confirm'), 'confirm-title': t('actions.confirm.title'), 'confirm-proceed': t('actions.confirm.proceed'), 'confirm-cancel': t('actions.confirm.cancel')}
