= bootstrap_form_for [:admin, segment], namespace: [:segment, segment.id], remote: true, layout: :vertical, html: {class: 'immediate triggered'} do |f|
  %fieldset
    = f.select :shape, Segment.shape_options, {include_blank: t('.fluid_ratio')}, {placeholder: t('.fluid_ratio')}
    .form-group
      = f.label col(Segment, :inset)
      .btn-group.btn-group-justified{data: {toggle: 'buttons'}}
        - Segment.inset_options.each do |title, inset|
          %label.btn.btn-default{class: segment.inset == inset && 'active'}
            = f.radio_button_without_bootstrap :inset, inset
            = title

:coffee
  $('#segment_#{segment.id}_segment_shape').selectize
      allowEmptyOption: true
