$segment = $('##{dom_id(@segment)}');
- unless @content_mode
  $('#editor-panel').destroySelectized();
  $('#editor-panel').html("#{j render partial: 'admin/segments/settings', object: @segment, as: :segment}");
$segment.replaceWith("#{j render partial: 'admin/segments/segment', object: @segment}");
$('##{dom_id(@segment)}').addClass('active');
$('##{dom_id(@segment)}').initialize();
