%nav.column-nav.navbar.navbar-default
  %ul.nav.navbar-nav
    - Column.alignment_options.each do |icon, alignment|
      %li{class: column.alignment == alignment && 'active'}
        = link_to admin_column_path(column, params: {column: {alignment: alignment}}), remote: true, method: :patch do
          = icon(icon, class: 'fa-fw')
    %li{class: column.pivot? && 'active'}
      = link_to admin_column_path(column, params: {column: {pivot: !column.pivot}}), remote: true, method: :patch do
        = icon('mobile', class: 'fa-fw')
    %li
      = link_to icon('plus', class: 'fa-fw'), admin_column_segments_path(column), remote: true, method: :post
