= tab_set 'column-settings' do
  = nav_tab 'column-layout', t('.layout'), default: true
  = nav_tab 'column-color', t('.color')

.tab-content
  = tab_pane 'column-layout', default: true do
    = render partial: 'admin/columns/panels/layout', object: column, as: :column
  = tab_pane 'column-color' do
    = render partial: 'admin/columns/panels/color', object: column, as: :column
