$panel = $('#column-layout-panel');
$panel.destroySelectized();
$panel.replaceWith("#{j render partial: 'admin/columns/panels/layout', object: @column, as: :column}");
$('##{dom_id(@column)}').replaceWith("#{j render partial: 'admin/columns/column', object: @column}");
$('##{dom_id(@column)}').addClass('active');
$('##{dom_id(@column)}').initialize();
$('##{dom_id(@column)}').column_sortable();
