#order-item-form
  = bootstrap_form_for [:pos, order, OrderItem.new(amount: 1)], remote: true do |f|
    %fieldset
      .row
        .col-sm-9
          = f.select :product_id, [], {}, {placeholder: t('actions.query'), class: 'selectize-tall selectize-list-group'}
        .col-sm-3
          = f.number_field :amount, min: 1, max: 999, class: 'text-right'
      .row
        .col-xs-12
          = f.button class: 'btn btn-block btn-primary' do
            = icon('check')

:coffee
  $('#order_item_product_id').selectize
    dropdownParent: 'body'
    valueField: 'id'
    sortField: [{field: 'title'}, {field: 'subtitle'}]
    searchField: ['code', 'customer_code', 'title', 'subtitle']
    diacritics: false
    render: $.fn.selectize.product_renderer
    load: (query, callback) ->
      return callback() unless query
      $.ajax
        url: '#{query_admin_products_path}'
        type: 'GET'
        dataType: 'json'
        data:
          q: query
          purposes: ['vanilla', 'composite']
        error: ->
          callback()
        success: (response) ->
          callback(response)
