#pos-order-item-form{data: {'product-query-url': query_pos_products_path}}
  = bootstrap_form_for [:pos, order, OrderItem.new(amount: 1)], remote: true do |f|
    %fieldset
      .row
        .col-sm-8
          = f.select :product_id, [], {skip_label: true}, {placeholder: title(Product), class: 'selectize-tall selectize-list-group'}
        .col-sm-4
          = f.number_field :amount, min: 1, max: 999, skip_label: true, placeholder: col(OrderItem, :amount)
      .row
        .col-sm-8
          = f.select :inventory_item_id, [], {skip_label: true}, {disabled: true, placeholder: col(OrderItem, :inventory_item_id)}
        .col-sm-4
          = f.button class: 'btn btn-block btn-primary' do
            = icon('check')

:coffee
  $('#pos-order-item-form').point_of_sale_form()
