#viewport.swiper-container
  .swiper-wrapper
    .swiper-slide= image_tag 'splash/01.jpg'
    .swiper-slide= image_tag 'splash/02.jpg'
    .swiper-slide= image_tag 'splash/03.jpg'
    .swiper-slide= image_tag 'splash/04.jpg'
    .swiper-slide= image_tag 'splash/05.jpg'

- content_for :main_title do
  = t('.title')
- content_for :main_panel do
  = link_to t('.get_started'), get_started_path, class: 'btn btn-default btn-lg btn-block'

:coffee
  jQuery ->
    new Swiper $('#viewport'),
      autoplay:
        delay: 5000
      loop: true
      effect: 'fade'
