= bootstrap_form_for [:admin, @group], remote: true, layout: :vertical,
    html: {class: 'immediate'} do |f|
  .panel.panel-primary
    .panel-body
      %fieldset
        = f.text_field :name, required: true
        = f.select :appearance, Group.appearance_options, {}, {class: 'selectize-label', required: true}
        = f.form_group do
          = f.check_box :pricing_shown
        = f.form_group do
          = f.check_box :stock_shown
        %label.control-label= col(Group, :pricing)
        .row
          .col-sm-8
            = f.select :price_base, Group.price_base_options, {hide_label: true}, {class: 'selectize', required: true}
          .col-sm-4
            = f.hidden_field :price_modifier
            .form-group
              %label.control-label.sr-only= col(Group, :price_modifier)
              .input-group
                = text_field_tag :modifier, number_with_precision_and_sign(@group.price_modifier, precision: 2, strip_insignificant_zeros: true), class: 'form-control text-right', required: true
                %span.input-group-addon %
        = f.form_group do
          = f.check_box :price_tax_included
        = f.select :premium_group_id, current_store.groups.not_including(@group).map { |g| [g.name, g.id, data: {appearance: g.appearance}.to_json] }, {include_blank: blank}, {class: 'selectize-label'}
        .premium-teaser.collapse{class: @group.premium_group.present? && 'in'}
          = f.text_field :premium_teaser
    - unless @group.new_record?
      .panel-footer
        - if current_user.can_update?(@group, at: current_store)
          - if @group != current_store.default_group
            = link_to icon('star', t('.make_default')), make_default_admin_group_path(@group), remote: true, method: :patch, class: 'btn btn-primary btn-sm'
          - if @group != current_group
            = link_to icon('home', t('.join')), join_admin_group_user_path(@group, current_user), remote: true, method: :patch, class: 'btn btn-default btn-sm'
          = link_to icon('sitemap', t('.select_categories')), select_categories_admin_group_path(@group), class: 'btn btn-default btn-sm'
        - if current_user.can_delete?(@group, at: current_store)
          .pull-right
            = link_to icon('remove', t('actions.delete')), admin_group_path(@group), method: :delete, class: 'btn btn-danger btn-sm', data: {confirm: t('actions.confirm.body', klass: Group.model_name.human, name: @group.name), 'confirm-title': t('actions.confirm.title'), 'confirm-proceed': t('actions.confirm.proceed'), 'confirm-cancel': t('actions.confirm.cancel')}

:coffee
  numbro.culture "#{t('culture')}"
  $('#modifier').on 'change', (e) ->
    modifier = numbro().unformat $('#modifier').val()
    $('#group_price_modifier').val modifier

  $('.selectize-label').selectize
    labelField: 'title'
    dataAttr: 'data'
    allowEmptyOption: true
    render: $.fn.selectize.label_renderer
