.dd-content[group]
  .dd-handle= drag_handle
  = link_to edit_admin_group_path(group), remote: true do
    - if group == current_group
      .dd-icon= icon('home', title: col(Group, :home), data: {toggle: 'tooltip'})
    = group
    - if group == current_store.default_group
      = bootstrap_label(group, text: col(Group, :default), appearance: :primary)
    .pull-right
      %span.label{class: "label-#{group.appearance}"}
        = group.human_attribute_value(:price_base)
        - if group.price_modifier.nonzero?
          = number_to_signed_percentage(group.price_modifier, precision: 2, strip_insignificant_zeros: true)
