= content_tag_for :tr, group do
  %td.rowlink-skip= drag_handle
  %td
    = link_to edit_admin_group_path(group), remote: true do
      = bootstrap_label(group, icon: 'user', text: '')
      = group.name
  %td
    - if group == current_store.default_group
      = bootstrap_label(group, text: col(Group, :default), appearance: :primary)
  %td
    = group.human_attribute_value(:price_base)
    - if group.price_modifier.nonzero?
      %span.badge
        = number_to_signed_percentage(group.price_modifier, precision: 2, strip_insignificant_zeros: true)
  %td.actions.rowlink-skip
    = link_to icon('users', title(User, count: 2)), admin_group_users_path(group), class: 'btn btn-primary btn-sm'
