= content_tag_for :tr, group do
  %td.rowlink-skip= drag_handle
  %td
    = link_to edit_admin_group_path(group), remote: true do
      %span.label{class: "label-#{group.appearance}"}= icon('user')
      = group.name
  %td
    - if group == current_store.default_group
      %span.label.label-primary= col(Group, :default)
  %td.text-right
    = group.users.count
  %td
    = group.human_attribute_value(:price_base)
    - if group.price_modifier.nonzero?
      %span.badge
        = number_to_signed_percentage(group.price_modifier, precision: 2, strip_insignificant_zeros: true)
