.page-header
  - if current_user.can_read?(Group, at: current_store)
    = link_to admin_groups_path, class: 'btn btn-default' do
      = icon('chevron-circle-left', t('actions.back'))
  = link_to admin_group_path(@group), class: 'btn btn-primary' do
    = icon('info-circle', t('actions.show'))
  %h1
    = icon('group', @group)

.row
  .col-md-6
    = render partial: 'form', locals: {locked: false}
