.row
  .col-md-7
    .page-header
      %h1= icon('users', title(Group, count: 2))
    = render partial: 'admin/groups/table', object: @groups, as: :groups
  .col-md-5
    .quick-edit-panel
      .header
        - if current_user.can_create?(Group, at: current_store)
          = link_to new_admin_group_path, remote: true, class: 'btn btn-primary' do
            = icon('plus', t('.new_group'))
      #group-form
        = render partial: 'form'

:coffee
  $('.quick-edit-panel').stick_in_parent
    parent: $('#content-wrap')
    offset_top: 80
    bottoming: false
    spacer: false
    recalc_every: 50

  $('##{dom_id(@group)}').addClass 'active'

  scroll = new SmoothScroll '#content-wrap', header: '#main-nav'
  scroll.animateScroll $('##{dom_id(@group)}')[0], null, speed: 300
