.row.flex-row
  .col.col-md-7
    .page-header
      %h1= icon('users', title(Group, count: 2))
    #group-list.dd
      %ol.dd-list
        = render @groups
  .col.col-md-5
    .quick-edit-panel
      .header
        - if current_user.can_create?(Group, at: current_store)
          = link_to new_admin_group_path, remote: true, class: 'btn btn-primary' do
            = icon('plus', t('.new_group'))
      #group-form
        - if @group.present?
          = render partial: 'form'
          :coffee
            $('##{dom_id(@group)}').closest('.dd-item').addClass 'active'
            scroll = new SmoothScroll '#content-wrap', header: '#main-nav'
            scroll.animateScroll $('##{dom_id(@group)}')[0], null, speed: 300

:coffee
  $('.quick-edit-panel').stick_in_parent
    offset_top: $('#main-nav').height()
    recalc_every: 500

  $('#group-list').nestable
    scroll: true
  .on 'change', ->
    data = {rearrange: {groups: $(this).nestable('serialize')}}
    $.ajax
      type: 'POST'
      url: '#{rearrange_admin_groups_path}'
      data: JSON.stringify data
      contentType: 'application/json; charset=utf-8'
