= bootstrap_form_for [:admin, @transfer], layout: :horizontal, label_col: 'col-sm-4', control_col: 'col-sm-8' do |f|
  .panel.panel-default
    .panel-body
      %fieldset{disabled: locked}
        = f.select :source_id, current_store.inventories.map { |i| [i.to_s, i.id] }, {include_blank: blank}, {class: 'selectize'}
        = f.select :destination_id, current_store.inventories.map { |i| [i.to_s, i.id] }, {include_blank: blank}, {class: 'selectize'}
        = f.text_field :note
      - unless locked
        %fieldset.actions
          = f.form_group do
            = f.primary
