- letterhead = current_group.letterhead
- if letterhead.present?
  = render partial: 'pages/content', object: letterhead, as: :page

.page-header
  %h1
    = t('.delivery_note')
    %span.small
      = Transfer.human_attribute_name(:number)
      = @transfer.id
      = surround('(', ')') { l(@transfer.completed_at.to_date, format: :iso) }
