%tr[transfer]{class: transfer.appearance}
  %td= icon(transfer.icon)
  %td= l(transfer.created_at, format: :iso)
  %td= transfer.source
  %td= transfer.destination
  %td= transfer.note
  %td.actions
    - if current_user.can_update?(transfer, at: current_store)
      = link_to icon('edit', t('actions.edit')), edit_admin_transfer_path(transfer), class: 'btn btn-default btn-sm'
    = link_to icon('info', t('actions.show')), admin_transfer_path(transfer), class: 'btn btn-default btn-sm'
    - if current_user.can_delete?(transfer, at: current_store)
      = link_to icon('remove', t('actions.delete')), admin_transfer_path(transfer), method: :delete, class: 'btn btn-sm btn-danger',
          data: {confirm: t('actions.confirm.body',
            klass: Transfer.model_name.human, name: transfer.to_s),
            'confirm-title': t('actions.confirm.title'),
            'confirm-proceed': t('actions.confirm.proceed'),
            'confirm-cancel': t('actions.confirm.cancel')}
