.page-header
  = link_to admin_transfers_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  = link_to admin_transfer_path(@transfer), class: 'btn btn-primary' do
    = icon('info-circle', t('actions.show'))
  %h1
    = icon('retweet', title(Transfer))
    %span.small
      = Transfer.human_attribute_name(:number)
      = @transfer.id
      - if @transfer.complete?
        = surround('(', ')') { l(@transfer.completed_at.to_date, format: :iso) }

.row
  .col-md-5
    = render partial: 'form', locals: {locked: true}

  .col-md-7
    = tab_set 'transfer-side', class: 'nav-justified nav-sm' do
      = nav_tab 'items', col(Transfer, :transfer_items), default: true

    .tab-content
      = tab_pane 'items', default: true do
        = render partial: 'admin/transfer_items/edit_table', object: @transfer, as: :transfer
        %hr
        = render partial: 'admin/transfers/edit', object: @transfer, as: :transfer

- content_for :secondary_nav do
  #barcode-panel.navbar-form.navbar-right{data: {url: admin_transfer_transfer_items_path(@transfer)}}
    .form-group.has-feedback
      = text_field_tag 'barcode', nil, autocomplete: 'off', class: 'form-control monospace', placeholder: t('.barcode')
      %span.form-control-feedback= icon('barcode')

  :coffee
    fields =
      '01': 'customer_code'
      '10': 'lot_code'
      '17': 'expires_at'
      '21': 'serial'
      '30': 'amount'

    new Switchboard 'barcode',
      mapping:
        'Dead': String.fromCharCode(29) #dead key to FNC1
        '¨': String.fromCharCode(29)
      callback: (code) ->
        data = parseBarcode code
        item = {amount: 1}
        for i in data.parsedCodeItems
          item[fields[i.ai]] = i.data if fields[i.ai]?
        $('#barcode').val ''
        $.ajax
          url: $('#barcode-panel').data 'url'
          type: 'POST'
          data:
            transfer_item: item
