.page-header.hidden-print
  = link_to admin_transfers_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  - if current_user.can_update?(@transfer, at: current_store)
    = link_to edit_admin_transfer_path(@transfer), class: 'btn btn-primary' do
      = icon('pencil-square', t('actions.edit'))
    - if @transfer.feasible?
      = link_to complete_admin_transfer_path(@transfer), class: 'btn btn-warning', method: :patch do
        = icon('cogs', t('.complete'))
  - if @transfer.complete?
    = link_to icon('print', t('.print_delivery_note')), '#print', class: 'btn btn-default'
  %h1
    = icon('retweet', title(Transfer))
    %span.small
      = Transfer.human_attribute_name(:number)
      = @transfer.id
      - if @transfer.complete?
        = surround('(', ')') { l(@transfer.completed_at.to_date, format: :iso) }

- if @transfer.complete?
  .visible-print.compact
    = render partial: 'headers'

.row
  .col-md-5
    .hidden-print
      = render partial: 'form', locals: {locked: true}

  .col-md-7
    = render partial: 'admin/transfer_items/table', object: @transfer, as: :transfer
