- grid_columns ||= 3

.grid.thumbnail-grid{class: "grid-columns-#{grid_columns}", style: 'opacity: 0;'}
  - images.each do |image|
    .grid-item[image]{data: {id: image.id}}
      = link_to select_admin_image_path(image), class: 'thumbnail', remote: true do
        %figure= image_variant_tag image, :matchbox
      .grid-widgets
        .pull-right
          - if current_user.can_delete?(image, at: current_store)
            = link_to icon('remove'), admin_image_path(image), remote: true, method: :delete, class: 'btn btn-xs btn-danger'
        = link_to edit_admin_image_path(image), remote: true, class: 'btn btn-xs btn-default' do
          = icon('edit')
      .badge
        .truncate{title: image.attachment_file_name}
          = image.attachment_file_name

.row
  .col-xs-8
    = paginate images, window: 2, remote: true
  .col-xs-4.search
    = form_for @search, url: admin_images_path, method: :get, remote: true do |f|
      .form-group
        .input-group
          = f.search_field 'keyword', autocomplete: 'off', class: 'form-control', placeholder: t('.search')
          .input-group-btn
            %button.btn.btn-default{type: 'submit'}= icon('search')
