- id = dom_id(imageable, :new_image)

= form_for [:admin, imageable, Image.new], html: {multipart: true, id: id, class: 'dropzone'} do |f|
  .fallback
    = f.file_field :attachment
    = f.submit class: 'btn btn-primary'

:coffee
  Dropzone.autoDiscover = false
  $('##{id}').dropzone
    dictDefaultMessage: "#{I18n.t('dropzone.upload_images')}"
    paramName: 'image[attachment]'
    init: ->
      @on 'success', (file, image) ->
        $.get '/admin/images/' + image['id']
      @on 'complete', (file) ->
        this.removeFile file
