= div_for image, class: 'list-group-item' do
  .row
    .col-lg-5
      %a.image-link{href: image.attachment.url(:lightbox)}
        .thumbnail
          = image_tag image.attachment.url(:thumbnail)
    .col-lg-7
      = form_for [:admin, image], remote: true, html: {class: 'form-horizontal'} do |f|
        .form-group
          = f.label :image_type_id, class: 'col-lg-4 control-label'
          .col-lg-8
            = f.select :image_type_id, ImageType.options,
                {include_blank: blank_option}, {class: 'select2 form-control'}
        .form-group
          = f.label :file_name, class: 'col-lg-4 control-label'
          .col-lg-8
            %p.form-control-static= image.attachment_file_name
        .form-group
          = f.label :file_size, class: 'col-lg-4 control-label'
          .col-lg-8
            %p.form-control-static= number_to_human_size(image.attachment_file_size)
        .form-group
          .col-lg-offset-4.col-lg-8
            = f.button icon('check', 'Save'), class: 'btn btn-sm btn-primary'
            = link_to icon('remove', 'Delete'), admin_image_path(image),
                remote: true, method: :delete, class: 'btn btn-sm btn-danger'
