#image-editor
  %nav.navbar.navbar-inverse
    %ul.nav.navbar-nav.navbar-right
      %li.danger
        %a#editor-cancel{role: 'button'}
          = icon('close', t('actions.cancel'), class: 'fa-fw')
      %li.success
        %a#editor-save{role: 'button'}
          = icon('save', t('actions.save'), class: 'fa-fw')

  .canvas
    = image_variant_tag image, :original

:coffee
  $image = $('#image-editor > .canvas > img')
  editor = new Cropper $image[0]
  editor.cleanUp = ->
    editor.destroy()
    $.magnificPopup.close()

  $('#editor-save').on 'click', ->
    canvas = editor.getCroppedCanvas
      maxWidth: 4096
      maxHeight: 4096
      imageSmoothingQuality: 'medium'
    canvas.toBlob (blob) ->
      data = new FormData()
      data.append 'image[attachment]', blob
      $.ajax
        url: '#{admin_images_path}'
        type: 'POST'
        data: data
        processData: false
        contentType: false
        success: (response) ->
          console.log response.select_url
          editor.cleanUp()
          $.ajax
            type: 'GET'
            url: '#{admin_images_path}'
            success: ->
              $('#picture-modal').modal 'show';
              $.get response.select_url
        error: ->
          editor.cleanUp()
          $('#picture-modal').modal 'show';
    , '#{image.attachment_content_type}', 0.8

  $('#editor-cancel').on 'click', ->
    editor.cleanUp()
    $('#picture-modal').modal 'show';
