.table-responsive
  %table.table.table-striped.table-hover.table-loose
    %caption
      %span= col(Product, :images)
    %thead
      %tr
        %th.col-xs-4= title(Image)
        %th.col-xs-6= col(Image, :image_type_id)
        %th.hidden-print

    %tbody#images.sortable
      = render partial: 'admin/images/edit_row', collection: imageable.images.ordered, as: :image

:coffee
  $('.sortable').sortable(
    items: 'tr'
    placeholder: '#{tr_placeholder(3)}'
  ).bind 'sortupdate', (e, ui) ->
    $.post '#{admin_reorder_images_path}',
      {reorder: $('tr', this).map(-> this.id).get()}
