= content_tag_for :tr, image do
  %td.hidden-print= drag_handle
  %td
    = image_variant_tag(image, :thumbnail)
  %td
    = form_for [:admin, image], remote: true, html: {class: 'immediate'} do |f|
      .btn-group.btn-group-xs{'data-toggle' => 'buttons'}
        - image.applicable_purposes.each do |purpose|
          %label.btn.btn-default{class: image.purpose == purpose ? 'active' : nil}
            = f.radio_button :purpose, purpose
            = Image.human_attribute_value(:purpose, purpose)
  %td.actions
    = link_to icon('remove'), admin_image_path(image), remote: true, method: :delete, class: 'btn btn-sm btn-danger'
