.page-header
  = link_to new_brand_path, class: 'btn btn-primary' do
    = icon(:plus)
    New Brand
  %h1 brands

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th
        %th
        %th

    %tbody
      - @brands.each do |brand|
        %tr
          %td= brand.name
          %td= link_to 'Show', brand
          %td= link_to 'Edit', edit_brand_path(brand)
          %td= link_to 'Delete', brand, data: {confirm: 'Are you sure?'}, method: :delete
