= content_tag_for :li, category, class: @category.inside?(category) ? 'active' : nil do
  = link_to show_category_path(category), data: {push: 'partial', target: '.products'} do
    = image_variant_tag category.cover_image, :presentational
    %p= category.name
  .subcategories-wrap
    - if category.subcategories.live.any?
      .subcategories
        %ul= render category.subcategories.live
