%li.dropdown.mega-dropdown
  %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
    = root
    %span.caret
  %ul.dropdown-menu.mega-dropdown-menu
    .container
      .row
        - categories.each do |category|
          %li
            = link_to show_category_path(category) do
              - if category.cover_image.present?
                .mega-dropdown-image
                  = image_variant_tag category.cover_image, :postcard
              .mega-dropdown-text
                %h3= category.name
            %ul
              = render partial: 'categories/mega_menu_child', collection: category.children.visible, as: :child
