%fieldset
  = f.hidden_field :resource_type, value: 'Category'
  = f.select :resource_id, Category.options_for_select(current_store.categories.live) { |c, l| [indent(c.to_s, l), c.id] }, {include_blank: t('.select_category')}
  .form-group
    = f.label col(Segment, :inverse), class: 'control-label'
    .btn-group{data: {toggle: 'buttons'}}
      %label.btn.btn-default{class: segment.inverse? || 'active'}
        = f.radio_button_without_bootstrap :inverse, 0
        = icon('sticky-note-o')
      %label.btn.btn-default{class: segment.inverse? && 'active'}
        = f.radio_button_without_bootstrap :inverse, 1
        = icon('sticky-note')
  = f.text_field :header

:coffee
  $('#segment_resource_id').betterSelectize()
