- content_for :supplemental do
  = render partial: 'admin/pictures/edit_collection', object: segment, as: :pictureable, locals: {grid_columns: 2}
  %hr

%fieldset
  .form-group
    = f.label col(Segment, :image_sizing)
    .btn-group{data: {toggle: 'buttons'}}
      - Segment.image_sizing_options.each do |title, size|
        %label.btn.btn-default{class: segment.image_sizing == size && 'active'}
          = f.radio_button_without_bootstrap :image_sizing, size
          = title
  = f.hidden_field :resource_type, value: 'Category'
  = f.select :resource_id, current_store.categories.order(:lft).live.map { |c| [c.to_option, c.id] }, {include_blank: t('.select_category')}

:coffee
  $('#segment_resource_id').betterSelectize()
