- content_for :segment_head do
  = render partial: 'admin/images/edit_collection', object: @segment, as: :imageable
  = render partial: 'admin/images/dropzone', object: @segment, as: :imageable

%fieldset
  .row
    .col-sm-12
      = f.hidden_field :resource_type, value: 'Category'
      = f.select :resource_id, current_store.categories.order(:lft).live.map { |c| [c.to_option, c.id] }, {include_blank: true}, {class: 'selectize'}

:coffee
  $('##{dom_id(@segment)}').on 'imageable:added imageable:removed', ->
    $(document.body).trigger 'sticky_kit:recalc'
