%fieldset
  = f.select :content_class, Segment.content_class_options, {include_blank: t('.select_content_class')}, class: 'input-sm'
  = f.text_field :content_type, class: 'input-sm'
  = f.text_field :url, placeholder: 'https://domain/feed/@author', class: 'input-sm'
  = f.text_field :header, class: 'input-sm'
  = f.text_field :subhead, class: 'input-sm'
  .form-group
    = f.label col(Segment, :grid_columns), class: 'control-label'
    .btn-group.btn-group-justified.btn-group-sm{data: {toggle: 'buttons'}}
      - Segment.grid_columns_options.each do |columns|
        %label.btn.btn-default{class: segment.grid_columns == columns && 'active'}
          = f.radio_button_without_bootstrap :grid_columns, columns
          = columns
  = f.form_group do
    = f.check_box :grid_lines
  = f.form_group do
    = f.check_box :grid_disable_xs
  = f.text_field :max_items, class: 'input-sm'

:coffee
  $('#segment_content_class').betterSelectize
    dropdownParent: null
