%fieldset
  = f.text_field :facebook_page
  = f.text_field :facebook_token
  .form-group
    = f.label col(Segment, :grid_columns), class: 'control-label'
    .btn-group{data: {toggle: 'buttons'}}
      - Segment.grid_columns_options.each do |columns|
        %label.btn.btn-default{class: segment.grid_columns == columns && 'active'}
          = f.radio_button_without_bootstrap :grid_columns, columns
          = columns
  = f.form_group do
    = f.check_box :grid_disable_xs
  = f.number_field :max_items
