- content_for :supplemental do
  = render partial: 'admin/pictures/edit_collection', object: segment, as: :pictureable, locals: {grid_columns: 2}
  %hr

%fieldset
  .form-group
    = f.label col(Segment, :grid_columns)
    .btn-group{data: {toggle: 'buttons'}}
      - Segment.grid_columns_options.each do |columns|
        %label.btn.btn-default{class: segment.grid_columns == columns && 'active'}
          = f.radio_button_without_bootstrap :grid_columns, columns
          = columns
  .form-group
    = f.label col(Segment, :image_sizing)
    .btn-group{data: {toggle: 'buttons'}}
      - Segment.image_sizing_options.each do |title, size|
        %label.btn.btn-default{class: segment.image_sizing == size && 'active'}
          = f.radio_button_without_bootstrap :image_sizing, size
          = title
  = f.check_box :masonry
  = f.check_box :thumbnails
