- content_for :segment_head do
  = render partial: 'admin/images/edit_collection', object: @segment, as: :imageable
  = render partial: 'admin/images/dropzone', object: @segment, as: :imageable

%fieldset
  .row
    .col-sm-6
      .form-group
        = f.label col(Segment, :grid_columns)
        .btn-group.btn-group-justified{data: {toggle: 'buttons'}}
          - Segment.grid_columns_options.each do |columns|
            %label.btn.btn-default{class: @segment.grid_columns == columns && 'active'}
              = f.radio_button_without_bootstrap :grid_columns, columns
              = columns

:coffee
  $(document).on 'imageable:added imageable:removed', ->
    $(document.body).trigger 'sticky_kit:recalc'
