- content_for :supplemental do
  = render partial: 'admin/images/edit_collection', object: segment, as: :imageable, locals: {grid_columns: 2}
  = render partial: 'admin/images/dropzone', object: segment, as: :imageable
  %hr

%fieldset
  .form-group
    = f.label col(Segment, :grid_columns)
    .btn-group{data: {toggle: 'buttons'}}
      - Segment.grid_columns_options.each do |columns|
        %label.btn.btn-default{class: segment.grid_columns == columns && 'active'}
          = f.radio_button_without_bootstrap :grid_columns, columns
          = columns
  = f.check_box :masonry
  = f.check_box :thumbnails
