%fieldset
  = f.hidden_field :resource_type, value: 'Page'
  = f.select :resource_id, current_store.pages.container.order(:lft).map { |p| [p.to_option, p.id] }, {include_blank: true}, {class: 'selectize'}
  .form-group
    = f.label col(Segment, :inverse)
    .btn-group{data: {toggle: 'buttons'}}
      %label.btn.btn-default{class: segment.inverse? || 'active'}
        = f.radio_button_without_bootstrap :inverse, 0
        = icon('sticky-note-o')
      %label.btn.btn-default{class: segment.inverse? && 'active'}
        = f.radio_button_without_bootstrap :inverse, 1
        = icon('sticky-note')
  = f.text_field :header

:coffee
  $('#segment_resource_id').selectize
    allowEmptyOption: true
