%fieldset
  .form-group
    = f.label col(Segment, :image_sizing), class: 'control-label'
    .btn-group.btn-group-justified.btn-group-sm{data: {toggle: 'buttons'}}
      - Segment.image_sizing_options.each do |title, size|
        %label.btn.btn-default{class: segment.image_sizing == size && 'active'}
          = f.radio_button_without_bootstrap :image_sizing, size
          = title
  = f.form_group do
    = f.check_box :lightbox
  - unless segment.lightbox?
    = f.text_field :url, placeholder: 'http://', class: 'input-sm'
