- content_for :supplemental do
  = render partial: 'admin/pictures/edit_collection', object: segment, as: :pictureable, locals: {grid_columns: 2}
  %hr

%fieldset
  .form-group
    = f.label col(Segment, :image_sizing), class: 'control-label'
    .btn-group{data: {toggle: 'buttons'}}
      - Segment.image_sizing_options.each do |title, size|
        %label.btn.btn-default{class: segment.image_sizing == size && 'active'}
          = f.radio_button_without_bootstrap :image_sizing, size
          = title
  = f.hidden_field :resource_type, value: 'Product'
  = f.select :resource_id, [], {}, {placeholder: t('actions.query'), class: 'selectize-tall selectize-list-group', data: {resources: [segment.resource].compact, selected: [segment.resource_id].compact}}

:coffee
  $product = $('#segment_resource_id')
  resources = $product.data 'resources'
  selected = $product.data 'selected'
  $product.betterSelectize
    remove: true
    options: resources
    items: selected
    valueField: 'id'
    sortField: [{field: 'title'}, {field: 'subtitle'}]
    searchField: ['code', 'customer_code', 'title', 'subtitle']
    diacritics: false
    render: $.fn.selectize.product_renderer
    load: (query, callback) ->
      return callback() unless query.length > 2
      $.ajax
        url: '#{query_admin_products_path}'
        type: 'GET'
        dataType: 'json'
        data:
          q: query
          purposes: ['vanilla', 'bundle', 'composite', 'virtual']
        error: ->
          callback()
        success: (response) ->
          callback(response)
