%fieldset
  = f.hidden_field :resource_type, value: 'Promotion'
  = f.select :resource_id, current_store.promotions.live.map { |p| [p.name, p.id] }, {include_blank: true}, {class: 'selectize'}
  = f.text_field :header
  = f.text_field :subhead
  .form-group
    = f.label col(Segment, :grid_columns)
    .btn-group{data: {toggle: 'buttons'}}
      - Segment.grid_columns_options.each do |columns|
        %label.btn.btn-default{class: segment.grid_columns == columns && 'active'}
          = f.radio_button_without_bootstrap :grid_columns, columns
          = columns
  = f.form_group do
    = f.check_box :grid_lines
  = f.form_group do
    = f.check_box :masonry
  = f.text_field :max_items
  = f.form_group do
    = f.check_box :show_more
  = f.select :product_scope, Product.sorting_scopes.map { |s| [Product.human_attribute_value(:sorting, s), s] }, {include_blank: true}, {class: 'selectize'}

:coffee
  $('#segment_resource_id').selectize
    allowEmptyOption: true
  $('#segment_product_scope').selectize
    allowEmptyOption: true
