= bootstrap_form_for [:admin, @user], layout: :horizontal,
    label_col: 'col-sm-4', control_col: 'col-sm-8' do |f|
  %ul.nav.nav-tabs.panel-tabs{role: 'tablist'}
    = nav_tab 'user-personal', col(User, :personal), class: 'active'
    = nav_tab 'user-privileges', col(User, :privileges)
    = nav_tab 'user-addresses', col(User, :addresses)

  .panel.panel-default.tabbed-panel
    .panel-body
      .tab-content
        = tab_pane 'user-personal', class: 'in active' do
          %fieldset{disabled: locked}
            = f.text_field :name, required: true
            = f.text_field :email, required: true
            = f.telephone_field :phone, required: true
            = f.select :locale, Store.locale_options, {include_blank: blank}, {class: 'selectize'}
            - if @user.new_record?
              = f.password_field :password, required: true
              .form-group
                .col-sm-8.col-sm-offset-4
                  = render partial: 'shared/password_strength'
              = f.password_field :password_confirmation, required: true
        = tab_pane 'user-privileges' do
          %fieldset{disabled: locked}
            = f.select :group, current_user.grantable_group_options, {}, {class: 'selectize'}
            = f.select :pricing_group_id, current_store.pricing_groups.map { |g| [g.to_s, g.id] }, {include_blank: blank}, {class: 'selectize'}
            = f.select :category_ids, current_store.categories.map { |c| [c.to_s, c.id] }, {}, {multiple: true, class: 'selectize', placeholder: t('.no_categories')}
            = f.select :role_ids, current_user.grantable_role_options, {}, {multiple: true, class: 'selectize'}
        = tab_pane 'user-addresses' do
          %fieldset{disabled: locked}
            = f.text_field :shipping_address
            .form-group
              .col-sm-offset-4.col-sm-3
                = f.text_field_without_bootstrap :shipping_postalcode, class: 'form-control'
              .col-sm-5
                = f.text_field_without_bootstrap :shipping_city, class: 'form-control'
            = f.select :shipping_country_code, Store.country_options, {include_blank: blank}, {class: 'selectize'}
            = f.text_field :billing_address
            .form-group
              .col-sm-offset-4.col-sm-3
                = f.text_field_without_bootstrap :billing_postalcode, class: 'form-control'
              .col-sm-5
                = f.text_field_without_bootstrap :billing_city, class: 'form-control'
            = f.select :billing_country_code, Store.country_options, {include_blank: blank}, {class: 'selectize'}
      - unless locked
        %fieldset.actions
          = f.form_group do
            = f.primary
