= bootstrap_form_for [:admin, @user], layout: :horizontal,
    label_col: 'col-sm-4', control_col: 'col-sm-8' do |f|
  .panel.panel-default
    .panel-body
      %fieldset{disabled: locked}
        = f.text_field :name, required: true
        = f.text_field :email, required: true
        = f.telephone_field :phone, required: true
        = f.select :locale, Store.locale_options, {}, {class: 'selectize'}
        - if @user.new_record?
          = f.password_field :password, required: true
          = f.password_field :password_confirmation, required: true
      %fieldset{disabled: locked || !current_user.has_cached_role?(:user_manager)}
        = f.select :role_ids, current_user.grantable_role_options,
            {}, {multiple: true, class: 'selectize'}
      - unless locked
        = f.form_group do
          = f.primary
