= bootstrap_form_for [:admin, @user], layout: :horizontal,
    label_col: 'col-sm-4', control_col: 'col-sm-8' do |f|
  %ul.nav.nav-tabs.panel-tabs{role: 'tablist'}
    %li.active{role: 'presentation'}
      %a{href: '#tab-user-personal', role: 'tab', data: {toggle: 'tab'}}
        = col(User, :personal)
    %li{role: 'presentation'}
      %a{href: '#tab-user-privileges', role: 'tab', data: {toggle: 'tab'}}
        = col(User, :privileges)
    %li{role: 'presentation'}
      %a{href: '#tab-user-addresses', role: 'tab', data: {toggle: 'tab'}}
        = col(User, :addresses)

  .panel.panel-default.tabbed-panel
    .panel-body
      .tab-content
        #tab-user-personal.tab-pane.fade.in.active
          %fieldset{disabled: locked}
            = f.text_field :name, required: true
            = f.text_field :email, required: true
            = f.telephone_field :phone, required: true
            = f.select :locale, Store.locale_options, {include_blank: true}, {class: 'selectize'}
            - if @user.new_record?
              = f.password_field :password, required: true
              .form-group
                .col-sm-8.col-sm-offset-4
                  = render partial: 'shared/password_strength'
              = f.password_field :password_confirmation, required: true
        #tab-user-privileges.tab-pane.fade
          %fieldset{disabled: locked}
            = f.select :group, current_user.grantable_group_options, {}, {class: 'selectize'}
            = f.select :pricing_group_id, current_store.pricing_groups.map { |g| [g.to_s, g.id] }, {include_blank: true}, {class: 'selectize'}
            = f.select :category_ids, current_store.categories.map { |c| [c.to_s, c.id] }, {include_blank: true}, {multiple: true, class: 'selectize', placeholder: t('.no_categories')}
            = f.select :role_ids, current_user.grantable_role_options, {}, {multiple: true, class: 'selectize'}
        #tab-user-addresses.tab-pane.fade
          %fieldset{disabled: locked}
            = f.text_field :shipping_address
            .form-group
              .col-sm-offset-4.col-sm-3
                = f.text_field_without_bootstrap :shipping_postalcode, class: 'form-control'
              .col-sm-5
                = f.text_field_without_bootstrap :shipping_city, class: 'form-control'
            = f.select :shipping_country_code, Store.country_options, {include_blank: true}, {class: 'selectize'}
            = f.text_field :billing_address
            .form-group
              .col-sm-offset-4.col-sm-3
                = f.text_field_without_bootstrap :billing_postalcode, class: 'form-control'
              .col-sm-5
                = f.text_field_without_bootstrap :billing_city, class: 'form-control'
            = f.select :billing_country_code, Store.country_options, {include_blank: true}, {class: 'selectize'}
      - unless locked
        %fieldset.actions
          = f.form_group do
            = f.primary
