= bootstrap_form_for [:admin, @group, @user] do |f|
  .panel.panel-default
    .panel-body
      %fieldset{disabled: locked}
        = f.text_field :email, required: true
        - unless @user.new_record?
          = f.text_field :name, required: true
          = f.telephone_field :phone
          = f.select :locale, Store.locale_options, {include_blank: true}, {class: 'selectize'}
          - unless locked
            %hr
            = f.password_field :password, required: @user.require_password?
            = render partial: 'shared/password_strength'
            = f.password_field :password_confirmation, required: @user.require_password?
      - unless locked
        %fieldset.actions.fixed
          .container
            = f.primary
