#groups-list.list-group
  - current_store.groups.each do |group|
    - css = user.group(current_store) == group ? 'list-group-item active' : 'list-group-item'
    - if locked
      .list-group-item{class: css}
        %h5.list-group-item-heading
          %span.label{class: "label-#{group.appearance}"}
            = group
    - else
      = link_to set_group_admin_user_path(user, params: {group_id: group}), class: css, remote: true, method: :patch do
        %h5.list-group-item-heading
          %span.label{class: "label-#{group.appearance}"}
            = group
