.page-header
  = link_to admin_group_users_path(@user.group(current_store)), class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  = link_to admin_user_path(@user), class: 'btn btn-primary' do
    = icon('info-circle', t('actions.show'))
  %h1= icon('user', @user)

.row
  .col-lg-7
    = render partial: 'form', locals: {locked: false}

  .col-lg-5
    = tab_set 'user-side', class: 'nav-justified nav-sm' do
      = nav_tab 'group', col(User, :group), default: true
      = nav_tab 'roles', col(User, :roles)

    .tab-content
      = tab_pane 'group', default: true do
        = render partial: 'group', object: @user, as: :user, locals: {locked: false}
      = tab_pane 'roles' do
        = render partial: 'admin/roles/edit_list', object: @user, as: :user

:coffee
  persist_tabs 'user-side'
