.page-header
  = link_to admin_users_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  = link_to admin_user_path(@user), class: 'btn btn-primary' do
    = icon('info-circle', t('actions.show'))
  %h1= icon('user', @user)

.row
  .col-sm-6
    = render partial: 'form', locals: {locked: false}
