.page-header
  - if group = @user.group(current_store)
    = link_to admin_group_users_path(group), class: 'btn btn-default' do
      = icon('chevron-circle-left', t('actions.back'))
  - else
    = link_to admin_groups_path, class: 'btn btn-default' do
      = icon('chevron-circle-left', t('actions.back'))
  = link_to admin_user_path(@user), class: 'btn btn-primary' do
    = icon('info-circle', t('actions.show'))
  %h1= icon('user', @user)

.row
  .col-lg-6
    = render partial: 'form', locals: {locked: false}

  .col-lg-6
    = tab_set 'user-side', class: 'nav-justified nav-sm' do
      = nav_tab 'group', col(User, :group), default: true
      = nav_tab 'roles', col(User, :roles)
      = nav_tab 'orders', col(User, :orders)
      = nav_tab 'history', t('admin.activities.title')

    .tab-content
      = tab_pane 'group', default: true do
        = render partial: 'group', object: @user, as: :user, locals: {locked: false}
      = tab_pane 'roles' do
        = render partial: 'admin/roles/edit_list', object: @user, as: :user
      = tab_pane 'orders' do
        = render partial: 'admin/orders/list', object: @user.orders, as: :orders
      = tab_pane 'history' do
        #context-activities.hidden-print{data: {url: context_admin_activities_path(format: :js), gid: @user.to_global_id}}

:coffee
  persist_tabs 'user-side'
  $('#context-activities').fetch_context()
