.page-header
  - if current_user.can_create?(User)
    = link_to new_admin_user_path, class: 'btn btn-primary' do
      = icon('plus', t('.new_user'))
  %h1= icon('users', title(User, count: 2))
%ul.nav.nav-tabs.panel-tabs{role: 'tablist'}
  - current_user.managed_groups.reverse.each_with_index do |group, index|
    %li{role: 'presentation', class: index == 0 ? 'active' : nil}
      %a{href: "#tab-#{group}", role: 'tab', data: {toggle: 'tab'}}
        = User.human_attribute_value(:group, group)

.panel.panel-default.tabbed-panel
  .tab-content
    - current_user.managed_groups.reverse.each_with_index do |group, index|
      .tab-pane.fade{id: "tab-#{group}", class: index == 0 ? 'in active' : nil}
        = render partial: 'table', object: @users.send(group), as: :users
