.page-header
  - if current_user.can_create?(User)
    = link_to new_admin_user_path, class: 'btn btn-primary' do
      = icon('plus', 'New User')
  %h1= icon('users', 'Users')

.table-responsive
  %table.table.table-striped.table-hover.table-loose
    %thead
      %tr
        %th.col-xs-1
        %th E-mail
        %th.col-xs-2 Roles
        %th.col-xs-3

    %tbody
      - @users.each do |user|
        %tr
          %td= image_variant_tag(user.store.cover_image)
          %td= user.email
          %td
            - user.role_names.each do |role_name|
              %span.label.label-default= role_name
          %td.text-right
            = link_to icon('info', 'Show'), admin_user_path(user),
                class: 'btn btn-default btn-sm'
            - if current_user.can_update?(user)
              = link_to icon('edit', 'Edit'), edit_admin_user_path(user),
                  class: 'btn btn-default btn-sm'
            - if current_user.can_delete?(User)
              = link_to icon('remove', 'Delete'), admin_user_path(user),
                  method: :delete, class: 'btn btn-sm btn-danger'
