.page-header
  - if current_user.can_create?(User)
    = link_to new_admin_user_path, class: 'btn btn-primary' do
      = icon('plus', t('.new_user'))
  %h1= icon('users', title(User, count: 2))

.table-responsive
  %table.table.table-striped.table-hover.table-loose
    %thead
      %tr
        %th.col-xs-2= col(User, :name)
        %th.col-xs-3= col(User, :email)
        %th= col(User, :role_ids)
        %th.col-xs-2.hidden-print

    %tbody
      - @users.each do |user|
        %tr
          %td= user.name
          %td= user.email
          %td
            - user.role_names.each do |role_name|
              %span.label.label-default= role_name
          %td.hidden-print.text-right
            = link_to icon('info', t('actions.show')), admin_user_path(user),
                class: 'btn btn-default btn-sm'
            - if current_user.can_update?(user)
              = link_to icon('edit', t('actions.edit')), edit_admin_user_path(user),
                  class: 'btn btn-default btn-sm'
            - if current_user.can_delete?(User)
              = link_to icon('remove', t('actions.delete')), admin_user_path(user),
                  method: :delete, class: 'btn btn-sm btn-danger'
