.page-header
  = link_to admin_group_path(@group), class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  - if current_user.can_create?(User, at: current_store)
    = link_to new_admin_group_user_path(@group), class: 'btn btn-primary' do
      = icon('plus', t('.new_user'))
  %h1
    = icon('user', title(User, count: 2))
    %span.small= bootstrap_label(@group)

= render partial: 'search'
= render partial: 'admin/users/table', object: @users, as: :users
= paginate @users
