.page-header
  = link_to admin_group_path(@group), class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  %h1
    = icon('user', title(User, count: 2))
    = bootstrap_label(@group)

= render partial: 'search'
= render partial: 'admin/users/table', object: @users, as: :users
= paginate @users
