.page-header
  = link_to admin_users_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  - if current_user.can_update?(@user)
    = link_to edit_admin_user_path(@user), class: 'btn btn-primary' do
      = icon('edit', t('actions.edit'))
  %h1= icon('user', @user)

.row
  .col-sm-6
    = render partial: 'form', locals: {locked: true}

  - unless @user.guest?
    .col-sm-6
      = bootstrap_form_for [:admin, @user], layout: :horizontal,
          label_col: 'col-sm-4', control_col: 'col-sm-8' do |f|
        .panel.panel-default
          %fieldset.panel-body{disabled: true}
            = f.text_field :last_sign_in_at, value: @user.last_sign_in_at.present? ? l(@user.last_sign_in_at, format: :iso) : ''
            = f.text_field :last_sign_in_ip
            = f.text_field :sign_in_count
