.page-header
  = link_to admin_users_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  - if current_user.can_update?(@user)
    = link_to edit_admin_user_path(@user), class: 'btn btn-primary' do
      = icon('edit', t('actions.edit'))
  %h1= icon('user', @user)

.row
  .col-sm-6
    .panel.panel-default
      .panel-body.form-horizontal
        = static_control col(User, :name),
            @user.name
        = static_control col(User, :email),
            @user.email
        = static_control col(User, :role_ids) do
          - @user.role_names.each do |role_name|
            %span.label.label-default= role_name

  - unless @user.is_guest?
    .col-sm-6
      .panel.panel-default
        .panel-body.form-horizontal
          = static_control col(User, :last_sign_in_at),
              @user.last_sign_in_at.present? ? l(@user.last_sign_in_at, format: :long) : ''
          = static_control col(User, :last_sign_in_ip),
              @user.last_sign_in_ip
          = static_control col(User, :sign_in_count),
              @user.sign_in_count
