.page-header
  = link_to admin_users_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  - if current_user.can_update?(@user, at: current_store)
    = link_to edit_admin_user_path(@user), class: 'btn btn-primary' do
      = icon('edit', t('actions.edit'))
  %h1= icon('user', @user)

.row
  .col-lg-7
    = render partial: 'form', locals: {locked: true}

    - unless @user.guest?
      = render partial: 'sign_in_info'

  .col-lg-5
    %ul.nav.nav-tabs.nav-justified.nav-sm{role: 'tablist'}
      = nav_tab 'group', col(User, :group), class: 'active'
      = nav_tab 'roles', col(User, :roles)
      = nav_tab 'pricing_group', col(User, :pricing_group_id)
      = nav_tab 'categories', col(User, :category_ids)

    .tab-content
      = tab_pane 'group', class: 'in active' do
        = render partial: 'group', object: @user, as: :user, locals: {locked: true}
      = tab_pane 'roles' do
        = render partial: 'admin/roles/list', object: @user, as: :user
      = tab_pane 'pricing_group' do
        = render partial: 'pricing_group', object: @user, as: :user, locals: {locked: true}
      = tab_pane 'categories' do
        = render partial: 'categories', object: @user, as: :user, locals: {locked: true}
