.page-header
  - if current_user.can_create?(Subscription, at: current_store)
    = link_to new_admin_subscription_path, class: 'btn btn-primary' do
      = icon('plus', t('.new_subscription'))
  %h1= icon('ticket', title(Subscription, count: 2))

.alert.alert-info
  - if current_store.subscriptions.running.any?
    = t('.cancelling_and_upgrading_html')
  - else
    = t('.getting_started_html')

.subscription-list
  - @subscriptions.each do |subscription|
    .subscription
      = render subscription
