= stripe_javascript_tag
.page-header
  = link_to admin_subscriptions_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  %h1
    = icon('ticket', t('.new_subscription'))

= render partial: 'form'
= render partial: 'admin/plans/new_subscription'
