.panel.panel-default
  .panel-heading
    %h4.panel-title
      .pull-right
        = icon('cc-visa', class: 'fa-lg')
        = icon('cc-mastercard', class: 'fa-lg')
        = icon('cc-diners-club', class: 'fa-lg')
      = t('store.checkout.creditcard_payment')
  .panel-body
    = bootstrap_form_tag url: pay_path(method: :credit_card), html: {id: 'paybyway-creditcard-form'} do |f|
      .row
        .col-sm-6
          = f.telephone_field :number, label: t('store.checkout.card_number'), class: 'credit-card-number', autocomplete: 'cc-number'
        .col-sm-3
          = f.text_field :expiry, label: t('store.checkout.card_expiry'), class: 'credit-card-expiry'
        .col-sm-3
          = f.text_field :cvc, label: t('store.checkout.card_cvc'), class: 'credit-card-cvc', autocomplete: 'off'
        .col-xs-12.pay-now-button.collapse.in
          = f.button t('store.checkout.charge'), class: 'btn btn-block btn-lg btn-primary'
      .row
        .col-xs-12.working.collapse
          .pull-right= icon('circle-o-notch', class: 'fa-lg fa-spin')
          %p= t('store.checkout.charging')

.panel.panel-default
  .panel-heading
    %h4.panel-title= t('store.checkout.bank_payment')
  .panel-body.bank-buttons
    .bank-button.nordea{data: {selected: 'nordea'}}
    .bank-button.op{data: {selected: 'osuuspankki'}}
    .bank-button.danske{data: {selected: 'danskebank'}}
    .bank-button.saastopankki{data: {selected: 'saastopankki'}}
    .bank-button.poppankki{data: {selected: 'paikallisosuuspankki'}}
    .bank-button.aktia{data: {selected: 'aktia'}}
    .bank-button.handelsbanken{data: {selected: 'handelsbanken'}}
    .bank-button.spankki{data: {selected: 'spankki'}}

:coffee
  $e_payment_path = "#{pay_path(method: 'e_payment')}"
  $verify_path = '#{verify_path}'
  $failure = (message) ->
    $('.working').collapse 'hide'
    $('#message-failure').find('.alert').text message
    $('#message-failure').collapse 'show'
    $('button', '.pay-now-button').attr 'disabled', false
    $('.pay-now-button').collapse 'show'

  $('#paybyway-creditcard-form').on 'submit', (e) ->
    e.preventDefault()
    $('button', '.pay-now-button').attr 'disabled', true
    $('.pay-now-button').collapse 'hide'
    $('.working').collapse 'show'
    $('#message-failure').collapse 'hide'
    request = $.get $(this).attr 'action'
    request.done (data) ->
      try
        token = data.token
        amount = data.amount
        throw 'token request failure' unless token?
        number = $('#number').val().replace(/ /g, '')
        expiry = $('#expiry').payment 'cardExpiryVal'
        cvc = $('#cvc').val()
        request = $.post data.payment_url,
          token: token
          amount: amount
          currency: data.currency
          card: number
          exp_month: if expiry.month < 10 then '0' + expiry.month else expiry.month
          exp_year: expiry.year
          security_code: cvc
        request.done (data) ->
          verification = $.post $verify_path, token: token
          verification.done ->
            $('#checkout-form').trigger 'submit.rails'
          verification.fail ->
            $failure "#{t('store.checkout.errors.charge')}"
        request.error (data) ->
          $failure "#{t('store.checkout.errors.charge')}"
      catch error
        $failure "#{t('store.checkout.errors.token_request')}"

  $('.bank-button').on 'click', (e) ->
    request = $.get $e_payment_path,
      selected: $(this).data 'selected'
    request.done (data) ->
      try
        form = $('<form></form>').attr('action', data.payment_url).attr('method', 'GET')
        $('body').append form
        form.submit()
      catch error
        $failure "#{t('store.checkout.errors.token_request')}"
