.panel.panel-primary
  .panel-heading
    %h4.panel-title
      = @payment_gateway.order.order_type
      .pull-right
        = icon('cc-visa', class: 'fa-lg')
        = icon('cc-mastercard', class: 'fa-lg')
  .panel-body
    = bootstrap_form_tag url: pay_path(method: :credit_card), html: {id: 'paybyway-creditcard-form'} do |f|
      .row
        .col-sm-6
          = f.text_field :number, value: '4012888888881881', label: t('store.checkout.card_number')
        .col-sm-3
          = f.text_field :expiry, value: '12/2017', label: t('store.checkout.card_expiry')
        .col-sm-3
          = f.text_field :cvc, value: '777', label: t('store.checkout.card_cvc')
        .col-xs-12.pay-now-button.collapse.in
          = f.button t('store.checkout.charge'), class: 'btn btn-block btn-lg btn-primary'
      .row
        .col-xs-12.working.collapse
          .pull-right= icon('circle-o-notch', class: 'fa-lg fa-spin')
          %p= t('store.checkout.charging')

:coffee
  $charge_url = '#{@payment_gateway.charge_url}'
  $verify_path = '#{verify_path}'
  $failure = (message) ->
    $('.working').collapse 'hide'
    $('#message-failure').find('.alert').text message
    $('#message-failure').collapse 'show'
    $('button', '.pay-now-button').attr 'disabled', false
    $('.pay-now-button').collapse 'show'

  $('#paybyway-creditcard-form').on 'submit', (e) ->
    e.preventDefault()
    $('button', '.pay-now-button').attr 'disabled', true
    $('.pay-now-button').collapse 'hide'
    $('.working').collapse 'show'
    request = $.get $(this).attr 'action'
    request.done (data) ->
      try
        token = data.token
        throw 'token request failure' unless token?
        amount = $('#grand-total').data 'amount'
        number = $('#number').val()
        [exp_month, exp_year] = $('#expiry').val().split '/'
        cvc = $('#cvc').val()
        request = $.post $charge_url,
          token: token
          card: number
          amount: amount
          currency: 'EUR'
          exp_month: exp_month
          exp_year: exp_year
          security_code: cvc
        request.done (data) ->
          verification = $.post $verify_path, token: token
          verification.done ->
            $('#checkout-form').trigger 'submit.rails'
          verification.fail ->
            $failure "#{t('store.checkout.errors.charge')}"
        request.error (data) ->
          $failure "#{t('store.checkout.errors.charge')}"
      catch error
        $failure "#{t('store.checkout.errors.token_request')}"
