- if can_shop?
  = form_tag order_product_path(product), method: :post, remote: true, class: 'form-inline' do
    .form-group
      = hidden_field_tag :amount, 1
      - if product.linked_products.any?
        %button.btn.btn-success{type: 'button', data: {toggle: 'modal', target: '#select-for-cart-modal'}}= icon('shopping-cart', t('store.select_for_cart'))
      - else
        %button.btn.btn-success{type: 'submit'}= icon('cart-plus', t('store.add_to_cart'))
- if current_user.can_update?(Product)
  = link_to icon('edit', t('actions.edit')), edit_admin_product_path(product), class: 'btn btn-default'
%span.visible-from-search
  = link_to icon('times'), '#back', class: 'btn btn-primary'
%span.hidden-from-search
  = link_to icon('times'), show_category_path(@category), class: 'btn btn-primary', data: {push: 'partial', target: '.products'}
