- if can_shop? && may_shop_at?(@category) && product.purchasable?

  - if product.out_of_stock?
    - if product.back_orderable?
      %p.text-info
        = icon('exclamation-circle')
        = col(Product, :lead_time)
        = product.lead_time
    - else
      %p.text-danger
        = icon('exclamation-circle')
        = col(Product, :out_of_stock)

  - if product.orderable?
    = form_tag order_product_path(product), class: 'order-form', method: :post, remote: true do
      .form-group
        .input-group
          = number_field_tag :amount, 1, min: 1, max: 999, class: 'form-control'
          %span.input-group-btn
            %button.btn.btn-default{type: 'submit'}
              = icon('cart-plus', t('store.add_to_cart'))
