%h5= t('store.component_entries')
%ul.list-group.list-scroller
  - product.component_entries.live.each do |entry|
    %li.list-group-item[entry]
      - if stock_shown? && entry.component.tracked_stock?
        = icon('cube')
        %span.stock-amount{id: "entry-#{entry.id}", data: {url: show_product_stock_path(entry.component, default_inventory)}}
          = icon('refresh', class: 'fa-spin')
      = entry.quantity
      ⨉
      %strong= entry.component.title
      = entry.component.subtitle
      - if entry.component.vendor.present?
        .small
          = icon('truck')
          %strong= entry.component.vendor.name
