%h5= t('store.component_entries')
%ul.list-group.list-scroller
  = content_tag_for :li, product.component_entries.live, class: 'list-group-item' do |entry|
    - if stock_shown? && entry.component.tracked_stock?
      .stock-amount
        = icon('cube', product_stock(default_inventory, entry.component))
    = entry.quantity
    ⨉
    %strong= entry.component.title
    = entry.component.subtitle
    - if entry.component.vendor.present?
      .small
        = icon('truck')
        %strong= entry.component.vendor.name
