%h5= t('store.component_entries')
%ul.list-group.list-scroller
  = content_tag_for :li, product.component_entries.live, class: 'list-group-item' do |entry|
    %span.badge= entry.quantity
    %strong= entry.component.title
    = entry.component.subtitle
