%li.grid-item.single.product{id: dom_id(product, :favorite), class: !product.orderable?(default_inventory, nil) && 'out-of-stock'}
  = link_to show_product_path(product) do
    = render partial: 'products/card/card_image', object: product, as: :product
    = render partial: 'products/card/title_text', object: product, as: :product
    = render partial: 'products/card/promotions', object: product, as: :product
    = render partial: 'products/card/premium', object: product, as: :product
  .buy-now
    = render partial: 'products/card/pricing', object: product, as: :product
    - if can_order?
      - if product.purchasable? && !product.modal_ordering?
        = render partial: 'products/card/order_form', object: product, as: :product
      - else
        .product-link
          = link_to icon('search'), show_product_path(product), class: 'btn btn-sm'

  .remove
    = link_to remove_favorite_path(product), method: :delete, remote: true, class: 'btn btn-xs btn-outline-danger' do
      = icon('remove')
