- images = product.images.send(purpose)

- if images.count > 1
  %ul.nav{role: 'tablist'}
    - images.each_with_index do |image, index|
      %li{role: 'presentation', class: index == 0 && 'active'}
        = link_to "##{dom_id(image)}", role: 'pill', data: {toggle: 'pill'} do
          = image_variant_tag image, :icon

.tab-content.gallery
  - images.each_with_index do |image, index|
    .tab-pane.fade[image]{class: index == 0 && 'in active'}
      = link_to image.url(:lightbox, timestamp: false), class: 'image-link' do
        = image_variant_tag image, purpose
