- cache [selected_group, I18n.locale, :product_order_list_item, product, @category] do
  %li[product]{class: product.has_variants? && 'header'}
    = link_to show_product_path(product, @category), data: {push: 'partial', target: '#store-body'} do
      = render partial: 'products/card/list_image', object: product, as: :product
      = render partial: 'products/card/title_text', object: product, as: :product
      .product-pricing
        = render partial: 'products/card/pricing', object: product, as: :product
        = render partial: 'products/card/promotions', object: product, as: :product
    = render partial: 'products/set_order_amount', object: product, as: :product
  - if product.has_variants?
    = render partial: 'products/order_list_variant', collection: product.variants, as: :product
