- price = product.price_tag(nil)
- unit_price = product.unit_price(product.price_tag_cents(nil))

- if can_see_pricing? && price.present?
  %p.price.currency
    = icon('tag', price_tag(price))
    - if current_store.b2b_sales?
      %span.tax-rate= "(#{product.tax_category})"
    - unless unit_price.nil?
      %span.unit-price.currency
        = unit_price_string(unit_price, product.base_unit)
  - if product.promoted_price.present?
    %p.retail-price.currency
      = price_tag(product.retail_price)
