- price = product.price_tag(current_pricing)
- unit_price = product.unit_price(product.price_tag_cents(current_pricing))

- if can_see_pricing? && price.present?
  %p.price.currency
    = icon('tag', humanized_money_with_symbol(price))
    - if current_store.b2b_sales?
      %span.tax-rate= "(#{product.tax_category})"
    - unless unit_price.nil?
      %span.unit-price.currency
        = unit_price_string(unit_price, product.base_unit)
  - if product.promoted_price.present?
    %p.retail-price.currency
      = humanized_money_with_symbol(product.retail_price)
