- cache [current_group, I18n.locale, :product_detail, product] do
  .product-header
    .actions
      = link_to icon('times'), '#back', class: 'btn btn-default'
    %h1.product-title
      = product.title
      %span.small= product.subtitle

  .product-body
    .images.presentational
      = render partial: 'products/images', locals: {product: product, purpose: :presentational}

    .product-meta
      %p.product-code
        - if product.customer_code.present?
          = icon('barcode', product.customer_code, class: 'fa-lg')
        = icon('barcode', product.code, class: 'fa-lg fa-flip-horizontal')

      .buy-now
        .promotions
          - product.live_promoted_items(current_group).each do |item|
            .promotion= item.description
        .product-pricing
          = render partial: 'products/pricing', object: product, as: :product
        - if product.includes_components?
          = render partial: 'products/components_panel', object: product, as: :product
        = render partial: 'products/buy_now', object: product, as: :product
        = render partial: 'store/go_checkout'

      - if product.variant?
        .variant-products
          - if product.has_master_properties?
            = render partial: 'products/variants_table', object: product, as: :product
          - else
            = render partial: 'products/variants_dropdown', object: product, as: :product

      .product-stock
        = render partial: 'products/stock', object: product, as: :product

    .product-description
      %ul.nav.nav-tabs.nav-sm{role: 'tablist'}
        = nav_tab 'description', t('store.product_description'), class: 'active'
        - if product.images.document.any?
          = nav_tab 'documents', t('store.product_documentation')

      .tab-content
        = tab_pane 'description', class: 'in active' do
          .body-text><
            = product.description.html_safe if product.description.present?
        - if product.images.document.any?
          = tab_pane 'documents' do
            .documents.list-group
              - product.images.document.each do |document|
                = link_to(icon('paperclip', document.to_s),
                    document.url(:original), class: 'list-group-item')

    .product-properties
      - if product.product_properties.any?
        = render partial: 'products/properties_panel', object: product, as: :product

    .images.technical
      = render partial: 'products/images', locals: {product: product, purpose: :technical}

    - if product.iframes.any?
      .iframes
        = render partial: 'iframes/gallery', object: product, as: :product, locals: {inline: current_store.inline_iframes}

  .product-footer

    - if product.variant? && !product.has_master_properties?
      %h2.footer-header= t('store.product_variants')
      .variant-products
        .product-grid
          %ul= render partial: 'products/variant_product', collection: product.sibling_variants.live.sorted, as: :product, locals: {context: product}

    - if product.requisite_products.live.any?
      %h2.footer-header= t('store.requisite_products')
      .requisite-products
        .product-grid
          %ul= render partial: 'products/requisite_product', collection: product.requisite_products.live, as: :product

    #offer-requisites-modal.modal{data: {backdrop: 'static'}}
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            %button.close{data: {dismiss: 'modal'}}= icon('close')
            %h4.modal-title= t('store.offer_requisites')
          .modal-body.requisite-products.product-grid
            %ul
          .modal-footer
            = link_to cart_path, class: 'btn btn-primary' do
              = icon('shopping-cart', t('store.continue_to_cart'))
