- cache_if current_user.guest?, [I18n.locale, :product_card, product] do
  = content_tag_for :li, product, class: 'masonry-item single' do
    = link_to show_product_path(product, @category), data: {push: 'partial', target: '#store-body'} do
      .product-image= image_variant_tag product.cover_image(current_store.card_image_type), :postcard
      .product-text
        %h3
          = product.title
          %span.small= product.subtitle
        .description= product.description.html_safe
      .promotions
        - product.active_promoted_items.each do |item|
          .promotion= item.description
    .buy-now
      - if can_see_pricing?
        %p.price
          - if product.has_variants?
            = humanized_money_range product.price_range(current_pricing)
          - else
            = humanized_money_with_symbol product.price_tag(current_pricing)
      - if can_shop? && may_shop_at?(@category) && product.purchasable?
        = form_tag order_product_path(product), method: :post, remote: true, class: 'form-inline buy-now-form' do
          = hidden_field_tag :amount, 1
          %button.btn.btn-success.btn-sm{type: 'submit'}= icon('cart-plus')
