.product-actions
  = form_tag order_product_path(product), method: :post, remote: true,
      class: 'form-inline' do
    .form-group
      %label{for: :amount} Amount to order
      = number_field_tag :amount, 1, min: 1, max: 999, class: 'form-control text-right'
    %button.btn.btn-default.stateful{type: 'submit'}
      = icon('shopping-cart', 'Add to cart')

  = link_to icon('edit', 'Edit'), edit_admin_product_path(product),
      class: 'btn btn-default'
  = link_to icon('times', 'Close'), show_category_path(product.category), remote: true,
      class: 'btn btn-primary'

%h1.product-title
  = product.title
  %span.small= product.subtitle

.product-description
  .product-code
    - if product.customer_code.present?
      %span.label.label-info= product.customer_code
    %span.label.label-default
      TJT
      = product.code

  %p= product.description

.images.technical
  %ul.nav.nav-pills{role: 'tablist'}
    - if @technical_images.count > 1
      = render partial: 'images/pill', collection: @technical_images, as: :image
  .tab-content.gallery
    = render partial: 'images/technical', collection: @technical_images, as: :image

.images.presentational
  %ul.nav.nav-pills{role: 'tablist'}
    - if @presentational_images.count > 1
      = render partial: 'images/pill', collection: @presentational_images, as: :image
  .tab-content.gallery
    = render partial: 'images/presentational', collection: @presentational_images, as: :image
