- cache_if current_user.guest?, [I18n.locale, :product_card, product] do
  = content_tag_for :li, product do
    = link_to show_product_path((@category || product.category), product), data: {push: 'partial', target: '.product-detail'} do
      .product-image= image_variant_tag product.cover_image(current_store.card_image_type), :matchbox
      .product-text
        %h3
          = product.title
          %span.small= product.subtitle
        .description= product.description.html_safe
      - product.active_promoted_items.each do |item|
        .promotion
          %p= item.description
    - if can_see_pricing? && can_shop? && may_shop_at?(@category)
      .buy-now
        %p= humanized_money_with_symbol product.price(current_pricing)
        = form_tag order_product_path(product), method: :post, remote: true, class: 'form-inline' do
          = hidden_field_tag :amount, 1
          %button.btn.btn-success.btn-sm{type: 'submit'}= icon('cart-plus')
