- headline ||= nil

.product-card
  = link_to current_store.portal? ? show_product_url(product, host: product.store.hostname_at(current_store).fqdn) : show_product_path(product) do
    .product-image= image_variant_tag product.cover_image(product.store.card_image_type), :postcard
    .product-text
      - if headline.present?
        %h2= headline
      %h3
        = product.title
        %span.small= product.subtitle
    .promotions
      - product.active_promoted_items.each do |item|
        .promotion= item.description
  .buy-now
    - if product.has_variants?
      %p.price= price_range product.price_range(nil)
    - else
      %p.price= price_tag product.price_tag(nil)
    - if current_store.present? && product.purchasable? && product.orderable?
      = form_tag order_product_path(product), method: :post, remote: true, class: 'form-inline buy-now-form' do
        = hidden_field_tag :amount, 1
        %button.btn.btn-success.btn-sm{type: 'submit'}= icon('cart-plus')
