%h1.product-title
  = link_to icon(:times, 'Close'), show_category_path(product.category), remote: true,
      class: 'btn btn-primary'
  = link_to icon('edit', 'Edit'), edit_admin_product_path(product),
      class: 'btn btn-default'
  = product.name
  - if product.customer_code.present?
    %span.small= product.customer_code
  %span.small
    [TJT
    = product.code
    ]

.product-description
  = product.description

.images.technical.gallery
  = render partial: 'images/technical',
      collection: product.images.by_type(:technical),
      as: :image

.images.presentational.gallery
  = render partial: 'images/presentational',
      collection: product.images.by_type(:presentational),
      as: :image
