%h1.product-title
  = link_to icon('times', 'Close'), show_category_path(product.category), remote: true,
      class: 'btn btn-primary'
  = link_to icon('edit', 'Edit'), edit_admin_product_path(product),
      class: 'btn btn-default'
  = product.name
  %span.product-code
    - if product.customer_code.present?
      %span.label.label-info= product.customer_code
    %span.label.label-default
      TJT
      = product.code

.product-description
  = product.description

.images.technical
  %ul.nav.nav-pills{role: 'tablist'}
    - if @technical_images.count > 1
      = render partial: 'images/pill', collection: @technical_images, as: :image
  .tab-content.gallery
    = render partial: 'images/technical', collection: @technical_images, as: :image

.images.presentational
  %ul.nav.nav-pills{role: 'tablist'}
    - if @presentational_images.count > 1
      = render partial: 'images/pill', collection: @presentational_images, as: :image
  .tab-content.gallery
    = render partial: 'images/presentational', collection: @presentational_images, as: :image
