.product-actions
  - if current_user.can?(:shop)
    = form_tag order_product_path(product), method: :post, remote: true,
        class: 'form-inline' do
      .form-group
        = hidden_field_tag :amount, 1
        %button.btn.btn-success{type: 'submit'}= icon('cart-plus', t('store.add_to_cart'))
  - if current_user.can_update?(Product)
    = link_to icon('edit', t('actions.edit')), edit_admin_product_path(product),
        class: 'btn btn-default'
  = link_to icon('times'), show_category_path(product.category),
      data: {push: 'partial', target: '.products'},
      class: 'btn btn-primary'

%h1.product-title
  = product.title
  %span.small= product.subtitle

.product-description
  - if current_user.can?(:shop)
    %p.product-stock
      = product_stock_string(product.stock)

  .body-text><= product.description.html_safe if product.description.present?
  .documents.list-group
    - @documents.each do |document|
      = link_to(icon('paperclip', document.attachment_file_name),
          document.url(:original), class: 'list-group-item')

  - if current_user.can?(:shop)
    %p.product-pricing
      = icon('tag', number_to_currency(product.sales_price, unit: '€'))
  %p.product-code
    - if product.customer_code.present?
      = icon('barcode', product.customer_code, class: 'fa-lg')
    = icon('barcode', product.code, class: 'fa-lg fa-flip-horizontal')

.images.technical
  %ul.nav.nav-pills{role: 'tablist'}
    - if @technical_images.count > 1
      = render partial: 'images/pill', collection: @technical_images, as: :image
  .tab-content.gallery
    = render partial: 'images/technical', collection: @technical_images, as: :image

.images.presentational
  %ul.nav.nav-pills{role: 'tablist'}
    - if @presentational_images.count > 1
      = render partial: 'images/pill', collection: @presentational_images, as: :image
  .tab-content.gallery
    = render partial: 'images/presentational', collection: @presentational_images, as: :image
