%ul.nav.nav-tabs.nav-sm{role: 'tablist'}
  - if product.product_properties.any?
    %li.active{role: 'presentation'}
      %a{href: '#tab-properties', role: 'tab', data: {toggle: 'tab'}}
        = t('store.product_properties')
  - if product.component_entries.any?
    %li{role: 'presentation', class: product.product_properties.any? ? '' : 'active'}
      %a{href: '#tab-component-entries', role: 'tab', data: {toggle: 'tab'}}
        = t('store.component_entries')

.tab-content

  - if product.product_properties.any?
    #tab-properties.tab-pane.fade.in.active
      .table-scroller.table-responsive
        %table.table.table-condensed.table-scroller.properties
          = content_tag_for :tr, product.product_properties do |product_property|
            %th= product_property.property
            %td= product_property.value_with_units

  - if product.component_entries.any?
    #tab-component-entries.tab-pane.fade{class: product.product_properties.any? ? '' : 'in active'}
      .table-scroller.table-responsive
        %table.table.table-condensed.components
          = content_tag_for :tr, product.component_entries.includes(:product) do |entry|
            %td
              .box-icon= image_variant_tag entry.component.cover_image, :icon
            %th
              %strong= entry.component.title
              = entry.component.subtitle
            %td.text-right= entry.quantity
