.product-header

  .product-actions
    = render partial: 'products/actions', object: product, as: :product
  %h1.product-title
    = product.title
    %span.small= product.subtitle

.product-body

  .product-description
    - if can_shop?
      %p.product-stock
        = product_stock_string(product.stock)

    .body-text><= product.description.html_safe if product.description.present?

    .documents.list-group
      - @documents.each do |document|
        = link_to(icon('paperclip', document.attachment_file_name),
            document.url(:original), class: 'list-group-item')

    %ul.customizations.list-group
      - product.customizations.each do |customization|
        %li.list-group-item
          %span.badge
            = customization.custom_value
            = customization.custom_attribute.measurement_unit
          = customization.custom_attribute

    - if can_shop?
      .product-pricing
        %p= icon('tag', number_to_currency(product.sales_price, unit: '€'))
        - unless product.unit_price.nil?
          .unit-price
            = unit_price_string(product.unit_price, product.base_unit)

    %p.product-code
      - if product.customer_code.present?
        = icon('barcode', product.customer_code, class: 'fa-lg')
      = icon('barcode', product.code, class: 'fa-lg fa-flip-horizontal')

  .images.technical
    %ul.nav.nav-pills{role: 'tablist'}
      - if @technical_images.count > 1
        = render partial: 'images/pill', collection: @technical_images, as: :image
    .tab-content.gallery
      = render partial: 'images/technical', collection: @technical_images, as: :image

  .images.presentational
    %ul.nav.nav-pills{role: 'tablist'}
      - if @presentational_images.count > 1
        = render partial: 'images/pill', collection: @presentational_images, as: :image
    .tab-content.gallery
      = render partial: 'images/presentational', collection: @presentational_images, as: :image
