- cache_if current_user.guest?, [I18n.locale, :product_detail, product] do
  .product-header

    %h1.product-title
      = product.title
      %span.small= product.subtitle

    .product-meta
      .product-actions
        = render partial: 'products/actions', object: product, as: :product
      - if can_see_pricing?
        .product-pricing
          = render partial: 'products/pricing', object: product, as: :product

  .product-body

    .product-description

      %p.product-code
        - if product.customer_code.present?
          = icon('barcode', product.customer_code, class: 'fa-lg')
        = icon('barcode', product.code, class: 'fa-lg fa-flip-horizontal')

      - if can_see_stock?
        %p.product-stock
          = product_stock_string(product.stock)

      .body-text><= product.description.html_safe if product.description.present?

      %table.table.table-condensed.properties
        = content_tag_for :tr, product.product_properties do |product_property|
          %th= product_property.property
          %td= product_property.value_with_units

      - if product.images.document.any?
        .documents.list-group
          - product.images.document.each do |document|
            = link_to(icon('paperclip', document.to_s),
                document.url(:original), class: 'list-group-item')

    - if product.iframes.any?
      .iframes
        = render partial: 'iframes/gallery', object: product, as: :product, locals: {inline: current_store.inline_iframes}

    .images.technical
      - technicals = product.images.technical.sorted
      %ul.nav.nav-pills{role: 'tablist'}
        - if technicals.count > 1
          = render partial: 'images/pill', collection: technicals, as: :image
      .tab-content.gallery
        = render partial: 'images/technical', collection: technicals, as: :image
    .images.presentational
      - presentationals = product.images.presentational.sorted
      %ul.nav.nav-pills{role: 'tablist'}
        - if presentationals.count > 1
          = render partial: 'images/pill', collection: presentationals, as: :image
      .tab-content.gallery
        = render partial: 'images/presentational', collection: presentationals, as: :image

  .product-footer

    - if @product.linked_products.any?
      %h2= t('store.linked_products')
      .linked-products
        %ul= render partial: 'products/linked_product', collection: @product.linked_products, as: :product

  - if @product.linked_products.any?
    = render partial: 'store/select_for_cart_modal', object: product, as: :product
