- url = current_store.portal? ? show_product_url(product, host: product.store.hostname_at(current_store).fqdn) : show_product_path(product)

.product-card
  = link_to url do
    .product-image= image_variant_tag product.cover_image(product.store.card_image_type), :postcard
    .product-text
      %h3
        = product.title
        %span.small= product.subtitle
    .promotions
      - product.live_promoted_items(current_group).each do |item|
        .promotion= item.description
    - if pricing_shown? && premium_pricing.present?
      .premium-price
        %span.teaser= current_group.premium_teaser
        %p.price.currency
          - if product.has_variants?
            = price_range *premium_pricing.range_for_display(product)
          - else
            = price_tag *premium_pricing.for_display(product)
  .buy-now
    - if pricing_shown?
      %p.price.currency
        - if product.has_variants?
          = price_range *pricing.range_for_display(product)
        - else
          = price_tag *pricing.for_display(product)
    - if can_order?
      - if product.has_variants? && product.visible?
        .product-link
          = link_to icon('search'), url, class: 'btn btn-sm'
      - elsif product.purchasable?
        - if product.orderable?(default_inventory, nil)
          = form_tag order_product_path(product), method: :post, remote: true, class: 'form-inline buy-now-form' do
            = hidden_field_tag :amount, 1
            %button.btn.btn-success.btn-sm{type: 'submit'}= icon('cart-plus')
        - else
          %p.text-danger
            = icon('exclamation-circle')
            = col(Product, :out_of_stock)
