= div_for product do
  = link_to show_product_path(product), data: {push: 'partial', target: '.product-detail'} do
    = image_variant_tag(product.cover_image, :matchbox,
        class: 'img-responsive')
    %h3= product.title
    %h4= product.subtitle
