= content_tag_for :li, product do
  = link_to show_product_path(product), data: {push: 'partial', target: '#store-body'} do
    .product-image= image_variant_tag product.cover_image(current_store.list_image_type), :matchbox
    .product-text
      %h3
        = product.title
        %span.small= product.subtitle
