- cache [current_group, I18n.locale, :search_result_row, product] do
  = content_tag_for :tr, product do
    %td.product-image
      .box-thumbnail
        = image_variant_tag product.cover_image(current_store.list_image_type), :thumbnail
    %td.product-title
      = link_to show_product_path(product) do
        %strong= product.title
        = product.subtitle
      .small= product.codes
    %td= property_string(product.searchable_product_properties)
    - if can_see_pricing?
      %td.price.currency.text-right
        - if product.has_variants?
          = price_range *pricing.range_for_display(product)
        - else
          = price_tag *pricing.for_display(product)
