%li
  = link_to search_path(params: {product_search: {keyword: params[:product_search][:keyword]}}) do
    = t('actions.advanced_search', keyword: params[:product_search][:keyword])
%li.divider
= content_tag_for :li, @products, class: 'media' do |product|
  = link_to show_product_path(product.category, product), data: {push: 'partial', target: '.product-detail'} do
    .media-left
      .box-thumbnail
        = image_variant_tag product.cover_image, :thumbnail
    .media-body
      %h4.media-heading
        = product.title
        .small= product.subtitle
      - if can_see_pricing?
        %p.currency.text-right
          = humanized_money_with_symbol product.user_price(current_user)
