%li
  = link_to search_path(params: {product_search: {keyword: params[:product_search][:keyword]}}) do
    = t('actions.advanced_search', keyword: params[:product_search][:keyword])
%li.divider
= content_tag_for :li, @products, class: 'media' do |product|
  = link_to show_product_path(product), data: {push: 'partial', target: '#store-body'} do
    .media-left
      .box-thumbnail
        = image_variant_tag product.cover_image, :thumbnail
    .media-body
      .media-heading
        %strong= product.title
        .small= product.subtitle
      - if can_see_pricing?
        %p.currency.text-right
          - if product.has_variants?
            = price_range product.price_range(current_pricing)
          - else
            = price_tag product.price_tag(current_pricing)
