%dl
  %dt= inventory
  %dd
    = icon('cube')
    %span.stock-amount{id: "product-#{product.id}-#{inventory.id}", data: {url: show_product_stock_path(product, inventory)}}
      = icon('refresh', class: 'fa-spin')
