- cache_if current_user.guest?, [I18n.locale, :product_row, product] do
  = content_tag_for :tr, product do
    %td.product-image
      .box-thumbnail
        = image_variant_tag product.cover_image(current_store.list_image_type), :thumbnail
    %td.product-title
      %strong= product.title
      = product.subtitle
    %td.product-code= product.codes
    - if can_see_pricing? && can_shop? && may_shop_at?(@category)
      %td.price.currency.text-right
        - if product.purchasable?
          = price_tag product.price_tag(current_pricing)
    %td.actions
      - if can_shop? && may_shop_at?(@category) && product.purchasable?
        = form_tag order_product_path(product), method: :post, remote: true, class: 'form-inline' do
          .input-group
            = number_field_tag :amount, 1, min: 1, max: 999, class: 'form-control text-right'
            %span.input-group-btn
              %button.btn.btn-success{type: 'submit'}= icon('cart-plus')
