.dropdown
  %button.btn.btn-default.dropdown-toggle{type: 'button', data: {toggle: 'dropdown'}}
    = t('products.product_detail.variants')
    %span.caret
  %ul.dropdown-menu
    = content_tag_for :li, product.sibling_variants.live.sorted do |variant|
      = link_to show_product_path(variant.category, variant), data: {push: 'partial', target: '#store-body'} do
        .media
          .media-left= image_variant_tag variant.cover_image, :thumbnail, class: 'media-object'
          .media-body
            %h4.media-heading
              = variant.title
              %span.small= variant.subtitle
            %p
              - variant.distinct_properties(product).each do |product_property|
                %span.label.label-default= product_property
