.dropdown
  %button.btn.btn-default.dropdown-toggle{type: 'button', data: {toggle: 'dropdown'}}
    = t('products.product_detail.variants')
    %span.caret
  %ul.dropdown-menu
    - product.sibling_variants.live.sorted.each do |variant|
      %li[variant]
        = link_to show_product_path(variant), data: {push: 'partial', target: '#store-body'} do
          .media
            .media-left= picture_variant_tag variant.cover_picture, :thumbnail, class: 'media-object'
            .media-body
              %h4.media-heading
                = variant.title
                %span.small= variant.subtitle
              %p
                - variant.distinct_properties(product).each do |product_property|
                  %span.label.label-default= product_property
