= content_tag_for :li, product do
  = link_to show_product_path(product), data: {push: 'partial', target: '#store-body'} do
    .product-image= picture_variant_tag product.cover_picture, :matchbox
    .product-text
      %h3
        = product.title
        %span.small= product.subtitle
    %table.table.table-condensed.properties
      = content_tag_for :tr, product.distinct_properties(context) do |product_property|
        %th= product_property.property
        %td= product_property.value_with_units
