= bootstrap_form_for [:admin, @property] do |f|
  .panel.panel-default
    .panel-body
      %fieldset{disabled: locked}
        = f.form_group do
          = f.check_box :searchable
        %hr
        = f.text_field :name, required: true
      %fieldset{disabled: locked}
        .row
          .col-md-6
            = f.select :value_type, Property.value_types.keys.map { |t| [Property.human_attribute_value(:value_type, t), t] }, {}, {class: 'selectize'}
          .col-md-6
            .measurement_unit.collapse{class: @property.numeric? && 'in'}
              = f.select :measurement_unit_id, MeasurementUnit.all.map { |u| [u.to_s, u.id] }, {include_blank: blank}, {class: 'selectize'}
        .row
          .col-md-6.col-md-offset-6
            .unit_pricing.collapse{class: @property.measurement_unit.present? && 'in'}
              = f.form_group do
                = f.check_box :unit_pricing, disabled: @property.measurement_unit.nil?
        %hr
        = f.text_field :external_name, help: t('.external_name_help')
      - unless locked
        %fieldset.actions.fixed
          .container
            = f.primary

:coffee
  $('#property_value_type').on 'change', (e) ->
    if $(e.target).val() == 'numeric'
      $('.measurement_unit').collapse 'show'
    else
      $('.measurement_unit').collapse 'hide'
      $('#property_measurement_unit_id')[0].selectize.setValue ''

  $('#property_measurement_unit_id').on 'change', (e) ->
    if $(e.target).val()
      $('.unit_pricing').collapse 'show'
      $('#property_unit_pricing').attr 'disabled', false
    else
      $('.unit_pricing').collapse 'hide'
      $('#property_unit_pricing').attr 'checked', false
      $('#property_unit_pricing').attr 'disabled', true
