= bootstrap_form_for [:admin, @property], layout: :horizontal,
    label_col: 'col-sm-4', control_col: 'col-sm-8' do |f|
  .panel.panel-default
    .panel-body
      %fieldset{disabled: locked}
        = f.text_field :name, required: true
        = f.form_group do
          = f.check_box :searchable
        = f.select :value_type,
            Property.value_types.keys.map { |t| [Property.human_attribute_value(:value_type, t), t] },
            {}, {class: 'selectize', disabled: !@property.new_record?}
      .measurement_unit.collapse{class: @property.numeric? ? 'in' : ''}
        %fieldset{disabled: locked}
          = f.select :measurement_unit_id, MeasurementUnit.all.map { |u| [u.to_s, u.id] }, {include_blank: true}, {class: 'selectize'}
      .unit_pricing.collapse{class: @property.measurement_unit.present? ? 'in' : ''}
        %fieldset{disabled: locked}
        = f.form_group do
          = f.check_box :unit_pricing, disabled: @property.measurement_unit.nil?
      - unless locked
        %fieldset.actions
          = f.form_group do
            = f.primary

:coffee
  $('#property_value_type').on 'change', (e) ->
    if $(e.target).val() == 'numeric'
      $('.measurement_unit').collapse 'show'
    else
      $('.measurement_unit').collapse 'hide'
      $('#property_measurement_unit_id')[0].selectize.setValue ''

  $('#property_measurement_unit_id').on 'change', (e) ->
    if $(e.target).val()
      $('.unit_pricing').collapse 'show'
      $('#property_unit_pricing').attr 'disabled', false
    else
      $('.unit_pricing').collapse 'hide'
      $('#property_unit_pricing').attr 'checked', false
      $('#property_unit_pricing').attr 'disabled', true
