.page-header
  - if current_user.can_create?(Property, at: current_store)
    = link_to new_admin_property_path, class: 'btn btn-primary' do
      = icon('plus', t('.new_property'))
  %h1= icon('eyedropper', title(Property, count: 2))

.table-responsive
  %table.table.table-hover.table-loose
    %thead
      %tr
        %th.col-min.hidden-print
        %th.col-xs-3= col(Property, :name)
        %th= col(Property, :measurement_unit_id)
        %th= col(Property, :value_type)
        %th.actions

    %tbody.sortable
      - @properties.each do |property|
        = content_tag_for :tr, property do
          %td.hidden-print= drag_handle
          %td
            = property.searchable? ? icon('search-plus', property.name, data: {toggle: 'tooltip'}, title: col(Property, :searchable)) : property.name
          %td= property.measurement_unit
          %td= property.value_type_name
          %td.actions
            = link_to icon('info', t('actions.show')), admin_property_path(property), class: 'btn btn-default btn-sm'
            - if current_user.can_update?(property, at: current_store)
              = link_to icon('edit', t('actions.edit')), edit_admin_property_path(property), class: 'btn btn-default btn-sm'
            - if current_user.can_delete?(property, at: current_store)
              = link_to icon('remove', t('actions.delete')), admin_property_path(property),
                  method: :delete, class: 'btn btn-sm btn-danger',
                  data: {confirm: t('actions.confirm.body',
                    klass: Property.model_name.human, name: property.name),
                    'confirm-title': t('actions.confirm.title'),
                    'confirm-proceed': t('actions.confirm.proceed'),
                    'confirm-cancel': t('actions.confirm.cancel')}

:coffee
  $('.sortable').sortable(
    items: '> tr'
    handle: '.handle'
    placeholder: 'sortable-placeholder'
    opacity: 0.5
    revert: 200
  ).bind 'sortupdate', (e, ui) ->
    $.post '#{reorder_admin_properties_path}',
      {reorder: $(this).sortable('toArray')}
