.panel.panel-info
  .panel-heading
    %h4.panel-title= t('actions.search')
  .panel-body
    = form_for @search, url: admin_customer_assets_path, method: :get do |f|
      .row
        .col-sm-6
          .form-group
            = f.select :product_id, [], {include_blank: true}, {multiple: true, placeholder: col(CustomerAsset, :product_id), class: 'selectize-tall'}
        .col-sm-4
          .form-group
            = f.select :user_id, current_store.users.with_assets.map { |u| [u.to_s, u.id] }, {include_blank: true}, {multiple: true, placeholder: col(CustomerAsset, :user_id), class: 'selectize'}
        .col-sm-2
          .form-group
            = f.submit t('actions.search'), class: 'btn btn-block btn-primary'

:coffee
  items = #{@search.raw_options['product_id'].to_json}

  $('#customer_asset_search_product_id').selectize
    plugins: ['remove_button']
    dropdownParent: 'body'
    preload: true
    valueField: 'id'
    sortField: [{field: 'title'}, {field: 'subtitle'}]
    searchField: ['title', 'subtitle']
    diacritics: false
    render: $.fn.selectize.renderers
    load: (query, callback) ->
      $.ajax
        url: '#{query_admin_products_path}'
        type: 'GET'
        dataType: 'json'
        error: ->
          callback()
        success: (response) ->
          callback(response)
    onLoad: ->
      this.setValue(items)
