.panel.panel-info
  .panel-heading
    %h4.panel-title= t('actions.search')
  .panel-body
    = form_for @search, url: admin_customer_assets_path, method: :get do |f|
      .row
        .col-sm-6
          .form-group
            = f.select :product_id, [], {}, {multiple: true, placeholder: col(CustomerAsset, :product_id), class: 'selectize-tall selectize-list-group', data: {customer_assets: @customer_assets.map(&:product), selected: @search.raw_options['product_id']}}
        .col-sm-4
          .form-group
            = f.select :user_id, current_store.users.with_assets.map { |u| [u.to_s, u.id] }, {}, {multiple: true, placeholder: col(CustomerAsset, :user_id), class: 'selectize'}
        .col-sm-2
          .form-group
            = f.submit t('actions.search'), class: 'btn btn-block btn-primary'

:coffee
  $product = $('#customer_asset_search_product_id')
  customer_assets = $product.data 'customerAssets'
  selected = $product.data 'selected'

  $product.betterSelectize
    options: customer_assets
    items: selected
    valueField: 'id'
    sortField: [{field: 'title'}, {field: 'subtitle'}]
    searchField: ['code', 'customer_code', 'title', 'subtitle']
    diacritics: false
    render: $.fn.selectize.product_renderer
    load: (query, callback) ->
      return callback() unless query.length > 2
      $.ajax
        url: '#{query_admin_products_path}'
        type: 'GET'
        dataType: 'json'
        data:
          q: query
        error: ->
          callback()
        success: (response) ->
          callback(response)
