.table-responsive
  %table.table.table-striped.table-hover.table-loose
    %thead
      %tr
        %th= col(CustomerAsset, :product_id)
        %th= col(CustomerAsset, :user_id)
        %th.col-xs-1.text-right= col(CustomerAsset, :amount)
        %th.actions

    %tbody
      = content_tag_for :tr, @customer_assets do |customer_asset|
        %td
          .product
            = link_to customer_asset.product.title, admin_product_path(customer_asset.product)
            %span.small= customer_asset.product.subtitle
            .badge= customer_asset.product.codes
        %td= customer_asset.user
        %td.text-right= customer_asset.amount
        %td.actions
          = link_to icon('info', t('actions.show')), admin_customer_asset_path(customer_asset), class: 'btn btn-default btn-sm'
          - if current_user.can_update?(customer_asset, at: current_store)
            = link_to icon('edit', t('actions.edit')), edit_admin_customer_asset_path(customer_asset), class: 'btn btn-default btn-sm'
