.page-header
  = link_to admin_customer_assets_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  - if current_user.can_update?(CustomerAsset)
    = link_to edit_admin_customer_asset_path(@customer_asset), class: 'btn btn-primary' do
      = icon('pencil-square', t('actions.edit'))
  %h1
    = icon('archive', @customer_asset.product.title)
    %span.small= @customer_asset.user

.row
  .col-md-7
    = render partial: 'form', locals: {locked: true}

  .col-md-5
