.table-responsive
  %table.table.table-hover.table-loose
    %thead
      %tr
        %th.col-xs-2= col(AssetEntry, :recorded_at)
        %th.col-xs-2= col(AssetEntry, :source_id)
        %th.col-xs-2.text-right= col(AssetEntry, :amount)
        %th.hidden.text-right= col(AssetEntry, :value)
        %th= col(AssetEntry, :note)
        %th.actions

    %tbody
      = content_tag_for :tr, customer_asset.asset_entries do |asset_entry|
        %td= l(asset_entry.recorded_at)
        %td
          - if asset_entry.source.present?
            = link_to_if current_user.can_read?(asset_entry.source.class, at: current_store), "#{title(asset_entry.source.class)} #{asset_entry.source}", [:admin, asset_entry.source]
        %td.text-right= asset_entry.amount
        %td.hidden.text-right.currency= money asset_entry.value
        %td= asset_entry.note
        %td
