.table-responsive
  %table.table.table-striped.table-hover.table-loose
    %thead
      %tr
        %th.col-xs-2= col(AssetEntry, :recorded_at)
        %th.col-xs-2= col(AssetEntry, :source_id)
        %th.col-xs-2.text-right= col(AssetEntry, :amount)
        %th.hidden.text-right= col(AssetEntry, :value)
        %th= col(AssetEntry, :note)
        %th.actions

    %tbody
      = content_tag_for :tr, customer_asset.asset_entries.includes(:source) do |asset_entry|
        %td= l(asset_entry.recorded_at)
        %td= asset_entry.source
        %td.text-right= asset_entry.amount
        %td.hidden.text-right.currency= humanized_money_with_symbol asset_entry.value
        %td= asset_entry.note
        %td
