.container
  %button.offcanvas-toggle{type: 'button', data: {toggle: 'offcanvas', target: '#side-nav'}}
    = icon('bars', class: 'fa-lg')
  .navbar-header
    = link_to branding(current_store), root_path, class: 'navbar-brand'
  %ul.nav.navbar-nav.responsive
    %li.dropdown
      %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
        = menu_title 'tachometer', t('admin.dashboard.title')
        %span.caret
      %ul.dropdown-menu
        = render partial: 'admin/shared/dashboard_menu'
    %li.dropdown
      %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
        = menu_title 'cube', t('admin.content.title')
        %span.caret
      %ul.dropdown-menu
        = render partial: 'admin/shared/content_menu'
    %li.dropdown
      %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
        = menu_title 'cog', t('admin.configuration.title')
        %span.caret
      %ul.dropdown-menu
        = render partial: 'admin/shared/configuration_menu'
  %ul.nav.navbar-nav.navbar-right.responsive
    - if user_signed_in? && !guest?
      %li.dropdown
        %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
          = bootstrap_label(current_group, icon: 'user', text: '')
          = current_user.name.split.first
          %span.caret
        %ul.dropdown-menu.dropdown-menu-right{role: 'menu'}
          = render partial: 'shared/admin_menu'
          = render partial: 'shared/user_menu'
    - else
      %li= link_to icon('sign-in', class: 'fa-lg'), new_user_session_path
