%ul.nav.navmenu-nav
  = menu_item 'shopping-cart', t('admin.return_to_storefront'), front_path

.navmenu-title= menu_title 'tachometer', t('admin.dashboard.title')
%ul.nav.navmenu-nav
  = render partial: 'admin/shared/dashboard_menu'

.navmenu-title= menu_title 'cube', t('admin.content.title')
%ul.nav.navmenu-nav
  = render partial: 'admin/shared/content_menu'

.navmenu-title= menu_title 'cog', t('admin.configuration.title')
%ul.nav.navmenu-nav
  = render partial: 'admin/shared/configuration_menu'

.navmenu-title= menu_title 'globe', t('admin.global.title')
%ul.nav.navmenu-nav
  = render partial: 'admin/shared/global_menu'
