.navmenu-title= menu_title 'tachometer', t('admin.dashboard.title')
%ul.nav.navmenu-nav
  = render partial: 'admin/shared/dashboard_menu'

.navmenu-title= menu_title 'cube', t('admin.content.title')
%ul.nav.navmenu-nav
  = render partial: 'admin/shared/content_menu'

.navmenu-title= menu_title 'cog', t('admin.configuration.title')
%ul.nav.navmenu-nav
  = render partial: 'admin/shared/configuration_menu'

- if user_signed_in? && !guest?
  .navmenu-title
    = bootstrap_label(current_group, icon: 'user', text: '')
    = current_user.name
  %ul.nav.navmenu-nav
    = render partial: 'shared/user_menu'
- else
  %ul.nav.navmenu-nav
    = menu_item 'sign-in', t('devise.sessions.new.sign_in'), new_user_session_path
