.navmenu-title= menu_title 'tachometer', t('admin.dashboard.title')
%ul.nav.navmenu-nav
  = render partial: 'admin/shared/dashboard_menu'

.navmenu-title= menu_title 'cube', t('admin.content.title')
%ul.nav.navmenu-nav
  = render partial: 'admin/shared/content_menu'

.navmenu-title= menu_title 'cog', t('admin.configuration.title')
%ul.nav.navmenu-nav
  = render partial: 'admin/shared/configuration_menu'

.navmenu-title= menu_title 'globe', t('admin.global.title')
%ul.nav.navmenu-nav
  = render partial: 'admin/shared/global_menu'

- if user_signed_in? && !current_user.guest?
  .navmenu-title
    %span.label{class: "label-#{current_user.appearance}"}= icon('user')
    = current_user.name
  %ul.nav.navmenu-nav
    = render partial: 'shared/user_menu'
    = menu_item 'home', t('admin.return_to_storefront'), front_path
- else
  %ul.nav.navmenu-nav
    = menu_item 'sign-in', t('devise.sessions.new.sign_in'), new_user_session_path
