.feed-item.card
  = link_to card.link, target: '_blank' do
    .header
      %h3
        = card.title
        %span.small= card.subtitle
    .picture= image_tag card.image
    .body
      .metadata
        .price.currency= card.price
        .size= card.size
        .type= card.type
      .description= card.description
