= bootstrap_form_for @order, url: checkout_path, method: :post,
    layout: :horizontal, label_col: 'col-sm-4', control_col: 'col-sm-8' do |f|

  = f.select :order_type_id, current_store.order_type_options,
      {}, {class: 'select2', style: 'width: 100%'}
  = f.text_field :company_name
  = f.text_field :contact_person
  %fieldset.shipping.collapse{class: @order.has_shipping? ? 'in' : ''}
    = f.date_field :shipping_at,
        data: {provide: 'datepicker', 'date-format' => 'yyyy-mm-dd',
          'date-language' => I18n.locale}
    = f.text_field :billing_address,
        placeholder: col(Order, :billing_address)
    = f.text_field :billing_postalcode, hide_label: true,
        placeholder: col(Order, :billing_postalcode)
    = f.text_field :billing_city, hide_label: true,
        placeholder: col(Order, :billing_city)
    = f.text_field :shipping_address,
        placeholder: col(Order, :shipping_address)
    = f.text_field :shipping_postalcode, hide_label: true,
        placeholder: col(Order, :shipping_postalcode)
    = f.text_field :shipping_city, hide_label: true,
        placeholder: col(Order, :shipping_city)
  = f.text_area :notes, rows: 4
  .form-group
    .col-sm-offset-4.col-sm-8
      = f.primary t('.place_order')

:coffee
  $('#order_order_type_id').on 'change', (e) ->
    if /shipping/.test e.added.css
      $('.shipping').addClass 'in'
    else
      $('.shipping').removeClass 'in'
    if /payment/.test e.added.css
      $('.payment').addClass 'in'
    else
      $('.payment').removeClass 'in'
