#cart-contents
  .panel.panel-default
    - if order.empty?
      .panel-body
        - if order.targeted?
          = t('store.cart_contents.empty_order_html')
        - else
          %p.lead= t('store.cart_contents.empty_cart')
          %p= link_to t('store.cart_contents.go_shopping'), front_path
    - else
      = render partial: 'order_items/cart_table', object: order, as: :order, locals: {locked: false}
      .panel-footer
        .pull-right
          - if order.checkoutable?
            = render partial: 'checkout/order_type', object: order, as: :order
          - else
            %p= t('checkout.messages.cannot_checkout_html')

  .actions
    = render partial: 'orders/actions', object: order, as: :order
