- if shopping_cart_selected?
  %li
    = link_to select_order_path(default_shopping_cart) do
      = icon('shopping-cart')
      = t('.return_to_shopping_cart')
= render partial: 'orders/pending_by_user', object: current_user.orders.at(current_store).quotation.incomplete, as: :orders
- if current_user.can_update?(Order, at: current_store)
  = render partial: 'orders/pending_from_group', object: current_group.user_orders.at(current_store).quotation.not_by(current_user).incomplete, as: :orders
