= form_for @order, url: checkout_path, method: :post,
    html: {class: 'form-horizontal', role: 'form'} do |f|
  = render 'shared/errors', object: @order

  .form-group
    = f.label :order_type_id, class: 'col-sm-4 control-label'
    .col-sm-8
      = f.select :order_type_id, current_store.order_type_options,
          {}, {class: 'select2 form-control', style: 'width: 100%'}
  .form-group
    = f.label :company_name, class: 'col-sm-4 control-label'
    .col-sm-8
      = f.text_field :company_name, class: 'form-control'
  .form-group
    = f.label :contact_person, class: 'col-sm-4 control-label'
    .col-sm-8
      = f.text_field :contact_person, class: 'form-control'
  %fieldset.shipping.collapse{class: @order.has_shipping? ? 'in' : ''}
    .form-group
      = f.label :shipping_at, class: 'col-sm-4 control-label'
      .col-sm-8
        = f.date_field :shipping_at, class: 'form-control',
            data: {provide: 'datepicker'}
    .form-group
      = f.label :billing_address, class: 'col-sm-4 control-label'
      .col-sm-8
        = f.text_field :billing_address, class: 'form-control',
            placeholder: col(Order, :billing_address)
    .form-group
      .col-sm-3.col-sm-offset-4
        = f.text_field :billing_postalcode, class: 'form-control',
            placeholder: col(Order, :billing_postalcode)
      .col-sm-5
        = f.text_field :billing_city, class: 'form-control',
            placeholder: col(Order, :billing_city)
    .form-group
      = f.label :shipping_address, class: 'col-sm-4 control-label'
      .col-sm-8
        = f.text_field :shipping_address, class: 'form-control',
            placeholder: col(Order, :shipping_address)
    .form-group
      .col-sm-3.col-sm-offset-4
        = f.text_field :shipping_postalcode, class: 'form-control',
            placeholder: col(Order, :shipping_postalcode)
      .col-sm-5
        = f.text_field :shipping_city, class: 'form-control',
            placeholder: col(Order, :shipping_city)
  .form-group
    = f.label :notes, class: 'col-sm-4 control-label'
    .col-sm-8
      = f.text_area :notes, rows: 4, class: 'form-control'
  .form-group
    .col-sm-offset-4.col-sm-8
      = f.submit t('.place_order'), class: 'btn btn-primary'

:coffee
  $('#order_order_type_id').on 'change', (e) ->
    if /shipping/.test e.added.css
      $('.shipping').addClass 'in'
    else
      $('.shipping').removeClass 'in'
    if /payment/.test e.added.css
      $('.payment').addClass 'in'
    else
      $('.payment').removeClass 'in'
