= bootstrap_form_for @order, url: confirm_path, method: :post,
    layout: :horizontal, label_col: 'col-sm-4', control_col: 'col-sm-8' do |f|

  = f.select :order_type_id, current_store.order_type_options,
      {}, {class: 'selectize', style: 'width: 100%'}
  = f.text_field :company_name
  = f.text_field :contact_person
  %fieldset.shipping.collapse{class: @order.has_shipping? ? 'in' : ''}
    = f.date_field :shipping_at,
        data: {provide: 'datepicker', 'date-format' => 'yyyy-mm-dd',
          'date-language' => I18n.locale}
    = f.text_field :shipping_address,
        placeholder: col(Order, :shipping_address)
    = f.text_field :shipping_postalcode, skip_label: true,
        placeholder: col(Order, :shipping_postalcode)
    = f.text_field :shipping_city, skip_label: true,
        placeholder: col(Order, :shipping_city)
    = f.form_group do
      = f.check_box :has_billing_address
    %fieldset.billing_address.collapse{class: @order.has_billing_address? ? 'in' : ''}
      = f.text_field :billing_address,
          placeholder: col(Order, :billing_address)
      = f.text_field :billing_postalcode, skip_label: true,
          placeholder: col(Order, :billing_postalcode)
      = f.text_field :billing_city, skip_label: true,
          placeholder: col(Order, :billing_city)
  = f.text_area :notes, rows: 4
  = f.form_group do
    = f.primary t('.place_order')

:coffee
  options = #{current_store.order_types.map { |o| [o.id, o] }.to_h.to_json}
  $('#order_order_type_id').on 'change', (e) ->
    index = $(e.target).val()
    if options[index]['has_shipping']
      $('.shipping').collapse 'show'
    else
      $('.shipping').collapse 'hide'
    if options[index]['has_payment']
      $('.payment').collapse 'show'
    else
      $('.payment').collapse 'hide'

  $('#order_has_billing_address').on 'change', (e) ->
    if $(e.target).is ':checked'
      $('.billing_address').collapse 'show'
    else
      $('.billing_address').collapse 'hide'
