= bootstrap_form_for @order, remote: true, layout: :horizontal, label_col: 'col-sm-4', control_col: 'col-sm-8', data: {type: 'json'}, html: {id: 'checkout-form'} do |f|
  = f.text_field :customer_name, required: true
  = f.text_field :customer_email, required: true
  = f.telephone_field :customer_phone, required: true
  - if current_store.b2b_sales?
    = f.text_field :company_name
    = f.text_field :contact_person
  .shipping.collapse{class: @order.has_shipping? ? 'in' : ''}
    - if current_store.b2b_sales?
      = f.date_field :shipping_at,
          data: {provide: 'datepicker', 'date-format' => 'yyyy-mm-dd', 'date-language' => I18n.locale}
    = f.text_field :shipping_address, required: true,
        placeholder: col(Order, :shipping_address)
    = f.text_field :shipping_postalcode, required: true, skip_label: true,
        placeholder: col(Order, :shipping_postalcode)
    = f.text_field :shipping_city, required: true, skip_label: true,
        placeholder: col(Order, :shipping_city)
    = f.form_group do
      = f.check_box :has_billing_address
    .billing_address.collapse{class: @order.has_billing_address? ? 'in' : ''}
      = f.text_field :billing_address,
          placeholder: col(Order, :billing_address)
      = f.text_field :billing_postalcode, skip_label: true,
          placeholder: col(Order, :billing_postalcode)
      = f.text_field :billing_city, skip_label: true,
          placeholder: col(Order, :billing_city)
  = f.text_area :notes, rows: 4

  - if @payment_gateway.present?
    = render @payment_gateway

  = f.form_group do
    = f.hidden_field :order_type_id
    = f.primary t('.confirm'), id: 'confirm-button'

:coffee
  $('#order_has_billing_address').on 'change', (e) ->
    if $(e.target).is ':checked'
      $('.form-control', '.billing_address').attr 'required', true
      $('.billing_address').collapse 'show'
    else
      $('.form-control', '.billing_address').attr 'required', false
      $('.billing_address').collapse 'hide'
