#cart-contents
  - if order.empty?
    - if order.targeted?
      = t('store.cart_contents.empty_order_html')
    - else
      %h5= t('store.cart_contents.empty_cart')
  - else
    = render partial: 'order_items/cart_list', object: order, as: :order, locals: {locked: false}

    - if order.checkoutable?
      = render partial: 'checkout/order_type', object: order, as: :order
    - else
      .pull-right= t('checkout.messages.cannot_checkout_html')

  .actions
    = render partial: 'orders/actions', object: order, as: :order
