.search-form
  = search_form_for @q, url: search_path, data: {push: 'partial', target: '.products', 'optimize-url-params' => false}, class: 'form-vertical' do |f|
    .col-xs-12.col-sm-3.col-lg-2
      .form-group
        = f.search_field :title_or_subtitle_cont, placeholder: t('search_panel.keyword'), class: 'form-control'
    .col-xs-12.col-sm-3.col-lg-2
      .form-group
        .input-group
          = f.text_field :sales_price_lteq, autocomplete: 'off', placeholder: t('search_panel.budget'), class: 'form-control text-right'
          %span.input-group-addon €
    .col-xs-12.col-sm-6.col-lg-4
      .form-group
        = f.select :categories_id_in, current_store.category_options, {include_blank: true}, {multiple: true, placeholder: t('search_panel.all_categories'), class: 'form-control'}
    .col-xs-12.col-lg-4
      .form-group.pull-right
        = f.submit t('search_panel.search'), class: 'btn btn-default'

:coffee
  $('select', '.search-form').selectize
    plugins: ['remove_button']
    dropdownParent: 'body'
    allowEmptyOption: true
