.search-form
  = form_tag search_path, {method: :get, data: {push: 'partial', target: '.products'}, class: 'form-horizontal', role: 'search'} do
    .form-group
      %label.control-label.col-sm-4= t('search_bar.keyword')
      .col-sm-8
        = search_field_tag :keyword, params[:keyword], class: 'form-control'
    - @search_terms.each do |attribute, terms|
      .form-group
        %label.control-label.col-sm-4= attribute.name.humanize
        .col-sm-8
          = select_tag attribute.param_name, options_for_select(terms, params[attribute.attribute_type].try(:[], attribute.name)), include_blank: true, class: 'selectize form-control'
    .form-group
      .col-sm-4
        %button.btn.btn-default{type: 'button', data: {toggle: 'modal', target: '#products-modal'}}= icon('star')
      .col-sm-8
        %button.btn.btn-primary{type: 'submit'}= t('search_bar.search')
