.search-form
  = form_tag search_path, {method: :get, data: {push: 'partial', target: '.products'}, class: 'form-horizontal', role: 'search'} do
    .form-group
      %label.control-label.col-sm-4= t('search_panel.keyword')
      .col-sm-8
        = search_field_tag :keyword, params[:keyword], class: 'form-control'
    - @searchables_by_attribute.each do |attribute, searchables|
      .form-group
        %label.control-label.col-sm-4= attribute.name.humanize
        .col-sm-8
          = render partial: 'custom_attributes/search_field', object: attribute, as: :custom_attribute, locals: {searchables: searchables, current_value: @search_params[attribute.attribute_type][attribute.id.to_s]}
    .form-group
      .col-sm-8.col-sm-offset-4
        %button.btn.btn-primary{type: 'submit'}= t('search_panel.search')
