.search-form
  = form_for @search, url: search_path, method: :get, enforce_utf8: false, data: {push: 'partial', target: '#search-results-wrap', 'optimize-url-params': false}, class: 'form-vertical' do |f|
    .row
      .col-xs-12.col-sm-6
        .form-group
          = f.search_field :keyword, autocomplete: 'off', placeholder: t('search_panel.keyword'), class: 'form-control'
      .col-xs-12.col-sm-6
        .form-group
          = f.select :categories, current_group.category_options, {}, {multiple: true, placeholder: t('search_panel.all_categories'), class: 'form-control'}
      - current_store.searchable_properties.each do |property|
        .col-xs-6.col-sm-3
          .form-group
            = f.select property.sluggify, property.values.sort, {}, {multiple: true, placeholder: property.name.titleize, class: 'form-control'}
      .col-xs-6.col-sm-3
        .form-group
          = f.button class: 'btn btn-block btn-primary' do
            = icon('search', t('search_panel.search'))

:coffee
  $('select', '.search-form').selectize
    plugins: ['remove_button']
    dropdownParent: 'body'
    allowEmptyOption: true
