#select-for-cart-modal.modal{data: {backdrop: 'static'}}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}}= icon('close')
        %h4.modal-title= t('store.select_for_cart')
      .table-responsive
        %table.table{style: 'background-color: #eee'}
          %thead
            %tr
              %th.col-min
              %th= col(Product, :title)
              %th.col-xs-2.no-wrap= col(Product, :code)
              - if can_see_pricing?
                %th.col-xs-2.no-wrap= col(Product, :sales_price)
              %th.col-xs-2.no-wrap.hidden-print
          %tbody
          = render partial: 'products/modal_row', collection: [product], as: :product
      .table-responsive
        %table.table.table-hover
          %thead
            %tr
              %th.col-min
              %th{colspan: can_see_pricing? ? 4 : 3}= t('store.linked_products')
            %tr
              %th.col-min
              %th= col(Product, :title)
              %th.col-xs-2.no-wrap= col(Product, :code)
              - if can_see_pricing?
                %th.col-xs-2.no-wrap= col(Product, :sales_price)
              %th.col-xs-2.no-wrap.hidden-print
          %tbody
          = render partial: 'products/modal_row', collection: product.linked_products, as: :product
