#products-wrap
  .context
    .pull-right
      = link_to show_category_path(@category, params.slice(:page)), class: 'btn btn-default btn-sm' do
        = icon('chevron-circle-left', t('actions.back'))
    %ol.breadcrumb
      = render partial: 'categories/breadcrumb', collection: @category.self_and_ancestors, as: :category
  .products
    .product-filter.without-view-selector
      = render partial: 'products/filtering'
    #product-view.product-order-list
      %ul
        = render partial: 'products/order_list_item', collection: @products, as: :product
      .pagination-block
        = paginate @products

:coffee
  $('.category').deactivate()
  $("##{dom_id(@category)}").activate()
  $('.navbar-form').show()

  $('#product-view').category_order_form '#{cart_path}'
