#products-wrap
  .products
    .product-filter
      = render partial: 'products/filtering'
    .breadcrumbs
      = render partial: 'categories/breadcrumbs', object: @category, as: :category
    .page-header.visible-print
      %h1= @category.to_s
      %p.lead= @category.subtitle
    .product-grid
      %ul{class: current_store.masonry? && 'masonry-grid'}
        = render @products

:coffee
  $('.category').deactivate()
  $("##{dom_id(@category)}").activate()
  $('.navbar-form').show()
