#products-wrap
  .context
    %ol.breadcrumb
      = render partial: 'categories/breadcrumb', collection: @category.self_and_ancestors, as: :category
    - if current_store.category_order?
      .category-order-toggle
        = link_to show_category_order_path(@category, params.permit([:page]).to_h), class: 'btn btn-default' do
          = icon('list-ul', t('.category_order'))
    = render partial: 'view_selector'
  .products
    .page-header.visible-print
      %h1= @category.to_s
      %p.lead= @category.subtitle

    #product-view{class: @view_mode, data: {url: show_category_path(@category, product_search_params), 'view-key': dom_id(@category)}}

    - if @category.filtering?
      .product-filter{data: {url: show_product_filter_path(@category, product_search_params)}}

:coffee
  $('#product-view').loadPartial()
  $('.product-filter').loadPartial()
