.page-header.visible-print
  %h1
    = current_store.to_s
    %small= @category.to_s
.product-grid
  %ul{class: current_store.masonry? ? 'masonry-grid' : ''}= render @products

:coffee
  $('.product-detail').hide()
  $('.category').deactivate()
  $("##{dom_id(@category)}").activate()
  $('.category-banner').replaceWith("#{j render partial: 'category_banner'}")
  $('.category-banner').collapse 'show'
  $('.categories').show()
  $('.products').show()
  $('.navbar-form').show()

  if $(window).isSmall()
    $(window).scrollTo $('#products-wrap'), 300, offset: -$('#main-nav').height()
  else
    $(window).scrollTo 0, 300
