#products-wrap
  .context
    %ol.breadcrumb
      = render partial: 'categories/breadcrumb', collection: @category.self_and_ancestors.live, as: :category
    .category-order-toggle
      = link_to show_category_path(@category, params.permit([:page]).to_h), class: 'btn btn-default' do
        = icon('times', t('.close'))
  .products
    #product-view.product-order-list
      %ul
        = render partial: 'products/order_list_item', collection: @products, as: :product
      .pagination-block
        = paginate @products
    .product-filter
      = render partial: 'products/filtering'

:coffee
  $('#product-view').category_order_form '#{cart_path}'
