#static-wrap.layout-container
  .container
    .page-header
      - if can_select_customer?
        = link_to new_order_path, class: 'btn btn-primary' do
          = icon('plus', t('orders.new.new_order'))
      - if @order.targeted?
        #quote-dropdown.dropdown
          %button.btn.btn-default.dropdown-toggle{type: 'button', data: {toggle: 'dropdown'}}
            = t('.send_quote')
            %span.caret
          %ul.dropdown-menu
            %li= link_to icon('envelope-open-o', t('.quote_self')), send_quote_path(recipient: :self), remote: true
            %li= link_to icon('envelope-o', t('.quote_customer')), send_quote_path(recipient: :customer), remote: true
      = link_to icon('print', t('actions.print')), '#print', class: 'btn btn-default'
      %h1.hidden-print
        - if @order.targeted?
          = icon('inbox', t('.order_or_quote'))
          %span.small= bootstrap_label(@order.customer, appearance: @order.source.appearance, text: @order.customer.name.split.first)
        - else
          = icon('shopping-cart', t('.shopping_cart'))
      %h1.visible-print-block= current_store

    = render partial: 'cart_contents', object: @order, as: :order

- if can_select_customer?
  - content_for :auxiliary_nav do
    %li.dropdown
      = dropdown_toggle do
        = t('.orders_menu')
        %span.caret
      %ul#orders-menu.dropdown-menu{role: 'menu'}
        = render partial: 'orders/menu'
