#static-wrap.layout-container
  .container
    .page-header
      - if can_select_customer?
        = render 'orders/new'
      - if @order.targeted?
        = render 'orders/quote'
      = link_to icon('print', t('actions.print')), '#print', class: 'btn btn-default'
      %h1.hidden-print
        - if @order.targeted?
          = icon('inbox', t('.order_or_quote'))
          %span.small= bootstrap_label(@order.customer, appearance: @order.source.appearance, text: @order.customer.name.split.first)
        - else
          = icon('shopping-cart', t('.shopping_cart'))
      %h1.visible-print-block= current_store

    = render partial: 'cart_contents', object: @order, as: :order

- if can_select_customer?
  - content_for :auxiliary_nav do
    = render partial: 'orders/menu'
