#static-wrap.layout-container
  .container
    .page-header
      - if can_select_customer?
        = render 'orders/new'
      - if @order.targeted?
        = render 'orders/quote'
      = link_to icon('print', t('actions.print')), '#print', class: 'btn btn-default'
      = render 'cart_title'

    = render partial: current_store.cart_contents_partial, object: @order, as: :order

- if can_select_customer?
  - content_for :auxiliary_nav do
    = render partial: 'orders/menu'
