.page-header
  = link_to cart_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  %h1.hidden-print
    = icon('shopping-cart', t('.checkout'))
    %span.small= @order.order_type
  %h1.visible-print
    = current_store
    %span.small= @order.order_type

#message-success.collapse.hidden-print
  .alert.alert-success
    %p.pull-right= link_to icon('print', t('.receipt')), '#print', class: 'btn btn-default'
    = t('.success_html')

.row
  .col-lg-6
    .panel.panel-default
      = render partial: 'order_items/table', object: @order, as: :order

  .col-lg-6
    .panel.panel-default
      .panel-body
        = render partial: 'checkout_form'
