.page-header
  = link_to cart_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  %h1
    = icon('shopping-cart', t('.checkout'))
    %span.small
      = @order.order_type

.row
  .col-lg-6
    .panel.panel-default
      = render partial: 'order_items/table', object: @order, as: :order

  .col-lg-6
    .panel.panel-default
      .panel-body
        = render partial: 'checkout_form'
