#static-wrap.layout-container
  .container
    .page-header
      - if can_select_customer?
        = render 'orders/new'
      - if @order.targeted?
        = render 'orders/quote'
      = render 'cart_title'

    = render partial: 'fancy_cart_contents', object: @order, as: :order

- if can_select_customer?
  - content_for :auxiliary_nav do
    = render partial: 'orders/menu'
