#static-wrap.layout-container
  .container
    .page-header
      - if can_select_customer?
        = render 'orders/new'
      - if @order.targeted?
        = render 'orders/quote'
      = render 'cart_title'

    .row
      .col-xs-12.col-md-9.col-lg-8
        = render partial: current_store.cart_contents_partial, object: @order, as: :order

- if can_select_customer?
  - content_for :auxiliary_nav do
    = render partial: 'orders/menu'
