- meta_tags_for(current_store)

#store-wrap
  .store-sections
    #categories-wrap
      .categories.hidden-print
        %ul= render @categories

    #products-wrap
      .products
        - if @category.present?
          .breadcrumbs.visible-print
            = render partial: 'categories/breadcrumbs', object: @category, as: :category
          .page-header.visible-print
            %h1= @category.to_s
            %p.lead= @category.subtitle
        .product-grid
          %ul{class: current_store.masonry? && 'masonry-grid'}
            = render @products

    #product-detail-wrap
      .product-detail{style: 'display: none'}
