- meta_tags_for(current_store)

#categories-wrap
  .categories.hidden-print
    %ul= render @categories
#category-banner-wrap
  = render partial: 'category_banner'

#search-panel-wrap
  .search-panel{style: 'display: none'}

#products-wrap
  .products{class: current_store.masonry? ? 'brickwork' : ''}
    .page-header.visible-print
      %h1
        = current_store.to_s
        %small= @category.to_s
    .product-grid.collapse.in
      %ul= render @products
    .product-list.collapse
      .panel.panel-default
        = render partial: 'products/table', object: @products, as: :products
  = render partial: 'products_view_toggle'

#product-detail-wrap
  .product-detail{style: 'display: none'}
