%ul.categories.hidden-print
  = render @categories

.search-panel{style: 'display: none'}
  = render partial: 'search_form'
  = link_to icon('times', class: 'fa-2x'), store_path, class: 'col-xs-1'

%ul.products
  = render @products

.product-detail{style: 'display: none'}

= render partial: 'products_modal'
