.page-header
  %h1= icon('shopping-cart', 'Shopping cart')

.table-responsive
  %table.table.table-striped.table-hover.table-loose
    %thead
      %tr
        %th.col-xs-2 Product code
        %th Product title
        %th.col-xs-1.text-right Amount
        %th.col-xs-2

    %tbody
      = content_tag_for(:tr, @order.order_items) do |order_item|
        %td= order_item.product.code
        %td
          %strong= order_item.product.title
          = order_item.product.subtitle
        %td
          = form_for order_item, remote: true,
              html: {class: 'immediate form-horizontal'} do |f|
            = f.number_field :amount, min: 1, max: 999, class: 'form-control text-right'
        %td.text-right
          = link_to icon('info', 'Product info'), show_product_path(order_item.product),
              class: 'btn btn-default btn-sm'
          = link_to icon('remove', 'Delete'), order_item_path(order_item),
              remote: true, method: :delete, class: 'btn btn-danger btn-sm'

- if @order.order_items.present?
  = form_for @order, url: checkout_path, method: :post,
      html: {class: 'form-inline row', role: 'form'} do |f|
    .form-group.col-xs-2.col-xs-offset-9
      = f.label :order_type_id, class: 'sr-only'
      = f.select :order_type_id, OrderType.options,
          {}, {class: 'select2 form-control', style: 'width: 100%'}
    .form-group.col-xs-1
      = f.submit 'Place Order', class: 'btn btn-primary pull-right'
