.categories.hidden-print
  = render @categories
  = render 'categories/all'

.products{style: 'display: none'}
  = render @products

.product-detail
  = render partial: 'products/product_detail', object: @product, as: :product

.all-products
  = render partial: 'products_modal'

:coffee
  jQuery ->
    $(window).scrollTo $('.product-detail'), 300, offset: -70
