- meta_tags_for(@category)

- content_for :category_banner do
  = render partial: 'category_banner'

#category-banner-wrap
  = yield :category_banner

#store-wrap
  .store-sections
    #categories-wrap
      .categories.hidden-print
        %ul= render @categories

    #products-wrap
      = yield :category_banner

      .products
        .page-header.visible-print
          %h1
            = current_store.to_s
            %small= @category.to_s
        .product-grid
          %ul{class: current_store.masonry? && 'masonry-grid'}
            = render @products

    #product-detail-wrap
      .product-detail{style: 'display: none'}

:coffee
  if $(window).isSmall()
    $(window).scrollTo $('#products-wrap'), 300, offset: -$('#main-nav').height()
