.page-header
  %h1= icon('shopping-cart', 'Shopping cart')

.row
  .col-sm-5
    - if @order.order_items.present?
      = form_for @order, url: checkout_path, method: :post,
          html: {class: 'form-horizontal', role: 'form'} do |f|
        .panel.panel-default
          .panel-body
            = render partial: 'orders/form_fields', locals: {f: f}
            .form-group
              .col-sm-offset-4.col-sm-8
                = f.submit 'Place Order', class: 'btn btn-primary'

  .col-sm-7
    .table-responsive
      %table.table.table-striped.table-hover.table-loose
        %thead
          %tr
            %th.col-xs-2 Product code
            %th Product title
            %th.col-xs-2.text-right Amount
            %th

        %tbody
          = render partial: 'order_items/order_item', collection: @order.order_items
