- meta_tags_for(@category)

#store-wrap
  #store-header
    #categories-wrap
      .categories.hidden-print
        %ul= render @categories

  #store-body
    #products-wrap
      .products
        - if @category.present?
          .product-filter
            = render partial: 'products/filtering'
          .page-header.visible-print
            %h1= @category.to_s
            %p.lead= @category.subtitle
        .product-grid
          %ul{class: current_store.masonry? && 'masonry-grid'}
            = render @products
