.page-header
  = link_to admin_custom_attributes_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  = link_to admin_custom_attribute_path(@custom_attribute), class: 'btn btn-primary' do
    = icon('info-circle', t('actions.show'))
  %h1
    = icon('sliders', @custom_attribute)

.row
  .col-md-6
    = render partial: 'form', locals: {locked: false}

  .col-md-6
    = render partial: 'admin/custom_values/edit_table', object: @custom_attribute, as: :custom_attribute
