.page-header
  = link_to admin_custom_attributes_path, class: 'btn btn-default' do
    = icon('chevron-circle-left', t('actions.back'))
  - if current_user.can_update?(CustomAttribute)
    = link_to edit_admin_custom_attribute_path(@custom_attribute), class: 'btn btn-primary' do
      = icon('pencil-square', t('actions.edit'))
  %h1
    = icon('sliders', @custom_attribute)

.row
  .col-md-6
    = render partial: 'form', locals: {locked: true}

  - if @custom_attribute.set?
    .col-md-6
      = render partial: 'admin/custom_values/table', object: @custom_attribute, as: :custom_attribute
