!!!
%html
  %head
    = render partial: 'shared/metadata'
    = render partial: 'favicon'
  %body.admin
    %nav#side-nav.offcanvas.navmenu.navmenu-inverse.navmenu-fixed-left{role: 'navigation'}
      .inner-wrap= render partial: 'admin/shared/side_nav'
    %nav#main-nav.navbar.navbar-inverse.navbar-fixed-top{role: 'navigation'}
      = render partial: 'admin/shared/main_nav'
    #content-wrap
      - if content_for?(:secondary_nav)
        %nav#page-nav.navbar.navbar-default{role: 'navigation'}
          .container
            = yield :secondary_nav
      .container
        = yield
