!!!
%html
  %head
    = render partial: 'shared/metadata'
    = render partial: 'favicon'
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top{role: 'navigation'}
      = render partial: 'admin/shared/main_nav'
    #offcanvas-wrap
      #canvas-wrap
        %nav#offcanvas.offcanvas.navmenu.navmenu-inverse.navmenu-fixed-left{role: 'navigation'}
          .inner-wrap
            = render partial: 'admin/shared/offcanvas'
        .container
          = yield
