!!!
%html{lang: I18n.locale}
  %head
    = render partial: 'shared/metadata'
    = render partial: 'favicon'
    = stylesheet_link_tag 'bootstrap-base', media: 'all'
    = javascript_include_tag 'ckeditor5/ckeditor'
    = javascript_include_tag "ckeditor5/translations/#{I18n.locale}"
  %body.admin{class: content_for?(:secondary_nav) && 'dual-nav'}
    %nav#side-nav.offcanvas.navmenu.navmenu-inverse.navmenu-fixed-left
      .inner-wrap= render partial: 'admin/shared/side_nav'
    %nav#main-nav.navbar.navbar-inverse.navbar-fixed-top
      = render partial: 'admin/shared/main_nav'
      - if content_for?(:secondary_nav)
        %nav#secondary-nav.navbar.navbar-default
          = yield :secondary_nav
    #content-wrap
      .container
        = yield
