!!!
%html
  %head
    = render partial: 'shared/metadata'
    = render partial: 'shared/cookieconsent'
    = render partial: 'favicon'
  %body{class: [current_theme, current_store.wiselinks? && 'wiselinks']}
    %nav#side-nav.offcanvas.navmenu.navmenu-default.navmenu-fixed-left{role: 'navigation'}
      .inner-wrap= render partial: 'shared/side_nav'
    %nav#main-nav.navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
      = render partial: 'shared/main_nav'
    #content-wrap
      - if current_store.detach_menu? && @header.children_count > 0
        %nav#page-nav.navbar.navbar-inverse.hidden-xs{role: 'navigation'}
          .container
            %ul.nav.navbar-nav.responsive
              = render partial: @header.children.live, locals: {navmenu: false}

      = yield

    %footer.footer
      = render partial: 'shared/footer'

    = render partial: 'shared/outdated_browser'
    = render partial: 'shared/external_scripts'
    = render partial: 'shared/live_chat'
