!!!
%html
  %head
    = render partial: 'shared/metadata'
    = render partial: 'favicon'
  %body{class: current_store.theme}
    %nav#main-nav.navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
      .container
        .navbar-charms
          = render partial: 'shared/navbar_charms'
          %button.navbar-toggle.collapsed{type: 'button', data: {toggle: 'collapse', target: '#navbar'}, aria: {expanded: 'false', controls: 'navbar'}}
            = icon('bars', class: 'fa-lg')
        .navbar-header
          = link_to branding(current_store), root_path, class: 'navbar-brand'

        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            = render partial: 'shared/page_link', collection: @pages.navbar, as: :page, locals: {subnav: 'dropdown-menu'}
          %ul.nav.navbar-nav.navbar-right{data: {'sm-skip' => true}}
            = render partial: 'shared/user_menu'
          = render partial: 'shared/keyword_search'

    #main.container
      = yield

    %footer.footer
      = render partial: 'shared/footer'

    .unobtrusive-flash-container
