!!!
%html{lang: I18n.locale}
  %head
    = render partial: 'shared/metadata'
    = render partial: 'favicon'
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'stellar', media: 'all'
    = stylesheet_link_tag 'print', media: 'print'
    = javascript_include_tag 'application'
  %body#app
    %nav.navbar.navbar-inverse.navbar-transparent
      .container-fluid
        = render partial: 'shared/account_nav'
    - if content_for?(:splash)
      .splash
        = yield :splash
    - if content_for?(:main_title) || content_for?(:main_panel)
      .container
        - if content_for?(:main_title)
          .page-header
            %h1= yield :main_title
        - if content_for?(:main_panel)
          .row
            .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
              = yield :main_panel

    = yield
