!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
    %meta{content: '', name: 'description'}
    %meta{content: 'Leasit Oy', name: 'author'}
    %title Spry

    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      = javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top{role: 'navigation'}
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{type: 'button', data: {toggle: 'collapse', target: '#navbar'}, aria: {expanded: 'false', controls: 'navbar'}}
            %span.sr-only Toggle navigation
            = icon('bars')
          = link_to 'Spry', root_path, class: "navbar-brand"
        #navbar.collapse.navbar-collapse
          = render partial: 'shared/main_nav'
          = render partial: 'shared/user_menu'
          = render partial: 'shared/admin_nav'

    .container
      - flash.each do |name, msg|
        = content_tag :div, class: "alert alert-#{name == :error ? 'danger' : 'success'} alert-dismissable", role: 'alert' do
          %button.close{type: 'button', data: {dismiss: 'alert'}}
            %span{aria: {hidden: 'true'}}
              = icon(:times)
            %span.sr-only Close
          = msg
      = yield
