!!!
%html
  %head
    = render partial: 'shared/metadata'
    %title= current_store
  %body{class: current_store.theme}
    %nav#main-nav.navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
      .container
        .navbar-charms
          %ul.nav.navbar-nav
            - if user_signed_in? && can_manage?
              %li= link_to icon('wrench', class: 'fa-lg'), admin_orders_path
            - if user_signed_in? && can_shop?
              = active_link_to show_cart_path, wrap_tag: :li, active: :exact do
                = icon('shopping-cart', class: 'fa-lg')
                = render partial: 'store/cart_badge'
            - if search_available?
              %li
                %a{href: '#search-bar', role: 'button', data: {toggle: 'collapse'}}= icon('search', class: 'fa-lg')
          %button.navbar-toggle.collapsed{type: 'button', data: {toggle: 'collapse', target: '#navbar'}, aria: {expanded: 'false', controls: 'navbar'}}
            %span.sr-only Toggle navigation
            = icon('bars', class: 'fa-lg')
        .navbar-header
          = link_to branding(current_store), root_path, class: 'navbar-brand'

        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            = render partial: 'shared/page_nav'
            = render partial: 'shared/storefront_nav'
          %ul.nav.navbar-nav.navbar-right
            = render partial: 'shared/user_menu'

      #search-bar.container.collapse
        = render partial: 'shared/search_bar'

    #main.container
      = yield

    %footer.footer
      = render partial: 'shared/footer'

    .unobtrusive-flash-container
