!!!
%html
  %head
    = render partial: 'shared/metadata'
    %title= current_store
  %body{class: current_store.theme}
    %nav#main-nav.navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{type: 'button', data: {toggle: 'collapse', target: '#navbar'}, aria: {expanded: 'false', controls: 'navbar'}}
            %span.sr-only Toggle navigation
            = icon('bars')
          = link_to branding(current_store), root_path, class: 'navbar-brand'
        #navbar.collapse.navbar-collapse
          .visible-xs
            = render partial: 'shared/filter_bar'
          %ul.nav.navbar-nav
            = render partial: 'shared/page_nav'
            = render partial: 'shared/storefront_nav'
          %ul.nav.navbar-nav.navbar-right
            - if current_user && can_manage?
              %li= link_to icon('cog', t('admin.manage')), admin_orders_path
            = render partial: 'shared/user_menu'
            %li.hidden-xs
              %a.navbar-link{href: '#filter-bar', role: 'button', data: {toggle: 'collapse'}}
                = icon('search')
      #filter-bar.container.collapse
        = render partial: 'shared/filter_bar'

    #main.container
      = yield

    %footer.footer
      = render partial: 'shared/footer'

    .unobtrusive-flash-container
