!!!
%html
  %head
    = render partial: 'shared/metadata'
    = render partial: 'favicon'
  %body{class: current_theme}
    #offcanvas-wrap
      #canvas-wrap
        %nav#main-nav.navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
          .container
            .navbar-header
              = link_to branding(current_store.presence || current_portal.presence), root_path, class: 'navbar-brand'

        #static-wrap
          = yield

        %footer.footer
          = render partial: 'shared/footer'
