!!!
%html
  %head
    = render partial: 'shared/metadata'
    = render partial: 'favicon'
  %body{class: current_theme}
    %nav#main-nav.navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
      .container
        .navbar-header
          = link_to branding(current_store.presence), root_path, class: 'navbar-brand'
    #content-wrap
      #static-wrap.layout-container
        = yield

    = render partial: 'shared/footer'
