!!!
%html
  %head
    = render partial: 'shared/metadata'
    = render partial: 'favicon'
  %body
    %nav#side-nav.offcanvas.navmenu.navmenu-inverse.navmenu-fixed-left{role: 'navigation'}
      .inner-wrap= render partial: 'admin/shared/side_nav'
    %nav#side-panel.offcanvas.navmenu.navmenu-default.navmenu-fixed-left
      .inner-wrap
        #editor-panel
    %nav#main-nav.navbar.navbar-inverse.navbar-fixed-top{role: 'navigation'}
      = render partial: 'admin/shared/main_nav'
    #content-wrap
      = yield

    = render partial: 'shared/footer'
    = render partial: 'shared/external_scripts'
