!!!
%html
  %head
    = render partial: 'shared/metadata'
    = render partial: 'favicon'
    = stylesheet_link_tag 'ckeditor-document', media: 'all'
    = javascript_include_tag 'ckeditor5/ckeditor'
    = javascript_include_tag "ckeditor5/translations/#{I18n.locale}"
  %body.admin.dual-nav
    %nav#side-nav.offcanvas.navmenu.navmenu-inverse.navmenu-fixed-left
      .inner-wrap= render partial: 'admin/shared/side_nav'
    %nav#side-panel.offcanvas.navmenu.navmenu-default.navmenu-fixed-left
      .inner-wrap= render partial: 'admin/shared/side_panel'
    %nav#main-nav.navbar.navbar-inverse.navbar-fixed-top
      = render partial: 'admin/shared/main_nav'
      %nav#secondary-nav.navbar.navbar-default
        = yield :secondary_nav
    #content-wrap
      = yield

    = render partial: 'shared/footer'
    = render partial: 'shared/external_scripts'
