!!!
%html
  %head
    = render partial: 'shared/metadata'
    = render partial: 'favicon'
  %body{class: current_theme}
    %nav#side-nav.offcanvas.navmenu.navmenu-default.navmenu-fixed-left{role: 'navigation'}
      .inner-wrap
    %nav#main-nav.navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
      = render partial: 'pos/shared/main_nav'
    #content-wrap
      %nav#page-nav.navbar.navbar-inverse.hidden-xs{role: 'navigation'}
        .container
          %ul.aux-nav.nav.navbar-nav.navbar-left
            = yield :auxiliary_nav
      = yield
