!!!
%html
  %head
    = render partial: 'shared/metadata'
    = render partial: 'favicon'
  %body.dual-nav{class: current_theme}
    %nav#side-nav.offcanvas.navmenu.navmenu-default.navmenu-fixed-left
      .inner-wrap
    %nav#main-nav.navbar.navbar-default.navbar-fixed-top
      = render partial: 'pos/shared/main_nav'
      %nav#secondary-nav.navbar.navbar-inverse.hidden-xs
        = render partial: 'pos/shared/secondary_nav'
    #content-wrap
      = yield
